.chrys-background-color-vega-light-grey-red-1-1 {
  background-color: #c4a293;
}

.chrys-background-color-vega-light-grey-red-2-1 {
  background-color: #c8bdb9;
}

.chrys-background-color-vega-light-grey-red-2-2 {
  background-color: #dc7b43;
}

.chrys-background-color-vega-light-grey-red-3-1 {
  background-color: #d2c8c4;
}

.chrys-background-color-vega-light-grey-red-3-2 {
  background-color: #c4a293;
}

.chrys-background-color-vega-light-grey-red-3-3 {
  background-color: #e06624;
}

.chrys-background-color-vega-light-grey-red-4-1 {
  background-color: #d7cecb;
}

.chrys-background-color-vega-light-grey-red-4-2 {
  background-color: #c0b4af;
}

.chrys-background-color-vega-light-grey-red-4-3 {
  background-color: #d38b66;
}

.chrys-background-color-vega-light-grey-red-4-4 {
  background-color: #e15917;
}

.chrys-background-color-vega-light-grey-red-5-1 {
  background-color: #dbd3d0;
}

.chrys-background-color-vega-light-grey-red-5-2 {
  background-color: #c8bdb9;
}

.chrys-background-color-vega-light-grey-red-5-3 {
  background-color: #c4a293;
}

.chrys-background-color-vega-light-grey-red-5-4 {
  background-color: #dc7b43;
}

.chrys-background-color-vega-light-grey-red-5-5 {
  background-color: #e05015;
}

.chrys-background-color-vega-light-grey-red-6-1 {
  background-color: #ded6d3;
}

.chrys-background-color-vega-light-grey-red-6-2 {
  background-color: #cec3bf;
}

.chrys-background-color-vega-light-grey-red-6-3 {
  background-color: #bdb0ab;
}

.chrys-background-color-vega-light-grey-red-6-4 {
  background-color: #cf9275;
}

.chrys-background-color-vega-light-grey-red-6-5 {
  background-color: #de6f31;
}

.chrys-background-color-vega-light-grey-red-6-6 {
  background-color: #e04913;
}

.chrys-background-color-vega-light-grey-red-7-1 {
  background-color: #e0d8d5;
}

.chrys-background-color-vega-light-grey-red-7-2 {
  background-color: #d2c8c4;
}

.chrys-background-color-vega-light-grey-red-7-3 {
  background-color: #c3b7b3;
}

.chrys-background-color-vega-light-grey-red-7-4 {
  background-color: #c4a293;
}

.chrys-background-color-vega-light-grey-red-7-5 {
  background-color: #d68559;
}

.chrys-background-color-vega-light-grey-red-7-6 {
  background-color: #e06624;
}

.chrys-background-color-vega-light-grey-red-7-7 {
  background-color: #df4412;
}

.chrys-background-color-vega-light-grey-red-8-1 {
  background-color: #e1dad7;
}

.chrys-background-color-vega-light-grey-red-8-2 {
  background-color: #d5cbc8;
}

.chrys-background-color-vega-light-grey-red-8-3 {
  background-color: #c8bdb9;
}

.chrys-background-color-vega-light-grey-red-8-4 {
  background-color: #bbaea9;
}

.chrys-background-color-vega-light-grey-red-8-5 {
  background-color: #cd967d;
}

.chrys-background-color-vega-light-grey-red-8-6 {
  background-color: #dc7b43;
}

.chrys-background-color-vega-light-grey-red-8-7 {
  background-color: #e15f19;
}

.chrys-background-color-vega-light-grey-red-8-8 {
  background-color: #df4011;
}

.chrys-background-color-vega-light-grey-red-9-1 {
  background-color: #e2dcd9;
}

.chrys-background-color-vega-light-grey-red-9-2 {
  background-color: #d7cecb;
}

.chrys-background-color-vega-light-grey-red-9-3 {
  background-color: #ccc1be;
}

.chrys-background-color-vega-light-grey-red-9-4 {
  background-color: #c0b4af;
}

.chrys-background-color-vega-light-grey-red-9-5 {
  background-color: #c4a293;
}

.chrys-background-color-vega-light-grey-red-9-6 {
  background-color: #d38b66;
}

.chrys-background-color-vega-light-grey-red-9-7 {
  background-color: #de7336;
}

.chrys-background-color-vega-light-grey-red-9-8 {
  background-color: #e15917;
}

.chrys-background-color-vega-light-grey-red-9-9 {
  background-color: #df3a10;
}