.chrys-background-color-vega-spectral-1-1 {
  background-color: #fbf8b0;
}

.chrys-background-color-vega-spectral-2-1 {
  background-color: #fdbc71;
}

.chrys-background-color-vega-spectral-2-2 {
  background-color: #bbe4a2;
}

.chrys-background-color-vega-spectral-3-1 {
  background-color: #f68e57;
}

.chrys-background-color-vega-spectral-3-2 {
  background-color: #fbf8b0;
}

.chrys-background-color-vega-spectral-3-3 {
  background-color: #89cda6;
}

.chrys-background-color-vega-spectral-4-1 {
  background-color: #f0704a;
}

.chrys-background-color-vega-spectral-4-2 {
  background-color: #fedd8d;
}

.chrys-background-color-vega-spectral-4-3 {
  background-color: #e0f3a1;
}

.chrys-background-color-vega-spectral-4-4 {
  background-color: #69bda9;
}

.chrys-background-color-vega-spectral-5-1 {
  background-color: #e65f4a;
}

.chrys-background-color-vega-spectral-5-2 {
  background-color: #fdbc71;
}

.chrys-background-color-vega-spectral-5-3 {
  background-color: #fbf8b0;
}

.chrys-background-color-vega-spectral-5-4 {
  background-color: #bbe4a2;
}

.chrys-background-color-vega-spectral-5-5 {
  background-color: #5cabad;
}

.chrys-background-color-vega-spectral-6-1 {
  background-color: #de524b;
}

.chrys-background-color-vega-spectral-6-2 {
  background-color: #faa35f;
}

.chrys-background-color-vega-spectral-6-3 {
  background-color: #fde597;
}

.chrys-background-color-vega-spectral-6-4 {
  background-color: #e8f4a5;
}

.chrys-background-color-vega-spectral-6-5 {
  background-color: #a0d8a3;
}

.chrys-background-color-vega-spectral-6-6 {
  background-color: #539fb0;
}

.chrys-background-color-vega-spectral-7-1 {
  background-color: #d9494b;
}

.chrys-background-color-vega-spectral-7-2 {
  background-color: #f68e57;
}

.chrys-background-color-vega-spectral-7-3 {
  background-color: #fed183;
}

.chrys-background-color-vega-spectral-7-4 {
  background-color: #fbf8b0;
}

.chrys-background-color-vega-spectral-7-5 {
  background-color: #d2eea1;
}

.chrys-background-color-vega-spectral-7-6 {
  background-color: #89cda6;
}

.chrys-background-color-vega-spectral-7-7 {
  background-color: #4c95b2;
}

.chrys-background-color-vega-spectral-8-1 {
  background-color: #d4424b;
}

.chrys-background-color-vega-spectral-8-2 {
  background-color: #f37d50;
}

.chrys-background-color-vega-spectral-8-3 {
  background-color: #fdbc71;
}

.chrys-background-color-vega-spectral-8-4 {
  background-color: #fde99d;
}

.chrys-background-color-vega-spectral-8-5 {
  background-color: #ecf5a8;
}

.chrys-background-color-vega-spectral-8-6 {
  background-color: #bbe4a2;
}

.chrys-background-color-vega-spectral-8-7 {
  background-color: #77c4a7;
}

.chrys-background-color-vega-spectral-8-8 {
  background-color: #468eb4;
}

.chrys-background-color-vega-spectral-9-1 {
  background-color: #d13c4b;
}

.chrys-background-color-vega-spectral-9-2 {
  background-color: #f0704a;
}

.chrys-background-color-vega-spectral-9-3 {
  background-color: #fcac63;
}

.chrys-background-color-vega-spectral-9-4 {
  background-color: #fedd8d;
}

.chrys-background-color-vega-spectral-9-5 {
  background-color: #fbf8b0;
}

.chrys-background-color-vega-spectral-9-6 {
  background-color: #e0f3a1;
}

.chrys-background-color-vega-spectral-9-7 {
  background-color: #a9dda2;
}

.chrys-background-color-vega-spectral-9-8 {
  background-color: #69bda9;
}

.chrys-background-color-vega-spectral-9-9 {
  background-color: #4288b5;
}