.chrys-background-color-vega-viridis-1-1 {
  background-color: #21918d;
}

.chrys-background-color-vega-viridis-2-1 {
  background-color: #31688e;
}

.chrys-background-color-vega-viridis-2-2 {
  background-color: #35b779;
}

.chrys-background-color-vega-viridis-3-1 {
  background-color: #3b528b;
}

.chrys-background-color-vega-viridis-3-2 {
  background-color: #21918d;
}

.chrys-background-color-vega-viridis-3-3 {
  background-color: #5dc963;
}

.chrys-background-color-vega-viridis-4-1 {
  background-color: #414487;
}

.chrys-background-color-vega-viridis-4-2 {
  background-color: #2a788e;
}

.chrys-background-color-vega-viridis-4-3 {
  background-color: #22a884;
}

.chrys-background-color-vega-viridis-4-4 {
  background-color: #7ad151;
}

.chrys-background-color-vega-viridis-5-1 {
  background-color: #443a83;
}

.chrys-background-color-vega-viridis-5-2 {
  background-color: #31688e;
}

.chrys-background-color-vega-viridis-5-3 {
  background-color: #21918d;
}

.chrys-background-color-vega-viridis-5-4 {
  background-color: #35b779;
}

.chrys-background-color-vega-viridis-5-5 {
  background-color: #8fd744;
}

.chrys-background-color-vega-viridis-6-1 {
  background-color: #46327f;
}

.chrys-background-color-vega-viridis-6-2 {
  background-color: #375c8d;
}

.chrys-background-color-vega-viridis-6-3 {
  background-color: #27808e;
}

.chrys-background-color-vega-viridis-6-4 {
  background-color: #1fa187;
}

.chrys-background-color-vega-viridis-6-5 {
  background-color: #4ac26d;
}

.chrys-background-color-vega-viridis-6-6 {
  background-color: #9fda3a;
}

.chrys-background-color-vega-viridis-7-1 {
  background-color: #472d7b;
}

.chrys-background-color-vega-viridis-7-2 {
  background-color: #3b528b;
}

.chrys-background-color-vega-viridis-7-3 {
  background-color: #2c728e;
}

.chrys-background-color-vega-viridis-7-4 {
  background-color: #21918d;
}

.chrys-background-color-vega-viridis-7-5 {
  background-color: #28ae80;
}

.chrys-background-color-vega-viridis-7-6 {
  background-color: #5dc963;
}

.chrys-background-color-vega-viridis-7-7 {
  background-color: #abdc32;
}

.chrys-background-color-vega-viridis-8-1 {
  background-color: #482878;
}

.chrys-background-color-vega-viridis-8-2 {
  background-color: #3e4b89;
}

.chrys-background-color-vega-viridis-8-3 {
  background-color: #31688e;
}

.chrys-background-color-vega-viridis-8-4 {
  background-color: #26838e;
}

.chrys-background-color-vega-viridis-8-5 {
  background-color: #1f9d89;
}

.chrys-background-color-vega-viridis-8-6 {
  background-color: #35b779;
}

.chrys-background-color-vega-viridis-8-7 {
  background-color: #6dce59;
}

.chrys-background-color-vega-viridis-8-8 {
  background-color: #b4de2c;
}

.chrys-background-color-vega-viridis-9-1 {
  background-color: #482575;
}

.chrys-background-color-vega-viridis-9-2 {
  background-color: #414487;
}

.chrys-background-color-vega-viridis-9-3 {
  background-color: #35608d;
}

.chrys-background-color-vega-viridis-9-4 {
  background-color: #2a788e;
}

.chrys-background-color-vega-viridis-9-5 {
  background-color: #21918d;
}

.chrys-background-color-vega-viridis-9-6 {
  background-color: #22a884;
}

.chrys-background-color-vega-viridis-9-7 {
  background-color: #43bf71;
}

.chrys-background-color-vega-viridis-9-8 {
  background-color: #7ad151;
}

.chrys-background-color-vega-viridis-9-9 {
  background-color: #bcdf27;
}

.chrys-background-color-vega-viridis-256-1 {
  background-color: #440356;
}

.chrys-background-color-vega-viridis-256-2 {
  background-color: #450457;
}

.chrys-background-color-vega-viridis-256-3 {
  background-color: #450659;
}

.chrys-background-color-vega-viridis-256-4 {
  background-color: #45075a;
}

.chrys-background-color-vega-viridis-256-5 {
  background-color: #46095c;
}

.chrys-background-color-vega-viridis-256-6 {
  background-color: #460a5d;
}

.chrys-background-color-vega-viridis-256-7 {
  background-color: #460c5f;
}

.chrys-background-color-vega-viridis-256-8 {
  background-color: #470d60;
}

.chrys-background-color-vega-viridis-256-9 {
  background-color: #470f62;
}

.chrys-background-color-vega-viridis-256-10 {
  background-color: #471063;
}

.chrys-background-color-vega-viridis-256-11 {
  background-color: #471164;
}

.chrys-background-color-vega-viridis-256-12 {
  background-color: #471365;
}

.chrys-background-color-vega-viridis-256-13 {
  background-color: #481467;
}

.chrys-background-color-vega-viridis-256-14 {
  background-color: #481668;
}

.chrys-background-color-vega-viridis-256-15 {
  background-color: #481769;
}

.chrys-background-color-vega-viridis-256-16 {
  background-color: #48186b;
}

.chrys-background-color-vega-viridis-256-17 {
  background-color: #481a6c;
}

.chrys-background-color-vega-viridis-256-18 {
  background-color: #481b6d;
}

.chrys-background-color-vega-viridis-256-19 {
  background-color: #481c6e;
}

.chrys-background-color-vega-viridis-256-20 {
  background-color: #481e6f;
}

.chrys-background-color-vega-viridis-256-21 {
  background-color: #481f70;
}

.chrys-background-color-vega-viridis-256-22 {
  background-color: #482071;
}

.chrys-background-color-vega-viridis-256-23 {
  background-color: #482272;
}

.chrys-background-color-vega-viridis-256-24 {
  background-color: #482373;
}

.chrys-background-color-vega-viridis-256-25 {
  background-color: #482474;
}

.chrys-background-color-vega-viridis-256-26 {
  background-color: #482575;
}

.chrys-background-color-vega-viridis-256-27 {
  background-color: #482776;
}

.chrys-background-color-vega-viridis-256-28 {
  background-color: #482877;
}

.chrys-background-color-vega-viridis-256-29 {
  background-color: #482978;
}

.chrys-background-color-vega-viridis-256-30 {
  background-color: #472a79;
}

.chrys-background-color-vega-viridis-256-31 {
  background-color: #472b7a;
}

.chrys-background-color-vega-viridis-256-32 {
  background-color: #472c7b;
}

.chrys-background-color-vega-viridis-256-33 {
  background-color: #472e7c;
}

.chrys-background-color-vega-viridis-256-34 {
  background-color: #472f7d;
}

.chrys-background-color-vega-viridis-256-35 {
  background-color: #47307e;
}

.chrys-background-color-vega-viridis-256-36 {
  background-color: #46317e;
}

.chrys-background-color-vega-viridis-256-37 {
  background-color: #46337f;
}

.chrys-background-color-vega-viridis-256-38 {
  background-color: #463480;
}

.chrys-background-color-vega-viridis-256-39 {
  background-color: #453580;
}

.chrys-background-color-vega-viridis-256-40 {
  background-color: #453681;
}

.chrys-background-color-vega-viridis-256-41 {
  background-color: #453882;
}

.chrys-background-color-vega-viridis-256-42 {
  background-color: #443982;
}

.chrys-background-color-vega-viridis-256-43 {
  background-color: #443a83;
}

.chrys-background-color-vega-viridis-256-44 {
  background-color: #443b84;
}

.chrys-background-color-vega-viridis-256-45 {
  background-color: #433d84;
}

.chrys-background-color-vega-viridis-256-46 {
  background-color: #433e84;
}

.chrys-background-color-vega-viridis-256-47 {
  background-color: #433f85;
}

.chrys-background-color-vega-viridis-256-48 {
  background-color: #424085;
}

.chrys-background-color-vega-viridis-256-49 {
  background-color: #424186;
}

.chrys-background-color-vega-viridis-256-50 {
  background-color: #414286;
}

.chrys-background-color-vega-viridis-256-51 {
  background-color: #414487;
}

.chrys-background-color-vega-viridis-256-52 {
  background-color: #414587;
}

.chrys-background-color-vega-viridis-256-53 {
  background-color: #404688;
}

.chrys-background-color-vega-viridis-256-54 {
  background-color: #404788;
}

.chrys-background-color-vega-viridis-256-55 {
  background-color: #3f4888;
}

.chrys-background-color-vega-viridis-256-56 {
  background-color: #3f4989;
}

.chrys-background-color-vega-viridis-256-57 {
  background-color: #3e4b89;
}

.chrys-background-color-vega-viridis-256-58 {
  background-color: #3e4c89;
}

.chrys-background-color-vega-viridis-256-59 {
  background-color: #3d4d8a;
}

.chrys-background-color-vega-viridis-256-60 {
  background-color: #3d4e8a;
}

.chrys-background-color-vega-viridis-256-61 {
  background-color: #3d4f8a;
}

.chrys-background-color-vega-viridis-256-62 {
  background-color: #3c508a;
}

.chrys-background-color-vega-viridis-256-63 {
  background-color: #3c518b;
}

.chrys-background-color-vega-viridis-256-64 {
  background-color: #3b528b;
}

.chrys-background-color-vega-viridis-256-65 {
  background-color: #3b538b;
}

.chrys-background-color-vega-viridis-256-66 {
  background-color: #3a548b;
}

.chrys-background-color-vega-viridis-256-67 {
  background-color: #3a558c;
}

.chrys-background-color-vega-viridis-256-68 {
  background-color: #39568c;
}

.chrys-background-color-vega-viridis-256-69 {
  background-color: #39578c;
}

.chrys-background-color-vega-viridis-256-70 {
  background-color: #38588c;
}

.chrys-background-color-vega-viridis-256-71 {
  background-color: #38598c;
}

.chrys-background-color-vega-viridis-256-72 {
  background-color: #375a8c;
}

.chrys-background-color-vega-viridis-256-73 {
  background-color: #375b8d;
}

.chrys-background-color-vega-viridis-256-74 {
  background-color: #365c8d;
}

.chrys-background-color-vega-viridis-256-75 {
  background-color: #365e8d;
}

.chrys-background-color-vega-viridis-256-76 {
  background-color: #365f8d;
}

.chrys-background-color-vega-viridis-256-77 {
  background-color: #35608d;
}

.chrys-background-color-vega-viridis-256-78 {
  background-color: #35618d;
}

.chrys-background-color-vega-viridis-256-79 {
  background-color: #34628d;
}

.chrys-background-color-vega-viridis-256-80 {
  background-color: #34638d;
}

.chrys-background-color-vega-viridis-256-81 {
  background-color: #33648d;
}

.chrys-background-color-vega-viridis-256-82 {
  background-color: #33658e;
}

.chrys-background-color-vega-viridis-256-83 {
  background-color: #32668e;
}

.chrys-background-color-vega-viridis-256-84 {
  background-color: #32668e;
}

.chrys-background-color-vega-viridis-256-85 {
  background-color: #31678e;
}

.chrys-background-color-vega-viridis-256-86 {
  background-color: #31688e;
}

.chrys-background-color-vega-viridis-256-87 {
  background-color: #30698e;
}

.chrys-background-color-vega-viridis-256-88 {
  background-color: #306a8e;
}

.chrys-background-color-vega-viridis-256-89 {
  background-color: #2f6b8e;
}

.chrys-background-color-vega-viridis-256-90 {
  background-color: #2f6c8e;
}

.chrys-background-color-vega-viridis-256-91 {
  background-color: #2f6d8e;
}

.chrys-background-color-vega-viridis-256-92 {
  background-color: #2e6e8e;
}

.chrys-background-color-vega-viridis-256-93 {
  background-color: #2e6f8e;
}

.chrys-background-color-vega-viridis-256-94 {
  background-color: #2d708e;
}

.chrys-background-color-vega-viridis-256-95 {
  background-color: #2d718e;
}

.chrys-background-color-vega-viridis-256-96 {
  background-color: #2c728e;
}

.chrys-background-color-vega-viridis-256-97 {
  background-color: #2c738e;
}

.chrys-background-color-vega-viridis-256-98 {
  background-color: #2c748e;
}

.chrys-background-color-vega-viridis-256-99 {
  background-color: #2b748e;
}

.chrys-background-color-vega-viridis-256-100 {
  background-color: #2b758e;
}

.chrys-background-color-vega-viridis-256-101 {
  background-color: #2b768e;
}

.chrys-background-color-vega-viridis-256-102 {
  background-color: #2a778e;
}

.chrys-background-color-vega-viridis-256-103 {
  background-color: #2a788e;
}

.chrys-background-color-vega-viridis-256-104 {
  background-color: #2a798e;
}

.chrys-background-color-vega-viridis-256-105 {
  background-color: #297a8e;
}

.chrys-background-color-vega-viridis-256-106 {
  background-color: #297b8e;
}

.chrys-background-color-vega-viridis-256-107 {
  background-color: #297c8e;
}

.chrys-background-color-vega-viridis-256-108 {
  background-color: #287d8e;
}

.chrys-background-color-vega-viridis-256-109 {
  background-color: #287f8e;
}

.chrys-background-color-vega-viridis-256-110 {
  background-color: #27808e;
}

.chrys-background-color-vega-viridis-256-111 {
  background-color: #27818e;
}

.chrys-background-color-vega-viridis-256-112 {
  background-color: #27828e;
}

.chrys-background-color-vega-viridis-256-113 {
  background-color: #26828e;
}

.chrys-background-color-vega-viridis-256-114 {
  background-color: #26838e;
}

.chrys-background-color-vega-viridis-256-115 {
  background-color: #25848e;
}

.chrys-background-color-vega-viridis-256-116 {
  background-color: #25858e;
}

.chrys-background-color-vega-viridis-256-117 {
  background-color: #24868e;
}

.chrys-background-color-vega-viridis-256-118 {
  background-color: #24868e;
}

.chrys-background-color-vega-viridis-256-119 {
  background-color: #23878e;
}

.chrys-background-color-vega-viridis-256-120 {
  background-color: #23888e;
}

.chrys-background-color-vega-viridis-256-121 {
  background-color: #23898e;
}

.chrys-background-color-vega-viridis-256-122 {
  background-color: #238a8e;
}

.chrys-background-color-vega-viridis-256-123 {
  background-color: #228b8e;
}

.chrys-background-color-vega-viridis-256-124 {
  background-color: #228c8e;
}

.chrys-background-color-vega-viridis-256-125 {
  background-color: #228d8d;
}

.chrys-background-color-vega-viridis-256-126 {
  background-color: #228e8d;
}

.chrys-background-color-vega-viridis-256-127 {
  background-color: #218f8d;
}

.chrys-background-color-vega-viridis-256-128 {
  background-color: #21908d;
}

.chrys-background-color-vega-viridis-256-129 {
  background-color: #21918d;
}

.chrys-background-color-vega-viridis-256-130 {
  background-color: #21928d;
}

.chrys-background-color-vega-viridis-256-131 {
  background-color: #20938c;
}

.chrys-background-color-vega-viridis-256-132 {
  background-color: #20948c;
}

.chrys-background-color-vega-viridis-256-133 {
  background-color: #20958c;
}

.chrys-background-color-vega-viridis-256-134 {
  background-color: #20958c;
}

.chrys-background-color-vega-viridis-256-135 {
  background-color: #1f968b;
}

.chrys-background-color-vega-viridis-256-136 {
  background-color: #1f978b;
}

.chrys-background-color-vega-viridis-256-137 {
  background-color: #1f988b;
}

.chrys-background-color-vega-viridis-256-138 {
  background-color: #1f998b;
}

.chrys-background-color-vega-viridis-256-139 {
  background-color: #1f9a8a;
}

.chrys-background-color-vega-viridis-256-140 {
  background-color: #1f9b8a;
}

.chrys-background-color-vega-viridis-256-141 {
  background-color: #1f9c8a;
}

.chrys-background-color-vega-viridis-256-142 {
  background-color: #1f9d89;
}

.chrys-background-color-vega-viridis-256-143 {
  background-color: #1f9e89;
}

.chrys-background-color-vega-viridis-256-144 {
  background-color: #1f9e89;
}

.chrys-background-color-vega-viridis-256-145 {
  background-color: #1f9f88;
}

.chrys-background-color-vega-viridis-256-146 {
  background-color: #1fa088;
}

.chrys-background-color-vega-viridis-256-147 {
  background-color: #1fa187;
}

.chrys-background-color-vega-viridis-256-148 {
  background-color: #20a287;
}

.chrys-background-color-vega-viridis-256-149 {
  background-color: #20a386;
}

.chrys-background-color-vega-viridis-256-150 {
  background-color: #21a486;
}

.chrys-background-color-vega-viridis-256-151 {
  background-color: #21a585;
}

.chrys-background-color-vega-viridis-256-152 {
  background-color: #21a685;
}

.chrys-background-color-vega-viridis-256-153 {
  background-color: #22a785;
}

.chrys-background-color-vega-viridis-256-154 {
  background-color: #22a884;
}

.chrys-background-color-vega-viridis-256-155 {
  background-color: #23a984;
}

.chrys-background-color-vega-viridis-256-156 {
  background-color: #24aa83;
}

.chrys-background-color-vega-viridis-256-157 {
  background-color: #25ab82;
}

.chrys-background-color-vega-viridis-256-158 {
  background-color: #26ac82;
}

.chrys-background-color-vega-viridis-256-159 {
  background-color: #26ac81;
}

.chrys-background-color-vega-viridis-256-160 {
  background-color: #27ad81;
}

.chrys-background-color-vega-viridis-256-161 {
  background-color: #28ae80;
}

.chrys-background-color-vega-viridis-256-162 {
  background-color: #29af7f;
}

.chrys-background-color-vega-viridis-256-163 {
  background-color: #2ab07f;
}

.chrys-background-color-vega-viridis-256-164 {
  background-color: #2cb17e;
}

.chrys-background-color-vega-viridis-256-165 {
  background-color: #2db27d;
}

.chrys-background-color-vega-viridis-256-166 {
  background-color: #2eb37d;
}

.chrys-background-color-vega-viridis-256-167 {
  background-color: #2fb37c;
}

.chrys-background-color-vega-viridis-256-168 {
  background-color: #31b47b;
}

.chrys-background-color-vega-viridis-256-169 {
  background-color: #32b57b;
}

.chrys-background-color-vega-viridis-256-170 {
  background-color: #33b67a;
}

.chrys-background-color-vega-viridis-256-171 {
  background-color: #35b779;
}

.chrys-background-color-vega-viridis-256-172 {
  background-color: #36b878;
}

.chrys-background-color-vega-viridis-256-173 {
  background-color: #38b977;
}

.chrys-background-color-vega-viridis-256-174 {
  background-color: #39b977;
}

.chrys-background-color-vega-viridis-256-175 {
  background-color: #3bba76;
}

.chrys-background-color-vega-viridis-256-176 {
  background-color: #3dbb75;
}

.chrys-background-color-vega-viridis-256-177 {
  background-color: #3ebc74;
}

.chrys-background-color-vega-viridis-256-178 {
  background-color: #40bd73;
}

.chrys-background-color-vega-viridis-256-179 {
  background-color: #42be72;
}

.chrys-background-color-vega-viridis-256-180 {
  background-color: #43bf71;
}

.chrys-background-color-vega-viridis-256-181 {
  background-color: #45c070;
}

.chrys-background-color-vega-viridis-256-182 {
  background-color: #47c06f;
}

.chrys-background-color-vega-viridis-256-183 {
  background-color: #49c16e;
}

.chrys-background-color-vega-viridis-256-184 {
  background-color: #4bc26d;
}

.chrys-background-color-vega-viridis-256-185 {
  background-color: #4dc36c;
}

.chrys-background-color-vega-viridis-256-186 {
  background-color: #4fc36b;
}

.chrys-background-color-vega-viridis-256-187 {
  background-color: #51c46a;
}

.chrys-background-color-vega-viridis-256-188 {
  background-color: #53c568;
}

.chrys-background-color-vega-viridis-256-189 {
  background-color: #55c567;
}

.chrys-background-color-vega-viridis-256-190 {
  background-color: #57c666;
}

.chrys-background-color-vega-viridis-256-191 {
  background-color: #59c765;
}

.chrys-background-color-vega-viridis-256-192 {
  background-color: #5bc863;
}

.chrys-background-color-vega-viridis-256-193 {
  background-color: #5ec962;
}

.chrys-background-color-vega-viridis-256-194 {
  background-color: #60ca61;
}

.chrys-background-color-vega-viridis-256-195 {
  background-color: #62ca60;
}

.chrys-background-color-vega-viridis-256-196 {
  background-color: #64cb5e;
}

.chrys-background-color-vega-viridis-256-197 {
  background-color: #66cc5d;
}

.chrys-background-color-vega-viridis-256-198 {
  background-color: #68cd5c;
}

.chrys-background-color-vega-viridis-256-199 {
  background-color: #6bcd5a;
}

.chrys-background-color-vega-viridis-256-200 {
  background-color: #6dce59;
}

.chrys-background-color-vega-viridis-256-201 {
  background-color: #6fce57;
}

.chrys-background-color-vega-viridis-256-202 {
  background-color: #72cf56;
}

.chrys-background-color-vega-viridis-256-203 {
  background-color: #74cf55;
}

.chrys-background-color-vega-viridis-256-204 {
  background-color: #76d053;
}

.chrys-background-color-vega-viridis-256-205 {
  background-color: #79d152;
}

.chrys-background-color-vega-viridis-256-206 {
  background-color: #7bd150;
}

.chrys-background-color-vega-viridis-256-207 {
  background-color: #7dd24f;
}

.chrys-background-color-vega-viridis-256-208 {
  background-color: #80d34d;
}

.chrys-background-color-vega-viridis-256-209 {
  background-color: #82d34c;
}

.chrys-background-color-vega-viridis-256-210 {
  background-color: #85d44a;
}

.chrys-background-color-vega-viridis-256-211 {
  background-color: #87d549;
}

.chrys-background-color-vega-viridis-256-212 {
  background-color: #8ad547;
}

.chrys-background-color-vega-viridis-256-213 {
  background-color: #8cd646;
}

.chrys-background-color-vega-viridis-256-214 {
  background-color: #8fd744;
}

.chrys-background-color-vega-viridis-256-215 {
  background-color: #91d743;
}

.chrys-background-color-vega-viridis-256-216 {
  background-color: #94d841;
}

.chrys-background-color-vega-viridis-256-217 {
  background-color: #96d83f;
}

.chrys-background-color-vega-viridis-256-218 {
  background-color: #99d93e;
}

.chrys-background-color-vega-viridis-256-219 {
  background-color: #9bd93c;
}

.chrys-background-color-vega-viridis-256-220 {
  background-color: #9eda3a;
}

.chrys-background-color-vega-viridis-256-221 {
  background-color: #a1da39;
}

.chrys-background-color-vega-viridis-256-222 {
  background-color: #a3db37;
}

.chrys-background-color-vega-viridis-256-223 {
  background-color: #a6db36;
}

.chrys-background-color-vega-viridis-256-224 {
  background-color: #a8dc34;
}

.chrys-background-color-vega-viridis-256-225 {
  background-color: #abdc32;
}

.chrys-background-color-vega-viridis-256-226 {
  background-color: #aedd30;
}

.chrys-background-color-vega-viridis-256-227 {
  background-color: #b0dd2f;
}

.chrys-background-color-vega-viridis-256-228 {
  background-color: #b3dd2d;
}

.chrys-background-color-vega-viridis-256-229 {
  background-color: #b6de2b;
}

.chrys-background-color-vega-viridis-256-230 {
  background-color: #b9de29;
}

.chrys-background-color-vega-viridis-256-231 {
  background-color: #bbdf28;
}

.chrys-background-color-vega-viridis-256-232 {
  background-color: #bedf26;
}

.chrys-background-color-vega-viridis-256-233 {
  background-color: #c0e025;
}

.chrys-background-color-vega-viridis-256-234 {
  background-color: #c3e023;
}

.chrys-background-color-vega-viridis-256-235 {
  background-color: #c6e022;
}

.chrys-background-color-vega-viridis-256-236 {
  background-color: #c8e120;
}

.chrys-background-color-vega-viridis-256-237 {
  background-color: #cbe11f;
}

.chrys-background-color-vega-viridis-256-238 {
  background-color: #cde11e;
}

.chrys-background-color-vega-viridis-256-239 {
  background-color: #d0e21c;
}

.chrys-background-color-vega-viridis-256-240 {
  background-color: #d2e21b;
}

.chrys-background-color-vega-viridis-256-241 {
  background-color: #d5e21b;
}

.chrys-background-color-vega-viridis-256-242 {
  background-color: #d8e31b;
}

.chrys-background-color-vega-viridis-256-243 {
  background-color: #dae31b;
}

.chrys-background-color-vega-viridis-256-244 {
  background-color: #dde31b;
}

.chrys-background-color-vega-viridis-256-245 {
  background-color: #e0e41a;
}

.chrys-background-color-vega-viridis-256-246 {
  background-color: #e2e41a;
}

.chrys-background-color-vega-viridis-256-247 {
  background-color: #e5e41a;
}

.chrys-background-color-vega-viridis-256-248 {
  background-color: #e8e51a;
}

.chrys-background-color-vega-viridis-256-249 {
  background-color: #eae51b;
}

.chrys-background-color-vega-viridis-256-250 {
  background-color: #ede51c;
}

.chrys-background-color-vega-viridis-256-251 {
  background-color: #efe61d;
}

.chrys-background-color-vega-viridis-256-252 {
  background-color: #f1e61f;
}

.chrys-background-color-vega-viridis-256-253 {
  background-color: #f4e620;
}

.chrys-background-color-vega-viridis-256-254 {
  background-color: #f6e621;
}

.chrys-background-color-vega-viridis-256-255 {
  background-color: #f8e722;
}

.chrys-background-color-vega-viridis-256-256 {
  background-color: #fbe724;
}