.chrys-background-color-vega-purple-blue-1-1 {
  background-color: #5b9fc9;
}

.chrys-background-color-vega-purple-blue-2-1 {
  background-color: #8eb3d6;
}

.chrys-background-color-vega-purple-blue-2-2 {
  background-color: #2785ba;
}

.chrys-background-color-vega-purple-blue-3-1 {
  background-color: #a4bddb;
}

.chrys-background-color-vega-purple-blue-3-2 {
  background-color: #5b9fc9;
}

.chrys-background-color-vega-purple-blue-3-3 {
  background-color: #1578b1;
}

.chrys-background-color-vega-purple-blue-4-1 {
  background-color: #b1c3de;
}

.chrys-background-color-vega-purple-blue-4-2 {
  background-color: #7bacd1;
}

.chrys-background-color-vega-purple-blue-4-3 {
  background-color: #3a90c0;
}

.chrys-background-color-vega-purple-blue-4-4 {
  background-color: #0b70ab;
}

.chrys-background-color-vega-purple-blue-5-1 {
  background-color: #b9c7e0;
}

.chrys-background-color-vega-purple-blue-5-2 {
  background-color: #8eb3d6;
}

.chrys-background-color-vega-purple-blue-5-3 {
  background-color: #5b9fc9;
}

.chrys-background-color-vega-purple-blue-5-4 {
  background-color: #2785ba;
}

.chrys-background-color-vega-purple-blue-5-5 {
  background-color: #096ba5;
}

.chrys-background-color-vega-purple-blue-6-1 {
  background-color: #bec9e1;
}

.chrys-background-color-vega-purple-blue-6-2 {
  background-color: #9bb9d9;
}

.chrys-background-color-vega-purple-blue-6-3 {
  background-color: #72a8cf;
}

.chrys-background-color-vega-purple-blue-6-4 {
  background-color: #4394c3;
}

.chrys-background-color-vega-purple-blue-6-5 {
  background-color: #1b7db5;
}

.chrys-background-color-vega-purple-blue-6-6 {
  background-color: #0867a1;
}

.chrys-background-color-vega-purple-blue-7-1 {
  background-color: #c2cbe3;
}

.chrys-background-color-vega-purple-blue-7-2 {
  background-color: #a4bddb;
}

.chrys-background-color-vega-purple-blue-7-3 {
  background-color: #82afd3;
}

.chrys-background-color-vega-purple-blue-7-4 {
  background-color: #5b9fc9;
}

.chrys-background-color-vega-purple-blue-7-5 {
  background-color: #338cbe;
}

.chrys-background-color-vega-purple-blue-7-6 {
  background-color: #1578b1;
}

.chrys-background-color-vega-purple-blue-7-7 {
  background-color: #07659e;
}

.chrys-background-color-vega-purple-blue-8-1 {
  background-color: #c5cde3;
}

.chrys-background-color-vega-purple-blue-8-2 {
  background-color: #abc0dd;
}

.chrys-background-color-vega-purple-blue-8-3 {
  background-color: #8eb3d6;
}

.chrys-background-color-vega-purple-blue-8-4 {
  background-color: #6da6cd;
}

.chrys-background-color-vega-purple-blue-8-5 {
  background-color: #4997c4;
}

.chrys-background-color-vega-purple-blue-8-6 {
  background-color: #2785ba;
}

.chrys-background-color-vega-purple-blue-8-7 {
  background-color: #0f73ae;
}

.chrys-background-color-vega-purple-blue-8-8 {
  background-color: #06639b;
}

.chrys-background-color-vega-purple-blue-9-1 {
  background-color: #c8cee4;
}

.chrys-background-color-vega-purple-blue-9-2 {
  background-color: #b1c3de;
}

.chrys-background-color-vega-purple-blue-9-3 {
  background-color: #97b7d8;
}

.chrys-background-color-vega-purple-blue-9-4 {
  background-color: #7bacd1;
}

.chrys-background-color-vega-purple-blue-9-5 {
  background-color: #5b9fc9;
}

.chrys-background-color-vega-purple-blue-9-6 {
  background-color: #3a90c0;
}

.chrys-background-color-vega-purple-blue-9-7 {
  background-color: #1e7fb7;
}

.chrys-background-color-vega-purple-blue-9-8 {
  background-color: #0b70ab;
}

.chrys-background-color-vega-purple-blue-9-9 {
  background-color: #056199;
}