.chrys-background-color-bokeh-red-purple-3-1 {
  background-color: #c51b8a;
}

.chrys-background-color-bokeh-red-purple-3-2 {
  background-color: #fa9fb5;
}

.chrys-background-color-bokeh-red-purple-3-3 {
  background-color: #fde0dd;
}

.chrys-background-color-bokeh-red-purple-4-1 {
  background-color: #ae017e;
}

.chrys-background-color-bokeh-red-purple-4-2 {
  background-color: #f768a1;
}

.chrys-background-color-bokeh-red-purple-4-3 {
  background-color: #fbb4b9;
}

.chrys-background-color-bokeh-red-purple-4-4 {
  background-color: #feebe2;
}

.chrys-background-color-bokeh-red-purple-5-1 {
  background-color: #7a0177;
}

.chrys-background-color-bokeh-red-purple-5-2 {
  background-color: #c51b8a;
}

.chrys-background-color-bokeh-red-purple-5-3 {
  background-color: #f768a1;
}

.chrys-background-color-bokeh-red-purple-5-4 {
  background-color: #fbb4b9;
}

.chrys-background-color-bokeh-red-purple-5-5 {
  background-color: #feebe2;
}

.chrys-background-color-bokeh-red-purple-6-1 {
  background-color: #7a0177;
}

.chrys-background-color-bokeh-red-purple-6-2 {
  background-color: #c51b8a;
}

.chrys-background-color-bokeh-red-purple-6-3 {
  background-color: #f768a1;
}

.chrys-background-color-bokeh-red-purple-6-4 {
  background-color: #fa9fb5;
}

.chrys-background-color-bokeh-red-purple-6-5 {
  background-color: #fcc5c0;
}

.chrys-background-color-bokeh-red-purple-6-6 {
  background-color: #feebe2;
}

.chrys-background-color-bokeh-red-purple-7-1 {
  background-color: #7a0177;
}

.chrys-background-color-bokeh-red-purple-7-2 {
  background-color: #ae017e;
}

.chrys-background-color-bokeh-red-purple-7-3 {
  background-color: #dd3497;
}

.chrys-background-color-bokeh-red-purple-7-4 {
  background-color: #f768a1;
}

.chrys-background-color-bokeh-red-purple-7-5 {
  background-color: #fa9fb5;
}

.chrys-background-color-bokeh-red-purple-7-6 {
  background-color: #fcc5c0;
}

.chrys-background-color-bokeh-red-purple-7-7 {
  background-color: #feebe2;
}

.chrys-background-color-bokeh-red-purple-8-1 {
  background-color: #7a0177;
}

.chrys-background-color-bokeh-red-purple-8-2 {
  background-color: #ae017e;
}

.chrys-background-color-bokeh-red-purple-8-3 {
  background-color: #dd3497;
}

.chrys-background-color-bokeh-red-purple-8-4 {
  background-color: #f768a1;
}

.chrys-background-color-bokeh-red-purple-8-5 {
  background-color: #fa9fb5;
}

.chrys-background-color-bokeh-red-purple-8-6 {
  background-color: #fcc5c0;
}

.chrys-background-color-bokeh-red-purple-8-7 {
  background-color: #fde0dd;
}

.chrys-background-color-bokeh-red-purple-8-8 {
  background-color: #fff7f3;
}

.chrys-background-color-bokeh-red-purple-9-1 {
  background-color: #49006a;
}

.chrys-background-color-bokeh-red-purple-9-2 {
  background-color: #7a0177;
}

.chrys-background-color-bokeh-red-purple-9-3 {
  background-color: #ae017e;
}

.chrys-background-color-bokeh-red-purple-9-4 {
  background-color: #dd3497;
}

.chrys-background-color-bokeh-red-purple-9-5 {
  background-color: #f768a1;
}

.chrys-background-color-bokeh-red-purple-9-6 {
  background-color: #fa9fb5;
}

.chrys-background-color-bokeh-red-purple-9-7 {
  background-color: #fcc5c0;
}

.chrys-background-color-bokeh-red-purple-9-8 {
  background-color: #fde0dd;
}

.chrys-background-color-bokeh-red-purple-9-9 {
  background-color: #fff7f3;
}