.chrys-background-color-bokeh-magma-3-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-3-2 {
  background-color: #b53679;
}

.chrys-background-color-bokeh-magma-3-3 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-4-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-4-2 {
  background-color: #711f81;
}

.chrys-background-color-bokeh-magma-4-3 {
  background-color: #f0605d;
}

.chrys-background-color-bokeh-magma-4-4 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-5-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-5-2 {
  background-color: #4f117b;
}

.chrys-background-color-bokeh-magma-5-3 {
  background-color: #b53679;
}

.chrys-background-color-bokeh-magma-5-4 {
  background-color: #fb8660;
}

.chrys-background-color-bokeh-magma-5-5 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-6-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-6-2 {
  background-color: #3b0f6f;
}

.chrys-background-color-bokeh-magma-6-3 {
  background-color: #8c2980;
}

.chrys-background-color-bokeh-magma-6-4 {
  background-color: #dd4968;
}

.chrys-background-color-bokeh-magma-6-5 {
  background-color: #fd9f6c;
}

.chrys-background-color-bokeh-magma-6-6 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-7-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-7-2 {
  background-color: #2b115e;
}

.chrys-background-color-bokeh-magma-7-3 {
  background-color: #711f81;
}

.chrys-background-color-bokeh-magma-7-4 {
  background-color: #b53679;
}

.chrys-background-color-bokeh-magma-7-5 {
  background-color: #f0605d;
}

.chrys-background-color-bokeh-magma-7-6 {
  background-color: #feae76;
}

.chrys-background-color-bokeh-magma-7-7 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-8-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-8-2 {
  background-color: #221150;
}

.chrys-background-color-bokeh-magma-8-3 {
  background-color: #5d177e;
}

.chrys-background-color-bokeh-magma-8-4 {
  background-color: #972c7f;
}

.chrys-background-color-bokeh-magma-8-5 {
  background-color: #d1426e;
}

.chrys-background-color-bokeh-magma-8-6 {
  background-color: #f8755c;
}

.chrys-background-color-bokeh-magma-8-7 {
  background-color: #feb97f;
}

.chrys-background-color-bokeh-magma-8-8 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-9-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-9-2 {
  background-color: #1b1044;
}

.chrys-background-color-bokeh-magma-9-3 {
  background-color: #4f117b;
}

.chrys-background-color-bokeh-magma-9-4 {
  background-color: #812581;
}

.chrys-background-color-bokeh-magma-9-5 {
  background-color: #b53679;
}

.chrys-background-color-bokeh-magma-9-6 {
  background-color: #e55063;
}

.chrys-background-color-bokeh-magma-9-7 {
  background-color: #fb8660;
}

.chrys-background-color-bokeh-magma-9-8 {
  background-color: #fec286;
}

.chrys-background-color-bokeh-magma-9-9 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-10-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-10-2 {
  background-color: #170f3c;
}

.chrys-background-color-bokeh-magma-10-3 {
  background-color: #430f75;
}

.chrys-background-color-bokeh-magma-10-4 {
  background-color: #711f81;
}

.chrys-background-color-bokeh-magma-10-5 {
  background-color: #9e2e7e;
}

.chrys-background-color-bokeh-magma-10-6 {
  background-color: #cb3e71;
}

.chrys-background-color-bokeh-magma-10-7 {
  background-color: #f0605d;
}

.chrys-background-color-bokeh-magma-10-8 {
  background-color: #fc9366;
}

.chrys-background-color-bokeh-magma-10-9 {
  background-color: #fec78b;
}

.chrys-background-color-bokeh-magma-10-10 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-11-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-11-2 {
  background-color: #140d35;
}

.chrys-background-color-bokeh-magma-11-3 {
  background-color: #3b0f6f;
}

.chrys-background-color-bokeh-magma-11-4 {
  background-color: #63197f;
}

.chrys-background-color-bokeh-magma-11-5 {
  background-color: #8c2980;
}

.chrys-background-color-bokeh-magma-11-6 {
  background-color: #b53679;
}

.chrys-background-color-bokeh-magma-11-7 {
  background-color: #dd4968;
}

.chrys-background-color-bokeh-magma-11-8 {
  background-color: #f66e5b;
}

.chrys-background-color-bokeh-magma-11-9 {
  background-color: #fd9f6c;
}

.chrys-background-color-bokeh-magma-11-10 {
  background-color: #fdcd90;
}

.chrys-background-color-bokeh-magma-11-11 {
  background-color: #fbfcbf;
}

.chrys-background-color-bokeh-magma-256-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-magma-256-2 {
  background-color: #000004;
}

.chrys-background-color-bokeh-magma-256-3 {
  background-color: #000006;
}

.chrys-background-color-bokeh-magma-256-4 {
  background-color: #010007;
}

.chrys-background-color-bokeh-magma-256-5 {
  background-color: #010109;
}

.chrys-background-color-bokeh-magma-256-6 {
  background-color: #01010b;
}

.chrys-background-color-bokeh-magma-256-7 {
  background-color: #02020d;
}

.chrys-background-color-bokeh-magma-256-8 {
  background-color: #02020f;
}

.chrys-background-color-bokeh-magma-256-9 {
  background-color: #030311;
}

.chrys-background-color-bokeh-magma-256-10 {
  background-color: #040313;
}

.chrys-background-color-bokeh-magma-256-11 {
  background-color: #040415;
}

.chrys-background-color-bokeh-magma-256-12 {
  background-color: #050417;
}

.chrys-background-color-bokeh-magma-256-13 {
  background-color: #060519;
}

.chrys-background-color-bokeh-magma-256-14 {
  background-color: #07051b;
}

.chrys-background-color-bokeh-magma-256-15 {
  background-color: #08061d;
}

.chrys-background-color-bokeh-magma-256-16 {
  background-color: #09071f;
}

.chrys-background-color-bokeh-magma-256-17 {
  background-color: #0a0722;
}

.chrys-background-color-bokeh-magma-256-18 {
  background-color: #0b0824;
}

.chrys-background-color-bokeh-magma-256-19 {
  background-color: #0c0926;
}

.chrys-background-color-bokeh-magma-256-20 {
  background-color: #0d0a28;
}

.chrys-background-color-bokeh-magma-256-21 {
  background-color: #0e0a2a;
}

.chrys-background-color-bokeh-magma-256-22 {
  background-color: #0f0b2c;
}

.chrys-background-color-bokeh-magma-256-23 {
  background-color: #100c2f;
}

.chrys-background-color-bokeh-magma-256-24 {
  background-color: #110c31;
}

.chrys-background-color-bokeh-magma-256-25 {
  background-color: #120d33;
}

.chrys-background-color-bokeh-magma-256-26 {
  background-color: #140d35;
}

.chrys-background-color-bokeh-magma-256-27 {
  background-color: #150e38;
}

.chrys-background-color-bokeh-magma-256-28 {
  background-color: #160e3a;
}

.chrys-background-color-bokeh-magma-256-29 {
  background-color: #170f3c;
}

.chrys-background-color-bokeh-magma-256-30 {
  background-color: #180f3f;
}

.chrys-background-color-bokeh-magma-256-31 {
  background-color: #1a1041;
}

.chrys-background-color-bokeh-magma-256-32 {
  background-color: #1b1044;
}

.chrys-background-color-bokeh-magma-256-33 {
  background-color: #1c1046;
}

.chrys-background-color-bokeh-magma-256-34 {
  background-color: #1e1049;
}

.chrys-background-color-bokeh-magma-256-35 {
  background-color: #1f114b;
}

.chrys-background-color-bokeh-magma-256-36 {
  background-color: #20114d;
}

.chrys-background-color-bokeh-magma-256-37 {
  background-color: #221150;
}

.chrys-background-color-bokeh-magma-256-38 {
  background-color: #231152;
}

.chrys-background-color-bokeh-magma-256-39 {
  background-color: #251155;
}

.chrys-background-color-bokeh-magma-256-40 {
  background-color: #261157;
}

.chrys-background-color-bokeh-magma-256-41 {
  background-color: #281159;
}

.chrys-background-color-bokeh-magma-256-42 {
  background-color: #2a115c;
}

.chrys-background-color-bokeh-magma-256-43 {
  background-color: #2b115e;
}

.chrys-background-color-bokeh-magma-256-44 {
  background-color: #2d1060;
}

.chrys-background-color-bokeh-magma-256-45 {
  background-color: #2f1062;
}

.chrys-background-color-bokeh-magma-256-46 {
  background-color: #301065;
}

.chrys-background-color-bokeh-magma-256-47 {
  background-color: #321067;
}

.chrys-background-color-bokeh-magma-256-48 {
  background-color: #341068;
}

.chrys-background-color-bokeh-magma-256-49 {
  background-color: #350f6a;
}

.chrys-background-color-bokeh-magma-256-50 {
  background-color: #370f6c;
}

.chrys-background-color-bokeh-magma-256-51 {
  background-color: #390f6e;
}

.chrys-background-color-bokeh-magma-256-52 {
  background-color: #3b0f6f;
}

.chrys-background-color-bokeh-magma-256-53 {
  background-color: #3c0f71;
}

.chrys-background-color-bokeh-magma-256-54 {
  background-color: #3e0f72;
}

.chrys-background-color-bokeh-magma-256-55 {
  background-color: #400f73;
}

.chrys-background-color-bokeh-magma-256-56 {
  background-color: #420f74;
}

.chrys-background-color-bokeh-magma-256-57 {
  background-color: #430f75;
}

.chrys-background-color-bokeh-magma-256-58 {
  background-color: #450f76;
}

.chrys-background-color-bokeh-magma-256-59 {
  background-color: #470f77;
}

.chrys-background-color-bokeh-magma-256-60 {
  background-color: #481078;
}

.chrys-background-color-bokeh-magma-256-61 {
  background-color: #4a1079;
}

.chrys-background-color-bokeh-magma-256-62 {
  background-color: #4b1079;
}

.chrys-background-color-bokeh-magma-256-63 {
  background-color: #4d117a;
}

.chrys-background-color-bokeh-magma-256-64 {
  background-color: #4f117b;
}

.chrys-background-color-bokeh-magma-256-65 {
  background-color: #50127b;
}

.chrys-background-color-bokeh-magma-256-66 {
  background-color: #52127c;
}

.chrys-background-color-bokeh-magma-256-67 {
  background-color: #53137c;
}

.chrys-background-color-bokeh-magma-256-68 {
  background-color: #55137d;
}

.chrys-background-color-bokeh-magma-256-69 {
  background-color: #57147d;
}

.chrys-background-color-bokeh-magma-256-70 {
  background-color: #58157e;
}

.chrys-background-color-bokeh-magma-256-71 {
  background-color: #5a157e;
}

.chrys-background-color-bokeh-magma-256-72 {
  background-color: #5b167e;
}

.chrys-background-color-bokeh-magma-256-73 {
  background-color: #5d177e;
}

.chrys-background-color-bokeh-magma-256-74 {
  background-color: #5e177f;
}

.chrys-background-color-bokeh-magma-256-75 {
  background-color: #60187f;
}

.chrys-background-color-bokeh-magma-256-76 {
  background-color: #61187f;
}

.chrys-background-color-bokeh-magma-256-77 {
  background-color: #63197f;
}

.chrys-background-color-bokeh-magma-256-78 {
  background-color: #651a80;
}

.chrys-background-color-bokeh-magma-256-79 {
  background-color: #661a80;
}

.chrys-background-color-bokeh-magma-256-80 {
  background-color: #681b80;
}

.chrys-background-color-bokeh-magma-256-81 {
  background-color: #691c80;
}

.chrys-background-color-bokeh-magma-256-82 {
  background-color: #6b1c80;
}

.chrys-background-color-bokeh-magma-256-83 {
  background-color: #6c1d80;
}

.chrys-background-color-bokeh-magma-256-84 {
  background-color: #6e1e81;
}

.chrys-background-color-bokeh-magma-256-85 {
  background-color: #6f1e81;
}

.chrys-background-color-bokeh-magma-256-86 {
  background-color: #711f81;
}

.chrys-background-color-bokeh-magma-256-87 {
  background-color: #731f81;
}

.chrys-background-color-bokeh-magma-256-88 {
  background-color: #742081;
}

.chrys-background-color-bokeh-magma-256-89 {
  background-color: #762181;
}

.chrys-background-color-bokeh-magma-256-90 {
  background-color: #772181;
}

.chrys-background-color-bokeh-magma-256-91 {
  background-color: #792281;
}

.chrys-background-color-bokeh-magma-256-92 {
  background-color: #7a2281;
}

.chrys-background-color-bokeh-magma-256-93 {
  background-color: #7c2381;
}

.chrys-background-color-bokeh-magma-256-94 {
  background-color: #7e2481;
}

.chrys-background-color-bokeh-magma-256-95 {
  background-color: #7f2481;
}

.chrys-background-color-bokeh-magma-256-96 {
  background-color: #812581;
}

.chrys-background-color-bokeh-magma-256-97 {
  background-color: #822581;
}

.chrys-background-color-bokeh-magma-256-98 {
  background-color: #842681;
}

.chrys-background-color-bokeh-magma-256-99 {
  background-color: #852681;
}

.chrys-background-color-bokeh-magma-256-100 {
  background-color: #872781;
}

.chrys-background-color-bokeh-magma-256-101 {
  background-color: #892881;
}

.chrys-background-color-bokeh-magma-256-102 {
  background-color: #8a2881;
}

.chrys-background-color-bokeh-magma-256-103 {
  background-color: #8c2980;
}

.chrys-background-color-bokeh-magma-256-104 {
  background-color: #8d2980;
}

.chrys-background-color-bokeh-magma-256-105 {
  background-color: #8f2a80;
}

.chrys-background-color-bokeh-magma-256-106 {
  background-color: #912a80;
}

.chrys-background-color-bokeh-magma-256-107 {
  background-color: #922b80;
}

.chrys-background-color-bokeh-magma-256-108 {
  background-color: #942b80;
}

.chrys-background-color-bokeh-magma-256-109 {
  background-color: #952c80;
}

.chrys-background-color-bokeh-magma-256-110 {
  background-color: #972c7f;
}

.chrys-background-color-bokeh-magma-256-111 {
  background-color: #992d7f;
}

.chrys-background-color-bokeh-magma-256-112 {
  background-color: #9a2d7f;
}

.chrys-background-color-bokeh-magma-256-113 {
  background-color: #9c2e7f;
}

.chrys-background-color-bokeh-magma-256-114 {
  background-color: #9e2e7e;
}

.chrys-background-color-bokeh-magma-256-115 {
  background-color: #9f2f7e;
}

.chrys-background-color-bokeh-magma-256-116 {
  background-color: #a12f7e;
}

.chrys-background-color-bokeh-magma-256-117 {
  background-color: #a3307e;
}

.chrys-background-color-bokeh-magma-256-118 {
  background-color: #a4307d;
}

.chrys-background-color-bokeh-magma-256-119 {
  background-color: #a6317d;
}

.chrys-background-color-bokeh-magma-256-120 {
  background-color: #a7317d;
}

.chrys-background-color-bokeh-magma-256-121 {
  background-color: #a9327c;
}

.chrys-background-color-bokeh-magma-256-122 {
  background-color: #ab337c;
}

.chrys-background-color-bokeh-magma-256-123 {
  background-color: #ac337b;
}

.chrys-background-color-bokeh-magma-256-124 {
  background-color: #ae347b;
}

.chrys-background-color-bokeh-magma-256-125 {
  background-color: #b0347b;
}

.chrys-background-color-bokeh-magma-256-126 {
  background-color: #b1357a;
}

.chrys-background-color-bokeh-magma-256-127 {
  background-color: #b3357a;
}

.chrys-background-color-bokeh-magma-256-128 {
  background-color: #b53679;
}

.chrys-background-color-bokeh-magma-256-129 {
  background-color: #b63679;
}

.chrys-background-color-bokeh-magma-256-130 {
  background-color: #b83778;
}

.chrys-background-color-bokeh-magma-256-131 {
  background-color: #b93778;
}

.chrys-background-color-bokeh-magma-256-132 {
  background-color: #bb3877;
}

.chrys-background-color-bokeh-magma-256-133 {
  background-color: #bd3977;
}

.chrys-background-color-bokeh-magma-256-134 {
  background-color: #be3976;
}

.chrys-background-color-bokeh-magma-256-135 {
  background-color: #c03a75;
}

.chrys-background-color-bokeh-magma-256-136 {
  background-color: #c23a75;
}

.chrys-background-color-bokeh-magma-256-137 {
  background-color: #c33b74;
}

.chrys-background-color-bokeh-magma-256-138 {
  background-color: #c53c74;
}

.chrys-background-color-bokeh-magma-256-139 {
  background-color: #c63c73;
}

.chrys-background-color-bokeh-magma-256-140 {
  background-color: #c83d72;
}

.chrys-background-color-bokeh-magma-256-141 {
  background-color: #ca3e72;
}

.chrys-background-color-bokeh-magma-256-142 {
  background-color: #cb3e71;
}

.chrys-background-color-bokeh-magma-256-143 {
  background-color: #cd3f70;
}

.chrys-background-color-bokeh-magma-256-144 {
  background-color: #ce4070;
}

.chrys-background-color-bokeh-magma-256-145 {
  background-color: #d0416f;
}

.chrys-background-color-bokeh-magma-256-146 {
  background-color: #d1426e;
}

.chrys-background-color-bokeh-magma-256-147 {
  background-color: #d3426d;
}

.chrys-background-color-bokeh-magma-256-148 {
  background-color: #d4436d;
}

.chrys-background-color-bokeh-magma-256-149 {
  background-color: #d6446c;
}

.chrys-background-color-bokeh-magma-256-150 {
  background-color: #d7456b;
}

.chrys-background-color-bokeh-magma-256-151 {
  background-color: #d9466a;
}

.chrys-background-color-bokeh-magma-256-152 {
  background-color: #da4769;
}

.chrys-background-color-bokeh-magma-256-153 {
  background-color: #dc4869;
}

.chrys-background-color-bokeh-magma-256-154 {
  background-color: #dd4968;
}

.chrys-background-color-bokeh-magma-256-155 {
  background-color: #de4a67;
}

.chrys-background-color-bokeh-magma-256-156 {
  background-color: #e04b66;
}

.chrys-background-color-bokeh-magma-256-157 {
  background-color: #e14c66;
}

.chrys-background-color-bokeh-magma-256-158 {
  background-color: #e24d65;
}

.chrys-background-color-bokeh-magma-256-159 {
  background-color: #e44e64;
}

.chrys-background-color-bokeh-magma-256-160 {
  background-color: #e55063;
}

.chrys-background-color-bokeh-magma-256-161 {
  background-color: #e65162;
}

.chrys-background-color-bokeh-magma-256-162 {
  background-color: #e75262;
}

.chrys-background-color-bokeh-magma-256-163 {
  background-color: #e85461;
}

.chrys-background-color-bokeh-magma-256-164 {
  background-color: #ea5560;
}

.chrys-background-color-bokeh-magma-256-165 {
  background-color: #eb5660;
}

.chrys-background-color-bokeh-magma-256-166 {
  background-color: #ec585f;
}

.chrys-background-color-bokeh-magma-256-167 {
  background-color: #ed595f;
}

.chrys-background-color-bokeh-magma-256-168 {
  background-color: #ee5b5e;
}

.chrys-background-color-bokeh-magma-256-169 {
  background-color: #ee5d5d;
}

.chrys-background-color-bokeh-magma-256-170 {
  background-color: #ef5e5d;
}

.chrys-background-color-bokeh-magma-256-171 {
  background-color: #f0605d;
}

.chrys-background-color-bokeh-magma-256-172 {
  background-color: #f1615c;
}

.chrys-background-color-bokeh-magma-256-173 {
  background-color: #f2635c;
}

.chrys-background-color-bokeh-magma-256-174 {
  background-color: #f3655c;
}

.chrys-background-color-bokeh-magma-256-175 {
  background-color: #f3675b;
}

.chrys-background-color-bokeh-magma-256-176 {
  background-color: #f4685b;
}

.chrys-background-color-bokeh-magma-256-177 {
  background-color: #f56a5b;
}

.chrys-background-color-bokeh-magma-256-178 {
  background-color: #f56c5b;
}

.chrys-background-color-bokeh-magma-256-179 {
  background-color: #f66e5b;
}

.chrys-background-color-bokeh-magma-256-180 {
  background-color: #f6705b;
}

.chrys-background-color-bokeh-magma-256-181 {
  background-color: #f7715b;
}

.chrys-background-color-bokeh-magma-256-182 {
  background-color: #f7735c;
}

.chrys-background-color-bokeh-magma-256-183 {
  background-color: #f8755c;
}

.chrys-background-color-bokeh-magma-256-184 {
  background-color: #f8775c;
}

.chrys-background-color-bokeh-magma-256-185 {
  background-color: #f9795c;
}

.chrys-background-color-bokeh-magma-256-186 {
  background-color: #f97b5d;
}

.chrys-background-color-bokeh-magma-256-187 {
  background-color: #f97d5d;
}

.chrys-background-color-bokeh-magma-256-188 {
  background-color: #fa7f5e;
}

.chrys-background-color-bokeh-magma-256-189 {
  background-color: #fa805e;
}

.chrys-background-color-bokeh-magma-256-190 {
  background-color: #fa825f;
}

.chrys-background-color-bokeh-magma-256-191 {
  background-color: #fb8460;
}

.chrys-background-color-bokeh-magma-256-192 {
  background-color: #fb8660;
}

.chrys-background-color-bokeh-magma-256-193 {
  background-color: #fb8861;
}

.chrys-background-color-bokeh-magma-256-194 {
  background-color: #fb8a62;
}

.chrys-background-color-bokeh-magma-256-195 {
  background-color: #fc8c63;
}

.chrys-background-color-bokeh-magma-256-196 {
  background-color: #fc8e63;
}

.chrys-background-color-bokeh-magma-256-197 {
  background-color: #fc9064;
}

.chrys-background-color-bokeh-magma-256-198 {
  background-color: #fc9265;
}

.chrys-background-color-bokeh-magma-256-199 {
  background-color: #fc9366;
}

.chrys-background-color-bokeh-magma-256-200 {
  background-color: #fd9567;
}

.chrys-background-color-bokeh-magma-256-201 {
  background-color: #fd9768;
}

.chrys-background-color-bokeh-magma-256-202 {
  background-color: #fd9969;
}

.chrys-background-color-bokeh-magma-256-203 {
  background-color: #fd9b6a;
}

.chrys-background-color-bokeh-magma-256-204 {
  background-color: #fd9d6b;
}

.chrys-background-color-bokeh-magma-256-205 {
  background-color: #fd9f6c;
}

.chrys-background-color-bokeh-magma-256-206 {
  background-color: #fda16e;
}

.chrys-background-color-bokeh-magma-256-207 {
  background-color: #fda26f;
}

.chrys-background-color-bokeh-magma-256-208 {
  background-color: #fda470;
}

.chrys-background-color-bokeh-magma-256-209 {
  background-color: #fea671;
}

.chrys-background-color-bokeh-magma-256-210 {
  background-color: #fea873;
}

.chrys-background-color-bokeh-magma-256-211 {
  background-color: #feaa74;
}

.chrys-background-color-bokeh-magma-256-212 {
  background-color: #feac75;
}

.chrys-background-color-bokeh-magma-256-213 {
  background-color: #feae76;
}

.chrys-background-color-bokeh-magma-256-214 {
  background-color: #feaf78;
}

.chrys-background-color-bokeh-magma-256-215 {
  background-color: #feb179;
}

.chrys-background-color-bokeh-magma-256-216 {
  background-color: #feb37b;
}

.chrys-background-color-bokeh-magma-256-217 {
  background-color: #feb57c;
}

.chrys-background-color-bokeh-magma-256-218 {
  background-color: #feb77d;
}

.chrys-background-color-bokeh-magma-256-219 {
  background-color: #feb97f;
}

.chrys-background-color-bokeh-magma-256-220 {
  background-color: #febb80;
}

.chrys-background-color-bokeh-magma-256-221 {
  background-color: #febc82;
}

.chrys-background-color-bokeh-magma-256-222 {
  background-color: #febe83;
}

.chrys-background-color-bokeh-magma-256-223 {
  background-color: #fec085;
}

.chrys-background-color-bokeh-magma-256-224 {
  background-color: #fec286;
}

.chrys-background-color-bokeh-magma-256-225 {
  background-color: #fec488;
}

.chrys-background-color-bokeh-magma-256-226 {
  background-color: #fec689;
}

.chrys-background-color-bokeh-magma-256-227 {
  background-color: #fec78b;
}

.chrys-background-color-bokeh-magma-256-228 {
  background-color: #fec98d;
}

.chrys-background-color-bokeh-magma-256-229 {
  background-color: #fecb8e;
}

.chrys-background-color-bokeh-magma-256-230 {
  background-color: #fdcd90;
}

.chrys-background-color-bokeh-magma-256-231 {
  background-color: #fdcf92;
}

.chrys-background-color-bokeh-magma-256-232 {
  background-color: #fdd193;
}

.chrys-background-color-bokeh-magma-256-233 {
  background-color: #fdd295;
}

.chrys-background-color-bokeh-magma-256-234 {
  background-color: #fdd497;
}

.chrys-background-color-bokeh-magma-256-235 {
  background-color: #fdd698;
}

.chrys-background-color-bokeh-magma-256-236 {
  background-color: #fdd89a;
}

.chrys-background-color-bokeh-magma-256-237 {
  background-color: #fdda9c;
}

.chrys-background-color-bokeh-magma-256-238 {
  background-color: #fddc9d;
}

.chrys-background-color-bokeh-magma-256-239 {
  background-color: #fddd9f;
}

.chrys-background-color-bokeh-magma-256-240 {
  background-color: #fddfa1;
}

.chrys-background-color-bokeh-magma-256-241 {
  background-color: #fde1a3;
}

.chrys-background-color-bokeh-magma-256-242 {
  background-color: #fce3a5;
}

.chrys-background-color-bokeh-magma-256-243 {
  background-color: #fce5a6;
}

.chrys-background-color-bokeh-magma-256-244 {
  background-color: #fce6a8;
}

.chrys-background-color-bokeh-magma-256-245 {
  background-color: #fce8aa;
}

.chrys-background-color-bokeh-magma-256-246 {
  background-color: #fceaac;
}

.chrys-background-color-bokeh-magma-256-247 {
  background-color: #fcecae;
}

.chrys-background-color-bokeh-magma-256-248 {
  background-color: #fceeb0;
}

.chrys-background-color-bokeh-magma-256-249 {
  background-color: #fcf0b1;
}

.chrys-background-color-bokeh-magma-256-250 {
  background-color: #fcf1b3;
}

.chrys-background-color-bokeh-magma-256-251 {
  background-color: #fcf3b5;
}

.chrys-background-color-bokeh-magma-256-252 {
  background-color: #fcf5b7;
}

.chrys-background-color-bokeh-magma-256-253 {
  background-color: #fbf7b9;
}

.chrys-background-color-bokeh-magma-256-254 {
  background-color: #fbf9bb;
}

.chrys-background-color-bokeh-magma-256-255 {
  background-color: #fbfabd;
}

.chrys-background-color-bokeh-magma-256-256 {
  background-color: #fbfcbf;
}