.chrys-background-color-vega-category-20-c-1-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-2-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-2-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-3-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-3-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-3-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-4-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-4-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-4-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-4-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-5-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-5-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-5-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-5-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-5-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-6-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-6-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-6-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-6-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-6-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-6-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-7-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-7-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-7-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-7-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-7-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-7-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-7-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-8-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-8-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-8-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-8-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-8-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-8-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-8-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-8-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-9-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-9-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-9-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-9-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-9-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-9-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-9-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-9-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-9-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-10-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-10-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-10-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-10-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-10-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-10-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-10-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-10-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-10-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-10-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-11-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-11-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-11-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-11-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-11-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-11-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-11-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-11-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-11-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-11-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-11-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-12-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-12-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-12-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-12-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-12-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-12-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-12-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-12-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-12-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-12-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-12-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-12-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-13-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-13-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-13-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-13-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-13-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-13-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-13-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-13-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-13-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-13-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-13-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-13-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-13-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-14-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-14-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-14-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-14-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-14-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-14-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-14-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-14-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-14-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-14-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-14-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-14-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-14-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-14-14 {
  background-color: #9e9ac8;
}

.chrys-background-color-vega-category-20-c-15-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-15-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-15-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-15-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-15-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-15-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-15-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-15-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-15-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-15-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-15-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-15-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-15-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-15-14 {
  background-color: #9e9ac8;
}

.chrys-background-color-vega-category-20-c-15-15 {
  background-color: #bcbddc;
}

.chrys-background-color-vega-category-20-c-16-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-16-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-16-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-16-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-16-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-16-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-16-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-16-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-16-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-16-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-16-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-16-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-16-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-16-14 {
  background-color: #9e9ac8;
}

.chrys-background-color-vega-category-20-c-16-15 {
  background-color: #bcbddc;
}

.chrys-background-color-vega-category-20-c-16-16 {
  background-color: #dadaeb;
}

.chrys-background-color-vega-category-20-c-17-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-17-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-17-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-17-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-17-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-17-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-17-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-17-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-17-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-17-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-17-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-17-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-17-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-17-14 {
  background-color: #9e9ac8;
}

.chrys-background-color-vega-category-20-c-17-15 {
  background-color: #bcbddc;
}

.chrys-background-color-vega-category-20-c-17-16 {
  background-color: #dadaeb;
}

.chrys-background-color-vega-category-20-c-17-17 {
  background-color: #636363;
}

.chrys-background-color-vega-category-20-c-18-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-18-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-18-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-18-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-18-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-18-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-18-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-18-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-18-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-18-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-18-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-18-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-18-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-18-14 {
  background-color: #9e9ac8;
}

.chrys-background-color-vega-category-20-c-18-15 {
  background-color: #bcbddc;
}

.chrys-background-color-vega-category-20-c-18-16 {
  background-color: #dadaeb;
}

.chrys-background-color-vega-category-20-c-18-17 {
  background-color: #636363;
}

.chrys-background-color-vega-category-20-c-18-18 {
  background-color: #969696;
}

.chrys-background-color-vega-category-20-c-19-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-19-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-19-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-19-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-19-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-19-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-19-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-19-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-19-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-19-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-19-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-19-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-19-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-19-14 {
  background-color: #9e9ac8;
}

.chrys-background-color-vega-category-20-c-19-15 {
  background-color: #bcbddc;
}

.chrys-background-color-vega-category-20-c-19-16 {
  background-color: #dadaeb;
}

.chrys-background-color-vega-category-20-c-19-17 {
  background-color: #636363;
}

.chrys-background-color-vega-category-20-c-19-18 {
  background-color: #969696;
}

.chrys-background-color-vega-category-20-c-19-19 {
  background-color: #bdbdbd;
}

.chrys-background-color-vega-category-20-c-20-1 {
  background-color: #3182bd;
}

.chrys-background-color-vega-category-20-c-20-2 {
  background-color: #6baed6;
}

.chrys-background-color-vega-category-20-c-20-3 {
  background-color: #9ecae1;
}

.chrys-background-color-vega-category-20-c-20-4 {
  background-color: #c6dbef;
}

.chrys-background-color-vega-category-20-c-20-5 {
  background-color: #e6550d;
}

.chrys-background-color-vega-category-20-c-20-6 {
  background-color: #fd8d3c;
}

.chrys-background-color-vega-category-20-c-20-7 {
  background-color: #fdae6b;
}

.chrys-background-color-vega-category-20-c-20-8 {
  background-color: #fdd0a2;
}

.chrys-background-color-vega-category-20-c-20-9 {
  background-color: #31a354;
}

.chrys-background-color-vega-category-20-c-20-10 {
  background-color: #74c476;
}

.chrys-background-color-vega-category-20-c-20-11 {
  background-color: #a1d99b;
}

.chrys-background-color-vega-category-20-c-20-12 {
  background-color: #c7e9c0;
}

.chrys-background-color-vega-category-20-c-20-13 {
  background-color: #756bb1;
}

.chrys-background-color-vega-category-20-c-20-14 {
  background-color: #9e9ac8;
}

.chrys-background-color-vega-category-20-c-20-15 {
  background-color: #bcbddc;
}

.chrys-background-color-vega-category-20-c-20-16 {
  background-color: #dadaeb;
}

.chrys-background-color-vega-category-20-c-20-17 {
  background-color: #636363;
}

.chrys-background-color-vega-category-20-c-20-18 {
  background-color: #969696;
}

.chrys-background-color-vega-category-20-c-20-19 {
  background-color: #bdbdbd;
}

.chrys-background-color-vega-category-20-c-20-20 {
  background-color: #d9d9d9;
}