.chrys-background-color-vega-pink-yellow-green-1-1 {
  background-color: #f5f3ef;
}

.chrys-background-color-vega-pink-yellow-green-2-1 {
  background-color: #f3c1de;
}

.chrys-background-color-vega-pink-yellow-green-2-2 {
  background-color: #c4e59d;
}

.chrys-background-color-vega-pink-yellow-green-3-1 {
  background-color: #e793c2;
}

.chrys-background-color-vega-pink-yellow-green-3-2 {
  background-color: #f5f3ef;
}

.chrys-background-color-vega-pink-yellow-green-3-3 {
  background-color: #9bcd67;
}

.chrys-background-color-vega-pink-yellow-green-4-1 {
  background-color: #dd72ad;
}

.chrys-background-color-vega-pink-yellow-green-4-2 {
  background-color: #fadded;
}

.chrys-background-color-vega-pink-yellow-green-4-3 {
  background-color: #e1f2ca;
}

.chrys-background-color-vega-pink-yellow-green-4-4 {
  background-color: #80bb47;
}

.chrys-background-color-vega-pink-yellow-green-5-1 {
  background-color: #d3599d;
}

.chrys-background-color-vega-pink-yellow-green-5-2 {
  background-color: #f3c1de;
}

.chrys-background-color-vega-pink-yellow-green-5-3 {
  background-color: #f5f3ef;
}

.chrys-background-color-vega-pink-yellow-green-5-4 {
  background-color: #c4e59d;
}

.chrys-background-color-vega-pink-yellow-green-5-5 {
  background-color: #70ad3c;
}

.chrys-background-color-vega-pink-yellow-green-6-1 {
  background-color: #cc4792;
}

.chrys-background-color-vega-pink-yellow-green-6-2 {
  background-color: #edaad0;
}

.chrys-background-color-vega-pink-yellow-green-6-3 {
  background-color: #f9e3ee;
}

.chrys-background-color-vega-pink-yellow-green-6-4 {
  background-color: #e7f2d5;
}

.chrys-background-color-vega-pink-yellow-green-6-5 {
  background-color: #aed97e;
}

.chrys-background-color-vega-pink-yellow-green-6-6 {
  background-color: #64a334;
}

.chrys-background-color-vega-pink-yellow-green-7-1 {
  background-color: #c7398a;
}

.chrys-background-color-vega-pink-yellow-green-7-2 {
  background-color: #e793c2;
}

.chrys-background-color-vega-pink-yellow-green-7-3 {
  background-color: #f8d3e7;
}

.chrys-background-color-vega-pink-yellow-green-7-4 {
  background-color: #f5f3ef;
}

.chrys-background-color-vega-pink-yellow-green-7-5 {
  background-color: #d6edb9;
}

.chrys-background-color-vega-pink-yellow-green-7-6 {
  background-color: #9bcd67;
}

.chrys-background-color-vega-pink-yellow-green-7-7 {
  background-color: #5b9c2e;
}

.chrys-background-color-vega-pink-yellow-green-8-1 {
  background-color: #c32e83;
}

.chrys-background-color-vega-pink-yellow-green-8-2 {
  background-color: #e180b6;
}

.chrys-background-color-vega-pink-yellow-green-8-3 {
  background-color: #f3c1de;
}

.chrys-background-color-vega-pink-yellow-green-8-4 {
  background-color: #f8e7ee;
}

.chrys-background-color-vega-pink-yellow-green-8-5 {
  background-color: #eaf2da;
}

.chrys-background-color-vega-pink-yellow-green-8-6 {
  background-color: #c4e59d;
}

.chrys-background-color-vega-pink-yellow-green-8-7 {
  background-color: #8cc355;
}

.chrys-background-color-vega-pink-yellow-green-8-8 {
  background-color: #549629;
}

.chrys-background-color-vega-pink-yellow-green-9-1 {
  background-color: #c0267e;
}

.chrys-background-color-vega-pink-yellow-green-9-2 {
  background-color: #dd72ad;
}

.chrys-background-color-vega-pink-yellow-green-9-3 {
  background-color: #f0b3d6;
}

.chrys-background-color-vega-pink-yellow-green-9-4 {
  background-color: #fadded;
}

.chrys-background-color-vega-pink-yellow-green-9-5 {
  background-color: #f5f3ef;
}

.chrys-background-color-vega-pink-yellow-green-9-6 {
  background-color: #e1f2ca;
}

.chrys-background-color-vega-pink-yellow-green-9-7 {
  background-color: #b6de87;
}

.chrys-background-color-vega-pink-yellow-green-9-8 {
  background-color: #80bb47;
}

.chrys-background-color-vega-pink-yellow-green-9-9 {
  background-color: #4f9125;
}