.chrys-background-color-vega-sinebow-1-1 {
  background-color: #00bfbf;
}

.chrys-background-color-vega-sinebow-2-1 {
  background-color: #40ff40;
}

.chrys-background-color-vega-sinebow-2-2 {
  background-color: #4040ff;
}

.chrys-background-color-vega-sinebow-3-1 {
  background-color: #80ee12;
}

.chrys-background-color-vega-sinebow-3-2 {
  background-color: #00bfbf;
}

.chrys-background-color-vega-sinebow-3-3 {
  background-color: #8012ee;
}

.chrys-background-color-vega-sinebow-4-1 {
  background-color: #a7d503;
}

.chrys-background-color-vega-sinebow-4-2 {
  background-color: #18f472;
}

.chrys-background-color-vega-sinebow-4-3 {
  background-color: #1872f4;
}

.chrys-background-color-vega-sinebow-4-4 {
  background-color: #a703d5;
}

.chrys-background-color-vega-sinebow-5-1 {
  background-color: #bfbf00;
}

.chrys-background-color-vega-sinebow-5-2 {
  background-color: #40ff40;
}

.chrys-background-color-vega-sinebow-5-3 {
  background-color: #00bfbf;
}

.chrys-background-color-vega-sinebow-5-4 {
  background-color: #4040ff;
}

.chrys-background-color-vega-sinebow-5-5 {
  background-color: #bf00bf;
}

.chrys-background-color-vega-sinebow-6-1 {
  background-color: #cfae02;
}

.chrys-background-color-vega-sinebow-6-2 {
  background-color: #63f922;
}

.chrys-background-color-vega-sinebow-6-3 {
  background-color: #0de989;
}

.chrys-background-color-vega-sinebow-6-4 {
  background-color: #0d89e9;
}

.chrys-background-color-vega-sinebow-6-5 {
  background-color: #6322f9;
}

.chrys-background-color-vega-sinebow-6-6 {
  background-color: #cf02ae;
}

.chrys-background-color-vega-sinebow-7-1 {
  background-color: #daa105;
}

.chrys-background-color-vega-sinebow-7-2 {
  background-color: #80ee12;
}

.chrys-background-color-vega-sinebow-7-3 {
  background-color: #26fa5f;
}

.chrys-background-color-vega-sinebow-7-4 {
  background-color: #00bfbf;
}

.chrys-background-color-vega-sinebow-7-5 {
  background-color: #265ffa;
}

.chrys-background-color-vega-sinebow-7-6 {
  background-color: #8012ee;
}

.chrys-background-color-vega-sinebow-7-7 {
  background-color: #da05a1;
}

.chrys-background-color-vega-sinebow-8-1 {
  background-color: #e19608;
}

.chrys-background-color-vega-sinebow-8-2 {
  background-color: #96e108;
}

.chrys-background-color-vega-sinebow-8-3 {
  background-color: #40ff40;
}

.chrys-background-color-vega-sinebow-8-4 {
  background-color: #08e196;
}

.chrys-background-color-vega-sinebow-8-5 {
  background-color: #0896e1;
}

.chrys-background-color-vega-sinebow-8-6 {
  background-color: #4040ff;
}

.chrys-background-color-vega-sinebow-8-7 {
  background-color: #9608e1;
}

.chrys-background-color-vega-sinebow-8-8 {
  background-color: #e10896;
}

.chrys-background-color-vega-sinebow-9-1 {
  background-color: #e78d0b;
}

.chrys-background-color-vega-sinebow-9-2 {
  background-color: #a7d503;
}

.chrys-background-color-vega-sinebow-9-3 {
  background-color: #58fc2a;
}

.chrys-background-color-vega-sinebow-9-4 {
  background-color: #18f472;
}

.chrys-background-color-vega-sinebow-9-5 {
  background-color: #00bfbf;
}

.chrys-background-color-vega-sinebow-9-6 {
  background-color: #1872f4;
}

.chrys-background-color-vega-sinebow-9-7 {
  background-color: #582afc;
}

.chrys-background-color-vega-sinebow-9-8 {
  background-color: #a703d5;
}

.chrys-background-color-vega-sinebow-9-9 {
  background-color: #e70b8d;
}