.chrys-background-color-vega-red-grey-1-1 {
  background-color: #faf4f1;
}

.chrys-background-color-vega-red-grey-2-1 {
  background-color: #f7bda4;
}

.chrys-background-color-vega-red-grey-2-2 {
  background-color: #cbcbcb;
}

.chrys-background-color-vega-red-grey-3-1 {
  background-color: #ea9178;
}

.chrys-background-color-vega-red-grey-3-2 {
  background-color: #faf4f1;
}

.chrys-background-color-vega-red-grey-3-3 {
  background-color: #ababab;
}

.chrys-background-color-vega-red-grey-4-1 {
  background-color: #df745e;
}

.chrys-background-color-vega-red-grey-4-2 {
  background-color: #fcdccb;
}

.chrys-background-color-vega-red-grey-4-3 {
  background-color: #e2e2e2;
}

.chrys-background-color-vega-red-grey-4-4 {
  background-color: #969696;
}

.chrys-background-color-vega-red-grey-5-1 {
  background-color: #d45f52;
}

.chrys-background-color-vega-red-grey-5-2 {
  background-color: #f7bda4;
}

.chrys-background-color-vega-red-grey-5-3 {
  background-color: #faf4f1;
}

.chrys-background-color-vega-red-grey-5-4 {
  background-color: #cbcbcb;
}

.chrys-background-color-vega-red-grey-5-5 {
  background-color: #858585;
}

.chrys-background-color-vega-red-grey-6-1 {
  background-color: #cd5149;
}

.chrys-background-color-vega-red-grey-6-2 {
  background-color: #f1a68a;
}

.chrys-background-color-vega-red-grey-6-3 {
  background-color: #fbe3d6;
}

.chrys-background-color-vega-red-grey-6-4 {
  background-color: #e9e7e6;
}

.chrys-background-color-vega-red-grey-6-5 {
  background-color: #bababa;
}

.chrys-background-color-vega-red-grey-6-6 {
  background-color: #797979;
}

.chrys-background-color-vega-red-grey-7-1 {
  background-color: #c74643;
}

.chrys-background-color-vega-red-grey-7-2 {
  background-color: #ea9178;
}

.chrys-background-color-vega-red-grey-7-3 {
  background-color: #fad1bd;
}

.chrys-background-color-vega-red-grey-7-4 {
  background-color: #faf4f1;
}

.chrys-background-color-vega-red-grey-7-5 {
  background-color: #dadada;
}

.chrys-background-color-vega-red-grey-7-6 {
  background-color: #ababab;
}

.chrys-background-color-vega-red-grey-7-7 {
  background-color: #717171;
}

.chrys-background-color-vega-red-grey-8-1 {
  background-color: #c33d3e;
}

.chrys-background-color-vega-red-grey-8-2 {
  background-color: #e48169;
}

.chrys-background-color-vega-red-grey-8-3 {
  background-color: #f7bda4;
}

.chrys-background-color-vega-red-grey-8-4 {
  background-color: #fbe7dc;
}

.chrys-background-color-vega-red-grey-8-5 {
  background-color: #edeae9;
}

.chrys-background-color-vega-red-grey-8-6 {
  background-color: #cbcbcb;
}

.chrys-background-color-vega-red-grey-8-7 {
  background-color: #9f9f9f;
}

.chrys-background-color-vega-red-grey-8-8 {
  background-color: #6a6a6a;
}

.chrys-background-color-vega-red-grey-9-1 {
  background-color: #bf363a;
}

.chrys-background-color-vega-red-grey-9-2 {
  background-color: #df745e;
}

.chrys-background-color-vega-red-grey-9-3 {
  background-color: #f4ae91;
}

.chrys-background-color-vega-red-grey-9-4 {
  background-color: #fcdccb;
}

.chrys-background-color-vega-red-grey-9-5 {
  background-color: #faf4f1;
}

.chrys-background-color-vega-red-grey-9-6 {
  background-color: #e2e2e2;
}

.chrys-background-color-vega-red-grey-9-7 {
  background-color: #c0c0c0;
}

.chrys-background-color-vega-red-grey-9-8 {
  background-color: #969696;
}

.chrys-background-color-vega-red-grey-9-9 {
  background-color: #646464;
}