.chrys-background-color-vega-light-teal-blue-1-1 {
  background-color: #49a7bd;
}

.chrys-background-color-vega-light-teal-blue-2-1 {
  background-color: #7abfc8;
}

.chrys-background-color-vega-light-teal-blue-2-2 {
  background-color: #328dad;
}

.chrys-background-color-vega-light-teal-blue-3-1 {
  background-color: #92caca;
}

.chrys-background-color-vega-light-teal-blue-3-2 {
  background-color: #49a7bd;
}

.chrys-background-color-vega-light-teal-blue-3-3 {
  background-color: #3080a3;
}

.chrys-background-color-vega-light-teal-blue-4-1 {
  background-color: #a2d1cb;
}

.chrys-background-color-vega-light-teal-blue-4-2 {
  background-color: #66b5c3;
}

.chrys-background-color-vega-light-teal-blue-4-3 {
  background-color: #3698b4;
}

.chrys-background-color-vega-light-teal-blue-4-4 {
  background-color: #2d799e;
}

.chrys-background-color-vega-light-teal-blue-5-1 {
  background-color: #add5cd;
}

.chrys-background-color-vega-light-teal-blue-5-2 {
  background-color: #7abfc8;
}

.chrys-background-color-vega-light-teal-blue-5-3 {
  background-color: #49a7bd;
}

.chrys-background-color-vega-light-teal-blue-5-4 {
  background-color: #328dad;
}

.chrys-background-color-vega-light-teal-blue-5-5 {
  background-color: #2b749b;
}

.chrys-background-color-vega-light-teal-blue-6-1 {
  background-color: #b5d8ce;
}

.chrys-background-color-vega-light-teal-blue-6-2 {
  background-color: #88c5c9;
}

.chrys-background-color-vega-light-teal-blue-6-3 {
  background-color: #5eb1c1;
}

.chrys-background-color-vega-light-teal-blue-6-4 {
  background-color: #379cb7;
}

.chrys-background-color-vega-light-teal-blue-6-5 {
  background-color: #3186a7;
}

.chrys-background-color-vega-light-teal-blue-6-6 {
  background-color: #297098;
}

.chrys-background-color-vega-light-teal-blue-7-1 {
  background-color: #bbdace;
}

.chrys-background-color-vega-light-teal-blue-7-2 {
  background-color: #92caca;
}

.chrys-background-color-vega-light-teal-blue-7-3 {
  background-color: #6eb9c5;
}

.chrys-background-color-vega-light-teal-blue-7-4 {
  background-color: #49a7bd;
}

.chrys-background-color-vega-light-teal-blue-7-5 {
  background-color: #3494b2;
}

.chrys-background-color-vega-light-teal-blue-7-6 {
  background-color: #3080a3;
}

.chrys-background-color-vega-light-teal-blue-7-7 {
  background-color: #286d96;
}

.chrys-background-color-vega-light-teal-blue-8-1 {
  background-color: #c0dccf;
}

.chrys-background-color-vega-light-teal-blue-8-2 {
  background-color: #9aceca;
}

.chrys-background-color-vega-light-teal-blue-8-3 {
  background-color: #7abfc8;
}

.chrys-background-color-vega-light-teal-blue-8-4 {
  background-color: #59afc0;
}

.chrys-background-color-vega-light-teal-blue-8-5 {
  background-color: #389fb9;
}

.chrys-background-color-vega-light-teal-blue-8-6 {
  background-color: #328dad;
}

.chrys-background-color-vega-light-teal-blue-8-7 {
  background-color: #2f7ca0;
}

.chrys-background-color-vega-light-teal-blue-8-8 {
  background-color: #276b95;
}

.chrys-background-color-vega-light-teal-blue-9-1 {
  background-color: #c4ddd1;
}

.chrys-background-color-vega-light-teal-blue-9-2 {
  background-color: #a2d1cb;
}

.chrys-background-color-vega-light-teal-blue-9-3 {
  background-color: #84c4c9;
}

.chrys-background-color-vega-light-teal-blue-9-4 {
  background-color: #66b5c3;
}

.chrys-background-color-vega-light-teal-blue-9-5 {
  background-color: #49a7bd;
}

.chrys-background-color-vega-light-teal-blue-9-6 {
  background-color: #3698b4;
}

.chrys-background-color-vega-light-teal-blue-9-7 {
  background-color: #3188a9;
}

.chrys-background-color-vega-light-teal-blue-9-8 {
  background-color: #2d799e;
}

.chrys-background-color-vega-light-teal-blue-9-9 {
  background-color: #276994;
}