.chrys-background-color-vega-rainbow-1-1 {
  background-color: #aff05b;
}

.chrys-background-color-vega-rainbow-2-1 {
  background-color: #ff8c38;
}

.chrys-background-color-vega-rainbow-2-2 {
  background-color: #28ea8d;
}

.chrys-background-color-vega-rainbow-3-1 {
  background-color: #ff5f64;
}

.chrys-background-color-vega-rainbow-3-2 {
  background-color: #aff05b;
}

.chrys-background-color-vega-rainbow-3-3 {
  background-color: #1bc7c2;
}

.chrys-background-color-vega-rainbow-4-1 {
  background-color: #fe4b83;
}

.chrys-background-color-vega-rainbow-4-2 {
  background-color: #e2b72f;
}

.chrys-background-color-vega-rainbow-4-3 {
  background-color: #52f667;
}

.chrys-background-color-vega-rainbow-4-4 {
  background-color: #23abd8;
}

.chrys-background-color-vega-rainbow-5-1 {
  background-color: #ee4395;
}

.chrys-background-color-vega-rainbow-5-2 {
  background-color: #ff8c38;
}

.chrys-background-color-vega-rainbow-5-3 {
  background-color: #aff05b;
}

.chrys-background-color-vega-rainbow-5-4 {
  background-color: #28ea8d;
}

.chrys-background-color-vega-rainbow-5-5 {
  background-color: #2f96e0;
}

.chrys-background-color-vega-rainbow-6-1 {
  background-color: #de40a0;
}

.chrys-background-color-vega-rainbow-6-2 {
  background-color: #ff704f;
}

.chrys-background-color-vega-rainbow-6-3 {
  background-color: #d2c935;
}

.chrys-background-color-vega-rainbow-6-4 {
  background-color: #6bf65d;
}

.chrys-background-color-vega-rainbow-6-5 {
  background-color: #1bd9ac;
}

.chrys-background-color-vega-rainbow-6-6 {
  background-color: #3988e1;
}

.chrys-background-color-vega-rainbow-7-1 {
  background-color: #d23ea7;
}

.chrys-background-color-vega-rainbow-7-2 {
  background-color: #ff5f64;
}

.chrys-background-color-vega-rainbow-7-3 {
  background-color: #efa730;
}

.chrys-background-color-vega-rainbow-7-4 {
  background-color: #aff05b;
}

.chrys-background-color-vega-rainbow-7-5 {
  background-color: #40f374;
}

.chrys-background-color-vega-rainbow-7-6 {
  background-color: #1bc7c2;
}

.chrys-background-color-vega-rainbow-7-7 {
  background-color: #417de0;
}

.chrys-background-color-vega-rainbow-8-1 {
  background-color: #c73dab;
}

.chrys-background-color-vega-rainbow-8-2 {
  background-color: #ff5375;
}

.chrys-background-color-vega-rainbow-8-3 {
  background-color: #ff8c38;
}

.chrys-background-color-vega-rainbow-8-4 {
  background-color: #c9d33b;
}

.chrys-background-color-vega-rainbow-8-5 {
  background-color: #7af55a;
}

.chrys-background-color-vega-rainbow-8-6 {
  background-color: #28ea8d;
}

.chrys-background-color-vega-rainbow-8-7 {
  background-color: #1eb8cf;
}

.chrys-background-color-vega-rainbow-8-8 {
  background-color: #4775dd;
}

.chrys-background-color-vega-rainbow-9-1 {
  background-color: #bf3caf;
}

.chrys-background-color-vega-rainbow-9-2 {
  background-color: #fe4b83;
}

.chrys-background-color-vega-rainbow-9-3 {
  background-color: #ff7847;
}

.chrys-background-color-vega-rainbow-9-4 {
  background-color: #e2b72f;
}

.chrys-background-color-vega-rainbow-9-5 {
  background-color: #aff05b;
}

.chrys-background-color-vega-rainbow-9-6 {
  background-color: #52f667;
}

.chrys-background-color-vega-rainbow-9-7 {
  background-color: #1ddfa3;
}

.chrys-background-color-vega-rainbow-9-8 {
  background-color: #23abd8;
}

.chrys-background-color-vega-rainbow-9-9 {
  background-color: #4c6edb;
}