.chrys-background-color-vega-blue-orange-1-1 {
  background-color: #f2f0eb;
}

.chrys-background-color-vega-blue-orange-2-1 {
  background-color: #afd3e6;
}

.chrys-background-color-vega-blue-orange-2-2 {
  background-color: #fbca8b;
}

.chrys-background-color-vega-blue-orange-3-1 {
  background-color: #7db6d6;
}

.chrys-background-color-vega-blue-orange-3-2 {
  background-color: #f2f0eb;
}

.chrys-background-color-vega-blue-orange-3-3 {
  background-color: #f2a952;
}

.chrys-background-color-vega-blue-orange-4-1 {
  background-color: #5da2cb;
}

.chrys-background-color-vega-blue-orange-4-2 {
  background-color: #d2e5ef;
}

.chrys-background-color-vega-blue-orange-4-3 {
  background-color: #fce0ba;
}

.chrys-background-color-vega-blue-orange-4-4 {
  background-color: #e8932f;
}

.chrys-background-color-vega-blue-orange-5-1 {
  background-color: #4e94c3;
}

.chrys-background-color-vega-blue-orange-5-2 {
  background-color: #afd3e6;
}

.chrys-background-color-vega-blue-orange-5-3 {
  background-color: #f2f0eb;
}

.chrys-background-color-vega-blue-orange-5-4 {
  background-color: #fbca8b;
}

.chrys-background-color-vega-blue-orange-5-5 {
  background-color: #dc8524;
}

.chrys-background-color-vega-blue-orange-6-1 {
  background-color: #438abd;
}

.chrys-background-color-vega-blue-orange-6-2 {
  background-color: #94c4de;
}

.chrys-background-color-vega-blue-orange-6-3 {
  background-color: #dbe8ee;
}

.chrys-background-color-vega-blue-orange-6-4 {
  background-color: #f9e5c8;
}

.chrys-background-color-vega-blue-orange-6-5 {
  background-color: #f8b96a;
}

.chrys-background-color-vega-blue-orange-6-6 {
  background-color: #d47b1c;
}

.chrys-background-color-vega-blue-orange-7-1 {
  background-color: #3b83b9;
}

.chrys-background-color-vega-blue-orange-7-2 {
  background-color: #7db6d6;
}

.chrys-background-color-vega-blue-orange-7-3 {
  background-color: #c5deec;
}

.chrys-background-color-vega-blue-orange-7-4 {
  background-color: #f2f0eb;
}

.chrys-background-color-vega-blue-orange-7-5 {
  background-color: #fcd8a9;
}

.chrys-background-color-vega-blue-orange-7-6 {
  background-color: #f2a952;
}

.chrys-background-color-vega-blue-orange-7-7 {
  background-color: #ce7416;
}

.chrys-background-color-vega-blue-orange-8-1 {
  background-color: #347db6;
}

.chrys-background-color-vega-blue-orange-8-2 {
  background-color: #6babd0;
}

.chrys-background-color-vega-blue-orange-8-3 {
  background-color: #afd3e6;
}

.chrys-background-color-vega-blue-orange-8-4 {
  background-color: #e0eaed;
}

.chrys-background-color-vega-blue-orange-8-5 {
  background-color: #f8e7d0;
}

.chrys-background-color-vega-blue-orange-8-6 {
  background-color: #fbca8b;
}

.chrys-background-color-vega-blue-orange-8-7 {
  background-color: #ec9d3e;
}

.chrys-background-color-vega-blue-orange-8-8 {
  background-color: #c96e11;
}

.chrys-background-color-vega-blue-orange-9-1 {
  background-color: #2f78b3;
}

.chrys-background-color-vega-blue-orange-9-2 {
  background-color: #5da2cb;
}

.chrys-background-color-vega-blue-orange-9-3 {
  background-color: #9dcae1;
}

.chrys-background-color-vega-blue-orange-9-4 {
  background-color: #d2e5ef;
}

.chrys-background-color-vega-blue-orange-9-5 {
  background-color: #f2f0eb;
}

.chrys-background-color-vega-blue-orange-9-6 {
  background-color: #fce0ba;
}

.chrys-background-color-vega-blue-orange-9-7 {
  background-color: #fbbf74;
}

.chrys-background-color-vega-blue-orange-9-8 {
  background-color: #e8932f;
}

.chrys-background-color-vega-blue-orange-9-9 {
  background-color: #c5690d;
}