.chrys-background-color-vega-red-blue-1-1 {
  background-color: #f2efee;
}

.chrys-background-color-vega-red-blue-2-1 {
  background-color: #f6bda4;
}

.chrys-background-color-vega-red-blue-2-2 {
  background-color: #afd3e6;
}

.chrys-background-color-vega-red-blue-3-1 {
  background-color: #ea9178;
}

.chrys-background-color-vega-red-blue-3-2 {
  background-color: #f2efee;
}

.chrys-background-color-vega-red-blue-3-3 {
  background-color: #7db6d6;
}

.chrys-background-color-vega-red-blue-4-1 {
  background-color: #df745e;
}

.chrys-background-color-vega-red-blue-4-2 {
  background-color: #fbdbc9;
}

.chrys-background-color-vega-red-blue-4-3 {
  background-color: #d2e5ef;
}

.chrys-background-color-vega-red-blue-4-4 {
  background-color: #5da2cb;
}

.chrys-background-color-vega-red-blue-5-1 {
  background-color: #d45f52;
}

.chrys-background-color-vega-red-blue-5-2 {
  background-color: #f6bda4;
}

.chrys-background-color-vega-red-blue-5-3 {
  background-color: #f2efee;
}

.chrys-background-color-vega-red-blue-5-4 {
  background-color: #afd3e6;
}

.chrys-background-color-vega-red-blue-5-5 {
  background-color: #4e94c3;
}

.chrys-background-color-vega-red-blue-6-1 {
  background-color: #cd5149;
}

.chrys-background-color-vega-red-blue-6-2 {
  background-color: #f1a68a;
}

.chrys-background-color-vega-red-blue-6-3 {
  background-color: #f8e1d4;
}

.chrys-background-color-vega-red-blue-6-4 {
  background-color: #dbe8ef;
}

.chrys-background-color-vega-red-blue-6-5 {
  background-color: #94c4de;
}

.chrys-background-color-vega-red-blue-6-6 {
  background-color: #438abd;
}

.chrys-background-color-vega-red-blue-7-1 {
  background-color: #c74643;
}

.chrys-background-color-vega-red-blue-7-2 {
  background-color: #ea9178;
}

.chrys-background-color-vega-red-blue-7-3 {
  background-color: #f9d0bb;
}

.chrys-background-color-vega-red-blue-7-4 {
  background-color: #f2efee;
}

.chrys-background-color-vega-red-blue-7-5 {
  background-color: #c5deec;
}

.chrys-background-color-vega-red-blue-7-6 {
  background-color: #7db6d6;
}

.chrys-background-color-vega-red-blue-7-7 {
  background-color: #3b83b9;
}

.chrys-background-color-vega-red-blue-8-1 {
  background-color: #c33d3e;
}

.chrys-background-color-vega-red-blue-8-2 {
  background-color: #e48169;
}

.chrys-background-color-vega-red-blue-8-3 {
  background-color: #f6bda4;
}

.chrys-background-color-vega-red-blue-8-4 {
  background-color: #f7e4d9;
}

.chrys-background-color-vega-red-blue-8-5 {
  background-color: #e0e9ef;
}

.chrys-background-color-vega-red-blue-8-6 {
  background-color: #afd3e6;
}

.chrys-background-color-vega-red-blue-8-7 {
  background-color: #6babd0;
}

.chrys-background-color-vega-red-blue-8-8 {
  background-color: #347db6;
}

.chrys-background-color-vega-red-blue-9-1 {
  background-color: #bf363a;
}

.chrys-background-color-vega-red-blue-9-2 {
  background-color: #df745e;
}

.chrys-background-color-vega-red-blue-9-3 {
  background-color: #f4ae91;
}

.chrys-background-color-vega-red-blue-9-4 {
  background-color: #fbdbc9;
}

.chrys-background-color-vega-red-blue-9-5 {
  background-color: #f2efee;
}

.chrys-background-color-vega-red-blue-9-6 {
  background-color: #d2e5ef;
}

.chrys-background-color-vega-red-blue-9-7 {
  background-color: #9dcae1;
}

.chrys-background-color-vega-red-blue-9-8 {
  background-color: #5da2cb;
}

.chrys-background-color-vega-red-blue-9-9 {
  background-color: #2f78b3;
}