.chrys-background-color-bokeh-set-2-3-1 {
  background-color: #66c2a5;
}

.chrys-background-color-bokeh-set-2-3-2 {
  background-color: #fc8d62;
}

.chrys-background-color-bokeh-set-2-3-3 {
  background-color: #8da0cb;
}

.chrys-background-color-bokeh-set-2-4-1 {
  background-color: #66c2a5;
}

.chrys-background-color-bokeh-set-2-4-2 {
  background-color: #fc8d62;
}

.chrys-background-color-bokeh-set-2-4-3 {
  background-color: #8da0cb;
}

.chrys-background-color-bokeh-set-2-4-4 {
  background-color: #e78ac3;
}

.chrys-background-color-bokeh-set-2-5-1 {
  background-color: #66c2a5;
}

.chrys-background-color-bokeh-set-2-5-2 {
  background-color: #fc8d62;
}

.chrys-background-color-bokeh-set-2-5-3 {
  background-color: #8da0cb;
}

.chrys-background-color-bokeh-set-2-5-4 {
  background-color: #e78ac3;
}

.chrys-background-color-bokeh-set-2-5-5 {
  background-color: #a6d854;
}

.chrys-background-color-bokeh-set-2-6-1 {
  background-color: #66c2a5;
}

.chrys-background-color-bokeh-set-2-6-2 {
  background-color: #fc8d62;
}

.chrys-background-color-bokeh-set-2-6-3 {
  background-color: #8da0cb;
}

.chrys-background-color-bokeh-set-2-6-4 {
  background-color: #e78ac3;
}

.chrys-background-color-bokeh-set-2-6-5 {
  background-color: #a6d854;
}

.chrys-background-color-bokeh-set-2-6-6 {
  background-color: #ffd92f;
}

.chrys-background-color-bokeh-set-2-7-1 {
  background-color: #66c2a5;
}

.chrys-background-color-bokeh-set-2-7-2 {
  background-color: #fc8d62;
}

.chrys-background-color-bokeh-set-2-7-3 {
  background-color: #8da0cb;
}

.chrys-background-color-bokeh-set-2-7-4 {
  background-color: #e78ac3;
}

.chrys-background-color-bokeh-set-2-7-5 {
  background-color: #a6d854;
}

.chrys-background-color-bokeh-set-2-7-6 {
  background-color: #ffd92f;
}

.chrys-background-color-bokeh-set-2-7-7 {
  background-color: #e5c494;
}

.chrys-background-color-bokeh-set-2-8-1 {
  background-color: #66c2a5;
}

.chrys-background-color-bokeh-set-2-8-2 {
  background-color: #fc8d62;
}

.chrys-background-color-bokeh-set-2-8-3 {
  background-color: #8da0cb;
}

.chrys-background-color-bokeh-set-2-8-4 {
  background-color: #e78ac3;
}

.chrys-background-color-bokeh-set-2-8-5 {
  background-color: #a6d854;
}

.chrys-background-color-bokeh-set-2-8-6 {
  background-color: #ffd92f;
}

.chrys-background-color-bokeh-set-2-8-7 {
  background-color: #e5c494;
}

.chrys-background-color-bokeh-set-2-8-8 {
  background-color: #b3b3b3;
}