.chrys-background-color-bokeh-paired-3-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-3-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-3-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-4-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-4-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-4-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-4-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-5-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-5-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-5-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-5-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-5-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-6-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-6-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-6-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-6-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-6-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-6-6 {
  background-color: #e31a1c;
}

.chrys-background-color-bokeh-paired-7-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-7-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-7-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-7-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-7-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-7-6 {
  background-color: #e31a1c;
}

.chrys-background-color-bokeh-paired-7-7 {
  background-color: #fdbf6f;
}

.chrys-background-color-bokeh-paired-8-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-8-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-8-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-8-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-8-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-8-6 {
  background-color: #e31a1c;
}

.chrys-background-color-bokeh-paired-8-7 {
  background-color: #fdbf6f;
}

.chrys-background-color-bokeh-paired-8-8 {
  background-color: #ff7f00;
}

.chrys-background-color-bokeh-paired-9-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-9-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-9-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-9-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-9-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-9-6 {
  background-color: #e31a1c;
}

.chrys-background-color-bokeh-paired-9-7 {
  background-color: #fdbf6f;
}

.chrys-background-color-bokeh-paired-9-8 {
  background-color: #ff7f00;
}

.chrys-background-color-bokeh-paired-9-9 {
  background-color: #cab2d6;
}

.chrys-background-color-bokeh-paired-10-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-10-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-10-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-10-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-10-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-10-6 {
  background-color: #e31a1c;
}

.chrys-background-color-bokeh-paired-10-7 {
  background-color: #fdbf6f;
}

.chrys-background-color-bokeh-paired-10-8 {
  background-color: #ff7f00;
}

.chrys-background-color-bokeh-paired-10-9 {
  background-color: #cab2d6;
}

.chrys-background-color-bokeh-paired-10-10 {
  background-color: #6a3d9a;
}

.chrys-background-color-bokeh-paired-11-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-11-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-11-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-11-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-11-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-11-6 {
  background-color: #e31a1c;
}

.chrys-background-color-bokeh-paired-11-7 {
  background-color: #fdbf6f;
}

.chrys-background-color-bokeh-paired-11-8 {
  background-color: #ff7f00;
}

.chrys-background-color-bokeh-paired-11-9 {
  background-color: #cab2d6;
}

.chrys-background-color-bokeh-paired-11-10 {
  background-color: #6a3d9a;
}

.chrys-background-color-bokeh-paired-11-11 {
  background-color: #ffff99;
}

.chrys-background-color-bokeh-paired-12-1 {
  background-color: #a6cee3;
}

.chrys-background-color-bokeh-paired-12-2 {
  background-color: #1f78b4;
}

.chrys-background-color-bokeh-paired-12-3 {
  background-color: #b2df8a;
}

.chrys-background-color-bokeh-paired-12-4 {
  background-color: #33a02c;
}

.chrys-background-color-bokeh-paired-12-5 {
  background-color: #fb9a99;
}

.chrys-background-color-bokeh-paired-12-6 {
  background-color: #e31a1c;
}

.chrys-background-color-bokeh-paired-12-7 {
  background-color: #fdbf6f;
}

.chrys-background-color-bokeh-paired-12-8 {
  background-color: #ff7f00;
}

.chrys-background-color-bokeh-paired-12-9 {
  background-color: #cab2d6;
}

.chrys-background-color-bokeh-paired-12-10 {
  background-color: #6a3d9a;
}

.chrys-background-color-bokeh-paired-12-11 {
  background-color: #ffff99;
}

.chrys-background-color-bokeh-paired-12-12 {
  background-color: #b15928;
}