.chrys-background-color-bokeh-reds-3-1 {
  background-color: #de2d26;
}

.chrys-background-color-bokeh-reds-3-2 {
  background-color: #fc9272;
}

.chrys-background-color-bokeh-reds-3-3 {
  background-color: #fee0d2;
}

.chrys-background-color-bokeh-reds-4-1 {
  background-color: #cb181d;
}

.chrys-background-color-bokeh-reds-4-2 {
  background-color: #fb6a4a;
}

.chrys-background-color-bokeh-reds-4-3 {
  background-color: #fcae91;
}

.chrys-background-color-bokeh-reds-4-4 {
  background-color: #fee5d9;
}

.chrys-background-color-bokeh-reds-5-1 {
  background-color: #a50f15;
}

.chrys-background-color-bokeh-reds-5-2 {
  background-color: #de2d26;
}

.chrys-background-color-bokeh-reds-5-3 {
  background-color: #fb6a4a;
}

.chrys-background-color-bokeh-reds-5-4 {
  background-color: #fcae91;
}

.chrys-background-color-bokeh-reds-5-5 {
  background-color: #fee5d9;
}

.chrys-background-color-bokeh-reds-6-1 {
  background-color: #a50f15;
}

.chrys-background-color-bokeh-reds-6-2 {
  background-color: #de2d26;
}

.chrys-background-color-bokeh-reds-6-3 {
  background-color: #fb6a4a;
}

.chrys-background-color-bokeh-reds-6-4 {
  background-color: #fc9272;
}

.chrys-background-color-bokeh-reds-6-5 {
  background-color: #fcbba1;
}

.chrys-background-color-bokeh-reds-6-6 {
  background-color: #fee5d9;
}

.chrys-background-color-bokeh-reds-7-1 {
  background-color: #99000d;
}

.chrys-background-color-bokeh-reds-7-2 {
  background-color: #cb181d;
}

.chrys-background-color-bokeh-reds-7-3 {
  background-color: #ef3b2c;
}

.chrys-background-color-bokeh-reds-7-4 {
  background-color: #fb6a4a;
}

.chrys-background-color-bokeh-reds-7-5 {
  background-color: #fc9272;
}

.chrys-background-color-bokeh-reds-7-6 {
  background-color: #fcbba1;
}

.chrys-background-color-bokeh-reds-7-7 {
  background-color: #fee5d9;
}

.chrys-background-color-bokeh-reds-8-1 {
  background-color: #99000d;
}

.chrys-background-color-bokeh-reds-8-2 {
  background-color: #cb181d;
}

.chrys-background-color-bokeh-reds-8-3 {
  background-color: #ef3b2c;
}

.chrys-background-color-bokeh-reds-8-4 {
  background-color: #fb6a4a;
}

.chrys-background-color-bokeh-reds-8-5 {
  background-color: #fc9272;
}

.chrys-background-color-bokeh-reds-8-6 {
  background-color: #fcbba1;
}

.chrys-background-color-bokeh-reds-8-7 {
  background-color: #fee0d2;
}

.chrys-background-color-bokeh-reds-8-8 {
  background-color: #fff5f0;
}

.chrys-background-color-bokeh-reds-9-1 {
  background-color: #67000d;
}

.chrys-background-color-bokeh-reds-9-2 {
  background-color: #a50f15;
}

.chrys-background-color-bokeh-reds-9-3 {
  background-color: #cb181d;
}

.chrys-background-color-bokeh-reds-9-4 {
  background-color: #ef3b2c;
}

.chrys-background-color-bokeh-reds-9-5 {
  background-color: #fb6a4a;
}

.chrys-background-color-bokeh-reds-9-6 {
  background-color: #fc9272;
}

.chrys-background-color-bokeh-reds-9-7 {
  background-color: #fcbba1;
}

.chrys-background-color-bokeh-reds-9-8 {
  background-color: #fee0d2;
}

.chrys-background-color-bokeh-reds-9-9 {
  background-color: #fff5f0;
}