.chrys-background-color-vega-browns-1-1 {
  background-color: #d18954;
}

.chrys-background-color-vega-browns-2-1 {
  background-color: #e1a360;
}

.chrys-background-color-vega-browns-2-2 {
  background-color: #c26d43;
}

.chrys-background-color-vega-browns-3-1 {
  background-color: #e7b170;
}

.chrys-background-color-vega-browns-3-2 {
  background-color: #d18954;
}

.chrys-background-color-vega-browns-3-3 {
  background-color: #bc5e3b;
}

.chrys-background-color-vega-browns-4-1 {
  background-color: #e9b97a;
}

.chrys-background-color-vega-browns-4-2 {
  background-color: #dc9856;
}

.chrys-background-color-vega-browns-4-3 {
  background-color: #c7784c;
}

.chrys-background-color-vega-browns-4-4 {
  background-color: #b85536;
}

.chrys-background-color-vega-browns-5-1 {
  background-color: #eabf83;
}

.chrys-background-color-vega-browns-5-2 {
  background-color: #e1a360;
}

.chrys-background-color-vega-browns-5-3 {
  background-color: #d18954;
}

.chrys-background-color-vega-browns-5-4 {
  background-color: #c26d43;
}

.chrys-background-color-vega-browns-5-5 {
  background-color: #b44f35;
}

.chrys-background-color-vega-browns-6-1 {
  background-color: #ebc38a;
}

.chrys-background-color-vega-browns-6-2 {
  background-color: #e5aa68;
}

.chrys-background-color-vega-browns-6-3 {
  background-color: #d99455;
}

.chrys-background-color-vega-browns-6-4 {
  background-color: #ca7d4e;
}

.chrys-background-color-vega-browns-6-5 {
  background-color: #bf643e;
}

.chrys-background-color-vega-browns-6-6 {
  background-color: #b24b34;
}

.chrys-background-color-vega-browns-7-1 {
  background-color: #ebc68f;
}

.chrys-background-color-vega-browns-7-2 {
  background-color: #e7b170;
}

.chrys-background-color-vega-browns-7-3 {
  background-color: #de9c5a;
}

.chrys-background-color-vega-browns-7-4 {
  background-color: #d18954;
}

.chrys-background-color-vega-browns-7-5 {
  background-color: #c57449;
}

.chrys-background-color-vega-browns-7-6 {
  background-color: #bc5e3b;
}

.chrys-background-color-vega-browns-7-7 {
  background-color: #b04834;
}

.chrys-background-color-vega-browns-8-1 {
  background-color: #ecc893;
}

.chrys-background-color-vega-browns-8-2 {
  background-color: #e8b575;
}

.chrys-background-color-vega-browns-8-3 {
  background-color: #e1a360;
}

.chrys-background-color-vega-browns-8-4 {
  background-color: #d79155;
}

.chrys-background-color-vega-browns-8-5 {
  background-color: #cb8050;
}

.chrys-background-color-vega-browns-8-6 {
  background-color: #c26d43;
}

.chrys-background-color-vega-browns-8-7 {
  background-color: #ba5938;
}

.chrys-background-color-vega-browns-8-8 {
  background-color: #ae4633;
}

.chrys-background-color-vega-browns-9-1 {
  background-color: #ecca96;
}

.chrys-background-color-vega-browns-9-2 {
  background-color: #e9b97a;
}

.chrys-background-color-vega-browns-9-3 {
  background-color: #e4a865;
}

.chrys-background-color-vega-browns-9-4 {
  background-color: #dc9856;
}

.chrys-background-color-vega-browns-9-5 {
  background-color: #d18954;
}

.chrys-background-color-vega-browns-9-6 {
  background-color: #c7784c;
}

.chrys-background-color-vega-browns-9-7 {
  background-color: #c0673f;
}

.chrys-background-color-vega-browns-9-8 {
  background-color: #b85536;
}

.chrys-background-color-vega-browns-9-9 {
  background-color: #ad4433;
}