[project]
name = "xcolle-api"
authors = [{name = "NTFSvolume"}]
dependencies = [
    "aiohttp>=3.12.15",
    "aiolimiter>=1.2.1",
    "beautifulsoup4>=4.13.4",
    "html2text>=2025.4.15"
]
description = "A Python library providing an asynchronous API interface for pcolle.com / gcolle.net"
license = "LGPL-3.0-only"
license-files = ["LICENSE"]
readme = "README.md"
requires-python = ">=3.11"
version = "0.1.4"

[project.scripts]
xcolle-api = "xcolle_api.__main__:run"

[project.urls]
Homepage = "https://github.com/NTFSvolume/xcolle-api"

[tool.coverage.run]
omit = [
    "**/__init__.py",
    ".tox/*",
    "dist/*",
    "tests/*"
]

[tool.mypy]
allow_redefinition = true
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
ignore_missing_imports = true
mypy_path = "xcolle_api"
no_implicit_optional = true
packages = "xcolle_api"
show_error_codes = true
sqlite_cache = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.pytest.ini_options]
addopts = "-ra -s -v --import-mode=importlib"
asyncio_default_fixture_loop_scope = "function"
asyncio_mode = "auto"
testpaths = ["tests"]

[tool.ruff]
line-length = 100
target-version = "py311"

[tool.ruff.lint]
select = [
    "B",  # flake8-bugbear
    "C4",  # flake8-comprehensions
    "COM8",  # flake8-commas linter
    "E",  # pycodestyle errors
    "F",  # pyflakes
    "FA102",  # future annotations
    "FURB188",  # slice-to-remove-prefix-or-suffix
    "I",  # isort
    "N",  # PEP8 naming conventions
    "PLR1716",  # boolean chained comparison
    "Q",  # flake8-quotes
    "RUF",  # RUF specific fixes
    "T20",  # flake8-print
    "TC",  # flake8-type-checking
    "TID",  # flake8-tidy-imports
    "UP",  # pyupgrade
    "W"  # pycodestyle warnings
]
extend-safe-fixes = [
    "TC"  # move import from and to TYPE_CHECKING blocks
]
ignore = [
    "COM812",  # missing-trailing-comma
    "E501",  # suppress line-too-long, let formatter decide
    "RUF001"  # ambiguous-unicode-character-string
]

[tool.tomlsort]
all = true
ignore_case = true
in_place = true
sort_first = ["name", "project", "select", "tool"]
spaces_before_inline_comment = 2
spaces_indent_inline_array = 4

[tool.uv.build-backend]
module-name = "xcolle_api"
module-root = ""

[build-system]
build-backend = "uv_build"
requires = ["uv_build>=0.8.17,<0.9.0"]

[dependency-groups]
dev = [
    "mypy>=1.18.1",
    "pre-commit>=4.3.0",
    "pytest-asyncio>=1.1.0",
    "pytest-cov>=6.2.1",
    "pytest>=8.4.2",
    "ruff>=0.13.0"
]
