pre#qube {
    font-family: monospace;
    white-space: pre;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 12px;
    line-height: 1.4;

    details {
        margin-left: 0;
    }

    .qubed-level a {
        margin-left: 10px;
        text-decoration: none;
    }

    summary {
        list-style: none;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
        display: block;
    }

    span.qubed-node:hover {
        background-color: #f0f0f0;
    }

    details > summary::after {
        content: ' ▲';
    }

    details:not([open]) > summary::after {
        content: " ▼";
    }

    .qubed-level {
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
        display: block;
    }

    summary::-webkit-details-marker {
      display: none;
      content: "";
    }

}
