.with-scroll, pre {
  // Override Firefox scrollbar style
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  // Override Chrome scrollbar styles
  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }

  &:hover {
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
    }
  }
}