.chrys-background-color-bokeh-colorblind-3-1 {
  background-color: #0072b2;
}

.chrys-background-color-bokeh-colorblind-3-2 {
  background-color: #e69f00;
}

.chrys-background-color-bokeh-colorblind-3-3 {
  background-color: #f0e442;
}

.chrys-background-color-bokeh-colorblind-4-1 {
  background-color: #0072b2;
}

.chrys-background-color-bokeh-colorblind-4-2 {
  background-color: #e69f00;
}

.chrys-background-color-bokeh-colorblind-4-3 {
  background-color: #f0e442;
}

.chrys-background-color-bokeh-colorblind-4-4 {
  background-color: #009e73;
}

.chrys-background-color-bokeh-colorblind-5-1 {
  background-color: #0072b2;
}

.chrys-background-color-bokeh-colorblind-5-2 {
  background-color: #e69f00;
}

.chrys-background-color-bokeh-colorblind-5-3 {
  background-color: #f0e442;
}

.chrys-background-color-bokeh-colorblind-5-4 {
  background-color: #009e73;
}

.chrys-background-color-bokeh-colorblind-5-5 {
  background-color: #56b4e9;
}

.chrys-background-color-bokeh-colorblind-6-1 {
  background-color: #0072b2;
}

.chrys-background-color-bokeh-colorblind-6-2 {
  background-color: #e69f00;
}

.chrys-background-color-bokeh-colorblind-6-3 {
  background-color: #f0e442;
}

.chrys-background-color-bokeh-colorblind-6-4 {
  background-color: #009e73;
}

.chrys-background-color-bokeh-colorblind-6-5 {
  background-color: #56b4e9;
}

.chrys-background-color-bokeh-colorblind-6-6 {
  background-color: #d55e00;
}

.chrys-background-color-bokeh-colorblind-7-1 {
  background-color: #0072b2;
}

.chrys-background-color-bokeh-colorblind-7-2 {
  background-color: #e69f00;
}

.chrys-background-color-bokeh-colorblind-7-3 {
  background-color: #f0e442;
}

.chrys-background-color-bokeh-colorblind-7-4 {
  background-color: #009e73;
}

.chrys-background-color-bokeh-colorblind-7-5 {
  background-color: #56b4e9;
}

.chrys-background-color-bokeh-colorblind-7-6 {
  background-color: #d55e00;
}

.chrys-background-color-bokeh-colorblind-7-7 {
  background-color: #cc79a7;
}

.chrys-background-color-bokeh-colorblind-8-1 {
  background-color: #0072b2;
}

.chrys-background-color-bokeh-colorblind-8-2 {
  background-color: #e69f00;
}

.chrys-background-color-bokeh-colorblind-8-3 {
  background-color: #f0e442;
}

.chrys-background-color-bokeh-colorblind-8-4 {
  background-color: #009e73;
}

.chrys-background-color-bokeh-colorblind-8-5 {
  background-color: #56b4e9;
}

.chrys-background-color-bokeh-colorblind-8-6 {
  background-color: #d55e00;
}

.chrys-background-color-bokeh-colorblind-8-7 {
  background-color: #cc79a7;
}

.chrys-background-color-bokeh-colorblind-8-8 {
  background-color: #000000;
}