.chrys-background-color-bokeh-pastel-2-3-1 {
  background-color: #b3e2cd;
}

.chrys-background-color-bokeh-pastel-2-3-2 {
  background-color: #fdcdac;
}

.chrys-background-color-bokeh-pastel-2-3-3 {
  background-color: #cbd5e8;
}

.chrys-background-color-bokeh-pastel-2-4-1 {
  background-color: #b3e2cd;
}

.chrys-background-color-bokeh-pastel-2-4-2 {
  background-color: #fdcdac;
}

.chrys-background-color-bokeh-pastel-2-4-3 {
  background-color: #cbd5e8;
}

.chrys-background-color-bokeh-pastel-2-4-4 {
  background-color: #f4cae4;
}

.chrys-background-color-bokeh-pastel-2-5-1 {
  background-color: #b3e2cd;
}

.chrys-background-color-bokeh-pastel-2-5-2 {
  background-color: #fdcdac;
}

.chrys-background-color-bokeh-pastel-2-5-3 {
  background-color: #cbd5e8;
}

.chrys-background-color-bokeh-pastel-2-5-4 {
  background-color: #f4cae4;
}

.chrys-background-color-bokeh-pastel-2-5-5 {
  background-color: #e6f5c9;
}

.chrys-background-color-bokeh-pastel-2-6-1 {
  background-color: #b3e2cd;
}

.chrys-background-color-bokeh-pastel-2-6-2 {
  background-color: #fdcdac;
}

.chrys-background-color-bokeh-pastel-2-6-3 {
  background-color: #cbd5e8;
}

.chrys-background-color-bokeh-pastel-2-6-4 {
  background-color: #f4cae4;
}

.chrys-background-color-bokeh-pastel-2-6-5 {
  background-color: #e6f5c9;
}

.chrys-background-color-bokeh-pastel-2-6-6 {
  background-color: #fff2ae;
}

.chrys-background-color-bokeh-pastel-2-7-1 {
  background-color: #b3e2cd;
}

.chrys-background-color-bokeh-pastel-2-7-2 {
  background-color: #fdcdac;
}

.chrys-background-color-bokeh-pastel-2-7-3 {
  background-color: #cbd5e8;
}

.chrys-background-color-bokeh-pastel-2-7-4 {
  background-color: #f4cae4;
}

.chrys-background-color-bokeh-pastel-2-7-5 {
  background-color: #e6f5c9;
}

.chrys-background-color-bokeh-pastel-2-7-6 {
  background-color: #fff2ae;
}

.chrys-background-color-bokeh-pastel-2-7-7 {
  background-color: #f1e2cc;
}

.chrys-background-color-bokeh-pastel-2-8-1 {
  background-color: #b3e2cd;
}

.chrys-background-color-bokeh-pastel-2-8-2 {
  background-color: #fdcdac;
}

.chrys-background-color-bokeh-pastel-2-8-3 {
  background-color: #cbd5e8;
}

.chrys-background-color-bokeh-pastel-2-8-4 {
  background-color: #f4cae4;
}

.chrys-background-color-bokeh-pastel-2-8-5 {
  background-color: #e6f5c9;
}

.chrys-background-color-bokeh-pastel-2-8-6 {
  background-color: #fff2ae;
}

.chrys-background-color-bokeh-pastel-2-8-7 {
  background-color: #f1e2cc;
}

.chrys-background-color-bokeh-pastel-2-8-8 {
  background-color: #cccccc;
}