.chrys-background-color-vega-plasma-1-1 {
  background-color: #cb4779;
}

.chrys-background-color-vega-plasma-2-1 {
  background-color: #9c179e;
}

.chrys-background-color-vega-plasma-2-2 {
  background-color: #ed7953;
}

.chrys-background-color-vega-plasma-3-1 {
  background-color: #7e03a8;
}

.chrys-background-color-vega-plasma-3-2 {
  background-color: #cb4779;
}

.chrys-background-color-vega-plasma-3-3 {
  background-color: #f89541;
}

.chrys-background-color-vega-plasma-4-1 {
  background-color: #6a00a8;
}

.chrys-background-color-vega-plasma-4-2 {
  background-color: #b12a90;
}

.chrys-background-color-vega-plasma-4-3 {
  background-color: #e16462;
}

.chrys-background-color-vega-plasma-4-4 {
  background-color: #fca636;
}

.chrys-background-color-vega-plasma-5-1 {
  background-color: #5d01a6;
}

.chrys-background-color-vega-plasma-5-2 {
  background-color: #9c179e;
}

.chrys-background-color-vega-plasma-5-3 {
  background-color: #cb4779;
}

.chrys-background-color-vega-plasma-5-4 {
  background-color: #ed7953;
}

.chrys-background-color-vega-plasma-5-5 {
  background-color: #fdb32f;
}

.chrys-background-color-vega-plasma-6-1 {
  background-color: #5402a3;
}

.chrys-background-color-vega-plasma-6-2 {
  background-color: #8b0aa5;
}

.chrys-background-color-vega-plasma-6-3 {
  background-color: #b93389;
}

.chrys-background-color-vega-plasma-6-4 {
  background-color: #db5b68;
}

.chrys-background-color-vega-plasma-6-5 {
  background-color: #f48849;
}

.chrys-background-color-vega-plasma-6-6 {
  background-color: #febc2b;
}

.chrys-background-color-vega-plasma-7-1 {
  background-color: #4d02a1;
}

.chrys-background-color-vega-plasma-7-2 {
  background-color: #7e03a8;
}

.chrys-background-color-vega-plasma-7-3 {
  background-color: #aa2396;
}

.chrys-background-color-vega-plasma-7-4 {
  background-color: #cb4779;
}

.chrys-background-color-vega-plasma-7-5 {
  background-color: #e66c5d;
}

.chrys-background-color-vega-plasma-7-6 {
  background-color: #f89541;
}

.chrys-background-color-vega-plasma-7-7 {
  background-color: #fec428;
}

.chrys-background-color-vega-plasma-8-1 {
  background-color: #47039f;
}

.chrys-background-color-vega-plasma-8-2 {
  background-color: #7301a8;
}

.chrys-background-color-vega-plasma-8-3 {
  background-color: #9c179e;
}

.chrys-background-color-vega-plasma-8-4 {
  background-color: #bd3785;
}

.chrys-background-color-vega-plasma-8-5 {
  background-color: #d8576c;
}

.chrys-background-color-vega-plasma-8-6 {
  background-color: #ed7953;
}

.chrys-background-color-vega-plasma-8-7 {
  background-color: #fb9e3b;
}

.chrys-background-color-vega-plasma-8-8 {
  background-color: #fdc926;
}

.chrys-background-color-vega-plasma-9-1 {
  background-color: #42039d;
}

.chrys-background-color-vega-plasma-9-2 {
  background-color: #6a00a8;
}

.chrys-background-color-vega-plasma-9-3 {
  background-color: #900da4;
}

.chrys-background-color-vega-plasma-9-4 {
  background-color: #b12a90;
}

.chrys-background-color-vega-plasma-9-5 {
  background-color: #cb4779;
}

.chrys-background-color-vega-plasma-9-6 {
  background-color: #e16462;
}

.chrys-background-color-vega-plasma-9-7 {
  background-color: #f2834c;
}

.chrys-background-color-vega-plasma-9-8 {
  background-color: #fca636;
}

.chrys-background-color-vega-plasma-9-9 {
  background-color: #fcce25;
}

.chrys-background-color-vega-plasma-256-1 {
  background-color: #100888;
}

.chrys-background-color-vega-plasma-256-2 {
  background-color: #120889;
}

.chrys-background-color-vega-plasma-256-3 {
  background-color: #15078a;
}

.chrys-background-color-vega-plasma-256-4 {
  background-color: #17078b;
}

.chrys-background-color-vega-plasma-256-5 {
  background-color: #1a078c;
}

.chrys-background-color-vega-plasma-256-6 {
  background-color: #1c078d;
}

.chrys-background-color-vega-plasma-256-7 {
  background-color: #1f068e;
}

.chrys-background-color-vega-plasma-256-8 {
  background-color: #22068f;
}

.chrys-background-color-vega-plasma-256-9 {
  background-color: #240690;
}

.chrys-background-color-vega-plasma-256-10 {
  background-color: #260691;
}

.chrys-background-color-vega-plasma-256-11 {
  background-color: #280692;
}

.chrys-background-color-vega-plasma-256-12 {
  background-color: #290693;
}

.chrys-background-color-vega-plasma-256-13 {
  background-color: #2b0594;
}

.chrys-background-color-vega-plasma-256-14 {
  background-color: #2d0594;
}

.chrys-background-color-vega-plasma-256-15 {
  background-color: #2f0595;
}

.chrys-background-color-vega-plasma-256-16 {
  background-color: #310596;
}

.chrys-background-color-vega-plasma-256-17 {
  background-color: #330597;
}

.chrys-background-color-vega-plasma-256-18 {
  background-color: #350598;
}

.chrys-background-color-vega-plasma-256-19 {
  background-color: #360598;
}

.chrys-background-color-vega-plasma-256-20 {
  background-color: #380499;
}

.chrys-background-color-vega-plasma-256-21 {
  background-color: #3a049a;
}

.chrys-background-color-vega-plasma-256-22 {
  background-color: #3c049a;
}

.chrys-background-color-vega-plasma-256-23 {
  background-color: #3d049b;
}

.chrys-background-color-vega-plasma-256-24 {
  background-color: #3f039c;
}

.chrys-background-color-vega-plasma-256-25 {
  background-color: #41039d;
}

.chrys-background-color-vega-plasma-256-26 {
  background-color: #42039d;
}

.chrys-background-color-vega-plasma-256-27 {
  background-color: #44039e;
}

.chrys-background-color-vega-plasma-256-28 {
  background-color: #46039e;
}

.chrys-background-color-vega-plasma-256-29 {
  background-color: #47039f;
}

.chrys-background-color-vega-plasma-256-30 {
  background-color: #4902a0;
}

.chrys-background-color-vega-plasma-256-31 {
  background-color: #4b02a0;
}

.chrys-background-color-vega-plasma-256-32 {
  background-color: #4c02a1;
}

.chrys-background-color-vega-plasma-256-33 {
  background-color: #4e02a1;
}

.chrys-background-color-vega-plasma-256-34 {
  background-color: #5002a2;
}

.chrys-background-color-vega-plasma-256-35 {
  background-color: #5102a2;
}

.chrys-background-color-vega-plasma-256-36 {
  background-color: #5302a3;
}

.chrys-background-color-vega-plasma-256-37 {
  background-color: #5402a3;
}

.chrys-background-color-vega-plasma-256-38 {
  background-color: #5602a4;
}

.chrys-background-color-vega-plasma-256-39 {
  background-color: #5701a4;
}

.chrys-background-color-vega-plasma-256-40 {
  background-color: #5901a5;
}

.chrys-background-color-vega-plasma-256-41 {
  background-color: #5a01a5;
}

.chrys-background-color-vega-plasma-256-42 {
  background-color: #5c01a6;
}

.chrys-background-color-vega-plasma-256-43 {
  background-color: #5d01a6;
}

.chrys-background-color-vega-plasma-256-44 {
  background-color: #5f01a6;
}

.chrys-background-color-vega-plasma-256-45 {
  background-color: #6001a7;
}

.chrys-background-color-vega-plasma-256-46 {
  background-color: #6201a7;
}

.chrys-background-color-vega-plasma-256-47 {
  background-color: #6301a7;
}

.chrys-background-color-vega-plasma-256-48 {
  background-color: #6500a7;
}

.chrys-background-color-vega-plasma-256-49 {
  background-color: #6600a7;
}

.chrys-background-color-vega-plasma-256-50 {
  background-color: #6800a8;
}

.chrys-background-color-vega-plasma-256-51 {
  background-color: #6900a8;
}

.chrys-background-color-vega-plasma-256-52 {
  background-color: #6b00a8;
}

.chrys-background-color-vega-plasma-256-53 {
  background-color: #6d00a8;
}

.chrys-background-color-vega-plasma-256-54 {
  background-color: #6e00a8;
}

.chrys-background-color-vega-plasma-256-55 {
  background-color: #7000a8;
}

.chrys-background-color-vega-plasma-256-56 {
  background-color: #7201a8;
}

.chrys-background-color-vega-plasma-256-57 {
  background-color: #7301a8;
}

.chrys-background-color-vega-plasma-256-58 {
  background-color: #7501a8;
}

.chrys-background-color-vega-plasma-256-59 {
  background-color: #7601a8;
}

.chrys-background-color-vega-plasma-256-60 {
  background-color: #7801a8;
}

.chrys-background-color-vega-plasma-256-61 {
  background-color: #7901a8;
}

.chrys-background-color-vega-plasma-256-62 {
  background-color: #7b02a8;
}

.chrys-background-color-vega-plasma-256-63 {
  background-color: #7c02a8;
}

.chrys-background-color-vega-plasma-256-64 {
  background-color: #7e03a8;
}

.chrys-background-color-vega-plasma-256-65 {
  background-color: #7f03a7;
}

.chrys-background-color-vega-plasma-256-66 {
  background-color: #8004a7;
}

.chrys-background-color-vega-plasma-256-67 {
  background-color: #8204a7;
}

.chrys-background-color-vega-plasma-256-68 {
  background-color: #8305a7;
}

.chrys-background-color-vega-plasma-256-69 {
  background-color: #8505a7;
}

.chrys-background-color-vega-plasma-256-70 {
  background-color: #8606a6;
}

.chrys-background-color-vega-plasma-256-71 {
  background-color: #8707a6;
}

.chrys-background-color-vega-plasma-256-72 {
  background-color: #8908a6;
}

.chrys-background-color-vega-plasma-256-73 {
  background-color: #8a09a5;
}

.chrys-background-color-vega-plasma-256-74 {
  background-color: #8c0aa5;
}

.chrys-background-color-vega-plasma-256-75 {
  background-color: #8d0ba5;
}

.chrys-background-color-vega-plasma-256-76 {
  background-color: #8e0ca4;
}

.chrys-background-color-vega-plasma-256-77 {
  background-color: #900da4;
}

.chrys-background-color-vega-plasma-256-78 {
  background-color: #910ea3;
}

.chrys-background-color-vega-plasma-256-79 {
  background-color: #930fa3;
}

.chrys-background-color-vega-plasma-256-80 {
  background-color: #9410a2;
}

.chrys-background-color-vega-plasma-256-81 {
  background-color: #9512a1;
}

.chrys-background-color-vega-plasma-256-82 {
  background-color: #9713a1;
}

.chrys-background-color-vega-plasma-256-83 {
  background-color: #9814a0;
}

.chrys-background-color-vega-plasma-256-84 {
  background-color: #9a159f;
}

.chrys-background-color-vega-plasma-256-85 {
  background-color: #9b169e;
}

.chrys-background-color-vega-plasma-256-86 {
  background-color: #9c179e;
}

.chrys-background-color-vega-plasma-256-87 {
  background-color: #9e199d;
}

.chrys-background-color-vega-plasma-256-88 {
  background-color: #9f1a9c;
}

.chrys-background-color-vega-plasma-256-89 {
  background-color: #a01b9c;
}

.chrys-background-color-vega-plasma-256-90 {
  background-color: #a21c9b;
}

.chrys-background-color-vega-plasma-256-91 {
  background-color: #a31d9a;
}

.chrys-background-color-vega-plasma-256-92 {
  background-color: #a41e9a;
}

.chrys-background-color-vega-plasma-256-93 {
  background-color: #a52099;
}

.chrys-background-color-vega-plasma-256-94 {
  background-color: #a72198;
}

.chrys-background-color-vega-plasma-256-95 {
  background-color: #a82297;
}

.chrys-background-color-vega-plasma-256-96 {
  background-color: #a92396;
}

.chrys-background-color-vega-plasma-256-97 {
  background-color: #aa2495;
}

.chrys-background-color-vega-plasma-256-98 {
  background-color: #ab2594;
}

.chrys-background-color-vega-plasma-256-99 {
  background-color: #ad2694;
}

.chrys-background-color-vega-plasma-256-100 {
  background-color: #ae2793;
}

.chrys-background-color-vega-plasma-256-101 {
  background-color: #af2892;
}

.chrys-background-color-vega-plasma-256-102 {
  background-color: #b02991;
}

.chrys-background-color-vega-plasma-256-103 {
  background-color: #b12a90;
}

.chrys-background-color-vega-plasma-256-104 {
  background-color: #b22b8f;
}

.chrys-background-color-vega-plasma-256-105 {
  background-color: #b32d8e;
}

.chrys-background-color-vega-plasma-256-106 {
  background-color: #b42e8d;
}

.chrys-background-color-vega-plasma-256-107 {
  background-color: #b52f8c;
}

.chrys-background-color-vega-plasma-256-108 {
  background-color: #b6308b;
}

.chrys-background-color-vega-plasma-256-109 {
  background-color: #b8318a;
}

.chrys-background-color-vega-plasma-256-110 {
  background-color: #b93289;
}

.chrys-background-color-vega-plasma-256-111 {
  background-color: #ba3488;
}

.chrys-background-color-vega-plasma-256-112 {
  background-color: #bb3587;
}

.chrys-background-color-vega-plasma-256-113 {
  background-color: #bc3686;
}

.chrys-background-color-vega-plasma-256-114 {
  background-color: #bd3786;
}

.chrys-background-color-vega-plasma-256-115 {
  background-color: #be3885;
}

.chrys-background-color-vega-plasma-256-116 {
  background-color: #bf3984;
}

.chrys-background-color-vega-plasma-256-117 {
  background-color: #c03a83;
}

.chrys-background-color-vega-plasma-256-118 {
  background-color: #c13b82;
}

.chrys-background-color-vega-plasma-256-119 {
  background-color: #c23c81;
}

.chrys-background-color-vega-plasma-256-120 {
  background-color: #c33d80;
}

.chrys-background-color-vega-plasma-256-121 {
  background-color: #c43e7f;
}

.chrys-background-color-vega-plasma-256-122 {
  background-color: #c53f7e;
}

.chrys-background-color-vega-plasma-256-123 {
  background-color: #c6417d;
}

.chrys-background-color-vega-plasma-256-124 {
  background-color: #c7427d;
}

.chrys-background-color-vega-plasma-256-125 {
  background-color: #c8437c;
}

.chrys-background-color-vega-plasma-256-126 {
  background-color: #c9447b;
}

.chrys-background-color-vega-plasma-256-127 {
  background-color: #ca457a;
}

.chrys-background-color-vega-plasma-256-128 {
  background-color: #cb4679;
}

.chrys-background-color-vega-plasma-256-129 {
  background-color: #cb4879;
}

.chrys-background-color-vega-plasma-256-130 {
  background-color: #cc4978;
}

.chrys-background-color-vega-plasma-256-131 {
  background-color: #cd4a77;
}

.chrys-background-color-vega-plasma-256-132 {
  background-color: #ce4b76;
}

.chrys-background-color-vega-plasma-256-133 {
  background-color: #cf4c75;
}

.chrys-background-color-vega-plasma-256-134 {
  background-color: #d04d74;
}

.chrys-background-color-vega-plasma-256-135 {
  background-color: #d14f73;
}

.chrys-background-color-vega-plasma-256-136 {
  background-color: #d25072;
}

.chrys-background-color-vega-plasma-256-137 {
  background-color: #d35171;
}

.chrys-background-color-vega-plasma-256-138 {
  background-color: #d45270;
}

.chrys-background-color-vega-plasma-256-139 {
  background-color: #d5536f;
}

.chrys-background-color-vega-plasma-256-140 {
  background-color: #d5546e;
}

.chrys-background-color-vega-plasma-256-141 {
  background-color: #d6556d;
}

.chrys-background-color-vega-plasma-256-142 {
  background-color: #d7566c;
}

.chrys-background-color-vega-plasma-256-143 {
  background-color: #d8576b;
}

.chrys-background-color-vega-plasma-256-144 {
  background-color: #d9586b;
}

.chrys-background-color-vega-plasma-256-145 {
  background-color: #d9596a;
}

.chrys-background-color-vega-plasma-256-146 {
  background-color: #da5a69;
}

.chrys-background-color-vega-plasma-256-147 {
  background-color: #db5c68;
}

.chrys-background-color-vega-plasma-256-148 {
  background-color: #dc5d67;
}

.chrys-background-color-vega-plasma-256-149 {
  background-color: #dd5e66;
}

.chrys-background-color-vega-plasma-256-150 {
  background-color: #de5f65;
}

.chrys-background-color-vega-plasma-256-151 {
  background-color: #de6065;
}

.chrys-background-color-vega-plasma-256-152 {
  background-color: #df6164;
}

.chrys-background-color-vega-plasma-256-153 {
  background-color: #e06363;
}

.chrys-background-color-vega-plasma-256-154 {
  background-color: #e16462;
}

.chrys-background-color-vega-plasma-256-155 {
  background-color: #e26561;
}

.chrys-background-color-vega-plasma-256-156 {
  background-color: #e26661;
}

.chrys-background-color-vega-plasma-256-157 {
  background-color: #e36760;
}

.chrys-background-color-vega-plasma-256-158 {
  background-color: #e4685f;
}

.chrys-background-color-vega-plasma-256-159 {
  background-color: #e46a5e;
}

.chrys-background-color-vega-plasma-256-160 {
  background-color: #e56b5d;
}

.chrys-background-color-vega-plasma-256-161 {
  background-color: #e66c5c;
}

.chrys-background-color-vega-plasma-256-162 {
  background-color: #e66d5c;
}

.chrys-background-color-vega-plasma-256-163 {
  background-color: #e76e5b;
}

.chrys-background-color-vega-plasma-256-164 {
  background-color: #e8705a;
}

.chrys-background-color-vega-plasma-256-165 {
  background-color: #e97159;
}

.chrys-background-color-vega-plasma-256-166 {
  background-color: #e97258;
}

.chrys-background-color-vega-plasma-256-167 {
  background-color: #ea7357;
}

.chrys-background-color-vega-plasma-256-168 {
  background-color: #eb7556;
}

.chrys-background-color-vega-plasma-256-169 {
  background-color: #eb7655;
}

.chrys-background-color-vega-plasma-256-170 {
  background-color: #ec7754;
}

.chrys-background-color-vega-plasma-256-171 {
  background-color: #ed7953;
}

.chrys-background-color-vega-plasma-256-172 {
  background-color: #ed7a52;
}

.chrys-background-color-vega-plasma-256-173 {
  background-color: #ee7b52;
}

.chrys-background-color-vega-plasma-256-174 {
  background-color: #ef7c51;
}

.chrys-background-color-vega-plasma-256-175 {
  background-color: #ef7d50;
}

.chrys-background-color-vega-plasma-256-176 {
  background-color: #f07e4f;
}

.chrys-background-color-vega-plasma-256-177 {
  background-color: #f0804e;
}

.chrys-background-color-vega-plasma-256-178 {
  background-color: #f1814e;
}

.chrys-background-color-vega-plasma-256-179 {
  background-color: #f1824d;
}

.chrys-background-color-vega-plasma-256-180 {
  background-color: #f2834c;
}

.chrys-background-color-vega-plasma-256-181 {
  background-color: #f3854b;
}

.chrys-background-color-vega-plasma-256-182 {
  background-color: #f3864a;
}

.chrys-background-color-vega-plasma-256-183 {
  background-color: #f38749;
}

.chrys-background-color-vega-plasma-256-184 {
  background-color: #f48948;
}

.chrys-background-color-vega-plasma-256-185 {
  background-color: #f48a47;
}

.chrys-background-color-vega-plasma-256-186 {
  background-color: #f58c46;
}

.chrys-background-color-vega-plasma-256-187 {
  background-color: #f58d45;
}

.chrys-background-color-vega-plasma-256-188 {
  background-color: #f68e44;
}

.chrys-background-color-vega-plasma-256-189 {
  background-color: #f69044;
}

.chrys-background-color-vega-plasma-256-190 {
  background-color: #f79143;
}

.chrys-background-color-vega-plasma-256-191 {
  background-color: #f79242;
}

.chrys-background-color-vega-plasma-256-192 {
  background-color: #f89441;
}

.chrys-background-color-vega-plasma-256-193 {
  background-color: #f89540;
}

.chrys-background-color-vega-plasma-256-194 {
  background-color: #f9963f;
}

.chrys-background-color-vega-plasma-256-195 {
  background-color: #f9973f;
}

.chrys-background-color-vega-plasma-256-196 {
  background-color: #fa993e;
}

.chrys-background-color-vega-plasma-256-197 {
  background-color: #fa9a3d;
}

.chrys-background-color-vega-plasma-256-198 {
  background-color: #fa9b3c;
}

.chrys-background-color-vega-plasma-256-199 {
  background-color: #fa9d3b;
}

.chrys-background-color-vega-plasma-256-200 {
  background-color: #fb9e3b;
}

.chrys-background-color-vega-plasma-256-201 {
  background-color: #fba03a;
}

.chrys-background-color-vega-plasma-256-202 {
  background-color: #fba139;
}

.chrys-background-color-vega-plasma-256-203 {
  background-color: #fba238;
}

.chrys-background-color-vega-plasma-256-204 {
  background-color: #fca437;
}

.chrys-background-color-vega-plasma-256-205 {
  background-color: #fca536;
}

.chrys-background-color-vega-plasma-256-206 {
  background-color: #fca736;
}

.chrys-background-color-vega-plasma-256-207 {
  background-color: #fca835;
}

.chrys-background-color-vega-plasma-256-208 {
  background-color: #fcaa34;
}

.chrys-background-color-vega-plasma-256-209 {
  background-color: #fcab33;
}

.chrys-background-color-vega-plasma-256-210 {
  background-color: #fdad32;
}

.chrys-background-color-vega-plasma-256-211 {
  background-color: #fdae32;
}

.chrys-background-color-vega-plasma-256-212 {
  background-color: #fdb031;
}

.chrys-background-color-vega-plasma-256-213 {
  background-color: #fdb130;
}

.chrys-background-color-vega-plasma-256-214 {
  background-color: #fdb32f;
}

.chrys-background-color-vega-plasma-256-215 {
  background-color: #fdb42e;
}

.chrys-background-color-vega-plasma-256-216 {
  background-color: #fdb62e;
}

.chrys-background-color-vega-plasma-256-217 {
  background-color: #fdb72d;
}

.chrys-background-color-vega-plasma-256-218 {
  background-color: #fdb92c;
}

.chrys-background-color-vega-plasma-256-219 {
  background-color: #feba2c;
}

.chrys-background-color-vega-plasma-256-220 {
  background-color: #febc2b;
}

.chrys-background-color-vega-plasma-256-221 {
  background-color: #febd2a;
}

.chrys-background-color-vega-plasma-256-222 {
  background-color: #febf2a;
}

.chrys-background-color-vega-plasma-256-223 {
  background-color: #fec029;
}

.chrys-background-color-vega-plasma-256-224 {
  background-color: #fec228;
}

.chrys-background-color-vega-plasma-256-225 {
  background-color: #fdc428;
}

.chrys-background-color-vega-plasma-256-226 {
  background-color: #fdc527;
}

.chrys-background-color-vega-plasma-256-227 {
  background-color: #fdc727;
}

.chrys-background-color-vega-plasma-256-228 {
  background-color: #fdc927;
}

.chrys-background-color-vega-plasma-256-229 {
  background-color: #fdca26;
}

.chrys-background-color-vega-plasma-256-230 {
  background-color: #fccc26;
}

.chrys-background-color-vega-plasma-256-231 {
  background-color: #fcce25;
}

.chrys-background-color-vega-plasma-256-232 {
  background-color: #fccf25;
}

.chrys-background-color-vega-plasma-256-233 {
  background-color: #fbd125;
}

.chrys-background-color-vega-plasma-256-234 {
  background-color: #fbd225;
}

.chrys-background-color-vega-plasma-256-235 {
  background-color: #fbd425;
}

.chrys-background-color-vega-plasma-256-236 {
  background-color: #fad624;
}

.chrys-background-color-vega-plasma-256-237 {
  background-color: #fad724;
}

.chrys-background-color-vega-plasma-256-238 {
  background-color: #fad924;
}

.chrys-background-color-vega-plasma-256-239 {
  background-color: #f9db24;
}

.chrys-background-color-vega-plasma-256-240 {
  background-color: #f9dc24;
}

.chrys-background-color-vega-plasma-256-241 {
  background-color: #f8de24;
}

.chrys-background-color-vega-plasma-256-242 {
  background-color: #f8df25;
}

.chrys-background-color-vega-plasma-256-243 {
  background-color: #f8e125;
}

.chrys-background-color-vega-plasma-256-244 {
  background-color: #f7e325;
}

.chrys-background-color-vega-plasma-256-245 {
  background-color: #f7e426;
}

.chrys-background-color-vega-plasma-256-246 {
  background-color: #f6e626;
}

.chrys-background-color-vega-plasma-256-247 {
  background-color: #f6e826;
}

.chrys-background-color-vega-plasma-256-248 {
  background-color: #f5e927;
}

.chrys-background-color-vega-plasma-256-249 {
  background-color: #f5eb27;
}

.chrys-background-color-vega-plasma-256-250 {
  background-color: #f4ed26;
}

.chrys-background-color-vega-plasma-256-251 {
  background-color: #f4ee25;
}

.chrys-background-color-vega-plasma-256-252 {
  background-color: #f3f025;
}

.chrys-background-color-vega-plasma-256-253 {
  background-color: #f2f224;
}

.chrys-background-color-vega-plasma-256-254 {
  background-color: #f2f423;
}

.chrys-background-color-vega-plasma-256-255 {
  background-color: #f1f522;
}

.chrys-background-color-vega-plasma-256-256 {
  background-color: #f1f722;
}