.chrys-background-color-vega-purple-green-1-1 {
  background-color: #eff0ef;
}

.chrys-background-color-vega-purple-green-2-1 {
  background-color: #d3bbda;
}

.chrys-background-color-vega-purple-green-2-2 {
  background-color: #bce3b8;
}

.chrys-background-color-vega-purple-green-3-1 {
  background-color: #b897c5;
}

.chrys-background-color-vega-purple-green-3-2 {
  background-color: #eff0ef;
}

.chrys-background-color-vega-purple-green-3-3 {
  background-color: #90cc8f;
}

.chrys-background-color-vega-purple-green-4-1 {
  background-color: #a67fb6;
}

.chrys-background-color-vega-purple-green-4-2 {
  background-color: #e6d6e8;
}

.chrys-background-color-vega-purple-green-4-3 {
  background-color: #d9efd5;
}

.chrys-background-color-vega-purple-green-4-4 {
  background-color: #71bb75;
}

.chrys-background-color-vega-purple-green-5-1 {
  background-color: #9a6caa;
}

.chrys-background-color-vega-purple-green-5-2 {
  background-color: #d3bbda;
}

.chrys-background-color-vega-purple-green-5-3 {
  background-color: #eff0ef;
}

.chrys-background-color-vega-purple-green-5-4 {
  background-color: #bce3b8;
}

.chrys-background-color-vega-purple-green-5-5 {
  background-color: #5dac66;
}

.chrys-background-color-vega-purple-green-6-1 {
  background-color: #925fa1;
}

.chrys-background-color-vega-purple-green-6-2 {
  background-color: #c4a7cf;
}

.chrys-background-color-vega-purple-green-6-3 {
  background-color: #e9ddea;
}

.chrys-background-color-vega-purple-green-6-4 {
  background-color: #dfefdc;
}

.chrys-background-color-vega-purple-green-6-5 {
  background-color: #a5d8a2;
}

.chrys-background-color-vega-purple-green-6-6 {
  background-color: #4fa15c;
}

.chrys-background-color-vega-purple-green-7-1 {
  background-color: #8c559b;
}

.chrys-background-color-vega-purple-green-7-2 {
  background-color: #b897c5;
}

.chrys-background-color-vega-purple-green-7-3 {
  background-color: #dfcce3;
}

.chrys-background-color-vega-purple-green-7-4 {
  background-color: #eff0ef;
}

.chrys-background-color-vega-purple-green-7-5 {
  background-color: #ceebca;
}

.chrys-background-color-vega-purple-green-7-6 {
  background-color: #90cc8f;
}

.chrys-background-color-vega-purple-green-7-7 {
  background-color: #459954;
}

.chrys-background-color-vega-purple-green-8-1 {
  background-color: #874d96;
}

.chrys-background-color-vega-purple-green-8-2 {
  background-color: #ae89bc;
}

.chrys-background-color-vega-purple-green-8-3 {
  background-color: #d3bbda;
}

.chrys-background-color-vega-purple-green-8-4 {
  background-color: #eae2eb;
}

.chrys-background-color-vega-purple-green-8-5 {
  background-color: #e3efe1;
}

.chrys-background-color-vega-purple-green-8-6 {
  background-color: #bce3b8;
}

.chrys-background-color-vega-purple-green-8-7 {
  background-color: #7fc381;
}

.chrys-background-color-vega-purple-green-8-8 {
  background-color: #3d934e;
}

.chrys-background-color-vega-purple-green-9-1 {
  background-color: #834792;
}

.chrys-background-color-vega-purple-green-9-2 {
  background-color: #a67fb6;
}

.chrys-background-color-vega-purple-green-9-3 {
  background-color: #c9aed3;
}

.chrys-background-color-vega-purple-green-9-4 {
  background-color: #e6d6e8;
}

.chrys-background-color-vega-purple-green-9-5 {
  background-color: #eff0ef;
}

.chrys-background-color-vega-purple-green-9-6 {
  background-color: #d9efd5;
}

.chrys-background-color-vega-purple-green-9-7 {
  background-color: #aedda9;
}

.chrys-background-color-vega-purple-green-9-8 {
  background-color: #71bb75;
}

.chrys-background-color-vega-purple-green-9-9 {
  background-color: #368e49;
}