.chrys-background-color-vega-greens-1-1 {
  background-color: #60ba6c;
}

.chrys-background-color-vega-greens-2-1 {
  background-color: #8ccf8a;
}

.chrys-background-color-vega-greens-2-2 {
  background-color: #39a055;
}

.chrys-background-color-vega-greens-3-1 {
  background-color: #a0d89b;
}

.chrys-background-color-vega-greens-3-2 {
  background-color: #60ba6c;
}

.chrys-background-color-vega-greens-3-3 {
  background-color: #29924a;
}

.chrys-background-color-vega-greens-4-1 {
  background-color: #abdda5;
}

.chrys-background-color-vega-greens-4-2 {
  background-color: #7bc77d;
}

.chrys-background-color-vega-greens-4-3 {
  background-color: #46ab5e;
}

.chrys-background-color-vega-greens-4-4 {
  background-color: #208943;
}

.chrys-background-color-vega-greens-5-1 {
  background-color: #b2e0ac;
}

.chrys-background-color-vega-greens-5-2 {
  background-color: #8ccf8a;
}

.chrys-background-color-vega-greens-5-3 {
  background-color: #60ba6c;
}

.chrys-background-color-vega-greens-5-4 {
  background-color: #39a055;
}

.chrys-background-color-vega-greens-5-5 {
  background-color: #1a833e;
}

.chrys-background-color-vega-greens-6-1 {
  background-color: #b7e2b1;
}

.chrys-background-color-vega-greens-6-2 {
  background-color: #97d494;
}

.chrys-background-color-vega-greens-6-3 {
  background-color: #73c378;
}

.chrys-background-color-vega-greens-6-4 {
  background-color: #4daf62;
}

.chrys-background-color-vega-greens-6-5 {
  background-color: #2f984f;
}

.chrys-background-color-vega-greens-6-6 {
  background-color: #167f3b;
}

.chrys-background-color-vega-greens-7-1 {
  background-color: #bbe4b5;
}

.chrys-background-color-vega-greens-7-2 {
  background-color: #a0d89b;
}

.chrys-background-color-vega-greens-7-3 {
  background-color: #81ca82;
}

.chrys-background-color-vega-greens-7-4 {
  background-color: #60ba6c;
}

.chrys-background-color-vega-greens-7-5 {
  background-color: #41a75b;
}

.chrys-background-color-vega-greens-7-6 {
  background-color: #29924a;
}

.chrys-background-color-vega-greens-7-7 {
  background-color: #137c39;
}

.chrys-background-color-vega-greens-8-1 {
  background-color: #bee5b8;
}

.chrys-background-color-vega-greens-8-2 {
  background-color: #a6dba1;
}

.chrys-background-color-vega-greens-8-3 {
  background-color: #8ccf8a;
}

.chrys-background-color-vega-greens-8-4 {
  background-color: #6fc175;
}

.chrys-background-color-vega-greens-8-5 {
  background-color: #52b264;
}

.chrys-background-color-vega-greens-8-6 {
  background-color: #39a055;
}

.chrys-background-color-vega-greens-8-7 {
  background-color: #248d46;
}

.chrys-background-color-vega-greens-8-8 {
  background-color: #107937;
}

.chrys-background-color-vega-greens-9-1 {
  background-color: #c0e6ba;
}

.chrys-background-color-vega-greens-9-2 {
  background-color: #abdda5;
}

.chrys-background-color-vega-greens-9-3 {
  background-color: #94d391;
}

.chrys-background-color-vega-greens-9-4 {
  background-color: #7bc77d;
}

.chrys-background-color-vega-greens-9-5 {
  background-color: #60ba6c;
}

.chrys-background-color-vega-greens-9-6 {
  background-color: #46ab5e;
}

.chrys-background-color-vega-greens-9-7 {
  background-color: #329a51;
}

.chrys-background-color-vega-greens-9-8 {
  background-color: #208943;
}

.chrys-background-color-vega-greens-9-9 {
  background-color: #0e7735;
}