.chrys-background-color-vega-gold-green-1-1 {
  background-color: #60a656;
}

.chrys-background-color-vega-gold-green-2-1 {
  background-color: #8fb858;
}

.chrys-background-color-vega-gold-green-2-2 {
  background-color: #439350;
}

.chrys-background-color-vega-gold-green-3-1 {
  background-color: #a7bf5b;
}

.chrys-background-color-vega-gold-green-3-2 {
  background-color: #60a656;
}

.chrys-background-color-vega-gold-green-3-3 {
  background-color: #39894d;
}

.chrys-background-color-vega-gold-green-4-1 {
  background-color: #b6c35c;
}

.chrys-background-color-vega-gold-green-4-2 {
  background-color: #7cb257;
}

.chrys-background-color-vega-gold-green-4-3 {
  background-color: #4b9c53;
}

.chrys-background-color-vega-gold-green-4-4 {
  background-color: #33834a;
}

.chrys-background-color-vega-gold-green-5-1 {
  background-color: #c0c55d;
}

.chrys-background-color-vega-gold-green-5-2 {
  background-color: #8fb858;
}

.chrys-background-color-vega-gold-green-5-3 {
  background-color: #60a656;
}

.chrys-background-color-vega-gold-green-5-4 {
  background-color: #439350;
}

.chrys-background-color-vega-gold-green-5-5 {
  background-color: #2e7f47;
}

.chrys-background-color-vega-gold-green-6-1 {
  background-color: #c8c75e;
}

.chrys-background-color-vega-gold-green-6-2 {
  background-color: #9cbc59;
}

.chrys-background-color-vega-gold-green-6-3 {
  background-color: #74af57;
}

.chrys-background-color-vega-gold-green-6-4 {
  background-color: #519f54;
}

.chrys-background-color-vega-gold-green-6-5 {
  background-color: #3d8d4e;
}

.chrys-background-color-vega-gold-green-6-6 {
  background-color: #2b7c44;
}

.chrys-background-color-vega-gold-green-7-1 {
  background-color: #cdc85f;
}

.chrys-background-color-vega-gold-green-7-2 {
  background-color: #a7bf5b;
}

.chrys-background-color-vega-gold-green-7-3 {
  background-color: #83b458;
}

.chrys-background-color-vega-gold-green-7-4 {
  background-color: #60a656;
}

.chrys-background-color-vega-gold-green-7-5 {
  background-color: #489952;
}

.chrys-background-color-vega-gold-green-7-6 {
  background-color: #39894d;
}

.chrys-background-color-vega-gold-green-7-7 {
  background-color: #297a43;
}

.chrys-background-color-vega-gold-green-8-1 {
  background-color: #d2c960;
}

.chrys-background-color-vega-gold-green-8-2 {
  background-color: #afc15b;
}

.chrys-background-color-vega-gold-green-8-3 {
  background-color: #8fb858;
}

.chrys-background-color-vega-gold-green-8-4 {
  background-color: #70ad57;
}

.chrys-background-color-vega-gold-green-8-5 {
  background-color: #54a054;
}

.chrys-background-color-vega-gold-green-8-6 {
  background-color: #439350;
}

.chrys-background-color-vega-gold-green-8-7 {
  background-color: #36864b;
}

.chrys-background-color-vega-gold-green-8-8 {
  background-color: #277841;
}

.chrys-background-color-vega-gold-green-9-1 {
  background-color: #d5ca60;
}

.chrys-background-color-vega-gold-green-9-2 {
  background-color: #b6c35c;
}

.chrys-background-color-vega-gold-green-9-3 {
  background-color: #98bb59;
}

.chrys-background-color-vega-gold-green-9-4 {
  background-color: #7cb257;
}

.chrys-background-color-vega-gold-green-9-5 {
  background-color: #60a656;
}

.chrys-background-color-vega-gold-green-9-6 {
  background-color: #4b9c53;
}

.chrys-background-color-vega-gold-green-9-7 {
  background-color: #3f8f4f;
}

.chrys-background-color-vega-gold-green-9-8 {
  background-color: #33834a;
}

.chrys-background-color-vega-gold-green-9-9 {
  background-color: #257740;
}