.chrys-background-color-vega-accent-1-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-2-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-2-2 {
  background-color: #beaed4;
}

.chrys-background-color-vega-accent-3-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-3-2 {
  background-color: #beaed4;
}

.chrys-background-color-vega-accent-3-3 {
  background-color: #fdc086;
}

.chrys-background-color-vega-accent-4-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-4-2 {
  background-color: #beaed4;
}

.chrys-background-color-vega-accent-4-3 {
  background-color: #fdc086;
}

.chrys-background-color-vega-accent-4-4 {
  background-color: #ffff99;
}

.chrys-background-color-vega-accent-5-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-5-2 {
  background-color: #beaed4;
}

.chrys-background-color-vega-accent-5-3 {
  background-color: #fdc086;
}

.chrys-background-color-vega-accent-5-4 {
  background-color: #ffff99;
}

.chrys-background-color-vega-accent-5-5 {
  background-color: #386cb0;
}

.chrys-background-color-vega-accent-6-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-6-2 {
  background-color: #beaed4;
}

.chrys-background-color-vega-accent-6-3 {
  background-color: #fdc086;
}

.chrys-background-color-vega-accent-6-4 {
  background-color: #ffff99;
}

.chrys-background-color-vega-accent-6-5 {
  background-color: #386cb0;
}

.chrys-background-color-vega-accent-6-6 {
  background-color: #f0027f;
}

.chrys-background-color-vega-accent-7-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-7-2 {
  background-color: #beaed4;
}

.chrys-background-color-vega-accent-7-3 {
  background-color: #fdc086;
}

.chrys-background-color-vega-accent-7-4 {
  background-color: #ffff99;
}

.chrys-background-color-vega-accent-7-5 {
  background-color: #386cb0;
}

.chrys-background-color-vega-accent-7-6 {
  background-color: #f0027f;
}

.chrys-background-color-vega-accent-7-7 {
  background-color: #bf5b17;
}

.chrys-background-color-vega-accent-8-1 {
  background-color: #7fc97f;
}

.chrys-background-color-vega-accent-8-2 {
  background-color: #beaed4;
}

.chrys-background-color-vega-accent-8-3 {
  background-color: #fdc086;
}

.chrys-background-color-vega-accent-8-4 {
  background-color: #ffff99;
}

.chrys-background-color-vega-accent-8-5 {
  background-color: #386cb0;
}

.chrys-background-color-vega-accent-8-6 {
  background-color: #f0027f;
}

.chrys-background-color-vega-accent-8-7 {
  background-color: #bf5b17;
}

.chrys-background-color-vega-accent-8-8 {
  background-color: #666666;
}