.chrys-color-bokeh-blue-green-3-1 {
  color: #2ca25f;
}

.chrys-color-bokeh-blue-green-3-2 {
  color: #99d8c9;
}

.chrys-color-bokeh-blue-green-3-3 {
  color: #e5f5f9;
}

.chrys-color-bokeh-blue-green-4-1 {
  color: #238b45;
}

.chrys-color-bokeh-blue-green-4-2 {
  color: #66c2a4;
}

.chrys-color-bokeh-blue-green-4-3 {
  color: #b2e2e2;
}

.chrys-color-bokeh-blue-green-4-4 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-green-5-1 {
  color: #006d2c;
}

.chrys-color-bokeh-blue-green-5-2 {
  color: #2ca25f;
}

.chrys-color-bokeh-blue-green-5-3 {
  color: #66c2a4;
}

.chrys-color-bokeh-blue-green-5-4 {
  color: #b2e2e2;
}

.chrys-color-bokeh-blue-green-5-5 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-green-6-1 {
  color: #006d2c;
}

.chrys-color-bokeh-blue-green-6-2 {
  color: #2ca25f;
}

.chrys-color-bokeh-blue-green-6-3 {
  color: #66c2a4;
}

.chrys-color-bokeh-blue-green-6-4 {
  color: #99d8c9;
}

.chrys-color-bokeh-blue-green-6-5 {
  color: #ccece6;
}

.chrys-color-bokeh-blue-green-6-6 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-green-7-1 {
  color: #005824;
}

.chrys-color-bokeh-blue-green-7-2 {
  color: #238b45;
}

.chrys-color-bokeh-blue-green-7-3 {
  color: #41ae76;
}

.chrys-color-bokeh-blue-green-7-4 {
  color: #66c2a4;
}

.chrys-color-bokeh-blue-green-7-5 {
  color: #99d8c9;
}

.chrys-color-bokeh-blue-green-7-6 {
  color: #ccece6;
}

.chrys-color-bokeh-blue-green-7-7 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-green-8-1 {
  color: #005824;
}

.chrys-color-bokeh-blue-green-8-2 {
  color: #238b45;
}

.chrys-color-bokeh-blue-green-8-3 {
  color: #41ae76;
}

.chrys-color-bokeh-blue-green-8-4 {
  color: #66c2a4;
}

.chrys-color-bokeh-blue-green-8-5 {
  color: #99d8c9;
}

.chrys-color-bokeh-blue-green-8-6 {
  color: #ccece6;
}

.chrys-color-bokeh-blue-green-8-7 {
  color: #e5f5f9;
}

.chrys-color-bokeh-blue-green-8-8 {
  color: #f7fcfd;
}

.chrys-color-bokeh-blue-green-9-1 {
  color: #00441b;
}

.chrys-color-bokeh-blue-green-9-2 {
  color: #006d2c;
}

.chrys-color-bokeh-blue-green-9-3 {
  color: #238b45;
}

.chrys-color-bokeh-blue-green-9-4 {
  color: #41ae76;
}

.chrys-color-bokeh-blue-green-9-5 {
  color: #66c2a4;
}

.chrys-color-bokeh-blue-green-9-6 {
  color: #99d8c9;
}

.chrys-color-bokeh-blue-green-9-7 {
  color: #ccece6;
}

.chrys-color-bokeh-blue-green-9-8 {
  color: #e5f5f9;
}

.chrys-color-bokeh-blue-green-9-9 {
  color: #f7fcfd;
}