.chrys-color-bokeh-yellow-green-blue-3-1 {
  color: #2c7fb8;
}

.chrys-color-bokeh-yellow-green-blue-3-2 {
  color: #7fcdbb;
}

.chrys-color-bokeh-yellow-green-blue-3-3 {
  color: #edf8b1;
}

.chrys-color-bokeh-yellow-green-blue-4-1 {
  color: #225ea8;
}

.chrys-color-bokeh-yellow-green-blue-4-2 {
  color: #41b6c4;
}

.chrys-color-bokeh-yellow-green-blue-4-3 {
  color: #a1dab4;
}

.chrys-color-bokeh-yellow-green-blue-4-4 {
  color: #ffffcc;
}

.chrys-color-bokeh-yellow-green-blue-5-1 {
  color: #253494;
}

.chrys-color-bokeh-yellow-green-blue-5-2 {
  color: #2c7fb8;
}

.chrys-color-bokeh-yellow-green-blue-5-3 {
  color: #41b6c4;
}

.chrys-color-bokeh-yellow-green-blue-5-4 {
  color: #a1dab4;
}

.chrys-color-bokeh-yellow-green-blue-5-5 {
  color: #ffffcc;
}

.chrys-color-bokeh-yellow-green-blue-6-1 {
  color: #253494;
}

.chrys-color-bokeh-yellow-green-blue-6-2 {
  color: #2c7fb8;
}

.chrys-color-bokeh-yellow-green-blue-6-3 {
  color: #41b6c4;
}

.chrys-color-bokeh-yellow-green-blue-6-4 {
  color: #7fcdbb;
}

.chrys-color-bokeh-yellow-green-blue-6-5 {
  color: #c7e9b4;
}

.chrys-color-bokeh-yellow-green-blue-6-6 {
  color: #ffffcc;
}

.chrys-color-bokeh-yellow-green-blue-7-1 {
  color: #0c2c84;
}

.chrys-color-bokeh-yellow-green-blue-7-2 {
  color: #225ea8;
}

.chrys-color-bokeh-yellow-green-blue-7-3 {
  color: #1d91c0;
}

.chrys-color-bokeh-yellow-green-blue-7-4 {
  color: #41b6c4;
}

.chrys-color-bokeh-yellow-green-blue-7-5 {
  color: #7fcdbb;
}

.chrys-color-bokeh-yellow-green-blue-7-6 {
  color: #c7e9b4;
}

.chrys-color-bokeh-yellow-green-blue-7-7 {
  color: #ffffcc;
}

.chrys-color-bokeh-yellow-green-blue-8-1 {
  color: #0c2c84;
}

.chrys-color-bokeh-yellow-green-blue-8-2 {
  color: #225ea8;
}

.chrys-color-bokeh-yellow-green-blue-8-3 {
  color: #1d91c0;
}

.chrys-color-bokeh-yellow-green-blue-8-4 {
  color: #41b6c4;
}

.chrys-color-bokeh-yellow-green-blue-8-5 {
  color: #7fcdbb;
}

.chrys-color-bokeh-yellow-green-blue-8-6 {
  color: #c7e9b4;
}

.chrys-color-bokeh-yellow-green-blue-8-7 {
  color: #edf8b1;
}

.chrys-color-bokeh-yellow-green-blue-8-8 {
  color: #ffffd9;
}

.chrys-color-bokeh-yellow-green-blue-9-1 {
  color: #081d58;
}

.chrys-color-bokeh-yellow-green-blue-9-2 {
  color: #253494;
}

.chrys-color-bokeh-yellow-green-blue-9-3 {
  color: #225ea8;
}

.chrys-color-bokeh-yellow-green-blue-9-4 {
  color: #1d91c0;
}

.chrys-color-bokeh-yellow-green-blue-9-5 {
  color: #41b6c4;
}

.chrys-color-bokeh-yellow-green-blue-9-6 {
  color: #7fcdbb;
}

.chrys-color-bokeh-yellow-green-blue-9-7 {
  color: #c7e9b4;
}

.chrys-color-bokeh-yellow-green-blue-9-8 {
  color: #edf8b1;
}

.chrys-color-bokeh-yellow-green-blue-9-9 {
  color: #ffffd9;
}