.chrys-color-vega-dark-gold-1-1 {
  color: #bf9828;
}

.chrys-color-vega-dark-gold-2-1 {
  color: #8c7631;
}

.chrys-color-vega-dark-gold-2-2 {
  color: #ecc31e;
}

.chrys-color-vega-dark-gold-3-1 {
  color: #796433;
}

.chrys-color-vega-dark-gold-3-2 {
  color: #bf9828;
}

.chrys-color-vega-dark-gold-3-3 {
  color: #f6d72c;
}

.chrys-color-vega-dark-gold-4-1 {
  color: #6d5a35;
}

.chrys-color-vega-dark-gold-4-2 {
  color: #a0832d;
}

.chrys-color-vega-dark-gold-4-3 {
  color: #dbb022;
}

.chrys-color-vega-dark-gold-4-4 {
  color: #fae241;
}

.chrys-color-vega-dark-gold-5-1 {
  color: #655536;
}

.chrys-color-vega-dark-gold-5-2 {
  color: #8c7631;
}

.chrys-color-vega-dark-gold-5-3 {
  color: #bf9828;
}

.chrys-color-vega-dark-gold-5-4 {
  color: #ecc31e;
}

.chrys-color-vega-dark-gold-5-5 {
  color: #fce85a;
}

.chrys-color-vega-dark-gold-6-1 {
  color: #5f5036;
}

.chrys-color-vega-dark-gold-6-2 {
  color: #816c32;
}

.chrys-color-vega-dark-gold-6-3 {
  color: #a9882c;
}

.chrys-color-vega-dark-gold-6-4 {
  color: #d3a823;
}

.chrys-color-vega-dark-gold-6-5 {
  color: #f2cf26;
}

.chrys-color-vega-dark-gold-6-6 {
  color: #fdec6c;
}

.chrys-color-vega-dark-gold-7-1 {
  color: #5b4d37;
}

.chrys-color-vega-dark-gold-7-2 {
  color: #796433;
}

.chrys-color-vega-dark-gold-7-3 {
  color: #997e2f;
}

.chrys-color-vega-dark-gold-7-4 {
  color: #bf9828;
}

.chrys-color-vega-dark-gold-7-5 {
  color: #e1b720;
}

.chrys-color-vega-dark-gold-7-6 {
  color: #f6d72c;
}

.chrys-color-vega-dark-gold-7-7 {
  color: #feef7a;
}

.chrys-color-vega-dark-gold-8-1 {
  color: #584b37;
}

.chrys-color-vega-dark-gold-8-2 {
  color: #725e34;
}

.chrys-color-vega-dark-gold-8-3 {
  color: #8c7631;
}

.chrys-color-vega-dark-gold-8-4 {
  color: #ae8b2b;
}

.chrys-color-vega-dark-gold-8-5 {
  color: #cfa424;
}

.chrys-color-vega-dark-gold-8-6 {
  color: #ecc31e;
}

.chrys-color-vega-dark-gold-8-7 {
  color: #f9de30;
}

.chrys-color-vega-dark-gold-8-8 {
  color: #fff184;
}

.chrys-color-vega-dark-gold-9-1 {
  color: #554a38;
}

.chrys-color-vega-dark-gold-9-2 {
  color: #6d5a35;
}

.chrys-color-vega-dark-gold-9-3 {
  color: #846f32;
}

.chrys-color-vega-dark-gold-9-4 {
  color: #a0832d;
}

.chrys-color-vega-dark-gold-9-5 {
  color: #bf9828;
}

.chrys-color-vega-dark-gold-9-6 {
  color: #dbb022;
}

.chrys-color-vega-dark-gold-9-7 {
  color: #f0cb23;
}

.chrys-color-vega-dark-gold-9-8 {
  color: #fae241;
}

.chrys-color-vega-dark-gold-9-9 {
  color: #fff290;
}