.chrys-color-vega-green-blue-1-1 {
  color: #69c2ca;
}

.chrys-color-vega-green-blue-2-1 {
  color: #93d5bd;
}

.chrys-color-vega-green-blue-2-2 {
  color: #43a5c9;
}

.chrys-color-vega-green-blue-3-1 {
  color: #a6ddbb;
}

.chrys-color-vega-green-blue-3-2 {
  color: #69c2ca;
}

.chrys-color-vega-green-blue-3-3 {
  color: #3295c2;
}

.chrys-color-vega-green-blue-4-1 {
  color: #b1e1bb;
}

.chrys-color-vega-green-blue-4-2 {
  color: #82cec2;
}

.chrys-color-vega-green-blue-4-3 {
  color: #51b2cd;
}

.chrys-color-vega-green-blue-4-4 {
  color: #288abd;
}

.chrys-color-vega-green-blue-5-1 {
  color: #b8e3be;
}

.chrys-color-vega-green-blue-5-2 {
  color: #93d5bd;
}

.chrys-color-vega-green-blue-5-3 {
  color: #69c2ca;
}

.chrys-color-vega-green-blue-5-4 {
  color: #43a5c9;
}

.chrys-color-vega-green-blue-5-5 {
  color: #2283b9;
}

.chrys-color-vega-green-blue-6-1 {
  color: #bce5c0;
}

.chrys-color-vega-green-blue-6-2 {
  color: #9ed9bb;
}

.chrys-color-vega-green-blue-6-3 {
  color: #7bcbc4;
}

.chrys-color-vega-green-blue-6-4 {
  color: #58b7cc;
}

.chrys-color-vega-green-blue-6-5 {
  color: #399cc6;
}

.chrys-color-vega-green-blue-6-6 {
  color: #1e7eb6;
}

.chrys-color-vega-green-blue-7-1 {
  color: #c0e6c1;
}

.chrys-color-vega-green-blue-7-2 {
  color: #a6ddbb;
}

.chrys-color-vega-green-blue-7-3 {
  color: #88d1c0;
}

.chrys-color-vega-green-blue-7-4 {
  color: #69c2ca;
}

.chrys-color-vega-green-blue-7-5 {
  color: #4cadcc;
}

.chrys-color-vega-green-blue-7-6 {
  color: #3295c2;
}

.chrys-color-vega-green-blue-7-7 {
  color: #1b7ab4;
}

.chrys-color-vega-green-blue-8-1 {
  color: #c3e7c2;
}

.chrys-color-vega-green-blue-8-2 {
  color: #acdfbb;
}

.chrys-color-vega-green-blue-8-3 {
  color: #93d5bd;
}

.chrys-color-vega-green-blue-8-4 {
  color: #77c9c6;
}

.chrys-color-vega-green-blue-8-5 {
  color: #5cb9cc;
}

.chrys-color-vega-green-blue-8-6 {
  color: #43a5c9;
}

.chrys-color-vega-green-blue-8-7 {
  color: #2c8fbf;
}

.chrys-color-vega-green-blue-8-8 {
  color: #1877b2;
}

.chrys-color-vega-green-blue-9-1 {
  color: #c5e8c3;
}

.chrys-color-vega-green-blue-9-2 {
  color: #b1e1bb;
}

.chrys-color-vega-green-blue-9-3 {
  color: #9bd8bb;
}

.chrys-color-vega-green-blue-9-4 {
  color: #82cec2;
}

.chrys-color-vega-green-blue-9-5 {
  color: #69c2ca;
}

.chrys-color-vega-green-blue-9-6 {
  color: #51b2cd;
}

.chrys-color-vega-green-blue-9-7 {
  color: #3c9fc7;
}

.chrys-color-vega-green-blue-9-8 {
  color: #288abd;
}

.chrys-color-vega-green-blue-9-9 {
  color: #1675b1;
}