.chrys-color-vega-red-purple-1-1 {
  color: #ec539d;
}

.chrys-color-vega-red-purple-2-1 {
  color: #f885ac;
}

.chrys-color-vega-red-purple-2-2 {
  color: #cc248e;
}

.chrys-color-vega-red-purple-3-1 {
  color: #fa9cb4;
}

.chrys-color-vega-red-purple-3-2 {
  color: #ec539d;
}

.chrys-color-vega-red-purple-3-3 {
  color: #b71285;
}

.chrys-color-vega-red-purple-4-1 {
  color: #faa9b8;
}

.chrys-color-vega-red-purple-4-2 {
  color: #f571a5;
}

.chrys-color-vega-red-purple-4-3 {
  color: #db3695;
}

.chrys-color-vega-red-purple-4-4 {
  color: #a90880;
}

.chrys-color-vega-red-purple-5-1 {
  color: #fbb0bb;
}

.chrys-color-vega-red-purple-5-2 {
  color: #f885ac;
}

.chrys-color-vega-red-purple-5-3 {
  color: #ec539d;
}

.chrys-color-vega-red-purple-5-4 {
  color: #cc248e;
}

.chrys-color-vega-red-purple-5-5 {
  color: #a0067e;
}

.chrys-color-vega-red-purple-6-1 {
  color: #fbb5bd;
}

.chrys-color-vega-red-purple-6-2 {
  color: #f993b0;
}

.chrys-color-vega-red-purple-6-3 {
  color: #f268a3;
}

.chrys-color-vega-red-purple-6-4 {
  color: #e03e97;
}

.chrys-color-vega-red-purple-6-5 {
  color: #c01889;
}

.chrys-color-vega-red-purple-6-6 {
  color: #99047c;
}

.chrys-color-vega-red-purple-7-1 {
  color: #fcb9be;
}

.chrys-color-vega-red-purple-7-2 {
  color: #fa9cb4;
}

.chrys-color-vega-red-purple-7-3 {
  color: #f679a8;
}

.chrys-color-vega-red-purple-7-4 {
  color: #ec539d;
}

.chrys-color-vega-red-purple-7-5 {
  color: #d52f92;
}

.chrys-color-vega-red-purple-7-6 {
  color: #b71285;
}

.chrys-color-vega-red-purple-7-7 {
  color: #94037b;
}

.chrys-color-vega-red-purple-8-1 {
  color: #fcbcbf;
}

.chrys-color-vega-red-purple-8-2 {
  color: #faa3b6;
}

.chrys-color-vega-red-purple-8-3 {
  color: #f885ac;
}

.chrys-color-vega-red-purple-8-4 {
  color: #f164a1;
}

.chrys-color-vega-red-purple-8-5 {
  color: #e34399;
}

.chrys-color-vega-red-purple-8-6 {
  color: #cc248e;
}

.chrys-color-vega-red-purple-8-7 {
  color: #af0c82;
}

.chrys-color-vega-red-purple-8-8 {
  color: #90027a;
}

.chrys-color-vega-red-purple-9-1 {
  color: #fcbec0;
}

.chrys-color-vega-red-purple-9-2 {
  color: #faa9b8;
}

.chrys-color-vega-red-purple-9-3 {
  color: #f98faf;
}

.chrys-color-vega-red-purple-9-4 {
  color: #f571a5;
}

.chrys-color-vega-red-purple-9-5 {
  color: #ec539d;
}

.chrys-color-vega-red-purple-9-6 {
  color: #db3695;
}

.chrys-color-vega-red-purple-9-7 {
  color: #c41b8a;
}

.chrys-color-vega-red-purple-9-8 {
  color: #a90880;
}

.chrys-color-vega-red-purple-9-9 {
  color: #8d0179;
}