.chrys-color-vega-red-yellow-blue-1-1 {
  color: #faf8c1;
}

.chrys-color-vega-red-yellow-blue-2-1 {
  color: #fdbc73;
}

.chrys-color-vega-red-yellow-blue-2-2 {
  color: #bbdfe9;
}

.chrys-color-vega-red-yellow-blue-3-1 {
  color: #f78d54;
}

.chrys-color-vega-red-yellow-blue-3-2 {
  color: #faf8c1;
}

.chrys-color-vega-red-yellow-blue-3-3 {
  color: #90c1dc;
}

.chrys-color-vega-red-yellow-blue-4-1 {
  color: #f16e43;
}

.chrys-color-vega-red-yellow-blue-4-2 {
  color: #fedd90;
}

.chrys-color-vega-red-yellow-blue-4-3 {
  color: #dcf1ec;
}

.chrys-color-vega-red-yellow-blue-4-4 {
  color: #75abd0;
}

.chrys-color-vega-red-yellow-blue-5-1 {
  color: #e75a3b;
}

.chrys-color-vega-red-yellow-blue-5-2 {
  color: #fdbc73;
}

.chrys-color-vega-red-yellow-blue-5-3 {
  color: #faf8c1;
}

.chrys-color-vega-red-yellow-blue-5-4 {
  color: #bbdfe9;
}

.chrys-color-vega-red-yellow-blue-5-5 {
  color: #6799c7;
}

.chrys-color-vega-red-yellow-blue-6-1 {
  color: #e04c36;
}

.chrys-color-vega-red-yellow-blue-6-2 {
  color: #faa35f;
}

.chrys-color-vega-red-yellow-blue-6-3 {
  color: #fde59e;
}

.chrys-color-vega-red-yellow-blue-6-4 {
  color: #e5f3e0;
}

.chrys-color-vega-red-yellow-blue-6-5 {
  color: #a3d0e5;
}

.chrys-color-vega-red-yellow-blue-6-6 {
  color: #5c8cc0;
}

.chrys-color-vega-red-yellow-blue-7-1 {
  color: #db4132;
}

.chrys-color-vega-red-yellow-blue-7-2 {
  color: #f78d54;
}

.chrys-color-vega-red-yellow-blue-7-3 {
  color: #fed185;
}

.chrys-color-vega-red-yellow-blue-7-4 {
  color: #faf8c1;
}

.chrys-color-vega-red-yellow-blue-7-5 {
  color: #d0eaeb;
}

.chrys-color-vega-red-yellow-blue-7-6 {
  color: #90c1dc;
}

.chrys-color-vega-red-yellow-blue-7-7 {
  color: #5582bb;
}

.chrys-color-vega-red-yellow-blue-8-1 {
  color: #d7392f;
}

.chrys-color-vega-red-yellow-blue-8-2 {
  color: #f37c4a;
}

.chrys-color-vega-red-yellow-blue-8-3 {
  color: #fdbc73;
}

.chrys-color-vega-red-yellow-blue-8-4 {
  color: #fce9a6;
}

.chrys-color-vega-red-yellow-blue-8-5 {
  color: #e9f4d9;
}

.chrys-color-vega-red-yellow-blue-8-6 {
  color: #bbdfe9;
}

.chrys-color-vega-red-yellow-blue-8-7 {
  color: #81b5d5;
}

.chrys-color-vega-red-yellow-blue-8-8 {
  color: #4f7ab7;
}

.chrys-color-vega-red-yellow-blue-9-1 {
  color: #d4322c;
}

.chrys-color-vega-red-yellow-blue-9-2 {
  color: #f16e43;
}

.chrys-color-vega-red-yellow-blue-9-3 {
  color: #fcac64;
}

.chrys-color-vega-red-yellow-blue-9-4 {
  color: #fedd90;
}

.chrys-color-vega-red-yellow-blue-9-5 {
  color: #faf8c1;
}

.chrys-color-vega-red-yellow-blue-9-6 {
  color: #dcf1ec;
}

.chrys-color-vega-red-yellow-blue-9-7 {
  color: #abd6e8;
}

.chrys-color-vega-red-yellow-blue-9-8 {
  color: #75abd0;
}

.chrys-color-vega-red-yellow-blue-9-9 {
  color: #4a74b4;
}