.chrys-color-vega-turbo-1-1 {
  color: #8ffc54;
}

.chrys-color-vega-turbo-2-1 {
  color: #2de3b2;
}

.chrys-color-vega-turbo-2-2 {
  color: #fac029;
}

.chrys-color-vega-turbo-3-1 {
  color: #27bae3;
}

.chrys-color-vega-turbo-3-2 {
  color: #8ffc54;
}

.chrys-color-vega-turbo-3-3 {
  color: #ff8a1f;
}

.chrys-color-vega-turbo-4-1 {
  color: #309bf5;
}

.chrys-color-vega-turbo-4-2 {
  color: #49f787;
}

.chrys-color-vega-turbo-4-3 {
  color: #d8e135;
}

.chrys-color-vega-turbo-4-4 {
  color: #fb6819;
}

.chrys-color-vega-turbo-5-1 {
  color: #3a85f9;
}

.chrys-color-vega-turbo-5-2 {
  color: #2de3b2;
}

.chrys-color-vega-turbo-5-3 {
  color: #8ffc54;
}

.chrys-color-vega-turbo-5-4 {
  color: #fac029;
}

.chrys-color-vega-turbo-5-5 {
  color: #ec5115;
}

.chrys-color-vega-turbo-6-1 {
  color: #4074f5;
}

.chrys-color-vega-turbo-6-2 {
  color: #25cdcf;
}

.chrys-color-vega-turbo-6-3 {
  color: #5afc77;
}

.chrys-color-vega-turbo-6-4 {
  color: #c5ec3c;
}

.chrys-color-vega-turbo-6-5 {
  color: #ffa223;
}

.chrys-color-vega-turbo-6-6 {
  color: #df4111;
}

.chrys-color-vega-turbo-7-1 {
  color: #4568ed;
}

.chrys-color-vega-turbo-7-2 {
  color: #27bae3;
}

.chrys-color-vega-turbo-7-3 {
  color: #3cf197;
}

.chrys-color-vega-turbo-7-4 {
  color: #8ffc54;
}

.chrys-color-vega-turbo-7-5 {
  color: #e7d630;
}

.chrys-color-vega-turbo-7-6 {
  color: #ff8a1f;
}

.chrys-color-vega-turbo-7-7 {
  color: #d4370f;
}

.chrys-color-vega-turbo-8-1 {
  color: #485ee4;
}

.chrys-color-vega-turbo-8-2 {
  color: #2ba9ef;
}

.chrys-color-vega-turbo-8-3 {
  color: #2de3b2;
}

.chrys-color-vega-turbo-8-4 {
  color: #65fd6e;
}

.chrys-color-vega-turbo-8-5 {
  color: #b9f140;
}

.chrys-color-vega-turbo-8-6 {
  color: #fac029;
}

.chrys-color-vega-turbo-8-7 {
  color: #ff771c;
}

.chrys-color-vega-turbo-8-8 {
  color: #cb2f0d;
}

.chrys-color-vega-turbo-9-1 {
  color: #4956db;
}

.chrys-color-vega-turbo-9-2 {
  color: #309bf5;
}

.chrys-color-vega-turbo-9-3 {
  color: #27d4c7;
}

.chrys-color-vega-turbo-9-4 {
  color: #49f787;
}

.chrys-color-vega-turbo-9-5 {
  color: #8ffc54;
}

.chrys-color-vega-turbo-9-6 {
  color: #d8e135;
}

.chrys-color-vega-turbo-9-7 {
  color: #ffac24;
}

.chrys-color-vega-turbo-9-8 {
  color: #fb6819;
}

.chrys-color-vega-turbo-9-9 {
  color: #c3290b;
}