.chrys-color-vega-gold-orange-1-1 {
  color: #ef701b;
}

.chrys-color-vega-gold-orange-2-1 {
  color: #f49235;
}

.chrys-color-vega-gold-orange-2-2 {
  color: #da5821;
}

.chrys-color-vega-gold-orange-3-1 {
  color: #f7a144;
}

.chrys-color-vega-gold-orange-3-2 {
  color: #ef701b;
}

.chrys-color-vega-gold-orange-3-3 {
  color: #ce4e23;
}

.chrys-color-vega-gold-orange-4-1 {
  color: #f8aa4c;
}

.chrys-color-vega-gold-orange-4-2 {
  color: #f3852a;
}

.chrys-color-vega-gold-orange-4-3 {
  color: #e2621f;
}

.chrys-color-vega-gold-orange-4-4 {
  color: #c54923;
}

.chrys-color-vega-gold-orange-5-1 {
  color: #f8b151;
}

.chrys-color-vega-gold-orange-5-2 {
  color: #f49235;
}

.chrys-color-vega-gold-orange-5-3 {
  color: #ef701b;
}

.chrys-color-vega-gold-orange-5-4 {
  color: #da5821;
}

.chrys-color-vega-gold-orange-5-5 {
  color: #be4723;
}

.chrys-color-vega-gold-orange-6-1 {
  color: #f8b555;
}

.chrys-color-vega-gold-orange-6-2 {
  color: #f59b3d;
}

.chrys-color-vega-gold-orange-6-3 {
  color: #f27f26;
}

.chrys-color-vega-gold-orange-6-4 {
  color: #e6661e;
}

.chrys-color-vega-gold-orange-6-5 {
  color: #d45222;
}

.chrys-color-vega-gold-orange-6-6 {
  color: #ba4523;
}

.chrys-color-vega-gold-orange-7-1 {
  color: #f8b958;
}

.chrys-color-vega-gold-orange-7-2 {
  color: #f7a144;
}

.chrys-color-vega-gold-orange-7-3 {
  color: #f48a2e;
}

.chrys-color-vega-gold-orange-7-4 {
  color: #ef701b;
}

.chrys-color-vega-gold-orange-7-5 {
  color: #df5e20;
}

.chrys-color-vega-gold-orange-7-6 {
  color: #ce4e23;
}

.chrys-color-vega-gold-orange-7-7 {
  color: #b64423;
}

.chrys-color-vega-gold-orange-8-1 {
  color: #f8bc5a;
}

.chrys-color-vega-gold-orange-8-2 {
  color: #f7a648;
}

.chrys-color-vega-gold-orange-8-3 {
  color: #f49235;
}

.chrys-color-vega-gold-orange-8-4 {
  color: #f17c23;
}

.chrys-color-vega-gold-orange-8-5 {
  color: #e8681d;
}

.chrys-color-vega-gold-orange-8-6 {
  color: #da5821;
}

.chrys-color-vega-gold-orange-8-7 {
  color: #c94b23;
}

.chrys-color-vega-gold-orange-8-8 {
  color: #b34323;
}

.chrys-color-vega-gold-orange-9-1 {
  color: #f8be5c;
}

.chrys-color-vega-gold-orange-9-2 {
  color: #f8aa4c;
}

.chrys-color-vega-gold-orange-9-3 {
  color: #f5983b;
}

.chrys-color-vega-gold-orange-9-4 {
  color: #f3852a;
}

.chrys-color-vega-gold-orange-9-5 {
  color: #ef701b;
}

.chrys-color-vega-gold-orange-9-6 {
  color: #e2621f;
}

.chrys-color-vega-gold-orange-9-7 {
  color: #d65322;
}

.chrys-color-vega-gold-orange-9-8 {
  color: #c54923;
}

.chrys-color-vega-gold-orange-9-9 {
  color: #b14223;
}