body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,
h2,
h3 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

pre {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
}

code {
    background-color: #f9f9f9;
    padding: 2px 4px;
    border-radius: 4px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

p {
    margin: 10px 0;
}

div {
    padding: 10px;
    border: 1px solid #ddd;
}