.chrys-background-color-bokeh-pink-yellow-green-3-1 {
  background-color: #a1d76a;
}

.chrys-background-color-bokeh-pink-yellow-green-3-2 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-pink-yellow-green-3-3 {
  background-color: #e9a3c9;
}

.chrys-background-color-bokeh-pink-yellow-green-4-1 {
  background-color: #4dac26;
}

.chrys-background-color-bokeh-pink-yellow-green-4-2 {
  background-color: #b8e186;
}

.chrys-background-color-bokeh-pink-yellow-green-4-3 {
  background-color: #f1b6da;
}

.chrys-background-color-bokeh-pink-yellow-green-4-4 {
  background-color: #d01c8b;
}

.chrys-background-color-bokeh-pink-yellow-green-5-1 {
  background-color: #4dac26;
}

.chrys-background-color-bokeh-pink-yellow-green-5-2 {
  background-color: #b8e186;
}

.chrys-background-color-bokeh-pink-yellow-green-5-3 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-pink-yellow-green-5-4 {
  background-color: #f1b6da;
}

.chrys-background-color-bokeh-pink-yellow-green-5-5 {
  background-color: #d01c8b;
}

.chrys-background-color-bokeh-pink-yellow-green-6-1 {
  background-color: #4d9221;
}

.chrys-background-color-bokeh-pink-yellow-green-6-2 {
  background-color: #a1d76a;
}

.chrys-background-color-bokeh-pink-yellow-green-6-3 {
  background-color: #e6f5d0;
}

.chrys-background-color-bokeh-pink-yellow-green-6-4 {
  background-color: #fde0ef;
}

.chrys-background-color-bokeh-pink-yellow-green-6-5 {
  background-color: #e9a3c9;
}

.chrys-background-color-bokeh-pink-yellow-green-6-6 {
  background-color: #c51b7d;
}

.chrys-background-color-bokeh-pink-yellow-green-7-1 {
  background-color: #4d9221;
}

.chrys-background-color-bokeh-pink-yellow-green-7-2 {
  background-color: #a1d76a;
}

.chrys-background-color-bokeh-pink-yellow-green-7-3 {
  background-color: #e6f5d0;
}

.chrys-background-color-bokeh-pink-yellow-green-7-4 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-pink-yellow-green-7-5 {
  background-color: #fde0ef;
}

.chrys-background-color-bokeh-pink-yellow-green-7-6 {
  background-color: #e9a3c9;
}

.chrys-background-color-bokeh-pink-yellow-green-7-7 {
  background-color: #c51b7d;
}

.chrys-background-color-bokeh-pink-yellow-green-8-1 {
  background-color: #4d9221;
}

.chrys-background-color-bokeh-pink-yellow-green-8-2 {
  background-color: #7fbc41;
}

.chrys-background-color-bokeh-pink-yellow-green-8-3 {
  background-color: #b8e186;
}

.chrys-background-color-bokeh-pink-yellow-green-8-4 {
  background-color: #e6f5d0;
}

.chrys-background-color-bokeh-pink-yellow-green-8-5 {
  background-color: #fde0ef;
}

.chrys-background-color-bokeh-pink-yellow-green-8-6 {
  background-color: #f1b6da;
}

.chrys-background-color-bokeh-pink-yellow-green-8-7 {
  background-color: #de77ae;
}

.chrys-background-color-bokeh-pink-yellow-green-8-8 {
  background-color: #c51b7d;
}

.chrys-background-color-bokeh-pink-yellow-green-9-1 {
  background-color: #4d9221;
}

.chrys-background-color-bokeh-pink-yellow-green-9-2 {
  background-color: #7fbc41;
}

.chrys-background-color-bokeh-pink-yellow-green-9-3 {
  background-color: #b8e186;
}

.chrys-background-color-bokeh-pink-yellow-green-9-4 {
  background-color: #e6f5d0;
}

.chrys-background-color-bokeh-pink-yellow-green-9-5 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-pink-yellow-green-9-6 {
  background-color: #fde0ef;
}

.chrys-background-color-bokeh-pink-yellow-green-9-7 {
  background-color: #f1b6da;
}

.chrys-background-color-bokeh-pink-yellow-green-9-8 {
  background-color: #de77ae;
}

.chrys-background-color-bokeh-pink-yellow-green-9-9 {
  background-color: #c51b7d;
}

.chrys-background-color-bokeh-pink-yellow-green-10-1 {
  background-color: #276419;
}

.chrys-background-color-bokeh-pink-yellow-green-10-2 {
  background-color: #4d9221;
}

.chrys-background-color-bokeh-pink-yellow-green-10-3 {
  background-color: #7fbc41;
}

.chrys-background-color-bokeh-pink-yellow-green-10-4 {
  background-color: #b8e186;
}

.chrys-background-color-bokeh-pink-yellow-green-10-5 {
  background-color: #e6f5d0;
}

.chrys-background-color-bokeh-pink-yellow-green-10-6 {
  background-color: #fde0ef;
}

.chrys-background-color-bokeh-pink-yellow-green-10-7 {
  background-color: #f1b6da;
}

.chrys-background-color-bokeh-pink-yellow-green-10-8 {
  background-color: #de77ae;
}

.chrys-background-color-bokeh-pink-yellow-green-10-9 {
  background-color: #c51b7d;
}

.chrys-background-color-bokeh-pink-yellow-green-10-10 {
  background-color: #8e0152;
}

.chrys-background-color-bokeh-pink-yellow-green-11-1 {
  background-color: #276419;
}

.chrys-background-color-bokeh-pink-yellow-green-11-2 {
  background-color: #4d9221;
}

.chrys-background-color-bokeh-pink-yellow-green-11-3 {
  background-color: #7fbc41;
}

.chrys-background-color-bokeh-pink-yellow-green-11-4 {
  background-color: #b8e186;
}

.chrys-background-color-bokeh-pink-yellow-green-11-5 {
  background-color: #e6f5d0;
}

.chrys-background-color-bokeh-pink-yellow-green-11-6 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-pink-yellow-green-11-7 {
  background-color: #fde0ef;
}

.chrys-background-color-bokeh-pink-yellow-green-11-8 {
  background-color: #f1b6da;
}

.chrys-background-color-bokeh-pink-yellow-green-11-9 {
  background-color: #de77ae;
}

.chrys-background-color-bokeh-pink-yellow-green-11-10 {
  background-color: #c51b7d;
}

.chrys-background-color-bokeh-pink-yellow-green-11-11 {
  background-color: #8e0152;
}