.chrys-background-color-bokeh-plasma-3-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-3-2 {
  background-color: #ca4678;
}

.chrys-background-color-bokeh-plasma-3-3 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-4-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-4-2 {
  background-color: #9b179e;
}

.chrys-background-color-bokeh-plasma-4-3 {
  background-color: #ec7853;
}

.chrys-background-color-bokeh-plasma-4-4 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-5-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-5-2 {
  background-color: #7c02a7;
}

.chrys-background-color-bokeh-plasma-5-3 {
  background-color: #ca4678;
}

.chrys-background-color-bokeh-plasma-5-4 {
  background-color: #f79341;
}

.chrys-background-color-bokeh-plasma-5-5 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-6-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-6-2 {
  background-color: #6a00a7;
}

.chrys-background-color-bokeh-plasma-6-3 {
  background-color: #b02a8f;
}

.chrys-background-color-bokeh-plasma-6-4 {
  background-color: #e06461;
}

.chrys-background-color-bokeh-plasma-6-5 {
  background-color: #fca635;
}

.chrys-background-color-bokeh-plasma-6-6 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-7-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-7-2 {
  background-color: #5c00a5;
}

.chrys-background-color-bokeh-plasma-7-3 {
  background-color: #9b179e;
}

.chrys-background-color-bokeh-plasma-7-4 {
  background-color: #ca4678;
}

.chrys-background-color-bokeh-plasma-7-5 {
  background-color: #ec7853;
}

.chrys-background-color-bokeh-plasma-7-6 {
  background-color: #fdb22f;
}

.chrys-background-color-bokeh-plasma-7-7 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-8-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-8-2 {
  background-color: #5201a3;
}

.chrys-background-color-bokeh-plasma-8-3 {
  background-color: #8908a5;
}

.chrys-background-color-bokeh-plasma-8-4 {
  background-color: #b83289;
}

.chrys-background-color-bokeh-plasma-8-5 {
  background-color: #da5a68;
}

.chrys-background-color-bokeh-plasma-8-6 {
  background-color: #f38748;
}

.chrys-background-color-bokeh-plasma-8-7 {
  background-color: #fdbb2b;
}

.chrys-background-color-bokeh-plasma-8-8 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-9-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-9-2 {
  background-color: #4a02a0;
}

.chrys-background-color-bokeh-plasma-9-3 {
  background-color: #7c02a7;
}

.chrys-background-color-bokeh-plasma-9-4 {
  background-color: #a82296;
}

.chrys-background-color-bokeh-plasma-9-5 {
  background-color: #ca4678;
}

.chrys-background-color-bokeh-plasma-9-6 {
  background-color: #e56b5c;
}

.chrys-background-color-bokeh-plasma-9-7 {
  background-color: #f79341;
}

.chrys-background-color-bokeh-plasma-9-8 {
  background-color: #fdc328;
}

.chrys-background-color-bokeh-plasma-9-9 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-10-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-10-2 {
  background-color: #45039e;
}

.chrys-background-color-bokeh-plasma-10-3 {
  background-color: #7200a8;
}

.chrys-background-color-bokeh-plasma-10-4 {
  background-color: #9b179e;
}

.chrys-background-color-bokeh-plasma-10-5 {
  background-color: #bc3685;
}

.chrys-background-color-bokeh-plasma-10-6 {
  background-color: #d7566c;
}

.chrys-background-color-bokeh-plasma-10-7 {
  background-color: #ec7853;
}

.chrys-background-color-bokeh-plasma-10-8 {
  background-color: #fa9d3a;
}

.chrys-background-color-bokeh-plasma-10-9 {
  background-color: #fcc726;
}

.chrys-background-color-bokeh-plasma-10-10 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-11-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-11-2 {
  background-color: #40039c;
}

.chrys-background-color-bokeh-plasma-11-3 {
  background-color: #6a00a7;
}

.chrys-background-color-bokeh-plasma-11-4 {
  background-color: #8f0da3;
}

.chrys-background-color-bokeh-plasma-11-5 {
  background-color: #b02a8f;
}

.chrys-background-color-bokeh-plasma-11-6 {
  background-color: #ca4678;
}

.chrys-background-color-bokeh-plasma-11-7 {
  background-color: #e06461;
}

.chrys-background-color-bokeh-plasma-11-8 {
  background-color: #f1824c;
}

.chrys-background-color-bokeh-plasma-11-9 {
  background-color: #fca635;
}

.chrys-background-color-bokeh-plasma-11-10 {
  background-color: #fccc25;
}

.chrys-background-color-bokeh-plasma-11-11 {
  background-color: #eff821;
}

.chrys-background-color-bokeh-plasma-256-1 {
  background-color: #0c0786;
}

.chrys-background-color-bokeh-plasma-256-2 {
  background-color: #100787;
}

.chrys-background-color-bokeh-plasma-256-3 {
  background-color: #130689;
}

.chrys-background-color-bokeh-plasma-256-4 {
  background-color: #15068a;
}

.chrys-background-color-bokeh-plasma-256-5 {
  background-color: #18068b;
}

.chrys-background-color-bokeh-plasma-256-6 {
  background-color: #1b068c;
}

.chrys-background-color-bokeh-plasma-256-7 {
  background-color: #1d068d;
}

.chrys-background-color-bokeh-plasma-256-8 {
  background-color: #1f058e;
}

.chrys-background-color-bokeh-plasma-256-9 {
  background-color: #21058f;
}

.chrys-background-color-bokeh-plasma-256-10 {
  background-color: #230590;
}

.chrys-background-color-bokeh-plasma-256-11 {
  background-color: #250591;
}

.chrys-background-color-bokeh-plasma-256-12 {
  background-color: #270592;
}

.chrys-background-color-bokeh-plasma-256-13 {
  background-color: #290593;
}

.chrys-background-color-bokeh-plasma-256-14 {
  background-color: #2b0594;
}

.chrys-background-color-bokeh-plasma-256-15 {
  background-color: #2d0494;
}

.chrys-background-color-bokeh-plasma-256-16 {
  background-color: #2f0495;
}

.chrys-background-color-bokeh-plasma-256-17 {
  background-color: #310496;
}

.chrys-background-color-bokeh-plasma-256-18 {
  background-color: #330497;
}

.chrys-background-color-bokeh-plasma-256-19 {
  background-color: #340498;
}

.chrys-background-color-bokeh-plasma-256-20 {
  background-color: #360498;
}

.chrys-background-color-bokeh-plasma-256-21 {
  background-color: #380499;
}

.chrys-background-color-bokeh-plasma-256-22 {
  background-color: #3a049a;
}

.chrys-background-color-bokeh-plasma-256-23 {
  background-color: #3b039a;
}

.chrys-background-color-bokeh-plasma-256-24 {
  background-color: #3d039b;
}

.chrys-background-color-bokeh-plasma-256-25 {
  background-color: #3f039c;
}

.chrys-background-color-bokeh-plasma-256-26 {
  background-color: #40039c;
}

.chrys-background-color-bokeh-plasma-256-27 {
  background-color: #42039d;
}

.chrys-background-color-bokeh-plasma-256-28 {
  background-color: #44039e;
}

.chrys-background-color-bokeh-plasma-256-29 {
  background-color: #45039e;
}

.chrys-background-color-bokeh-plasma-256-30 {
  background-color: #47029f;
}

.chrys-background-color-bokeh-plasma-256-31 {
  background-color: #49029f;
}

.chrys-background-color-bokeh-plasma-256-32 {
  background-color: #4a02a0;
}

.chrys-background-color-bokeh-plasma-256-33 {
  background-color: #4c02a1;
}

.chrys-background-color-bokeh-plasma-256-34 {
  background-color: #4e02a1;
}

.chrys-background-color-bokeh-plasma-256-35 {
  background-color: #4f02a2;
}

.chrys-background-color-bokeh-plasma-256-36 {
  background-color: #5101a2;
}

.chrys-background-color-bokeh-plasma-256-37 {
  background-color: #5201a3;
}

.chrys-background-color-bokeh-plasma-256-38 {
  background-color: #5401a3;
}

.chrys-background-color-bokeh-plasma-256-39 {
  background-color: #5601a3;
}

.chrys-background-color-bokeh-plasma-256-40 {
  background-color: #5701a4;
}

.chrys-background-color-bokeh-plasma-256-41 {
  background-color: #5901a4;
}

.chrys-background-color-bokeh-plasma-256-42 {
  background-color: #5a00a5;
}

.chrys-background-color-bokeh-plasma-256-43 {
  background-color: #5c00a5;
}

.chrys-background-color-bokeh-plasma-256-44 {
  background-color: #5e00a5;
}

.chrys-background-color-bokeh-plasma-256-45 {
  background-color: #5f00a6;
}

.chrys-background-color-bokeh-plasma-256-46 {
  background-color: #6100a6;
}

.chrys-background-color-bokeh-plasma-256-47 {
  background-color: #6200a6;
}

.chrys-background-color-bokeh-plasma-256-48 {
  background-color: #6400a7;
}

.chrys-background-color-bokeh-plasma-256-49 {
  background-color: #6500a7;
}

.chrys-background-color-bokeh-plasma-256-50 {
  background-color: #6700a7;
}

.chrys-background-color-bokeh-plasma-256-51 {
  background-color: #6800a7;
}

.chrys-background-color-bokeh-plasma-256-52 {
  background-color: #6a00a7;
}

.chrys-background-color-bokeh-plasma-256-53 {
  background-color: #6c00a8;
}

.chrys-background-color-bokeh-plasma-256-54 {
  background-color: #6d00a8;
}

.chrys-background-color-bokeh-plasma-256-55 {
  background-color: #6f00a8;
}

.chrys-background-color-bokeh-plasma-256-56 {
  background-color: #7000a8;
}

.chrys-background-color-bokeh-plasma-256-57 {
  background-color: #7200a8;
}

.chrys-background-color-bokeh-plasma-256-58 {
  background-color: #7300a8;
}

.chrys-background-color-bokeh-plasma-256-59 {
  background-color: #7500a8;
}

.chrys-background-color-bokeh-plasma-256-60 {
  background-color: #7601a8;
}

.chrys-background-color-bokeh-plasma-256-61 {
  background-color: #7801a8;
}

.chrys-background-color-bokeh-plasma-256-62 {
  background-color: #7901a8;
}

.chrys-background-color-bokeh-plasma-256-63 {
  background-color: #7b02a8;
}

.chrys-background-color-bokeh-plasma-256-64 {
  background-color: #7c02a7;
}

.chrys-background-color-bokeh-plasma-256-65 {
  background-color: #7e03a7;
}

.chrys-background-color-bokeh-plasma-256-66 {
  background-color: #7f03a7;
}

.chrys-background-color-bokeh-plasma-256-67 {
  background-color: #8104a7;
}

.chrys-background-color-bokeh-plasma-256-68 {
  background-color: #8204a7;
}

.chrys-background-color-bokeh-plasma-256-69 {
  background-color: #8405a6;
}

.chrys-background-color-bokeh-plasma-256-70 {
  background-color: #8506a6;
}

.chrys-background-color-bokeh-plasma-256-71 {
  background-color: #8607a6;
}

.chrys-background-color-bokeh-plasma-256-72 {
  background-color: #8807a5;
}

.chrys-background-color-bokeh-plasma-256-73 {
  background-color: #8908a5;
}

.chrys-background-color-bokeh-plasma-256-74 {
  background-color: #8b09a4;
}

.chrys-background-color-bokeh-plasma-256-75 {
  background-color: #8c0aa4;
}

.chrys-background-color-bokeh-plasma-256-76 {
  background-color: #8e0ca4;
}

.chrys-background-color-bokeh-plasma-256-77 {
  background-color: #8f0da3;
}

.chrys-background-color-bokeh-plasma-256-78 {
  background-color: #900ea3;
}

.chrys-background-color-bokeh-plasma-256-79 {
  background-color: #920fa2;
}

.chrys-background-color-bokeh-plasma-256-80 {
  background-color: #9310a1;
}

.chrys-background-color-bokeh-plasma-256-81 {
  background-color: #9511a1;
}

.chrys-background-color-bokeh-plasma-256-82 {
  background-color: #9612a0;
}

.chrys-background-color-bokeh-plasma-256-83 {
  background-color: #9713a0;
}

.chrys-background-color-bokeh-plasma-256-84 {
  background-color: #99149f;
}

.chrys-background-color-bokeh-plasma-256-85 {
  background-color: #9a159e;
}

.chrys-background-color-bokeh-plasma-256-86 {
  background-color: #9b179e;
}

.chrys-background-color-bokeh-plasma-256-87 {
  background-color: #9d189d;
}

.chrys-background-color-bokeh-plasma-256-88 {
  background-color: #9e199c;
}

.chrys-background-color-bokeh-plasma-256-89 {
  background-color: #9f1a9b;
}

.chrys-background-color-bokeh-plasma-256-90 {
  background-color: #a01b9b;
}

.chrys-background-color-bokeh-plasma-256-91 {
  background-color: #a21c9a;
}

.chrys-background-color-bokeh-plasma-256-92 {
  background-color: #a31d99;
}

.chrys-background-color-bokeh-plasma-256-93 {
  background-color: #a41e98;
}

.chrys-background-color-bokeh-plasma-256-94 {
  background-color: #a51f97;
}

.chrys-background-color-bokeh-plasma-256-95 {
  background-color: #a72197;
}

.chrys-background-color-bokeh-plasma-256-96 {
  background-color: #a82296;
}

.chrys-background-color-bokeh-plasma-256-97 {
  background-color: #a92395;
}

.chrys-background-color-bokeh-plasma-256-98 {
  background-color: #aa2494;
}

.chrys-background-color-bokeh-plasma-256-99 {
  background-color: #ac2593;
}

.chrys-background-color-bokeh-plasma-256-100 {
  background-color: #ad2692;
}

.chrys-background-color-bokeh-plasma-256-101 {
  background-color: #ae2791;
}

.chrys-background-color-bokeh-plasma-256-102 {
  background-color: #af2890;
}

.chrys-background-color-bokeh-plasma-256-103 {
  background-color: #b02a8f;
}

.chrys-background-color-bokeh-plasma-256-104 {
  background-color: #b12b8f;
}

.chrys-background-color-bokeh-plasma-256-105 {
  background-color: #b22c8e;
}

.chrys-background-color-bokeh-plasma-256-106 {
  background-color: #b42d8d;
}

.chrys-background-color-bokeh-plasma-256-107 {
  background-color: #b52e8c;
}

.chrys-background-color-bokeh-plasma-256-108 {
  background-color: #b62f8b;
}

.chrys-background-color-bokeh-plasma-256-109 {
  background-color: #b7308a;
}

.chrys-background-color-bokeh-plasma-256-110 {
  background-color: #b83289;
}

.chrys-background-color-bokeh-plasma-256-111 {
  background-color: #b93388;
}

.chrys-background-color-bokeh-plasma-256-112 {
  background-color: #ba3487;
}

.chrys-background-color-bokeh-plasma-256-113 {
  background-color: #bb3586;
}

.chrys-background-color-bokeh-plasma-256-114 {
  background-color: #bc3685;
}

.chrys-background-color-bokeh-plasma-256-115 {
  background-color: #bd3784;
}

.chrys-background-color-bokeh-plasma-256-116 {
  background-color: #be3883;
}

.chrys-background-color-bokeh-plasma-256-117 {
  background-color: #bf3982;
}

.chrys-background-color-bokeh-plasma-256-118 {
  background-color: #c03b81;
}

.chrys-background-color-bokeh-plasma-256-119 {
  background-color: #c13c80;
}

.chrys-background-color-bokeh-plasma-256-120 {
  background-color: #c23d80;
}

.chrys-background-color-bokeh-plasma-256-121 {
  background-color: #c33e7f;
}

.chrys-background-color-bokeh-plasma-256-122 {
  background-color: #c43f7e;
}

.chrys-background-color-bokeh-plasma-256-123 {
  background-color: #c5407d;
}

.chrys-background-color-bokeh-plasma-256-124 {
  background-color: #c6417c;
}

.chrys-background-color-bokeh-plasma-256-125 {
  background-color: #c7427b;
}

.chrys-background-color-bokeh-plasma-256-126 {
  background-color: #c8447a;
}

.chrys-background-color-bokeh-plasma-256-127 {
  background-color: #c94579;
}

.chrys-background-color-bokeh-plasma-256-128 {
  background-color: #ca4678;
}

.chrys-background-color-bokeh-plasma-256-129 {
  background-color: #cb4777;
}

.chrys-background-color-bokeh-plasma-256-130 {
  background-color: #cc4876;
}

.chrys-background-color-bokeh-plasma-256-131 {
  background-color: #cd4975;
}

.chrys-background-color-bokeh-plasma-256-132 {
  background-color: #ce4a75;
}

.chrys-background-color-bokeh-plasma-256-133 {
  background-color: #cf4b74;
}

.chrys-background-color-bokeh-plasma-256-134 {
  background-color: #d04d73;
}

.chrys-background-color-bokeh-plasma-256-135 {
  background-color: #d14e72;
}

.chrys-background-color-bokeh-plasma-256-136 {
  background-color: #d14f71;
}

.chrys-background-color-bokeh-plasma-256-137 {
  background-color: #d25070;
}

.chrys-background-color-bokeh-plasma-256-138 {
  background-color: #d3516f;
}

.chrys-background-color-bokeh-plasma-256-139 {
  background-color: #d4526e;
}

.chrys-background-color-bokeh-plasma-256-140 {
  background-color: #d5536d;
}

.chrys-background-color-bokeh-plasma-256-141 {
  background-color: #d6556d;
}

.chrys-background-color-bokeh-plasma-256-142 {
  background-color: #d7566c;
}

.chrys-background-color-bokeh-plasma-256-143 {
  background-color: #d7576b;
}

.chrys-background-color-bokeh-plasma-256-144 {
  background-color: #d8586a;
}

.chrys-background-color-bokeh-plasma-256-145 {
  background-color: #d95969;
}

.chrys-background-color-bokeh-plasma-256-146 {
  background-color: #da5a68;
}

.chrys-background-color-bokeh-plasma-256-147 {
  background-color: #db5b67;
}

.chrys-background-color-bokeh-plasma-256-148 {
  background-color: #dc5d66;
}

.chrys-background-color-bokeh-plasma-256-149 {
  background-color: #dc5e66;
}

.chrys-background-color-bokeh-plasma-256-150 {
  background-color: #dd5f65;
}

.chrys-background-color-bokeh-plasma-256-151 {
  background-color: #de6064;
}

.chrys-background-color-bokeh-plasma-256-152 {
  background-color: #df6163;
}

.chrys-background-color-bokeh-plasma-256-153 {
  background-color: #df6262;
}

.chrys-background-color-bokeh-plasma-256-154 {
  background-color: #e06461;
}

.chrys-background-color-bokeh-plasma-256-155 {
  background-color: #e16560;
}

.chrys-background-color-bokeh-plasma-256-156 {
  background-color: #e26660;
}

.chrys-background-color-bokeh-plasma-256-157 {
  background-color: #e3675f;
}

.chrys-background-color-bokeh-plasma-256-158 {
  background-color: #e3685e;
}

.chrys-background-color-bokeh-plasma-256-159 {
  background-color: #e46a5d;
}

.chrys-background-color-bokeh-plasma-256-160 {
  background-color: #e56b5c;
}

.chrys-background-color-bokeh-plasma-256-161 {
  background-color: #e56c5b;
}

.chrys-background-color-bokeh-plasma-256-162 {
  background-color: #e66d5a;
}

.chrys-background-color-bokeh-plasma-256-163 {
  background-color: #e76e5a;
}

.chrys-background-color-bokeh-plasma-256-164 {
  background-color: #e87059;
}

.chrys-background-color-bokeh-plasma-256-165 {
  background-color: #e87158;
}

.chrys-background-color-bokeh-plasma-256-166 {
  background-color: #e97257;
}

.chrys-background-color-bokeh-plasma-256-167 {
  background-color: #ea7356;
}

.chrys-background-color-bokeh-plasma-256-168 {
  background-color: #ea7455;
}

.chrys-background-color-bokeh-plasma-256-169 {
  background-color: #eb7654;
}

.chrys-background-color-bokeh-plasma-256-170 {
  background-color: #ec7754;
}

.chrys-background-color-bokeh-plasma-256-171 {
  background-color: #ec7853;
}

.chrys-background-color-bokeh-plasma-256-172 {
  background-color: #ed7952;
}

.chrys-background-color-bokeh-plasma-256-173 {
  background-color: #ed7b51;
}

.chrys-background-color-bokeh-plasma-256-174 {
  background-color: #ee7c50;
}

.chrys-background-color-bokeh-plasma-256-175 {
  background-color: #ef7d4f;
}

.chrys-background-color-bokeh-plasma-256-176 {
  background-color: #ef7e4e;
}

.chrys-background-color-bokeh-plasma-256-177 {
  background-color: #f0804d;
}

.chrys-background-color-bokeh-plasma-256-178 {
  background-color: #f0814d;
}

.chrys-background-color-bokeh-plasma-256-179 {
  background-color: #f1824c;
}

.chrys-background-color-bokeh-plasma-256-180 {
  background-color: #f2844b;
}

.chrys-background-color-bokeh-plasma-256-181 {
  background-color: #f2854a;
}

.chrys-background-color-bokeh-plasma-256-182 {
  background-color: #f38649;
}

.chrys-background-color-bokeh-plasma-256-183 {
  background-color: #f38748;
}

.chrys-background-color-bokeh-plasma-256-184 {
  background-color: #f48947;
}

.chrys-background-color-bokeh-plasma-256-185 {
  background-color: #f48a47;
}

.chrys-background-color-bokeh-plasma-256-186 {
  background-color: #f58b46;
}

.chrys-background-color-bokeh-plasma-256-187 {
  background-color: #f58d45;
}

.chrys-background-color-bokeh-plasma-256-188 {
  background-color: #f68e44;
}

.chrys-background-color-bokeh-plasma-256-189 {
  background-color: #f68f43;
}

.chrys-background-color-bokeh-plasma-256-190 {
  background-color: #f69142;
}

.chrys-background-color-bokeh-plasma-256-191 {
  background-color: #f79241;
}

.chrys-background-color-bokeh-plasma-256-192 {
  background-color: #f79341;
}

.chrys-background-color-bokeh-plasma-256-193 {
  background-color: #f89540;
}

.chrys-background-color-bokeh-plasma-256-194 {
  background-color: #f8963f;
}

.chrys-background-color-bokeh-plasma-256-195 {
  background-color: #f8983e;
}

.chrys-background-color-bokeh-plasma-256-196 {
  background-color: #f9993d;
}

.chrys-background-color-bokeh-plasma-256-197 {
  background-color: #f99a3c;
}

.chrys-background-color-bokeh-plasma-256-198 {
  background-color: #fa9c3b;
}

.chrys-background-color-bokeh-plasma-256-199 {
  background-color: #fa9d3a;
}

.chrys-background-color-bokeh-plasma-256-200 {
  background-color: #fa9f3a;
}

.chrys-background-color-bokeh-plasma-256-201 {
  background-color: #faa039;
}

.chrys-background-color-bokeh-plasma-256-202 {
  background-color: #fba238;
}

.chrys-background-color-bokeh-plasma-256-203 {
  background-color: #fba337;
}

.chrys-background-color-bokeh-plasma-256-204 {
  background-color: #fba436;
}

.chrys-background-color-bokeh-plasma-256-205 {
  background-color: #fca635;
}

.chrys-background-color-bokeh-plasma-256-206 {
  background-color: #fca735;
}

.chrys-background-color-bokeh-plasma-256-207 {
  background-color: #fca934;
}

.chrys-background-color-bokeh-plasma-256-208 {
  background-color: #fcaa33;
}

.chrys-background-color-bokeh-plasma-256-209 {
  background-color: #fcac32;
}

.chrys-background-color-bokeh-plasma-256-210 {
  background-color: #fcad31;
}

.chrys-background-color-bokeh-plasma-256-211 {
  background-color: #fdaf31;
}

.chrys-background-color-bokeh-plasma-256-212 {
  background-color: #fdb030;
}

.chrys-background-color-bokeh-plasma-256-213 {
  background-color: #fdb22f;
}

.chrys-background-color-bokeh-plasma-256-214 {
  background-color: #fdb32e;
}

.chrys-background-color-bokeh-plasma-256-215 {
  background-color: #fdb52d;
}

.chrys-background-color-bokeh-plasma-256-216 {
  background-color: #fdb62d;
}

.chrys-background-color-bokeh-plasma-256-217 {
  background-color: #fdb82c;
}

.chrys-background-color-bokeh-plasma-256-218 {
  background-color: #fdb92b;
}

.chrys-background-color-bokeh-plasma-256-219 {
  background-color: #fdbb2b;
}

.chrys-background-color-bokeh-plasma-256-220 {
  background-color: #fdbc2a;
}

.chrys-background-color-bokeh-plasma-256-221 {
  background-color: #fdbe29;
}

.chrys-background-color-bokeh-plasma-256-222 {
  background-color: #fdc029;
}

.chrys-background-color-bokeh-plasma-256-223 {
  background-color: #fdc128;
}

.chrys-background-color-bokeh-plasma-256-224 {
  background-color: #fdc328;
}

.chrys-background-color-bokeh-plasma-256-225 {
  background-color: #fdc427;
}

.chrys-background-color-bokeh-plasma-256-226 {
  background-color: #fdc626;
}

.chrys-background-color-bokeh-plasma-256-227 {
  background-color: #fcc726;
}

.chrys-background-color-bokeh-plasma-256-228 {
  background-color: #fcc926;
}

.chrys-background-color-bokeh-plasma-256-229 {
  background-color: #fccb25;
}

.chrys-background-color-bokeh-plasma-256-230 {
  background-color: #fccc25;
}

.chrys-background-color-bokeh-plasma-256-231 {
  background-color: #fcce25;
}

.chrys-background-color-bokeh-plasma-256-232 {
  background-color: #fbd024;
}

.chrys-background-color-bokeh-plasma-256-233 {
  background-color: #fbd124;
}

.chrys-background-color-bokeh-plasma-256-234 {
  background-color: #fbd324;
}

.chrys-background-color-bokeh-plasma-256-235 {
  background-color: #fad524;
}

.chrys-background-color-bokeh-plasma-256-236 {
  background-color: #fad624;
}

.chrys-background-color-bokeh-plasma-256-237 {
  background-color: #fad824;
}

.chrys-background-color-bokeh-plasma-256-238 {
  background-color: #f9d924;
}

.chrys-background-color-bokeh-plasma-256-239 {
  background-color: #f9db24;
}

.chrys-background-color-bokeh-plasma-256-240 {
  background-color: #f8dd24;
}

.chrys-background-color-bokeh-plasma-256-241 {
  background-color: #f8df24;
}

.chrys-background-color-bokeh-plasma-256-242 {
  background-color: #f7e024;
}

.chrys-background-color-bokeh-plasma-256-243 {
  background-color: #f7e225;
}

.chrys-background-color-bokeh-plasma-256-244 {
  background-color: #f6e425;
}

.chrys-background-color-bokeh-plasma-256-245 {
  background-color: #f6e525;
}

.chrys-background-color-bokeh-plasma-256-246 {
  background-color: #f5e726;
}

.chrys-background-color-bokeh-plasma-256-247 {
  background-color: #f5e926;
}

.chrys-background-color-bokeh-plasma-256-248 {
  background-color: #f4ea26;
}

.chrys-background-color-bokeh-plasma-256-249 {
  background-color: #f3ec26;
}

.chrys-background-color-bokeh-plasma-256-250 {
  background-color: #f3ee26;
}

.chrys-background-color-bokeh-plasma-256-251 {
  background-color: #f2f026;
}

.chrys-background-color-bokeh-plasma-256-252 {
  background-color: #f2f126;
}

.chrys-background-color-bokeh-plasma-256-253 {
  background-color: #f1f326;
}

.chrys-background-color-bokeh-plasma-256-254 {
  background-color: #f0f525;
}

.chrys-background-color-bokeh-plasma-256-255 {
  background-color: #f0f623;
}

.chrys-background-color-bokeh-plasma-256-256 {
  background-color: #eff821;
}