.chrys-background-color-bokeh-greys-3-1 {
  background-color: #636363;
}

.chrys-background-color-bokeh-greys-3-2 {
  background-color: #bdbdbd;
}

.chrys-background-color-bokeh-greys-3-3 {
  background-color: #f0f0f0;
}

.chrys-background-color-bokeh-greys-4-1 {
  background-color: #525252;
}

.chrys-background-color-bokeh-greys-4-2 {
  background-color: #969696;
}

.chrys-background-color-bokeh-greys-4-3 {
  background-color: #cccccc;
}

.chrys-background-color-bokeh-greys-4-4 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-greys-5-1 {
  background-color: #252525;
}

.chrys-background-color-bokeh-greys-5-2 {
  background-color: #636363;
}

.chrys-background-color-bokeh-greys-5-3 {
  background-color: #969696;
}

.chrys-background-color-bokeh-greys-5-4 {
  background-color: #cccccc;
}

.chrys-background-color-bokeh-greys-5-5 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-greys-6-1 {
  background-color: #252525;
}

.chrys-background-color-bokeh-greys-6-2 {
  background-color: #636363;
}

.chrys-background-color-bokeh-greys-6-3 {
  background-color: #969696;
}

.chrys-background-color-bokeh-greys-6-4 {
  background-color: #bdbdbd;
}

.chrys-background-color-bokeh-greys-6-5 {
  background-color: #d9d9d9;
}

.chrys-background-color-bokeh-greys-6-6 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-greys-7-1 {
  background-color: #252525;
}

.chrys-background-color-bokeh-greys-7-2 {
  background-color: #525252;
}

.chrys-background-color-bokeh-greys-7-3 {
  background-color: #737373;
}

.chrys-background-color-bokeh-greys-7-4 {
  background-color: #969696;
}

.chrys-background-color-bokeh-greys-7-5 {
  background-color: #bdbdbd;
}

.chrys-background-color-bokeh-greys-7-6 {
  background-color: #d9d9d9;
}

.chrys-background-color-bokeh-greys-7-7 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-greys-8-1 {
  background-color: #252525;
}

.chrys-background-color-bokeh-greys-8-2 {
  background-color: #525252;
}

.chrys-background-color-bokeh-greys-8-3 {
  background-color: #737373;
}

.chrys-background-color-bokeh-greys-8-4 {
  background-color: #969696;
}

.chrys-background-color-bokeh-greys-8-5 {
  background-color: #bdbdbd;
}

.chrys-background-color-bokeh-greys-8-6 {
  background-color: #d9d9d9;
}

.chrys-background-color-bokeh-greys-8-7 {
  background-color: #f0f0f0;
}

.chrys-background-color-bokeh-greys-8-8 {
  background-color: #ffffff;
}

.chrys-background-color-bokeh-greys-9-1 {
  background-color: #000000;
}

.chrys-background-color-bokeh-greys-9-2 {
  background-color: #252525;
}

.chrys-background-color-bokeh-greys-9-3 {
  background-color: #525252;
}

.chrys-background-color-bokeh-greys-9-4 {
  background-color: #737373;
}

.chrys-background-color-bokeh-greys-9-5 {
  background-color: #969696;
}

.chrys-background-color-bokeh-greys-9-6 {
  background-color: #bdbdbd;
}

.chrys-background-color-bokeh-greys-9-7 {
  background-color: #d9d9d9;
}

.chrys-background-color-bokeh-greys-9-8 {
  background-color: #f0f0f0;
}

.chrys-background-color-bokeh-greys-9-9 {
  background-color: #ffffff;
}

.chrys-background-color-bokeh-greys-10-1 {
  background-color: #000000;
}

.chrys-background-color-bokeh-greys-10-2 {
  background-color: #1c1c1c;
}

.chrys-background-color-bokeh-greys-10-3 {
  background-color: #383838;
}

.chrys-background-color-bokeh-greys-10-4 {
  background-color: #555555;
}

.chrys-background-color-bokeh-greys-10-5 {
  background-color: #717171;
}

.chrys-background-color-bokeh-greys-10-6 {
  background-color: #8d8d8d;
}

.chrys-background-color-bokeh-greys-10-7 {
  background-color: #aaaaaa;
}

.chrys-background-color-bokeh-greys-10-8 {
  background-color: #c6c6c6;
}

.chrys-background-color-bokeh-greys-10-9 {
  background-color: #e2e2e2;
}

.chrys-background-color-bokeh-greys-10-10 {
  background-color: #ffffff;
}

.chrys-background-color-bokeh-greys-11-1 {
  background-color: #000000;
}

.chrys-background-color-bokeh-greys-11-2 {
  background-color: #191919;
}

.chrys-background-color-bokeh-greys-11-3 {
  background-color: #333333;
}

.chrys-background-color-bokeh-greys-11-4 {
  background-color: #4c4c4c;
}

.chrys-background-color-bokeh-greys-11-5 {
  background-color: #666666;
}

.chrys-background-color-bokeh-greys-11-6 {
  background-color: #7f7f7f;
}

.chrys-background-color-bokeh-greys-11-7 {
  background-color: #999999;
}

.chrys-background-color-bokeh-greys-11-8 {
  background-color: #b2b2b2;
}

.chrys-background-color-bokeh-greys-11-9 {
  background-color: #cccccc;
}

.chrys-background-color-bokeh-greys-11-10 {
  background-color: #e5e5e5;
}

.chrys-background-color-bokeh-greys-11-11 {
  background-color: #ffffff;
}

.chrys-background-color-bokeh-greys-256-1 {
  background-color: #000000;
}

.chrys-background-color-bokeh-greys-256-2 {
  background-color: #010101;
}

.chrys-background-color-bokeh-greys-256-3 {
  background-color: #020202;
}

.chrys-background-color-bokeh-greys-256-4 {
  background-color: #030303;
}

.chrys-background-color-bokeh-greys-256-5 {
  background-color: #040404;
}

.chrys-background-color-bokeh-greys-256-6 {
  background-color: #050505;
}

.chrys-background-color-bokeh-greys-256-7 {
  background-color: #060606;
}

.chrys-background-color-bokeh-greys-256-8 {
  background-color: #070707;
}

.chrys-background-color-bokeh-greys-256-9 {
  background-color: #080808;
}

.chrys-background-color-bokeh-greys-256-10 {
  background-color: #090909;
}

.chrys-background-color-bokeh-greys-256-11 {
  background-color: #0a0a0a;
}

.chrys-background-color-bokeh-greys-256-12 {
  background-color: #0b0b0b;
}

.chrys-background-color-bokeh-greys-256-13 {
  background-color: #0c0c0c;
}

.chrys-background-color-bokeh-greys-256-14 {
  background-color: #0d0d0d;
}

.chrys-background-color-bokeh-greys-256-15 {
  background-color: #0e0e0e;
}

.chrys-background-color-bokeh-greys-256-16 {
  background-color: #0f0f0f;
}

.chrys-background-color-bokeh-greys-256-17 {
  background-color: #101010;
}

.chrys-background-color-bokeh-greys-256-18 {
  background-color: #111111;
}

.chrys-background-color-bokeh-greys-256-19 {
  background-color: #121212;
}

.chrys-background-color-bokeh-greys-256-20 {
  background-color: #131313;
}

.chrys-background-color-bokeh-greys-256-21 {
  background-color: #141414;
}

.chrys-background-color-bokeh-greys-256-22 {
  background-color: #151515;
}

.chrys-background-color-bokeh-greys-256-23 {
  background-color: #161616;
}

.chrys-background-color-bokeh-greys-256-24 {
  background-color: #171717;
}

.chrys-background-color-bokeh-greys-256-25 {
  background-color: #181818;
}

.chrys-background-color-bokeh-greys-256-26 {
  background-color: #191919;
}

.chrys-background-color-bokeh-greys-256-27 {
  background-color: #1a1a1a;
}

.chrys-background-color-bokeh-greys-256-28 {
  background-color: #1b1b1b;
}

.chrys-background-color-bokeh-greys-256-29 {
  background-color: #1c1c1c;
}

.chrys-background-color-bokeh-greys-256-30 {
  background-color: #1d1d1d;
}

.chrys-background-color-bokeh-greys-256-31 {
  background-color: #1e1e1e;
}

.chrys-background-color-bokeh-greys-256-32 {
  background-color: #1f1f1f;
}

.chrys-background-color-bokeh-greys-256-33 {
  background-color: #202020;
}

.chrys-background-color-bokeh-greys-256-34 {
  background-color: #212121;
}

.chrys-background-color-bokeh-greys-256-35 {
  background-color: #222222;
}

.chrys-background-color-bokeh-greys-256-36 {
  background-color: #232323;
}

.chrys-background-color-bokeh-greys-256-37 {
  background-color: #242424;
}

.chrys-background-color-bokeh-greys-256-38 {
  background-color: #252525;
}

.chrys-background-color-bokeh-greys-256-39 {
  background-color: #262626;
}

.chrys-background-color-bokeh-greys-256-40 {
  background-color: #272727;
}

.chrys-background-color-bokeh-greys-256-41 {
  background-color: #282828;
}

.chrys-background-color-bokeh-greys-256-42 {
  background-color: #292929;
}

.chrys-background-color-bokeh-greys-256-43 {
  background-color: #2a2a2a;
}

.chrys-background-color-bokeh-greys-256-44 {
  background-color: #2b2b2b;
}

.chrys-background-color-bokeh-greys-256-45 {
  background-color: #2c2c2c;
}

.chrys-background-color-bokeh-greys-256-46 {
  background-color: #2d2d2d;
}

.chrys-background-color-bokeh-greys-256-47 {
  background-color: #2e2e2e;
}

.chrys-background-color-bokeh-greys-256-48 {
  background-color: #2f2f2f;
}

.chrys-background-color-bokeh-greys-256-49 {
  background-color: #303030;
}

.chrys-background-color-bokeh-greys-256-50 {
  background-color: #313131;
}

.chrys-background-color-bokeh-greys-256-51 {
  background-color: #323232;
}

.chrys-background-color-bokeh-greys-256-52 {
  background-color: #333333;
}

.chrys-background-color-bokeh-greys-256-53 {
  background-color: #343434;
}

.chrys-background-color-bokeh-greys-256-54 {
  background-color: #353535;
}

.chrys-background-color-bokeh-greys-256-55 {
  background-color: #363636;
}

.chrys-background-color-bokeh-greys-256-56 {
  background-color: #373737;
}

.chrys-background-color-bokeh-greys-256-57 {
  background-color: #383838;
}

.chrys-background-color-bokeh-greys-256-58 {
  background-color: #393939;
}

.chrys-background-color-bokeh-greys-256-59 {
  background-color: #3a3a3a;
}

.chrys-background-color-bokeh-greys-256-60 {
  background-color: #3b3b3b;
}

.chrys-background-color-bokeh-greys-256-61 {
  background-color: #3c3c3c;
}

.chrys-background-color-bokeh-greys-256-62 {
  background-color: #3d3d3d;
}

.chrys-background-color-bokeh-greys-256-63 {
  background-color: #3e3e3e;
}

.chrys-background-color-bokeh-greys-256-64 {
  background-color: #3f3f3f;
}

.chrys-background-color-bokeh-greys-256-65 {
  background-color: #404040;
}

.chrys-background-color-bokeh-greys-256-66 {
  background-color: #414141;
}

.chrys-background-color-bokeh-greys-256-67 {
  background-color: #424242;
}

.chrys-background-color-bokeh-greys-256-68 {
  background-color: #434343;
}

.chrys-background-color-bokeh-greys-256-69 {
  background-color: #444444;
}

.chrys-background-color-bokeh-greys-256-70 {
  background-color: #454545;
}

.chrys-background-color-bokeh-greys-256-71 {
  background-color: #464646;
}

.chrys-background-color-bokeh-greys-256-72 {
  background-color: #474747;
}

.chrys-background-color-bokeh-greys-256-73 {
  background-color: #484848;
}

.chrys-background-color-bokeh-greys-256-74 {
  background-color: #494949;
}

.chrys-background-color-bokeh-greys-256-75 {
  background-color: #4a4a4a;
}

.chrys-background-color-bokeh-greys-256-76 {
  background-color: #4b4b4b;
}

.chrys-background-color-bokeh-greys-256-77 {
  background-color: #4c4c4c;
}

.chrys-background-color-bokeh-greys-256-78 {
  background-color: #4d4d4d;
}

.chrys-background-color-bokeh-greys-256-79 {
  background-color: #4e4e4e;
}

.chrys-background-color-bokeh-greys-256-80 {
  background-color: #4f4f4f;
}

.chrys-background-color-bokeh-greys-256-81 {
  background-color: #505050;
}

.chrys-background-color-bokeh-greys-256-82 {
  background-color: #515151;
}

.chrys-background-color-bokeh-greys-256-83 {
  background-color: #525252;
}

.chrys-background-color-bokeh-greys-256-84 {
  background-color: #535353;
}

.chrys-background-color-bokeh-greys-256-85 {
  background-color: #545454;
}

.chrys-background-color-bokeh-greys-256-86 {
  background-color: #555555;
}

.chrys-background-color-bokeh-greys-256-87 {
  background-color: #565656;
}

.chrys-background-color-bokeh-greys-256-88 {
  background-color: #575757;
}

.chrys-background-color-bokeh-greys-256-89 {
  background-color: #585858;
}

.chrys-background-color-bokeh-greys-256-90 {
  background-color: #595959;
}

.chrys-background-color-bokeh-greys-256-91 {
  background-color: #5a5a5a;
}

.chrys-background-color-bokeh-greys-256-92 {
  background-color: #5b5b5b;
}

.chrys-background-color-bokeh-greys-256-93 {
  background-color: #5c5c5c;
}

.chrys-background-color-bokeh-greys-256-94 {
  background-color: #5d5d5d;
}

.chrys-background-color-bokeh-greys-256-95 {
  background-color: #5e5e5e;
}

.chrys-background-color-bokeh-greys-256-96 {
  background-color: #5f5f5f;
}

.chrys-background-color-bokeh-greys-256-97 {
  background-color: #606060;
}

.chrys-background-color-bokeh-greys-256-98 {
  background-color: #616161;
}

.chrys-background-color-bokeh-greys-256-99 {
  background-color: #626262;
}

.chrys-background-color-bokeh-greys-256-100 {
  background-color: #636363;
}

.chrys-background-color-bokeh-greys-256-101 {
  background-color: #646464;
}

.chrys-background-color-bokeh-greys-256-102 {
  background-color: #656565;
}

.chrys-background-color-bokeh-greys-256-103 {
  background-color: #666666;
}

.chrys-background-color-bokeh-greys-256-104 {
  background-color: #676767;
}

.chrys-background-color-bokeh-greys-256-105 {
  background-color: #686868;
}

.chrys-background-color-bokeh-greys-256-106 {
  background-color: #696969;
}

.chrys-background-color-bokeh-greys-256-107 {
  background-color: #6a6a6a;
}

.chrys-background-color-bokeh-greys-256-108 {
  background-color: #6b6b6b;
}

.chrys-background-color-bokeh-greys-256-109 {
  background-color: #6c6c6c;
}

.chrys-background-color-bokeh-greys-256-110 {
  background-color: #6d6d6d;
}

.chrys-background-color-bokeh-greys-256-111 {
  background-color: #6e6e6e;
}

.chrys-background-color-bokeh-greys-256-112 {
  background-color: #6f6f6f;
}

.chrys-background-color-bokeh-greys-256-113 {
  background-color: #707070;
}

.chrys-background-color-bokeh-greys-256-114 {
  background-color: #717171;
}

.chrys-background-color-bokeh-greys-256-115 {
  background-color: #727272;
}

.chrys-background-color-bokeh-greys-256-116 {
  background-color: #737373;
}

.chrys-background-color-bokeh-greys-256-117 {
  background-color: #747474;
}

.chrys-background-color-bokeh-greys-256-118 {
  background-color: #757575;
}

.chrys-background-color-bokeh-greys-256-119 {
  background-color: #767676;
}

.chrys-background-color-bokeh-greys-256-120 {
  background-color: #777777;
}

.chrys-background-color-bokeh-greys-256-121 {
  background-color: #787878;
}

.chrys-background-color-bokeh-greys-256-122 {
  background-color: #797979;
}

.chrys-background-color-bokeh-greys-256-123 {
  background-color: #7a7a7a;
}

.chrys-background-color-bokeh-greys-256-124 {
  background-color: #7b7b7b;
}

.chrys-background-color-bokeh-greys-256-125 {
  background-color: #7c7c7c;
}

.chrys-background-color-bokeh-greys-256-126 {
  background-color: #7d7d7d;
}

.chrys-background-color-bokeh-greys-256-127 {
  background-color: #7e7e7e;
}

.chrys-background-color-bokeh-greys-256-128 {
  background-color: #7f7f7f;
}

.chrys-background-color-bokeh-greys-256-129 {
  background-color: #808080;
}

.chrys-background-color-bokeh-greys-256-130 {
  background-color: #818181;
}

.chrys-background-color-bokeh-greys-256-131 {
  background-color: #828282;
}

.chrys-background-color-bokeh-greys-256-132 {
  background-color: #838383;
}

.chrys-background-color-bokeh-greys-256-133 {
  background-color: #848484;
}

.chrys-background-color-bokeh-greys-256-134 {
  background-color: #858585;
}

.chrys-background-color-bokeh-greys-256-135 {
  background-color: #868686;
}

.chrys-background-color-bokeh-greys-256-136 {
  background-color: #878787;
}

.chrys-background-color-bokeh-greys-256-137 {
  background-color: #888888;
}

.chrys-background-color-bokeh-greys-256-138 {
  background-color: #898989;
}

.chrys-background-color-bokeh-greys-256-139 {
  background-color: #8a8a8a;
}

.chrys-background-color-bokeh-greys-256-140 {
  background-color: #8b8b8b;
}

.chrys-background-color-bokeh-greys-256-141 {
  background-color: #8c8c8c;
}

.chrys-background-color-bokeh-greys-256-142 {
  background-color: #8d8d8d;
}

.chrys-background-color-bokeh-greys-256-143 {
  background-color: #8e8e8e;
}

.chrys-background-color-bokeh-greys-256-144 {
  background-color: #8f8f8f;
}

.chrys-background-color-bokeh-greys-256-145 {
  background-color: #909090;
}

.chrys-background-color-bokeh-greys-256-146 {
  background-color: #919191;
}

.chrys-background-color-bokeh-greys-256-147 {
  background-color: #929292;
}

.chrys-background-color-bokeh-greys-256-148 {
  background-color: #939393;
}

.chrys-background-color-bokeh-greys-256-149 {
  background-color: #949494;
}

.chrys-background-color-bokeh-greys-256-150 {
  background-color: #959595;
}

.chrys-background-color-bokeh-greys-256-151 {
  background-color: #969696;
}

.chrys-background-color-bokeh-greys-256-152 {
  background-color: #979797;
}

.chrys-background-color-bokeh-greys-256-153 {
  background-color: #989898;
}

.chrys-background-color-bokeh-greys-256-154 {
  background-color: #999999;
}

.chrys-background-color-bokeh-greys-256-155 {
  background-color: #9a9a9a;
}

.chrys-background-color-bokeh-greys-256-156 {
  background-color: #9b9b9b;
}

.chrys-background-color-bokeh-greys-256-157 {
  background-color: #9c9c9c;
}

.chrys-background-color-bokeh-greys-256-158 {
  background-color: #9d9d9d;
}

.chrys-background-color-bokeh-greys-256-159 {
  background-color: #9e9e9e;
}

.chrys-background-color-bokeh-greys-256-160 {
  background-color: #9f9f9f;
}

.chrys-background-color-bokeh-greys-256-161 {
  background-color: #a0a0a0;
}

.chrys-background-color-bokeh-greys-256-162 {
  background-color: #a1a1a1;
}

.chrys-background-color-bokeh-greys-256-163 {
  background-color: #a2a2a2;
}

.chrys-background-color-bokeh-greys-256-164 {
  background-color: #a3a3a3;
}

.chrys-background-color-bokeh-greys-256-165 {
  background-color: #a4a4a4;
}

.chrys-background-color-bokeh-greys-256-166 {
  background-color: #a5a5a5;
}

.chrys-background-color-bokeh-greys-256-167 {
  background-color: #a6a6a6;
}

.chrys-background-color-bokeh-greys-256-168 {
  background-color: #a7a7a7;
}

.chrys-background-color-bokeh-greys-256-169 {
  background-color: #a8a8a8;
}

.chrys-background-color-bokeh-greys-256-170 {
  background-color: #a9a9a9;
}

.chrys-background-color-bokeh-greys-256-171 {
  background-color: #aaaaaa;
}

.chrys-background-color-bokeh-greys-256-172 {
  background-color: #ababab;
}

.chrys-background-color-bokeh-greys-256-173 {
  background-color: #acacac;
}

.chrys-background-color-bokeh-greys-256-174 {
  background-color: #adadad;
}

.chrys-background-color-bokeh-greys-256-175 {
  background-color: #aeaeae;
}

.chrys-background-color-bokeh-greys-256-176 {
  background-color: #afafaf;
}

.chrys-background-color-bokeh-greys-256-177 {
  background-color: #b0b0b0;
}

.chrys-background-color-bokeh-greys-256-178 {
  background-color: #b1b1b1;
}

.chrys-background-color-bokeh-greys-256-179 {
  background-color: #b2b2b2;
}

.chrys-background-color-bokeh-greys-256-180 {
  background-color: #b3b3b3;
}

.chrys-background-color-bokeh-greys-256-181 {
  background-color: #b4b4b4;
}

.chrys-background-color-bokeh-greys-256-182 {
  background-color: #b5b5b5;
}

.chrys-background-color-bokeh-greys-256-183 {
  background-color: #b6b6b6;
}

.chrys-background-color-bokeh-greys-256-184 {
  background-color: #b7b7b7;
}

.chrys-background-color-bokeh-greys-256-185 {
  background-color: #b8b8b8;
}

.chrys-background-color-bokeh-greys-256-186 {
  background-color: #b9b9b9;
}

.chrys-background-color-bokeh-greys-256-187 {
  background-color: #bababa;
}

.chrys-background-color-bokeh-greys-256-188 {
  background-color: #bbbbbb;
}

.chrys-background-color-bokeh-greys-256-189 {
  background-color: #bcbcbc;
}

.chrys-background-color-bokeh-greys-256-190 {
  background-color: #bdbdbd;
}

.chrys-background-color-bokeh-greys-256-191 {
  background-color: #bebebe;
}

.chrys-background-color-bokeh-greys-256-192 {
  background-color: #bfbfbf;
}

.chrys-background-color-bokeh-greys-256-193 {
  background-color: #c0c0c0;
}

.chrys-background-color-bokeh-greys-256-194 {
  background-color: #c1c1c1;
}

.chrys-background-color-bokeh-greys-256-195 {
  background-color: #c2c2c2;
}

.chrys-background-color-bokeh-greys-256-196 {
  background-color: #c3c3c3;
}

.chrys-background-color-bokeh-greys-256-197 {
  background-color: #c4c4c4;
}

.chrys-background-color-bokeh-greys-256-198 {
  background-color: #c5c5c5;
}

.chrys-background-color-bokeh-greys-256-199 {
  background-color: #c6c6c6;
}

.chrys-background-color-bokeh-greys-256-200 {
  background-color: #c7c7c7;
}

.chrys-background-color-bokeh-greys-256-201 {
  background-color: #c8c8c8;
}

.chrys-background-color-bokeh-greys-256-202 {
  background-color: #c9c9c9;
}

.chrys-background-color-bokeh-greys-256-203 {
  background-color: #cacaca;
}

.chrys-background-color-bokeh-greys-256-204 {
  background-color: #cbcbcb;
}

.chrys-background-color-bokeh-greys-256-205 {
  background-color: #cccccc;
}

.chrys-background-color-bokeh-greys-256-206 {
  background-color: #cdcdcd;
}

.chrys-background-color-bokeh-greys-256-207 {
  background-color: #cecece;
}

.chrys-background-color-bokeh-greys-256-208 {
  background-color: #cfcfcf;
}

.chrys-background-color-bokeh-greys-256-209 {
  background-color: #d0d0d0;
}

.chrys-background-color-bokeh-greys-256-210 {
  background-color: #d1d1d1;
}

.chrys-background-color-bokeh-greys-256-211 {
  background-color: #d2d2d2;
}

.chrys-background-color-bokeh-greys-256-212 {
  background-color: #d3d3d3;
}

.chrys-background-color-bokeh-greys-256-213 {
  background-color: #d4d4d4;
}

.chrys-background-color-bokeh-greys-256-214 {
  background-color: #d5d5d5;
}

.chrys-background-color-bokeh-greys-256-215 {
  background-color: #d6d6d6;
}

.chrys-background-color-bokeh-greys-256-216 {
  background-color: #d7d7d7;
}

.chrys-background-color-bokeh-greys-256-217 {
  background-color: #d8d8d8;
}

.chrys-background-color-bokeh-greys-256-218 {
  background-color: #d9d9d9;
}

.chrys-background-color-bokeh-greys-256-219 {
  background-color: #dadada;
}

.chrys-background-color-bokeh-greys-256-220 {
  background-color: #dbdbdb;
}

.chrys-background-color-bokeh-greys-256-221 {
  background-color: #dcdcdc;
}

.chrys-background-color-bokeh-greys-256-222 {
  background-color: #dddddd;
}

.chrys-background-color-bokeh-greys-256-223 {
  background-color: #dedede;
}

.chrys-background-color-bokeh-greys-256-224 {
  background-color: #dfdfdf;
}

.chrys-background-color-bokeh-greys-256-225 {
  background-color: #e0e0e0;
}

.chrys-background-color-bokeh-greys-256-226 {
  background-color: #e1e1e1;
}

.chrys-background-color-bokeh-greys-256-227 {
  background-color: #e2e2e2;
}

.chrys-background-color-bokeh-greys-256-228 {
  background-color: #e3e3e3;
}

.chrys-background-color-bokeh-greys-256-229 {
  background-color: #e4e4e4;
}

.chrys-background-color-bokeh-greys-256-230 {
  background-color: #e5e5e5;
}

.chrys-background-color-bokeh-greys-256-231 {
  background-color: #e6e6e6;
}

.chrys-background-color-bokeh-greys-256-232 {
  background-color: #e7e7e7;
}

.chrys-background-color-bokeh-greys-256-233 {
  background-color: #e8e8e8;
}

.chrys-background-color-bokeh-greys-256-234 {
  background-color: #e9e9e9;
}

.chrys-background-color-bokeh-greys-256-235 {
  background-color: #eaeaea;
}

.chrys-background-color-bokeh-greys-256-236 {
  background-color: #ebebeb;
}

.chrys-background-color-bokeh-greys-256-237 {
  background-color: #ececec;
}

.chrys-background-color-bokeh-greys-256-238 {
  background-color: #ededed;
}

.chrys-background-color-bokeh-greys-256-239 {
  background-color: #eeeeee;
}

.chrys-background-color-bokeh-greys-256-240 {
  background-color: #efefef;
}

.chrys-background-color-bokeh-greys-256-241 {
  background-color: #f0f0f0;
}

.chrys-background-color-bokeh-greys-256-242 {
  background-color: #f1f1f1;
}

.chrys-background-color-bokeh-greys-256-243 {
  background-color: #f2f2f2;
}

.chrys-background-color-bokeh-greys-256-244 {
  background-color: #f3f3f3;
}

.chrys-background-color-bokeh-greys-256-245 {
  background-color: #f4f4f4;
}

.chrys-background-color-bokeh-greys-256-246 {
  background-color: #f5f5f5;
}

.chrys-background-color-bokeh-greys-256-247 {
  background-color: #f6f6f6;
}

.chrys-background-color-bokeh-greys-256-248 {
  background-color: #f7f7f7;
}

.chrys-background-color-bokeh-greys-256-249 {
  background-color: #f8f8f8;
}

.chrys-background-color-bokeh-greys-256-250 {
  background-color: #f9f9f9;
}

.chrys-background-color-bokeh-greys-256-251 {
  background-color: #fafafa;
}

.chrys-background-color-bokeh-greys-256-252 {
  background-color: #fbfbfb;
}

.chrys-background-color-bokeh-greys-256-253 {
  background-color: #fcfcfc;
}

.chrys-background-color-bokeh-greys-256-254 {
  background-color: #fdfdfd;
}

.chrys-background-color-bokeh-greys-256-255 {
  background-color: #fefefe;
}

.chrys-background-color-bokeh-greys-256-256 {
  background-color: #ffffff;
}