.chrys-background-color-bokeh-inferno-3-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-3-2 {
  background-color: #ba3655;
}

.chrys-background-color-bokeh-inferno-3-3 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-4-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-4-2 {
  background-color: #781c6d;
}

.chrys-background-color-bokeh-inferno-4-3 {
  background-color: #ed6825;
}

.chrys-background-color-bokeh-inferno-4-4 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-5-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-5-2 {
  background-color: #550f6d;
}

.chrys-background-color-bokeh-inferno-5-3 {
  background-color: #ba3655;
}

.chrys-background-color-bokeh-inferno-5-4 {
  background-color: #f98c09;
}

.chrys-background-color-bokeh-inferno-5-5 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-6-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-6-2 {
  background-color: #410967;
}

.chrys-background-color-bokeh-inferno-6-3 {
  background-color: #932567;
}

.chrys-background-color-bokeh-inferno-6-4 {
  background-color: #dc5039;
}

.chrys-background-color-bokeh-inferno-6-5 {
  background-color: #fba40a;
}

.chrys-background-color-bokeh-inferno-6-6 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-7-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-7-2 {
  background-color: #32095d;
}

.chrys-background-color-bokeh-inferno-7-3 {
  background-color: #781c6d;
}

.chrys-background-color-bokeh-inferno-7-4 {
  background-color: #ba3655;
}

.chrys-background-color-bokeh-inferno-7-5 {
  background-color: #ed6825;
}

.chrys-background-color-bokeh-inferno-7-6 {
  background-color: #fbb318;
}

.chrys-background-color-bokeh-inferno-7-7 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-8-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-8-2 {
  background-color: #270b52;
}

.chrys-background-color-bokeh-inferno-8-3 {
  background-color: #63146e;
}

.chrys-background-color-bokeh-inferno-8-4 {
  background-color: #9e2963;
}

.chrys-background-color-bokeh-inferno-8-5 {
  background-color: #d24742;
}

.chrys-background-color-bokeh-inferno-8-6 {
  background-color: #f57c15;
}

.chrys-background-color-bokeh-inferno-8-7 {
  background-color: #fabf25;
}

.chrys-background-color-bokeh-inferno-8-8 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-9-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-9-2 {
  background-color: #1f0c47;
}

.chrys-background-color-bokeh-inferno-9-3 {
  background-color: #550f6d;
}

.chrys-background-color-bokeh-inferno-9-4 {
  background-color: #88216a;
}

.chrys-background-color-bokeh-inferno-9-5 {
  background-color: #ba3655;
}

.chrys-background-color-bokeh-inferno-9-6 {
  background-color: #e35832;
}

.chrys-background-color-bokeh-inferno-9-7 {
  background-color: #f98c09;
}

.chrys-background-color-bokeh-inferno-9-8 {
  background-color: #f8c931;
}

.chrys-background-color-bokeh-inferno-9-9 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-10-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-10-2 {
  background-color: #1a0b40;
}

.chrys-background-color-bokeh-inferno-10-3 {
  background-color: #4a0b6a;
}

.chrys-background-color-bokeh-inferno-10-4 {
  background-color: #781c6d;
}

.chrys-background-color-bokeh-inferno-10-5 {
  background-color: #a42c60;
}

.chrys-background-color-bokeh-inferno-10-6 {
  background-color: #cd4247;
}

.chrys-background-color-bokeh-inferno-10-7 {
  background-color: #ed6825;
}

.chrys-background-color-bokeh-inferno-10-8 {
  background-color: #fb9906;
}

.chrys-background-color-bokeh-inferno-10-9 {
  background-color: #f7cf3a;
}

.chrys-background-color-bokeh-inferno-10-10 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-11-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-11-2 {
  background-color: #160b39;
}

.chrys-background-color-bokeh-inferno-11-3 {
  background-color: #410967;
}

.chrys-background-color-bokeh-inferno-11-4 {
  background-color: #6a176e;
}

.chrys-background-color-bokeh-inferno-11-5 {
  background-color: #932567;
}

.chrys-background-color-bokeh-inferno-11-6 {
  background-color: #ba3655;
}

.chrys-background-color-bokeh-inferno-11-7 {
  background-color: #dc5039;
}

.chrys-background-color-bokeh-inferno-11-8 {
  background-color: #f2751a;
}

.chrys-background-color-bokeh-inferno-11-9 {
  background-color: #fba40a;
}

.chrys-background-color-bokeh-inferno-11-10 {
  background-color: #f6d542;
}

.chrys-background-color-bokeh-inferno-11-11 {
  background-color: #fcfea4;
}

.chrys-background-color-bokeh-inferno-256-1 {
  background-color: #000003;
}

.chrys-background-color-bokeh-inferno-256-2 {
  background-color: #000004;
}

.chrys-background-color-bokeh-inferno-256-3 {
  background-color: #000006;
}

.chrys-background-color-bokeh-inferno-256-4 {
  background-color: #010007;
}

.chrys-background-color-bokeh-inferno-256-5 {
  background-color: #010109;
}

.chrys-background-color-bokeh-inferno-256-6 {
  background-color: #01010b;
}

.chrys-background-color-bokeh-inferno-256-7 {
  background-color: #02010e;
}

.chrys-background-color-bokeh-inferno-256-8 {
  background-color: #020210;
}

.chrys-background-color-bokeh-inferno-256-9 {
  background-color: #030212;
}

.chrys-background-color-bokeh-inferno-256-10 {
  background-color: #040314;
}

.chrys-background-color-bokeh-inferno-256-11 {
  background-color: #040316;
}

.chrys-background-color-bokeh-inferno-256-12 {
  background-color: #050418;
}

.chrys-background-color-bokeh-inferno-256-13 {
  background-color: #06041b;
}

.chrys-background-color-bokeh-inferno-256-14 {
  background-color: #07051d;
}

.chrys-background-color-bokeh-inferno-256-15 {
  background-color: #08061f;
}

.chrys-background-color-bokeh-inferno-256-16 {
  background-color: #090621;
}

.chrys-background-color-bokeh-inferno-256-17 {
  background-color: #0a0723;
}

.chrys-background-color-bokeh-inferno-256-18 {
  background-color: #0b0726;
}

.chrys-background-color-bokeh-inferno-256-19 {
  background-color: #0d0828;
}

.chrys-background-color-bokeh-inferno-256-20 {
  background-color: #0e082a;
}

.chrys-background-color-bokeh-inferno-256-21 {
  background-color: #0f092d;
}

.chrys-background-color-bokeh-inferno-256-22 {
  background-color: #10092f;
}

.chrys-background-color-bokeh-inferno-256-23 {
  background-color: #120a32;
}

.chrys-background-color-bokeh-inferno-256-24 {
  background-color: #130a34;
}

.chrys-background-color-bokeh-inferno-256-25 {
  background-color: #140b36;
}

.chrys-background-color-bokeh-inferno-256-26 {
  background-color: #160b39;
}

.chrys-background-color-bokeh-inferno-256-27 {
  background-color: #170b3b;
}

.chrys-background-color-bokeh-inferno-256-28 {
  background-color: #190b3e;
}

.chrys-background-color-bokeh-inferno-256-29 {
  background-color: #1a0b40;
}

.chrys-background-color-bokeh-inferno-256-30 {
  background-color: #1c0c43;
}

.chrys-background-color-bokeh-inferno-256-31 {
  background-color: #1d0c45;
}

.chrys-background-color-bokeh-inferno-256-32 {
  background-color: #1f0c47;
}

.chrys-background-color-bokeh-inferno-256-33 {
  background-color: #200c4a;
}

.chrys-background-color-bokeh-inferno-256-34 {
  background-color: #220b4c;
}

.chrys-background-color-bokeh-inferno-256-35 {
  background-color: #240b4e;
}

.chrys-background-color-bokeh-inferno-256-36 {
  background-color: #260b50;
}

.chrys-background-color-bokeh-inferno-256-37 {
  background-color: #270b52;
}

.chrys-background-color-bokeh-inferno-256-38 {
  background-color: #290b54;
}

.chrys-background-color-bokeh-inferno-256-39 {
  background-color: #2b0a56;
}

.chrys-background-color-bokeh-inferno-256-40 {
  background-color: #2d0a58;
}

.chrys-background-color-bokeh-inferno-256-41 {
  background-color: #2e0a5a;
}

.chrys-background-color-bokeh-inferno-256-42 {
  background-color: #300a5c;
}

.chrys-background-color-bokeh-inferno-256-43 {
  background-color: #32095d;
}

.chrys-background-color-bokeh-inferno-256-44 {
  background-color: #34095f;
}

.chrys-background-color-bokeh-inferno-256-45 {
  background-color: #350960;
}

.chrys-background-color-bokeh-inferno-256-46 {
  background-color: #370961;
}

.chrys-background-color-bokeh-inferno-256-47 {
  background-color: #390962;
}

.chrys-background-color-bokeh-inferno-256-48 {
  background-color: #3b0964;
}

.chrys-background-color-bokeh-inferno-256-49 {
  background-color: #3c0965;
}

.chrys-background-color-bokeh-inferno-256-50 {
  background-color: #3e0966;
}

.chrys-background-color-bokeh-inferno-256-51 {
  background-color: #400966;
}

.chrys-background-color-bokeh-inferno-256-52 {
  background-color: #410967;
}

.chrys-background-color-bokeh-inferno-256-53 {
  background-color: #430a68;
}

.chrys-background-color-bokeh-inferno-256-54 {
  background-color: #450a69;
}

.chrys-background-color-bokeh-inferno-256-55 {
  background-color: #460a69;
}

.chrys-background-color-bokeh-inferno-256-56 {
  background-color: #480b6a;
}

.chrys-background-color-bokeh-inferno-256-57 {
  background-color: #4a0b6a;
}

.chrys-background-color-bokeh-inferno-256-58 {
  background-color: #4b0c6b;
}

.chrys-background-color-bokeh-inferno-256-59 {
  background-color: #4d0c6b;
}

.chrys-background-color-bokeh-inferno-256-60 {
  background-color: #4f0d6c;
}

.chrys-background-color-bokeh-inferno-256-61 {
  background-color: #500d6c;
}

.chrys-background-color-bokeh-inferno-256-62 {
  background-color: #520e6c;
}

.chrys-background-color-bokeh-inferno-256-63 {
  background-color: #530e6d;
}

.chrys-background-color-bokeh-inferno-256-64 {
  background-color: #550f6d;
}

.chrys-background-color-bokeh-inferno-256-65 {
  background-color: #570f6d;
}

.chrys-background-color-bokeh-inferno-256-66 {
  background-color: #58106d;
}

.chrys-background-color-bokeh-inferno-256-67 {
  background-color: #5a116d;
}

.chrys-background-color-bokeh-inferno-256-68 {
  background-color: #5b116e;
}

.chrys-background-color-bokeh-inferno-256-69 {
  background-color: #5d126e;
}

.chrys-background-color-bokeh-inferno-256-70 {
  background-color: #5f126e;
}

.chrys-background-color-bokeh-inferno-256-71 {
  background-color: #60136e;
}

.chrys-background-color-bokeh-inferno-256-72 {
  background-color: #62146e;
}

.chrys-background-color-bokeh-inferno-256-73 {
  background-color: #63146e;
}

.chrys-background-color-bokeh-inferno-256-74 {
  background-color: #65156e;
}

.chrys-background-color-bokeh-inferno-256-75 {
  background-color: #66156e;
}

.chrys-background-color-bokeh-inferno-256-76 {
  background-color: #68166e;
}

.chrys-background-color-bokeh-inferno-256-77 {
  background-color: #6a176e;
}

.chrys-background-color-bokeh-inferno-256-78 {
  background-color: #6b176e;
}

.chrys-background-color-bokeh-inferno-256-79 {
  background-color: #6d186e;
}

.chrys-background-color-bokeh-inferno-256-80 {
  background-color: #6e186e;
}

.chrys-background-color-bokeh-inferno-256-81 {
  background-color: #70196e;
}

.chrys-background-color-bokeh-inferno-256-82 {
  background-color: #72196d;
}

.chrys-background-color-bokeh-inferno-256-83 {
  background-color: #731a6d;
}

.chrys-background-color-bokeh-inferno-256-84 {
  background-color: #751b6d;
}

.chrys-background-color-bokeh-inferno-256-85 {
  background-color: #761b6d;
}

.chrys-background-color-bokeh-inferno-256-86 {
  background-color: #781c6d;
}

.chrys-background-color-bokeh-inferno-256-87 {
  background-color: #7a1c6d;
}

.chrys-background-color-bokeh-inferno-256-88 {
  background-color: #7b1d6c;
}

.chrys-background-color-bokeh-inferno-256-89 {
  background-color: #7d1d6c;
}

.chrys-background-color-bokeh-inferno-256-90 {
  background-color: #7e1e6c;
}

.chrys-background-color-bokeh-inferno-256-91 {
  background-color: #801f6b;
}

.chrys-background-color-bokeh-inferno-256-92 {
  background-color: #811f6b;
}

.chrys-background-color-bokeh-inferno-256-93 {
  background-color: #83206b;
}

.chrys-background-color-bokeh-inferno-256-94 {
  background-color: #85206a;
}

.chrys-background-color-bokeh-inferno-256-95 {
  background-color: #86216a;
}

.chrys-background-color-bokeh-inferno-256-96 {
  background-color: #88216a;
}

.chrys-background-color-bokeh-inferno-256-97 {
  background-color: #892269;
}

.chrys-background-color-bokeh-inferno-256-98 {
  background-color: #8b2269;
}

.chrys-background-color-bokeh-inferno-256-99 {
  background-color: #8d2369;
}

.chrys-background-color-bokeh-inferno-256-100 {
  background-color: #8e2468;
}

.chrys-background-color-bokeh-inferno-256-101 {
  background-color: #902468;
}

.chrys-background-color-bokeh-inferno-256-102 {
  background-color: #912567;
}

.chrys-background-color-bokeh-inferno-256-103 {
  background-color: #932567;
}

.chrys-background-color-bokeh-inferno-256-104 {
  background-color: #952666;
}

.chrys-background-color-bokeh-inferno-256-105 {
  background-color: #962666;
}

.chrys-background-color-bokeh-inferno-256-106 {
  background-color: #982765;
}

.chrys-background-color-bokeh-inferno-256-107 {
  background-color: #992864;
}

.chrys-background-color-bokeh-inferno-256-108 {
  background-color: #9b2864;
}

.chrys-background-color-bokeh-inferno-256-109 {
  background-color: #9c2963;
}

.chrys-background-color-bokeh-inferno-256-110 {
  background-color: #9e2963;
}

.chrys-background-color-bokeh-inferno-256-111 {
  background-color: #a02a62;
}

.chrys-background-color-bokeh-inferno-256-112 {
  background-color: #a12b61;
}

.chrys-background-color-bokeh-inferno-256-113 {
  background-color: #a32b61;
}

.chrys-background-color-bokeh-inferno-256-114 {
  background-color: #a42c60;
}

.chrys-background-color-bokeh-inferno-256-115 {
  background-color: #a62c5f;
}

.chrys-background-color-bokeh-inferno-256-116 {
  background-color: #a72d5f;
}

.chrys-background-color-bokeh-inferno-256-117 {
  background-color: #a92e5e;
}

.chrys-background-color-bokeh-inferno-256-118 {
  background-color: #ab2e5d;
}

.chrys-background-color-bokeh-inferno-256-119 {
  background-color: #ac2f5c;
}

.chrys-background-color-bokeh-inferno-256-120 {
  background-color: #ae305b;
}

.chrys-background-color-bokeh-inferno-256-121 {
  background-color: #af315b;
}

.chrys-background-color-bokeh-inferno-256-122 {
  background-color: #b1315a;
}

.chrys-background-color-bokeh-inferno-256-123 {
  background-color: #b23259;
}

.chrys-background-color-bokeh-inferno-256-124 {
  background-color: #b43358;
}

.chrys-background-color-bokeh-inferno-256-125 {
  background-color: #b53357;
}

.chrys-background-color-bokeh-inferno-256-126 {
  background-color: #b73456;
}

.chrys-background-color-bokeh-inferno-256-127 {
  background-color: #b83556;
}

.chrys-background-color-bokeh-inferno-256-128 {
  background-color: #ba3655;
}

.chrys-background-color-bokeh-inferno-256-129 {
  background-color: #bb3754;
}

.chrys-background-color-bokeh-inferno-256-130 {
  background-color: #bd3753;
}

.chrys-background-color-bokeh-inferno-256-131 {
  background-color: #be3852;
}

.chrys-background-color-bokeh-inferno-256-132 {
  background-color: #bf3951;
}

.chrys-background-color-bokeh-inferno-256-133 {
  background-color: #c13a50;
}

.chrys-background-color-bokeh-inferno-256-134 {
  background-color: #c23b4f;
}

.chrys-background-color-bokeh-inferno-256-135 {
  background-color: #c43c4e;
}

.chrys-background-color-bokeh-inferno-256-136 {
  background-color: #c53d4d;
}

.chrys-background-color-bokeh-inferno-256-137 {
  background-color: #c73e4c;
}

.chrys-background-color-bokeh-inferno-256-138 {
  background-color: #c83e4b;
}

.chrys-background-color-bokeh-inferno-256-139 {
  background-color: #c93f4a;
}

.chrys-background-color-bokeh-inferno-256-140 {
  background-color: #cb4049;
}

.chrys-background-color-bokeh-inferno-256-141 {
  background-color: #cc4148;
}

.chrys-background-color-bokeh-inferno-256-142 {
  background-color: #cd4247;
}

.chrys-background-color-bokeh-inferno-256-143 {
  background-color: #cf4446;
}

.chrys-background-color-bokeh-inferno-256-144 {
  background-color: #d04544;
}

.chrys-background-color-bokeh-inferno-256-145 {
  background-color: #d14643;
}

.chrys-background-color-bokeh-inferno-256-146 {
  background-color: #d24742;
}

.chrys-background-color-bokeh-inferno-256-147 {
  background-color: #d44841;
}

.chrys-background-color-bokeh-inferno-256-148 {
  background-color: #d54940;
}

.chrys-background-color-bokeh-inferno-256-149 {
  background-color: #d64a3f;
}

.chrys-background-color-bokeh-inferno-256-150 {
  background-color: #d74b3e;
}

.chrys-background-color-bokeh-inferno-256-151 {
  background-color: #d94d3d;
}

.chrys-background-color-bokeh-inferno-256-152 {
  background-color: #da4e3b;
}

.chrys-background-color-bokeh-inferno-256-153 {
  background-color: #db4f3a;
}

.chrys-background-color-bokeh-inferno-256-154 {
  background-color: #dc5039;
}

.chrys-background-color-bokeh-inferno-256-155 {
  background-color: #dd5238;
}

.chrys-background-color-bokeh-inferno-256-156 {
  background-color: #de5337;
}

.chrys-background-color-bokeh-inferno-256-157 {
  background-color: #df5436;
}

.chrys-background-color-bokeh-inferno-256-158 {
  background-color: #e05634;
}

.chrys-background-color-bokeh-inferno-256-159 {
  background-color: #e25733;
}

.chrys-background-color-bokeh-inferno-256-160 {
  background-color: #e35832;
}

.chrys-background-color-bokeh-inferno-256-161 {
  background-color: #e45a31;
}

.chrys-background-color-bokeh-inferno-256-162 {
  background-color: #e55b30;
}

.chrys-background-color-bokeh-inferno-256-163 {
  background-color: #e65c2e;
}

.chrys-background-color-bokeh-inferno-256-164 {
  background-color: #e65e2d;
}

.chrys-background-color-bokeh-inferno-256-165 {
  background-color: #e75f2c;
}

.chrys-background-color-bokeh-inferno-256-166 {
  background-color: #e8612b;
}

.chrys-background-color-bokeh-inferno-256-167 {
  background-color: #e9622a;
}

.chrys-background-color-bokeh-inferno-256-168 {
  background-color: #ea6428;
}

.chrys-background-color-bokeh-inferno-256-169 {
  background-color: #eb6527;
}

.chrys-background-color-bokeh-inferno-256-170 {
  background-color: #ec6726;
}

.chrys-background-color-bokeh-inferno-256-171 {
  background-color: #ed6825;
}

.chrys-background-color-bokeh-inferno-256-172 {
  background-color: #ed6a23;
}

.chrys-background-color-bokeh-inferno-256-173 {
  background-color: #ee6c22;
}

.chrys-background-color-bokeh-inferno-256-174 {
  background-color: #ef6d21;
}

.chrys-background-color-bokeh-inferno-256-175 {
  background-color: #f06f1f;
}

.chrys-background-color-bokeh-inferno-256-176 {
  background-color: #f0701e;
}

.chrys-background-color-bokeh-inferno-256-177 {
  background-color: #f1721d;
}

.chrys-background-color-bokeh-inferno-256-178 {
  background-color: #f2741c;
}

.chrys-background-color-bokeh-inferno-256-179 {
  background-color: #f2751a;
}

.chrys-background-color-bokeh-inferno-256-180 {
  background-color: #f37719;
}

.chrys-background-color-bokeh-inferno-256-181 {
  background-color: #f37918;
}

.chrys-background-color-bokeh-inferno-256-182 {
  background-color: #f47a16;
}

.chrys-background-color-bokeh-inferno-256-183 {
  background-color: #f57c15;
}

.chrys-background-color-bokeh-inferno-256-184 {
  background-color: #f57e14;
}

.chrys-background-color-bokeh-inferno-256-185 {
  background-color: #f68012;
}

.chrys-background-color-bokeh-inferno-256-186 {
  background-color: #f68111;
}

.chrys-background-color-bokeh-inferno-256-187 {
  background-color: #f78310;
}

.chrys-background-color-bokeh-inferno-256-188 {
  background-color: #f7850e;
}

.chrys-background-color-bokeh-inferno-256-189 {
  background-color: #f8870d;
}

.chrys-background-color-bokeh-inferno-256-190 {
  background-color: #f8880c;
}

.chrys-background-color-bokeh-inferno-256-191 {
  background-color: #f88a0b;
}

.chrys-background-color-bokeh-inferno-256-192 {
  background-color: #f98c09;
}

.chrys-background-color-bokeh-inferno-256-193 {
  background-color: #f98e08;
}

.chrys-background-color-bokeh-inferno-256-194 {
  background-color: #f99008;
}

.chrys-background-color-bokeh-inferno-256-195 {
  background-color: #fa9107;
}

.chrys-background-color-bokeh-inferno-256-196 {
  background-color: #fa9306;
}

.chrys-background-color-bokeh-inferno-256-197 {
  background-color: #fa9506;
}

.chrys-background-color-bokeh-inferno-256-198 {
  background-color: #fa9706;
}

.chrys-background-color-bokeh-inferno-256-199 {
  background-color: #fb9906;
}

.chrys-background-color-bokeh-inferno-256-200 {
  background-color: #fb9b06;
}

.chrys-background-color-bokeh-inferno-256-201 {
  background-color: #fb9d06;
}

.chrys-background-color-bokeh-inferno-256-202 {
  background-color: #fb9e07;
}

.chrys-background-color-bokeh-inferno-256-203 {
  background-color: #fba007;
}

.chrys-background-color-bokeh-inferno-256-204 {
  background-color: #fba208;
}

.chrys-background-color-bokeh-inferno-256-205 {
  background-color: #fba40a;
}

.chrys-background-color-bokeh-inferno-256-206 {
  background-color: #fba60b;
}

.chrys-background-color-bokeh-inferno-256-207 {
  background-color: #fba80d;
}

.chrys-background-color-bokeh-inferno-256-208 {
  background-color: #fbaa0e;
}

.chrys-background-color-bokeh-inferno-256-209 {
  background-color: #fbac10;
}

.chrys-background-color-bokeh-inferno-256-210 {
  background-color: #fbae12;
}

.chrys-background-color-bokeh-inferno-256-211 {
  background-color: #fbb014;
}

.chrys-background-color-bokeh-inferno-256-212 {
  background-color: #fbb116;
}

.chrys-background-color-bokeh-inferno-256-213 {
  background-color: #fbb318;
}

.chrys-background-color-bokeh-inferno-256-214 {
  background-color: #fbb51a;
}

.chrys-background-color-bokeh-inferno-256-215 {
  background-color: #fbb71c;
}

.chrys-background-color-bokeh-inferno-256-216 {
  background-color: #fbb91e;
}

.chrys-background-color-bokeh-inferno-256-217 {
  background-color: #fabb21;
}

.chrys-background-color-bokeh-inferno-256-218 {
  background-color: #fabd23;
}

.chrys-background-color-bokeh-inferno-256-219 {
  background-color: #fabf25;
}

.chrys-background-color-bokeh-inferno-256-220 {
  background-color: #fac128;
}

.chrys-background-color-bokeh-inferno-256-221 {
  background-color: #f9c32a;
}

.chrys-background-color-bokeh-inferno-256-222 {
  background-color: #f9c52c;
}

.chrys-background-color-bokeh-inferno-256-223 {
  background-color: #f9c72f;
}

.chrys-background-color-bokeh-inferno-256-224 {
  background-color: #f8c931;
}

.chrys-background-color-bokeh-inferno-256-225 {
  background-color: #f8cb34;
}

.chrys-background-color-bokeh-inferno-256-226 {
  background-color: #f8cd37;
}

.chrys-background-color-bokeh-inferno-256-227 {
  background-color: #f7cf3a;
}

.chrys-background-color-bokeh-inferno-256-228 {
  background-color: #f7d13c;
}

.chrys-background-color-bokeh-inferno-256-229 {
  background-color: #f6d33f;
}

.chrys-background-color-bokeh-inferno-256-230 {
  background-color: #f6d542;
}

.chrys-background-color-bokeh-inferno-256-231 {
  background-color: #f5d745;
}

.chrys-background-color-bokeh-inferno-256-232 {
  background-color: #f5d948;
}

.chrys-background-color-bokeh-inferno-256-233 {
  background-color: #f4db4b;
}

.chrys-background-color-bokeh-inferno-256-234 {
  background-color: #f4dc4f;
}

.chrys-background-color-bokeh-inferno-256-235 {
  background-color: #f3de52;
}

.chrys-background-color-bokeh-inferno-256-236 {
  background-color: #f3e056;
}

.chrys-background-color-bokeh-inferno-256-237 {
  background-color: #f3e259;
}

.chrys-background-color-bokeh-inferno-256-238 {
  background-color: #f2e45d;
}

.chrys-background-color-bokeh-inferno-256-239 {
  background-color: #f2e660;
}

.chrys-background-color-bokeh-inferno-256-240 {
  background-color: #f1e864;
}

.chrys-background-color-bokeh-inferno-256-241 {
  background-color: #f1e968;
}

.chrys-background-color-bokeh-inferno-256-242 {
  background-color: #f1eb6c;
}

.chrys-background-color-bokeh-inferno-256-243 {
  background-color: #f1ed70;
}

.chrys-background-color-bokeh-inferno-256-244 {
  background-color: #f1ee74;
}

.chrys-background-color-bokeh-inferno-256-245 {
  background-color: #f1f079;
}

.chrys-background-color-bokeh-inferno-256-246 {
  background-color: #f1f27d;
}

.chrys-background-color-bokeh-inferno-256-247 {
  background-color: #f2f381;
}

.chrys-background-color-bokeh-inferno-256-248 {
  background-color: #f2f485;
}

.chrys-background-color-bokeh-inferno-256-249 {
  background-color: #f3f689;
}

.chrys-background-color-bokeh-inferno-256-250 {
  background-color: #f4f78d;
}

.chrys-background-color-bokeh-inferno-256-251 {
  background-color: #f5f891;
}

.chrys-background-color-bokeh-inferno-256-252 {
  background-color: #f6fa95;
}

.chrys-background-color-bokeh-inferno-256-253 {
  background-color: #f7fb99;
}

.chrys-background-color-bokeh-inferno-256-254 {
  background-color: #f9fc9d;
}

.chrys-background-color-bokeh-inferno-256-255 {
  background-color: #fafda0;
}

.chrys-background-color-bokeh-inferno-256-256 {
  background-color: #fcfea4;
}