.chrys-background-color-vega-observable-10-1-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-2-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-2-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-3-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-3-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-3-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-4-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-4-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-4-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-4-4 {
  background-color: #6cc5b0;
}

.chrys-background-color-vega-observable-10-5-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-5-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-5-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-5-4 {
  background-color: #6cc5b0;
}

.chrys-background-color-vega-observable-10-5-5 {
  background-color: #3ca951;
}

.chrys-background-color-vega-observable-10-6-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-6-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-6-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-6-4 {
  background-color: #6cc5b0;
}

.chrys-background-color-vega-observable-10-6-5 {
  background-color: #3ca951;
}

.chrys-background-color-vega-observable-10-6-6 {
  background-color: #ff8ab7;
}

.chrys-background-color-vega-observable-10-7-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-7-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-7-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-7-4 {
  background-color: #6cc5b0;
}

.chrys-background-color-vega-observable-10-7-5 {
  background-color: #3ca951;
}

.chrys-background-color-vega-observable-10-7-6 {
  background-color: #ff8ab7;
}

.chrys-background-color-vega-observable-10-7-7 {
  background-color: #a463f2;
}

.chrys-background-color-vega-observable-10-8-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-8-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-8-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-8-4 {
  background-color: #6cc5b0;
}

.chrys-background-color-vega-observable-10-8-5 {
  background-color: #3ca951;
}

.chrys-background-color-vega-observable-10-8-6 {
  background-color: #ff8ab7;
}

.chrys-background-color-vega-observable-10-8-7 {
  background-color: #a463f2;
}

.chrys-background-color-vega-observable-10-8-8 {
  background-color: #97bbf5;
}

.chrys-background-color-vega-observable-10-9-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-9-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-9-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-9-4 {
  background-color: #6cc5b0;
}

.chrys-background-color-vega-observable-10-9-5 {
  background-color: #3ca951;
}

.chrys-background-color-vega-observable-10-9-6 {
  background-color: #ff8ab7;
}

.chrys-background-color-vega-observable-10-9-7 {
  background-color: #a463f2;
}

.chrys-background-color-vega-observable-10-9-8 {
  background-color: #97bbf5;
}

.chrys-background-color-vega-observable-10-9-9 {
  background-color: #9c6b4e;
}

.chrys-background-color-vega-observable-10-10-1 {
  background-color: #4269d0;
}

.chrys-background-color-vega-observable-10-10-2 {
  background-color: #efb118;
}

.chrys-background-color-vega-observable-10-10-3 {
  background-color: #ff725c;
}

.chrys-background-color-vega-observable-10-10-4 {
  background-color: #6cc5b0;
}

.chrys-background-color-vega-observable-10-10-5 {
  background-color: #3ca951;
}

.chrys-background-color-vega-observable-10-10-6 {
  background-color: #ff8ab7;
}

.chrys-background-color-vega-observable-10-10-7 {
  background-color: #a463f2;
}

.chrys-background-color-vega-observable-10-10-8 {
  background-color: #97bbf5;
}

.chrys-background-color-vega-observable-10-10-9 {
  background-color: #9c6b4e;
}

.chrys-background-color-vega-observable-10-10-10 {
  background-color: #9498a0;
}