.chrys-background-color-vega-set-3-1-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-2-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-2-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-3-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-3-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-3-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-4-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-4-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-4-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-4-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-5-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-5-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-5-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-5-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-5-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-6-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-6-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-6-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-6-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-6-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-6-6 {
  background-color: #fdb462;
}

.chrys-background-color-vega-set-3-7-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-7-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-7-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-7-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-7-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-7-6 {
  background-color: #fdb462;
}

.chrys-background-color-vega-set-3-7-7 {
  background-color: #b3de69;
}

.chrys-background-color-vega-set-3-8-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-8-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-8-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-8-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-8-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-8-6 {
  background-color: #fdb462;
}

.chrys-background-color-vega-set-3-8-7 {
  background-color: #b3de69;
}

.chrys-background-color-vega-set-3-8-8 {
  background-color: #fccde5;
}

.chrys-background-color-vega-set-3-9-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-9-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-9-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-9-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-9-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-9-6 {
  background-color: #fdb462;
}

.chrys-background-color-vega-set-3-9-7 {
  background-color: #b3de69;
}

.chrys-background-color-vega-set-3-9-8 {
  background-color: #fccde5;
}

.chrys-background-color-vega-set-3-9-9 {
  background-color: #d9d9d9;
}

.chrys-background-color-vega-set-3-10-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-10-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-10-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-10-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-10-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-10-6 {
  background-color: #fdb462;
}

.chrys-background-color-vega-set-3-10-7 {
  background-color: #b3de69;
}

.chrys-background-color-vega-set-3-10-8 {
  background-color: #fccde5;
}

.chrys-background-color-vega-set-3-10-9 {
  background-color: #d9d9d9;
}

.chrys-background-color-vega-set-3-10-10 {
  background-color: #bc80bd;
}

.chrys-background-color-vega-set-3-11-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-11-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-11-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-11-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-11-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-11-6 {
  background-color: #fdb462;
}

.chrys-background-color-vega-set-3-11-7 {
  background-color: #b3de69;
}

.chrys-background-color-vega-set-3-11-8 {
  background-color: #fccde5;
}

.chrys-background-color-vega-set-3-11-9 {
  background-color: #d9d9d9;
}

.chrys-background-color-vega-set-3-11-10 {
  background-color: #bc80bd;
}

.chrys-background-color-vega-set-3-11-11 {
  background-color: #ccebc5;
}

.chrys-background-color-vega-set-3-12-1 {
  background-color: #8dd3c7;
}

.chrys-background-color-vega-set-3-12-2 {
  background-color: #ffffb3;
}

.chrys-background-color-vega-set-3-12-3 {
  background-color: #bebada;
}

.chrys-background-color-vega-set-3-12-4 {
  background-color: #fb8072;
}

.chrys-background-color-vega-set-3-12-5 {
  background-color: #80b1d3;
}

.chrys-background-color-vega-set-3-12-6 {
  background-color: #fdb462;
}

.chrys-background-color-vega-set-3-12-7 {
  background-color: #b3de69;
}

.chrys-background-color-vega-set-3-12-8 {
  background-color: #fccde5;
}

.chrys-background-color-vega-set-3-12-9 {
  background-color: #d9d9d9;
}

.chrys-background-color-vega-set-3-12-10 {
  background-color: #bc80bd;
}

.chrys-background-color-vega-set-3-12-11 {
  background-color: #ccebc5;
}

.chrys-background-color-vega-set-3-12-12 {
  background-color: #ffed6f;
}