.chrys-color-bokeh-red-grey-3-1 {
  color: #999999;
}

.chrys-color-bokeh-red-grey-3-2 {
  color: #ffffff;
}

.chrys-color-bokeh-red-grey-3-3 {
  color: #ef8a62;
}

.chrys-color-bokeh-red-grey-4-1 {
  color: #404040;
}

.chrys-color-bokeh-red-grey-4-2 {
  color: #bababa;
}

.chrys-color-bokeh-red-grey-4-3 {
  color: #f4a582;
}

.chrys-color-bokeh-red-grey-4-4 {
  color: #ca0020;
}

.chrys-color-bokeh-red-grey-5-1 {
  color: #404040;
}

.chrys-color-bokeh-red-grey-5-2 {
  color: #bababa;
}

.chrys-color-bokeh-red-grey-5-3 {
  color: #ffffff;
}

.chrys-color-bokeh-red-grey-5-4 {
  color: #f4a582;
}

.chrys-color-bokeh-red-grey-5-5 {
  color: #ca0020;
}

.chrys-color-bokeh-red-grey-6-1 {
  color: #4d4d4d;
}

.chrys-color-bokeh-red-grey-6-2 {
  color: #999999;
}

.chrys-color-bokeh-red-grey-6-3 {
  color: #e0e0e0;
}

.chrys-color-bokeh-red-grey-6-4 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-grey-6-5 {
  color: #ef8a62;
}

.chrys-color-bokeh-red-grey-6-6 {
  color: #b2182b;
}

.chrys-color-bokeh-red-grey-7-1 {
  color: #4d4d4d;
}

.chrys-color-bokeh-red-grey-7-2 {
  color: #999999;
}

.chrys-color-bokeh-red-grey-7-3 {
  color: #e0e0e0;
}

.chrys-color-bokeh-red-grey-7-4 {
  color: #ffffff;
}

.chrys-color-bokeh-red-grey-7-5 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-grey-7-6 {
  color: #ef8a62;
}

.chrys-color-bokeh-red-grey-7-7 {
  color: #b2182b;
}

.chrys-color-bokeh-red-grey-8-1 {
  color: #4d4d4d;
}

.chrys-color-bokeh-red-grey-8-2 {
  color: #878787;
}

.chrys-color-bokeh-red-grey-8-3 {
  color: #bababa;
}

.chrys-color-bokeh-red-grey-8-4 {
  color: #e0e0e0;
}

.chrys-color-bokeh-red-grey-8-5 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-grey-8-6 {
  color: #f4a582;
}

.chrys-color-bokeh-red-grey-8-7 {
  color: #d6604d;
}

.chrys-color-bokeh-red-grey-8-8 {
  color: #b2182b;
}

.chrys-color-bokeh-red-grey-9-1 {
  color: #4d4d4d;
}

.chrys-color-bokeh-red-grey-9-2 {
  color: #878787;
}

.chrys-color-bokeh-red-grey-9-3 {
  color: #bababa;
}

.chrys-color-bokeh-red-grey-9-4 {
  color: #e0e0e0;
}

.chrys-color-bokeh-red-grey-9-5 {
  color: #ffffff;
}

.chrys-color-bokeh-red-grey-9-6 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-grey-9-7 {
  color: #f4a582;
}

.chrys-color-bokeh-red-grey-9-8 {
  color: #d6604d;
}

.chrys-color-bokeh-red-grey-9-9 {
  color: #b2182b;
}

.chrys-color-bokeh-red-grey-10-1 {
  color: #1a1a1a;
}

.chrys-color-bokeh-red-grey-10-2 {
  color: #4d4d4d;
}

.chrys-color-bokeh-red-grey-10-3 {
  color: #878787;
}

.chrys-color-bokeh-red-grey-10-4 {
  color: #bababa;
}

.chrys-color-bokeh-red-grey-10-5 {
  color: #e0e0e0;
}

.chrys-color-bokeh-red-grey-10-6 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-grey-10-7 {
  color: #f4a582;
}

.chrys-color-bokeh-red-grey-10-8 {
  color: #d6604d;
}

.chrys-color-bokeh-red-grey-10-9 {
  color: #b2182b;
}

.chrys-color-bokeh-red-grey-10-10 {
  color: #67001f;
}

.chrys-color-bokeh-red-grey-11-1 {
  color: #1a1a1a;
}

.chrys-color-bokeh-red-grey-11-2 {
  color: #4d4d4d;
}

.chrys-color-bokeh-red-grey-11-3 {
  color: #878787;
}

.chrys-color-bokeh-red-grey-11-4 {
  color: #bababa;
}

.chrys-color-bokeh-red-grey-11-5 {
  color: #e0e0e0;
}

.chrys-color-bokeh-red-grey-11-6 {
  color: #ffffff;
}

.chrys-color-bokeh-red-grey-11-7 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-grey-11-8 {
  color: #f4a582;
}

.chrys-color-bokeh-red-grey-11-9 {
  color: #d6604d;
}

.chrys-color-bokeh-red-grey-11-10 {
  color: #b2182b;
}

.chrys-color-bokeh-red-grey-11-11 {
  color: #67001f;
}