.chrys-color-bokeh-viridis-3-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-3-2 {
  color: #208f8c;
}

.chrys-color-bokeh-viridis-3-3 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-4-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-4-2 {
  color: #30678d;
}

.chrys-color-bokeh-viridis-4-3 {
  color: #35b778;
}

.chrys-color-bokeh-viridis-4-4 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-5-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-5-2 {
  color: #3b518a;
}

.chrys-color-bokeh-viridis-5-3 {
  color: #208f8c;
}

.chrys-color-bokeh-viridis-5-4 {
  color: #5bc862;
}

.chrys-color-bokeh-viridis-5-5 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-6-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-6-2 {
  color: #404387;
}

.chrys-color-bokeh-viridis-6-3 {
  color: #29788e;
}

.chrys-color-bokeh-viridis-6-4 {
  color: #22a784;
}

.chrys-color-bokeh-viridis-6-5 {
  color: #79d151;
}

.chrys-color-bokeh-viridis-6-6 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-7-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-7-2 {
  color: #443982;
}

.chrys-color-bokeh-viridis-7-3 {
  color: #30678d;
}

.chrys-color-bokeh-viridis-7-4 {
  color: #208f8c;
}

.chrys-color-bokeh-viridis-7-5 {
  color: #35b778;
}

.chrys-color-bokeh-viridis-7-6 {
  color: #8dd644;
}

.chrys-color-bokeh-viridis-7-7 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-8-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-8-2 {
  color: #46317e;
}

.chrys-color-bokeh-viridis-8-3 {
  color: #365a8c;
}

.chrys-color-bokeh-viridis-8-4 {
  color: #277e8e;
}

.chrys-color-bokeh-viridis-8-5 {
  color: #1ea087;
}

.chrys-color-bokeh-viridis-8-6 {
  color: #49c16d;
}

.chrys-color-bokeh-viridis-8-7 {
  color: #9dd93a;
}

.chrys-color-bokeh-viridis-8-8 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-9-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-9-2 {
  color: #472b7a;
}

.chrys-color-bokeh-viridis-9-3 {
  color: #3b518a;
}

.chrys-color-bokeh-viridis-9-4 {
  color: #2c718e;
}

.chrys-color-bokeh-viridis-9-5 {
  color: #208f8c;
}

.chrys-color-bokeh-viridis-9-6 {
  color: #27ad80;
}

.chrys-color-bokeh-viridis-9-7 {
  color: #5bc862;
}

.chrys-color-bokeh-viridis-9-8 {
  color: #aadb32;
}

.chrys-color-bokeh-viridis-9-9 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-10-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-10-2 {
  color: #472777;
}

.chrys-color-bokeh-viridis-10-3 {
  color: #3e4989;
}

.chrys-color-bokeh-viridis-10-4 {
  color: #30678d;
}

.chrys-color-bokeh-viridis-10-5 {
  color: #25828e;
}

.chrys-color-bokeh-viridis-10-6 {
  color: #1e9c89;
}

.chrys-color-bokeh-viridis-10-7 {
  color: #35b778;
}

.chrys-color-bokeh-viridis-10-8 {
  color: #6bcd59;
}

.chrys-color-bokeh-viridis-10-9 {
  color: #b2dd2c;
}

.chrys-color-bokeh-viridis-10-10 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-11-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-11-2 {
  color: #482374;
}

.chrys-color-bokeh-viridis-11-3 {
  color: #404387;
}

.chrys-color-bokeh-viridis-11-4 {
  color: #345e8d;
}

.chrys-color-bokeh-viridis-11-5 {
  color: #29788e;
}

.chrys-color-bokeh-viridis-11-6 {
  color: #208f8c;
}

.chrys-color-bokeh-viridis-11-7 {
  color: #22a784;
}

.chrys-color-bokeh-viridis-11-8 {
  color: #42be71;
}

.chrys-color-bokeh-viridis-11-9 {
  color: #79d151;
}

.chrys-color-bokeh-viridis-11-10 {
  color: #bade27;
}

.chrys-color-bokeh-viridis-11-11 {
  color: #fde724;
}

.chrys-color-bokeh-viridis-256-1 {
  color: #440154;
}

.chrys-color-bokeh-viridis-256-2 {
  color: #440255;
}

.chrys-color-bokeh-viridis-256-3 {
  color: #440357;
}

.chrys-color-bokeh-viridis-256-4 {
  color: #450558;
}

.chrys-color-bokeh-viridis-256-5 {
  color: #45065a;
}

.chrys-color-bokeh-viridis-256-6 {
  color: #45085b;
}

.chrys-color-bokeh-viridis-256-7 {
  color: #46095c;
}

.chrys-color-bokeh-viridis-256-8 {
  color: #460b5e;
}

.chrys-color-bokeh-viridis-256-9 {
  color: #460c5f;
}

.chrys-color-bokeh-viridis-256-10 {
  color: #460e61;
}

.chrys-color-bokeh-viridis-256-11 {
  color: #470f62;
}

.chrys-color-bokeh-viridis-256-12 {
  color: #471163;
}

.chrys-color-bokeh-viridis-256-13 {
  color: #471265;
}

.chrys-color-bokeh-viridis-256-14 {
  color: #471466;
}

.chrys-color-bokeh-viridis-256-15 {
  color: #471567;
}

.chrys-color-bokeh-viridis-256-16 {
  color: #471669;
}

.chrys-color-bokeh-viridis-256-17 {
  color: #47186a;
}

.chrys-color-bokeh-viridis-256-18 {
  color: #48196b;
}

.chrys-color-bokeh-viridis-256-19 {
  color: #481a6c;
}

.chrys-color-bokeh-viridis-256-20 {
  color: #481c6e;
}

.chrys-color-bokeh-viridis-256-21 {
  color: #481d6f;
}

.chrys-color-bokeh-viridis-256-22 {
  color: #481e70;
}

.chrys-color-bokeh-viridis-256-23 {
  color: #482071;
}

.chrys-color-bokeh-viridis-256-24 {
  color: #482172;
}

.chrys-color-bokeh-viridis-256-25 {
  color: #482273;
}

.chrys-color-bokeh-viridis-256-26 {
  color: #482374;
}

.chrys-color-bokeh-viridis-256-27 {
  color: #472575;
}

.chrys-color-bokeh-viridis-256-28 {
  color: #472676;
}

.chrys-color-bokeh-viridis-256-29 {
  color: #472777;
}

.chrys-color-bokeh-viridis-256-30 {
  color: #472878;
}

.chrys-color-bokeh-viridis-256-31 {
  color: #472a79;
}

.chrys-color-bokeh-viridis-256-32 {
  color: #472b7a;
}

.chrys-color-bokeh-viridis-256-33 {
  color: #472c7b;
}

.chrys-color-bokeh-viridis-256-34 {
  color: #462d7c;
}

.chrys-color-bokeh-viridis-256-35 {
  color: #462f7c;
}

.chrys-color-bokeh-viridis-256-36 {
  color: #46307d;
}

.chrys-color-bokeh-viridis-256-37 {
  color: #46317e;
}

.chrys-color-bokeh-viridis-256-38 {
  color: #45327f;
}

.chrys-color-bokeh-viridis-256-39 {
  color: #45347f;
}

.chrys-color-bokeh-viridis-256-40 {
  color: #453580;
}

.chrys-color-bokeh-viridis-256-41 {
  color: #453681;
}

.chrys-color-bokeh-viridis-256-42 {
  color: #443781;
}

.chrys-color-bokeh-viridis-256-43 {
  color: #443982;
}

.chrys-color-bokeh-viridis-256-44 {
  color: #433a83;
}

.chrys-color-bokeh-viridis-256-45 {
  color: #433b83;
}

.chrys-color-bokeh-viridis-256-46 {
  color: #433c84;
}

.chrys-color-bokeh-viridis-256-47 {
  color: #423d84;
}

.chrys-color-bokeh-viridis-256-48 {
  color: #423e85;
}

.chrys-color-bokeh-viridis-256-49 {
  color: #424085;
}

.chrys-color-bokeh-viridis-256-50 {
  color: #414186;
}

.chrys-color-bokeh-viridis-256-51 {
  color: #414286;
}

.chrys-color-bokeh-viridis-256-52 {
  color: #404387;
}

.chrys-color-bokeh-viridis-256-53 {
  color: #404487;
}

.chrys-color-bokeh-viridis-256-54 {
  color: #3f4587;
}

.chrys-color-bokeh-viridis-256-55 {
  color: #3f4788;
}

.chrys-color-bokeh-viridis-256-56 {
  color: #3e4888;
}

.chrys-color-bokeh-viridis-256-57 {
  color: #3e4989;
}

.chrys-color-bokeh-viridis-256-58 {
  color: #3d4a89;
}

.chrys-color-bokeh-viridis-256-59 {
  color: #3d4b89;
}

.chrys-color-bokeh-viridis-256-60 {
  color: #3d4c89;
}

.chrys-color-bokeh-viridis-256-61 {
  color: #3c4d8a;
}

.chrys-color-bokeh-viridis-256-62 {
  color: #3c4e8a;
}

.chrys-color-bokeh-viridis-256-63 {
  color: #3b508a;
}

.chrys-color-bokeh-viridis-256-64 {
  color: #3b518a;
}

.chrys-color-bokeh-viridis-256-65 {
  color: #3a528b;
}

.chrys-color-bokeh-viridis-256-66 {
  color: #3a538b;
}

.chrys-color-bokeh-viridis-256-67 {
  color: #39548b;
}

.chrys-color-bokeh-viridis-256-68 {
  color: #39558b;
}

.chrys-color-bokeh-viridis-256-69 {
  color: #38568b;
}

.chrys-color-bokeh-viridis-256-70 {
  color: #38578c;
}

.chrys-color-bokeh-viridis-256-71 {
  color: #37588c;
}

.chrys-color-bokeh-viridis-256-72 {
  color: #37598c;
}

.chrys-color-bokeh-viridis-256-73 {
  color: #365a8c;
}

.chrys-color-bokeh-viridis-256-74 {
  color: #365b8c;
}

.chrys-color-bokeh-viridis-256-75 {
  color: #355c8c;
}

.chrys-color-bokeh-viridis-256-76 {
  color: #355d8c;
}

.chrys-color-bokeh-viridis-256-77 {
  color: #345e8d;
}

.chrys-color-bokeh-viridis-256-78 {
  color: #345f8d;
}

.chrys-color-bokeh-viridis-256-79 {
  color: #33608d;
}

.chrys-color-bokeh-viridis-256-80 {
  color: #33618d;
}

.chrys-color-bokeh-viridis-256-81 {
  color: #32628d;
}

.chrys-color-bokeh-viridis-256-82 {
  color: #32638d;
}

.chrys-color-bokeh-viridis-256-83 {
  color: #31648d;
}

.chrys-color-bokeh-viridis-256-84 {
  color: #31658d;
}

.chrys-color-bokeh-viridis-256-85 {
  color: #31668d;
}

.chrys-color-bokeh-viridis-256-86 {
  color: #30678d;
}

.chrys-color-bokeh-viridis-256-87 {
  color: #30688d;
}

.chrys-color-bokeh-viridis-256-88 {
  color: #2f698d;
}

.chrys-color-bokeh-viridis-256-89 {
  color: #2f6a8d;
}

.chrys-color-bokeh-viridis-256-90 {
  color: #2e6b8e;
}

.chrys-color-bokeh-viridis-256-91 {
  color: #2e6c8e;
}

.chrys-color-bokeh-viridis-256-92 {
  color: #2e6d8e;
}

.chrys-color-bokeh-viridis-256-93 {
  color: #2d6e8e;
}

.chrys-color-bokeh-viridis-256-94 {
  color: #2d6f8e;
}

.chrys-color-bokeh-viridis-256-95 {
  color: #2c708e;
}

.chrys-color-bokeh-viridis-256-96 {
  color: #2c718e;
}

.chrys-color-bokeh-viridis-256-97 {
  color: #2c728e;
}

.chrys-color-bokeh-viridis-256-98 {
  color: #2b738e;
}

.chrys-color-bokeh-viridis-256-99 {
  color: #2b748e;
}

.chrys-color-bokeh-viridis-256-100 {
  color: #2a758e;
}

.chrys-color-bokeh-viridis-256-101 {
  color: #2a768e;
}

.chrys-color-bokeh-viridis-256-102 {
  color: #2a778e;
}

.chrys-color-bokeh-viridis-256-103 {
  color: #29788e;
}

.chrys-color-bokeh-viridis-256-104 {
  color: #29798e;
}

.chrys-color-bokeh-viridis-256-105 {
  color: #287a8e;
}

.chrys-color-bokeh-viridis-256-106 {
  color: #287a8e;
}

.chrys-color-bokeh-viridis-256-107 {
  color: #287b8e;
}

.chrys-color-bokeh-viridis-256-108 {
  color: #277c8e;
}

.chrys-color-bokeh-viridis-256-109 {
  color: #277d8e;
}

.chrys-color-bokeh-viridis-256-110 {
  color: #277e8e;
}

.chrys-color-bokeh-viridis-256-111 {
  color: #267f8e;
}

.chrys-color-bokeh-viridis-256-112 {
  color: #26808e;
}

.chrys-color-bokeh-viridis-256-113 {
  color: #26818e;
}

.chrys-color-bokeh-viridis-256-114 {
  color: #25828e;
}

.chrys-color-bokeh-viridis-256-115 {
  color: #25838d;
}

.chrys-color-bokeh-viridis-256-116 {
  color: #24848d;
}

.chrys-color-bokeh-viridis-256-117 {
  color: #24858d;
}

.chrys-color-bokeh-viridis-256-118 {
  color: #24868d;
}

.chrys-color-bokeh-viridis-256-119 {
  color: #23878d;
}

.chrys-color-bokeh-viridis-256-120 {
  color: #23888d;
}

.chrys-color-bokeh-viridis-256-121 {
  color: #23898d;
}

.chrys-color-bokeh-viridis-256-122 {
  color: #22898d;
}

.chrys-color-bokeh-viridis-256-123 {
  color: #228a8d;
}

.chrys-color-bokeh-viridis-256-124 {
  color: #228b8d;
}

.chrys-color-bokeh-viridis-256-125 {
  color: #218c8d;
}

.chrys-color-bokeh-viridis-256-126 {
  color: #218d8c;
}

.chrys-color-bokeh-viridis-256-127 {
  color: #218e8c;
}

.chrys-color-bokeh-viridis-256-128 {
  color: #208f8c;
}

.chrys-color-bokeh-viridis-256-129 {
  color: #20908c;
}

.chrys-color-bokeh-viridis-256-130 {
  color: #20918c;
}

.chrys-color-bokeh-viridis-256-131 {
  color: #1f928c;
}

.chrys-color-bokeh-viridis-256-132 {
  color: #1f938b;
}

.chrys-color-bokeh-viridis-256-133 {
  color: #1f948b;
}

.chrys-color-bokeh-viridis-256-134 {
  color: #1f958b;
}

.chrys-color-bokeh-viridis-256-135 {
  color: #1f968b;
}

.chrys-color-bokeh-viridis-256-136 {
  color: #1e978a;
}

.chrys-color-bokeh-viridis-256-137 {
  color: #1e988a;
}

.chrys-color-bokeh-viridis-256-138 {
  color: #1e998a;
}

.chrys-color-bokeh-viridis-256-139 {
  color: #1e998a;
}

.chrys-color-bokeh-viridis-256-140 {
  color: #1e9a89;
}

.chrys-color-bokeh-viridis-256-141 {
  color: #1e9b89;
}

.chrys-color-bokeh-viridis-256-142 {
  color: #1e9c89;
}

.chrys-color-bokeh-viridis-256-143 {
  color: #1e9d88;
}

.chrys-color-bokeh-viridis-256-144 {
  color: #1e9e88;
}

.chrys-color-bokeh-viridis-256-145 {
  color: #1e9f88;
}

.chrys-color-bokeh-viridis-256-146 {
  color: #1ea087;
}

.chrys-color-bokeh-viridis-256-147 {
  color: #1fa187;
}

.chrys-color-bokeh-viridis-256-148 {
  color: #1fa286;
}

.chrys-color-bokeh-viridis-256-149 {
  color: #1fa386;
}

.chrys-color-bokeh-viridis-256-150 {
  color: #20a485;
}

.chrys-color-bokeh-viridis-256-151 {
  color: #20a585;
}

.chrys-color-bokeh-viridis-256-152 {
  color: #21a685;
}

.chrys-color-bokeh-viridis-256-153 {
  color: #21a784;
}

.chrys-color-bokeh-viridis-256-154 {
  color: #22a784;
}

.chrys-color-bokeh-viridis-256-155 {
  color: #23a883;
}

.chrys-color-bokeh-viridis-256-156 {
  color: #23a982;
}

.chrys-color-bokeh-viridis-256-157 {
  color: #24aa82;
}

.chrys-color-bokeh-viridis-256-158 {
  color: #25ab81;
}

.chrys-color-bokeh-viridis-256-159 {
  color: #26ac81;
}

.chrys-color-bokeh-viridis-256-160 {
  color: #27ad80;
}

.chrys-color-bokeh-viridis-256-161 {
  color: #28ae7f;
}

.chrys-color-bokeh-viridis-256-162 {
  color: #29af7f;
}

.chrys-color-bokeh-viridis-256-163 {
  color: #2ab07e;
}

.chrys-color-bokeh-viridis-256-164 {
  color: #2bb17d;
}

.chrys-color-bokeh-viridis-256-165 {
  color: #2cb17d;
}

.chrys-color-bokeh-viridis-256-166 {
  color: #2eb27c;
}

.chrys-color-bokeh-viridis-256-167 {
  color: #2fb37b;
}

.chrys-color-bokeh-viridis-256-168 {
  color: #30b47a;
}

.chrys-color-bokeh-viridis-256-169 {
  color: #32b57a;
}

.chrys-color-bokeh-viridis-256-170 {
  color: #33b679;
}

.chrys-color-bokeh-viridis-256-171 {
  color: #35b778;
}

.chrys-color-bokeh-viridis-256-172 {
  color: #36b877;
}

.chrys-color-bokeh-viridis-256-173 {
  color: #38b976;
}

.chrys-color-bokeh-viridis-256-174 {
  color: #39b976;
}

.chrys-color-bokeh-viridis-256-175 {
  color: #3bba75;
}

.chrys-color-bokeh-viridis-256-176 {
  color: #3dbb74;
}

.chrys-color-bokeh-viridis-256-177 {
  color: #3ebc73;
}

.chrys-color-bokeh-viridis-256-178 {
  color: #40bd72;
}

.chrys-color-bokeh-viridis-256-179 {
  color: #42be71;
}

.chrys-color-bokeh-viridis-256-180 {
  color: #44be70;
}

.chrys-color-bokeh-viridis-256-181 {
  color: #45bf6f;
}

.chrys-color-bokeh-viridis-256-182 {
  color: #47c06e;
}

.chrys-color-bokeh-viridis-256-183 {
  color: #49c16d;
}

.chrys-color-bokeh-viridis-256-184 {
  color: #4bc26c;
}

.chrys-color-bokeh-viridis-256-185 {
  color: #4dc26b;
}

.chrys-color-bokeh-viridis-256-186 {
  color: #4fc369;
}

.chrys-color-bokeh-viridis-256-187 {
  color: #51c468;
}

.chrys-color-bokeh-viridis-256-188 {
  color: #53c567;
}

.chrys-color-bokeh-viridis-256-189 {
  color: #55c666;
}

.chrys-color-bokeh-viridis-256-190 {
  color: #57c665;
}

.chrys-color-bokeh-viridis-256-191 {
  color: #59c764;
}

.chrys-color-bokeh-viridis-256-192 {
  color: #5bc862;
}

.chrys-color-bokeh-viridis-256-193 {
  color: #5ec961;
}

.chrys-color-bokeh-viridis-256-194 {
  color: #60c960;
}

.chrys-color-bokeh-viridis-256-195 {
  color: #62ca5f;
}

.chrys-color-bokeh-viridis-256-196 {
  color: #64cb5d;
}

.chrys-color-bokeh-viridis-256-197 {
  color: #67cc5c;
}

.chrys-color-bokeh-viridis-256-198 {
  color: #69cc5b;
}

.chrys-color-bokeh-viridis-256-199 {
  color: #6bcd59;
}

.chrys-color-bokeh-viridis-256-200 {
  color: #6dce58;
}

.chrys-color-bokeh-viridis-256-201 {
  color: #70ce56;
}

.chrys-color-bokeh-viridis-256-202 {
  color: #72cf55;
}

.chrys-color-bokeh-viridis-256-203 {
  color: #74d054;
}

.chrys-color-bokeh-viridis-256-204 {
  color: #77d052;
}

.chrys-color-bokeh-viridis-256-205 {
  color: #79d151;
}

.chrys-color-bokeh-viridis-256-206 {
  color: #7cd24f;
}

.chrys-color-bokeh-viridis-256-207 {
  color: #7ed24e;
}

.chrys-color-bokeh-viridis-256-208 {
  color: #81d34c;
}

.chrys-color-bokeh-viridis-256-209 {
  color: #83d34b;
}

.chrys-color-bokeh-viridis-256-210 {
  color: #86d449;
}

.chrys-color-bokeh-viridis-256-211 {
  color: #88d547;
}

.chrys-color-bokeh-viridis-256-212 {
  color: #8bd546;
}

.chrys-color-bokeh-viridis-256-213 {
  color: #8dd644;
}

.chrys-color-bokeh-viridis-256-214 {
  color: #90d643;
}

.chrys-color-bokeh-viridis-256-215 {
  color: #92d741;
}

.chrys-color-bokeh-viridis-256-216 {
  color: #95d73f;
}

.chrys-color-bokeh-viridis-256-217 {
  color: #97d83e;
}

.chrys-color-bokeh-viridis-256-218 {
  color: #9ad83c;
}

.chrys-color-bokeh-viridis-256-219 {
  color: #9dd93a;
}

.chrys-color-bokeh-viridis-256-220 {
  color: #9fd938;
}

.chrys-color-bokeh-viridis-256-221 {
  color: #a2da37;
}

.chrys-color-bokeh-viridis-256-222 {
  color: #a5da35;
}

.chrys-color-bokeh-viridis-256-223 {
  color: #a7db33;
}

.chrys-color-bokeh-viridis-256-224 {
  color: #aadb32;
}

.chrys-color-bokeh-viridis-256-225 {
  color: #addc30;
}

.chrys-color-bokeh-viridis-256-226 {
  color: #afdc2e;
}

.chrys-color-bokeh-viridis-256-227 {
  color: #b2dd2c;
}

.chrys-color-bokeh-viridis-256-228 {
  color: #b5dd2b;
}

.chrys-color-bokeh-viridis-256-229 {
  color: #b7dd29;
}

.chrys-color-bokeh-viridis-256-230 {
  color: #bade27;
}

.chrys-color-bokeh-viridis-256-231 {
  color: #bdde26;
}

.chrys-color-bokeh-viridis-256-232 {
  color: #bfdf24;
}

.chrys-color-bokeh-viridis-256-233 {
  color: #c2df22;
}

.chrys-color-bokeh-viridis-256-234 {
  color: #c5df21;
}

.chrys-color-bokeh-viridis-256-235 {
  color: #c7e01f;
}

.chrys-color-bokeh-viridis-256-236 {
  color: #cae01e;
}

.chrys-color-bokeh-viridis-256-237 {
  color: #cde01d;
}

.chrys-color-bokeh-viridis-256-238 {
  color: #cfe11c;
}

.chrys-color-bokeh-viridis-256-239 {
  color: #d2e11b;
}

.chrys-color-bokeh-viridis-256-240 {
  color: #d4e11a;
}

.chrys-color-bokeh-viridis-256-241 {
  color: #d7e219;
}

.chrys-color-bokeh-viridis-256-242 {
  color: #dae218;
}

.chrys-color-bokeh-viridis-256-243 {
  color: #dce218;
}

.chrys-color-bokeh-viridis-256-244 {
  color: #dfe318;
}

.chrys-color-bokeh-viridis-256-245 {
  color: #e1e318;
}

.chrys-color-bokeh-viridis-256-246 {
  color: #e4e318;
}

.chrys-color-bokeh-viridis-256-247 {
  color: #e7e419;
}

.chrys-color-bokeh-viridis-256-248 {
  color: #e9e419;
}

.chrys-color-bokeh-viridis-256-249 {
  color: #ece41a;
}

.chrys-color-bokeh-viridis-256-250 {
  color: #eee51b;
}

.chrys-color-bokeh-viridis-256-251 {
  color: #f1e51c;
}

.chrys-color-bokeh-viridis-256-252 {
  color: #f3e51e;
}

.chrys-color-bokeh-viridis-256-253 {
  color: #f6e61f;
}

.chrys-color-bokeh-viridis-256-254 {
  color: #f8e621;
}

.chrys-color-bokeh-viridis-256-255 {
  color: #fae622;
}

.chrys-color-bokeh-viridis-256-256 {
  color: #fde724;
}