.chrys-color-vega-gold-red-1-1 {
  color: #ee734a;
}

.chrys-color-vega-gold-red-2-1 {
  color: #fa904d;
}

.chrys-color-vega-gold-red-2-2 {
  color: #de5748;
}

.chrys-color-vega-gold-red-3-1 {
  color: #fba050;
}

.chrys-color-vega-gold-red-3-2 {
  color: #ee734a;
}

.chrys-color-vega-gold-red-3-3 {
  color: #d54a46;
}

.chrys-color-vega-gold-red-4-1 {
  color: #f9aa51;
}

.chrys-color-vega-gold-red-4-2 {
  color: #f6834b;
}

.chrys-color-vega-gold-red-4-3 {
  color: #e56249;
}

.chrys-color-vega-gold-red-4-4 {
  color: #cf4244;
}

.chrys-color-vega-gold-red-5-1 {
  color: #f8b154;
}

.chrys-color-vega-gold-red-5-2 {
  color: #fa904d;
}

.chrys-color-vega-gold-red-5-3 {
  color: #ee734a;
}

.chrys-color-vega-gold-red-5-4 {
  color: #de5748;
}

.chrys-color-vega-gold-red-5-5 {
  color: #cb3c43;
}

.chrys-color-vega-gold-red-6-1 {
  color: #f7b556;
}

.chrys-color-vega-gold-red-6-2 {
  color: #fc994e;
}

.chrys-color-vega-gold-red-6-3 {
  color: #f47e4b;
}

.chrys-color-vega-gold-red-6-4 {
  color: #e86749;
}

.chrys-color-vega-gold-red-6-5 {
  color: #d95047;
}

.chrys-color-vega-gold-red-6-6 {
  color: #c93842;
}

.chrys-color-vega-gold-red-7-1 {
  color: #f7b957;
}

.chrys-color-vega-gold-red-7-2 {
  color: #fba050;
}

.chrys-color-vega-gold-red-7-3 {
  color: #f8884c;
}

.chrys-color-vega-gold-red-7-4 {
  color: #ee734a;
}

.chrys-color-vega-gold-red-7-5 {
  color: #e35e49;
}

.chrys-color-vega-gold-red-7-6 {
  color: #d54a46;
}

.chrys-color-vega-gold-red-7-7 {
  color: #c73542;
}

.chrys-color-vega-gold-red-8-1 {
  color: #f6bc58;
}

.chrys-color-vega-gold-red-8-2 {
  color: #faa650;
}

.chrys-color-vega-gold-red-8-3 {
  color: #fa904d;
}

.chrys-color-vega-gold-red-8-4 {
  color: #f27c4b;
}

.chrys-color-vega-gold-red-8-5 {
  color: #e96a49;
}

.chrys-color-vega-gold-red-8-6 {
  color: #de5748;
}

.chrys-color-vega-gold-red-8-7 {
  color: #d24645;
}

.chrys-color-vega-gold-red-8-8 {
  color: #c53341;
}

.chrys-color-vega-gold-red-9-1 {
  color: #f6be59;
}

.chrys-color-vega-gold-red-9-2 {
  color: #f9aa51;
}

.chrys-color-vega-gold-red-9-3 {
  color: #fc964e;
}

.chrys-color-vega-gold-red-9-4 {
  color: #f6834b;
}

.chrys-color-vega-gold-red-9-5 {
  color: #ee734a;
}

.chrys-color-vega-gold-red-9-6 {
  color: #e56249;
}

.chrys-color-vega-gold-red-9-7 {
  color: #db5247;
}

.chrys-color-vega-gold-red-9-8 {
  color: #cf4244;
}

.chrys-color-vega-gold-red-9-9 {
  color: #c43141;
}