.chrys-color-vega-light-orange-1-1 {
  color: #f8936d;
}

.chrys-color-vega-light-orange-2-1 {
  color: #fab184;
}

.chrys-color-vega-light-orange-2-2 {
  color: #ef7860;
}

.chrys-color-vega-light-orange-3-1 {
  color: #f9bf94;
}

.chrys-color-vega-light-orange-3-2 {
  color: #f8936d;
}

.chrys-color-vega-light-orange-3-3 {
  color: #ea695c;
}

.chrys-color-vega-light-orange-4-1 {
  color: #f9c7a0;
}

.chrys-color-vega-light-orange-4-2 {
  color: #faa47a;
}

.chrys-color-vega-light-orange-4-3 {
  color: #f38264;
}

.chrys-color-vega-light-orange-4-4 {
  color: #e6605b;
}

.chrys-color-vega-light-orange-5-1 {
  color: #f8cdaa;
}

.chrys-color-vega-light-orange-5-2 {
  color: #fab184;
}

.chrys-color-vega-light-orange-5-3 {
  color: #f8936d;
}

.chrys-color-vega-light-orange-5-4 {
  color: #ef7860;
}

.chrys-color-vega-light-orange-5-5 {
  color: #e35b5b;
}

.chrys-color-vega-light-orange-6-1 {
  color: #f8d0b1;
}

.chrys-color-vega-light-orange-6-2 {
  color: #fab98d;
}

.chrys-color-vega-light-orange-6-3 {
  color: #fa9f75;
}

.chrys-color-vega-light-orange-6-4 {
  color: #f58766;
}

.chrys-color-vega-light-orange-6-5 {
  color: #ec6f5e;
}

.chrys-color-vega-light-orange-6-6 {
  color: #e1565b;
}

.chrys-color-vega-light-orange-7-1 {
  color: #f7d3b6;
}

.chrys-color-vega-light-orange-7-2 {
  color: #f9bf94;
}

.chrys-color-vega-light-orange-7-3 {
  color: #faa97e;
}

.chrys-color-vega-light-orange-7-4 {
  color: #f8936d;
}

.chrys-color-vega-light-orange-7-5 {
  color: #f27e63;
}

.chrys-color-vega-light-orange-7-6 {
  color: #ea695c;
}

.chrys-color-vega-light-orange-7-7 {
  color: #df535b;
}

.chrys-color-vega-light-orange-8-1 {
  color: #f7d5ba;
}

.chrys-color-vega-light-orange-8-2 {
  color: #f9c499;
}

.chrys-color-vega-light-orange-8-3 {
  color: #fab184;
}

.chrys-color-vega-light-orange-8-4 {
  color: #fa9c73;
}

.chrys-color-vega-light-orange-8-5 {
  color: #f68967;
}

.chrys-color-vega-light-orange-8-6 {
  color: #ef7860;
}

.chrys-color-vega-light-orange-8-7 {
  color: #e8645b;
}

.chrys-color-vega-light-orange-8-8 {
  color: #de515b;
}

.chrys-color-vega-light-orange-9-1 {
  color: #f7d7bd;
}

.chrys-color-vega-light-orange-9-2 {
  color: #f9c7a0;
}

.chrys-color-vega-light-orange-9-3 {
  color: #fab78a;
}

.chrys-color-vega-light-orange-9-4 {
  color: #faa47a;
}

.chrys-color-vega-light-orange-9-5 {
  color: #f8936d;
}

.chrys-color-vega-light-orange-9-6 {
  color: #f38264;
}

.chrys-color-vega-light-orange-9-7 {
  color: #ed725f;
}

.chrys-color-vega-light-orange-9-8 {
  color: #e6605b;
}

.chrys-color-vega-light-orange-9-9 {
  color: #dd4f5b;
}