.chrys-color-vega-yellow-orange-red-1-1 {
  color: #fc7335;
}

.chrys-color-vega-yellow-orange-red-2-1 {
  color: #fea045;
}

.chrys-color-vega-yellow-orange-red-2-2 {
  color: #f23e26;
}

.chrys-color-vega-yellow-orange-red-3-1 {
  color: #feb351;
}

.chrys-color-vega-yellow-orange-red-3-2 {
  color: #fc7335;
}

.chrys-color-vega-yellow-orange-red-3-3 {
  color: #e62822;
}

.chrys-color-vega-yellow-orange-red-4-1 {
  color: #febd59;
}

.chrys-color-vega-yellow-orange-red-4-2 {
  color: #fd903e;
}

.chrys-color-vega-yellow-orange-red-4-3 {
  color: #f9522b;
}

.chrys-color-vega-yellow-orange-red-4-4 {
  color: #de1b20;
}

.chrys-color-vega-yellow-orange-red-5-1 {
  color: #fec460;
}

.chrys-color-vega-yellow-orange-red-5-2 {
  color: #fea045;
}

.chrys-color-vega-yellow-orange-red-5-3 {
  color: #fc7335;
}

.chrys-color-vega-yellow-orange-red-5-4 {
  color: #f23e26;
}

.chrys-color-vega-yellow-orange-red-5-5 {
  color: #d71621;
}

.chrys-color-vega-yellow-orange-red-6-1 {
  color: #fec866;
}

.chrys-color-vega-yellow-orange-red-6-2 {
  color: #feab4b;
}

.chrys-color-vega-yellow-orange-red-6-3 {
  color: #fd883b;
}

.chrys-color-vega-yellow-orange-red-6-4 {
  color: #fa5b2e;
}

.chrys-color-vega-yellow-orange-red-6-5 {
  color: #ec3023;
}

.chrys-color-vega-yellow-orange-red-6-6 {
  color: #d31221;
}

.chrys-color-vega-yellow-orange-red-7-1 {
  color: #fecc6a;
}

.chrys-color-vega-yellow-orange-red-7-2 {
  color: #feb351;
}

.chrys-color-vega-yellow-orange-red-7-3 {
  color: #fd9641;
}

.chrys-color-vega-yellow-orange-red-7-4 {
  color: #fc7335;
}

.chrys-color-vega-yellow-orange-red-7-5 {
  color: #f64b29;
}

.chrys-color-vega-yellow-orange-red-7-6 {
  color: #e62822;
}

.chrys-color-vega-yellow-orange-red-7-7 {
  color: #cf0f22;
}

.chrys-color-vega-yellow-orange-red-8-1 {
  color: #fecf6d;
}

.chrys-color-vega-yellow-orange-red-8-2 {
  color: #feb855;
}

.chrys-color-vega-yellow-orange-red-8-3 {
  color: #fea045;
}

.chrys-color-vega-yellow-orange-red-8-4 {
  color: #fd833a;
}

.chrys-color-vega-yellow-orange-red-8-5 {
  color: #fa612f;
}

.chrys-color-vega-yellow-orange-red-8-6 {
  color: #f23e26;
}

.chrys-color-vega-yellow-orange-red-8-7 {
  color: #e22121;
}

.chrys-color-vega-yellow-orange-red-8-8 {
  color: #cc0d22;
}

.chrys-color-vega-yellow-orange-red-9-1 {
  color: #fed16f;
}

.chrys-color-vega-yellow-orange-red-9-2 {
  color: #febd59;
}

.chrys-color-vega-yellow-orange-red-9-3 {
  color: #fea849;
}

.chrys-color-vega-yellow-orange-red-9-4 {
  color: #fd903e;
}

.chrys-color-vega-yellow-orange-red-9-5 {
  color: #fc7335;
}

.chrys-color-vega-yellow-orange-red-9-6 {
  color: #f9522b;
}

.chrys-color-vega-yellow-orange-red-9-7 {
  color: #ee3423;
}

.chrys-color-vega-yellow-orange-red-9-8 {
  color: #de1b20;
}

.chrys-color-vega-yellow-orange-red-9-9 {
  color: #ca0b22;
}