.chrys-color-vega-reds-1-1 {
  color: #f6573f;
}

.chrys-color-vega-reds-2-1 {
  color: #fb7f60;
}

.chrys-color-vega-reds-2-2 {
  color: #e13128;
}

.chrys-color-vega-reds-3-1 {
  color: #fc9374;
}

.chrys-color-vega-reds-3-2 {
  color: #f6573f;
}

.chrys-color-vega-reds-3-3 {
  color: #d22321;
}

.chrys-color-vega-reds-4-1 {
  color: #fc9e80;
}

.chrys-color-vega-reds-4-2 {
  color: #fa7051;
}

.chrys-color-vega-reds-4-3 {
  color: #ec3f2f;
}

.chrys-color-vega-reds-4-4 {
  color: #c81b1d;
}

.chrys-color-vega-reds-5-1 {
  color: #fca589;
}

.chrys-color-vega-reds-5-2 {
  color: #fb7f60;
}

.chrys-color-vega-reds-5-3 {
  color: #f6573f;
}

.chrys-color-vega-reds-5-4 {
  color: #e13128;
}

.chrys-color-vega-reds-5-5 {
  color: #c1181b;
}

.chrys-color-vega-reds-6-1 {
  color: #fcab8f;
}

.chrys-color-vega-reds-6-2 {
  color: #fc8a6b;
}

.chrys-color-vega-reds-6-3 {
  color: #f9694c;
}

.chrys-color-vega-reds-6-4 {
  color: #ef4634;
}

.chrys-color-vega-reds-6-5 {
  color: #d92824;
}

.chrys-color-vega-reds-6-6 {
  color: #bb161a;
}

.chrys-color-vega-reds-7-1 {
  color: #fcaf94;
}

.chrys-color-vega-reds-7-2 {
  color: #fc9374;
}

.chrys-color-vega-reds-7-3 {
  color: #fb7657;
}

.chrys-color-vega-reds-7-4 {
  color: #f6573f;
}

.chrys-color-vega-reds-7-5 {
  color: #e83a2d;
}

.chrys-color-vega-reds-7-6 {
  color: #d22321;
}

.chrys-color-vega-reds-7-7 {
  color: #b81419;
}

.chrys-color-vega-reds-8-1 {
  color: #fcb297;
}

.chrys-color-vega-reds-8-2 {
  color: #fc997a;
}

.chrys-color-vega-reds-8-3 {
  color: #fb7f60;
}

.chrys-color-vega-reds-8-4 {
  color: #f86549;
}

.chrys-color-vega-reds-8-5 {
  color: #f04a36;
}

.chrys-color-vega-reds-8-6 {
  color: #e13128;
}

.chrys-color-vega-reds-8-7 {
  color: #cc1e1f;
}

.chrys-color-vega-reds-8-8 {
  color: #b41319;
}

.chrys-color-vega-reds-9-1 {
  color: #fcb49a;
}

.chrys-color-vega-reds-9-2 {
  color: #fc9e80;
}

.chrys-color-vega-reds-9-3 {
  color: #fc8767;
}

.chrys-color-vega-reds-9-4 {
  color: #fa7051;
}

.chrys-color-vega-reds-9-5 {
  color: #f6573f;
}

.chrys-color-vega-reds-9-6 {
  color: #ec3f2f;
}

.chrys-color-vega-reds-9-7 {
  color: #dc2a25;
}

.chrys-color-vega-reds-9-8 {
  color: #c81b1d;
}

.chrys-color-vega-reds-9-9 {
  color: #b21218;
}