.chrys-color-vega-purple-red-1-1 {
  color: #e14da0;
}

.chrys-color-vega-purple-red-2-1 {
  color: #d47dbb;
}

.chrys-color-vega-purple-red-2-2 {
  color: #dc2478;
}

.chrys-color-vega-purple-red-3-1 {
  color: #d092c6;
}

.chrys-color-vega-purple-red-3-2 {
  color: #e14da0;
}

.chrys-color-vega-purple-red-3-3 {
  color: #d01864;
}

.chrys-color-vega-purple-red-4-1 {
  color: #ce9ecc;
}

.chrys-color-vega-purple-red-4-2 {
  color: #da6bb2;
}

.chrys-color-vega-purple-red-4-3 {
  color: #e23189;
}

.chrys-color-vega-purple-red-4-4 {
  color: #c61159;
}

.chrys-color-vega-purple-red-5-1 {
  color: #d0a5d0;
}

.chrys-color-vega-purple-red-5-2 {
  color: #d47dbb;
}

.chrys-color-vega-purple-red-5-3 {
  color: #e14da0;
}

.chrys-color-vega-purple-red-5-4 {
  color: #dc2478;
}

.chrys-color-vega-purple-red-5-5 {
  color: #bd0e54;
}

.chrys-color-vega-purple-red-6-1 {
  color: #d1aad2;
}

.chrys-color-vega-purple-red-6-2 {
  color: #d189c2;
}

.chrys-color-vega-purple-red-6-3 {
  color: #dc62ad;
}

.chrys-color-vega-purple-red-6-4 {
  color: #e23990;
}

.chrys-color-vega-purple-red-6-5 {
  color: #d61c6c;
}

.chrys-color-vega-purple-red-6-6 {
  color: #b70b50;
}

.chrys-color-vega-purple-red-7-1 {
  color: #d2aed4;
}

.chrys-color-vega-purple-red-7-2 {
  color: #d092c6;
}

.chrys-color-vega-purple-red-7-3 {
  color: #d872b6;
}

.chrys-color-vega-purple-red-7-4 {
  color: #e14da0;
}

.chrys-color-vega-purple-red-7-5 {
  color: #e02c83;
}

.chrys-color-vega-purple-red-7-6 {
  color: #d01864;
}

.chrys-color-vega-purple-red-7-7 {
  color: #b20a4d;
}

.chrys-color-vega-purple-red-8-1 {
  color: #d2b1d6;
}

.chrys-color-vega-purple-red-8-2 {
  color: #cf99c9;
}

.chrys-color-vega-purple-red-8-3 {
  color: #d47dbb;
}

.chrys-color-vega-purple-red-8-4 {
  color: #dd5eaa;
}

.chrys-color-vega-purple-red-8-5 {
  color: #e23d93;
}

.chrys-color-vega-purple-red-8-6 {
  color: #dc2478;
}

.chrys-color-vega-purple-red-8-7 {
  color: #ca145e;
}

.chrys-color-vega-purple-red-8-8 {
  color: #ae084b;
}

.chrys-color-vega-purple-red-9-1 {
  color: #d3b3d7;
}

.chrys-color-vega-purple-red-9-2 {
  color: #ce9ecc;
}

.chrys-color-vega-purple-red-9-3 {
  color: #d186c0;
}

.chrys-color-vega-purple-red-9-4 {
  color: #da6bb2;
}

.chrys-color-vega-purple-red-9-5 {
  color: #e14da0;
}

.chrys-color-vega-purple-red-9-6 {
  color: #e23189;
}

.chrys-color-vega-purple-red-9-7 {
  color: #d91e6f;
}

.chrys-color-vega-purple-red-9-8 {
  color: #c61159;
}

.chrys-color-vega-purple-red-9-9 {
  color: #ab0749;
}