.chrys-color-vega-purples-1-1 {
  color: #928ec3;
}

.chrys-color-vega-purples-2-1 {
  color: #aeadd3;
}

.chrys-color-vega-purples-2-2 {
  color: #796db2;
}

.chrys-color-vega-purples-3-1 {
  color: #bcbcdb;
}

.chrys-color-vega-purples-3-2 {
  color: #928ec3;
}

.chrys-color-vega-purples-3-3 {
  color: #6f5aa8;
}

.chrys-color-vega-purples-4-1 {
  color: #c4c5e0;
}

.chrys-color-vega-purples-4-2 {
  color: #a3a0cc;
}

.chrys-color-vega-purples-4-3 {
  color: #827cb9;
}

.chrys-color-vega-purples-4-4 {
  color: #684ea2;
}

.chrys-color-vega-purples-5-1 {
  color: #c9cae3;
}

.chrys-color-vega-purples-5-2 {
  color: #aeadd3;
}

.chrys-color-vega-purples-5-3 {
  color: #928ec3;
}

.chrys-color-vega-purples-5-4 {
  color: #796db2;
}

.chrys-color-vega-purples-5-5 {
  color: #64469e;
}

.chrys-color-vega-purples-6-1 {
  color: #cdcee5;
}

.chrys-color-vega-purples-6-2 {
  color: #b6b6d7;
}

.chrys-color-vega-purples-6-3 {
  color: #9e9bc9;
}

.chrys-color-vega-purples-6-4 {
  color: #8781bc;
}

.chrys-color-vega-purples-6-5 {
  color: #7363ac;
}

.chrys-color-vega-purples-6-6 {
  color: #61409b;
}

.chrys-color-vega-purples-7-1 {
  color: #d0d0e6;
}

.chrys-color-vega-purples-7-2 {
  color: #bcbcdb;
}

.chrys-color-vega-purples-7-3 {
  color: #a7a5cf;
}

.chrys-color-vega-purples-7-4 {
  color: #928ec3;
}

.chrys-color-vega-purples-7-5 {
  color: #7f77b6;
}

.chrys-color-vega-purples-7-6 {
  color: #6f5aa8;
}

.chrys-color-vega-purples-7-7 {
  color: #5f3c99;
}

.chrys-color-vega-purples-8-1 {
  color: #d2d2e7;
}

.chrys-color-vega-purples-8-2 {
  color: #c0c1de;
}

.chrys-color-vega-purples-8-3 {
  color: #aeadd3;
}

.chrys-color-vega-purples-8-4 {
  color: #9b98c8;
}

.chrys-color-vega-purples-8-5 {
  color: #8984bd;
}

.chrys-color-vega-purples-8-6 {
  color: #796db2;
}

.chrys-color-vega-purples-8-7 {
  color: #6b53a5;
}

.chrys-color-vega-purples-8-8 {
  color: #5d3997;
}

.chrys-color-vega-purples-9-1 {
  color: #d4d4e8;
}

.chrys-color-vega-purples-9-2 {
  color: #c4c5e0;
}

.chrys-color-vega-purples-9-3 {
  color: #b4b3d6;
}

.chrys-color-vega-purples-9-4 {
  color: #a3a0cc;
}

.chrys-color-vega-purples-9-5 {
  color: #928ec3;
}

.chrys-color-vega-purples-9-6 {
  color: #827cb9;
}

.chrys-color-vega-purples-9-7 {
  color: #7566ae;
}

.chrys-color-vega-purples-9-8 {
  color: #684ea2;
}

.chrys-color-vega-purples-9-9 {
  color: #5c3696;
}