.chrys-color-vega-magma-1-1 {
  color: #b6377a;
}

.chrys-color-vega-magma-2-1 {
  color: #721f81;
}

.chrys-color-vega-magma-2-2 {
  color: #f1605d;
}

.chrys-color-vega-magma-3-1 {
  color: #51137c;
}

.chrys-color-vega-magma-3-2 {
  color: #b6377a;
}

.chrys-color-vega-magma-3-3 {
  color: #fb8762;
}

.chrys-color-vega-magma-4-1 {
  color: #3b0f70;
}

.chrys-color-vega-magma-4-2 {
  color: #8c2981;
}

.chrys-color-vega-magma-4-3 {
  color: #de4968;
}

.chrys-color-vega-magma-4-4 {
  color: #fe9f6d;
}

.chrys-color-vega-magma-5-1 {
  color: #2c1160;
}

.chrys-color-vega-magma-5-2 {
  color: #721f81;
}

.chrys-color-vega-magma-5-3 {
  color: #b6377a;
}

.chrys-color-vega-magma-5-4 {
  color: #f1605d;
}

.chrys-color-vega-magma-5-5 {
  color: #feaf78;
}

.chrys-color-vega-magma-6-1 {
  color: #231151;
}

.chrys-color-vega-magma-6-2 {
  color: #5f187f;
}

.chrys-color-vega-magma-6-3 {
  color: #982d80;
}

.chrys-color-vega-magma-6-4 {
  color: #d3436e;
}

.chrys-color-vega-magma-6-5 {
  color: #f8765d;
}

.chrys-color-vega-magma-6-6 {
  color: #feba81;
}

.chrys-color-vega-magma-7-1 {
  color: #1d1046;
}

.chrys-color-vega-magma-7-2 {
  color: #51137c;
}

.chrys-color-vega-magma-7-3 {
  color: #822582;
}

.chrys-color-vega-magma-7-4 {
  color: #b6377a;
}

.chrys-color-vega-magma-7-5 {
  color: #e65164;
}

.chrys-color-vega-magma-7-6 {
  color: #fb8762;
}

.chrys-color-vega-magma-7-7 {
  color: #fec387;
}

.chrys-color-vega-magma-8-1 {
  color: #190f3e;
}

.chrys-color-vega-magma-8-2 {
  color: #451076;
}

.chrys-color-vega-magma-8-3 {
  color: #721f81;
}

.chrys-color-vega-magma-8-4 {
  color: #9f2f7f;
}

.chrys-color-vega-magma-8-5 {
  color: #cd4071;
}

.chrys-color-vega-magma-8-6 {
  color: #f1605d;
}

.chrys-color-vega-magma-8-7 {
  color: #fd9468;
}

.chrys-color-vega-magma-8-8 {
  color: #fec98d;
}

.chrys-color-vega-magma-9-1 {
  color: #150e37;
}

.chrys-color-vega-magma-9-2 {
  color: #3b0f70;
}

.chrys-color-vega-magma-9-3 {
  color: #651a80;
}

.chrys-color-vega-magma-9-4 {
  color: #8c2981;
}

.chrys-color-vega-magma-9-5 {
  color: #b6377a;
}

.chrys-color-vega-magma-9-6 {
  color: #de4968;
}

.chrys-color-vega-magma-9-7 {
  color: #f76f5c;
}

.chrys-color-vega-magma-9-8 {
  color: #fe9f6d;
}

.chrys-color-vega-magma-9-9 {
  color: #fece91;
}

.chrys-color-vega-magma-256-1 {
  color: #000006;
}

.chrys-color-vega-magma-256-2 {
  color: #010108;
}

.chrys-color-vega-magma-256-3 {
  color: #010109;
}

.chrys-color-vega-magma-256-4 {
  color: #02020b;
}

.chrys-color-vega-magma-256-5 {
  color: #02020d;
}

.chrys-color-vega-magma-256-6 {
  color: #03030f;
}

.chrys-color-vega-magma-256-7 {
  color: #030310;
}

.chrys-color-vega-magma-256-8 {
  color: #040412;
}

.chrys-color-vega-magma-256-9 {
  color: #040414;
}

.chrys-color-vega-magma-256-10 {
  color: #050516;
}

.chrys-color-vega-magma-256-11 {
  color: #060518;
}

.chrys-color-vega-magma-256-12 {
  color: #07061a;
}

.chrys-color-vega-magma-256-13 {
  color: #08071c;
}

.chrys-color-vega-magma-256-14 {
  color: #08071e;
}

.chrys-color-vega-magma-256-15 {
  color: #090820;
}

.chrys-color-vega-magma-256-16 {
  color: #0a0822;
}

.chrys-color-vega-magma-256-17 {
  color: #0b0924;
}

.chrys-color-vega-magma-256-18 {
  color: #0c0a26;
}

.chrys-color-vega-magma-256-19 {
  color: #0d0a28;
}

.chrys-color-vega-magma-256-20 {
  color: #0e0b2a;
}

.chrys-color-vega-magma-256-21 {
  color: #100b2d;
}

.chrys-color-vega-magma-256-22 {
  color: #110c2f;
}

.chrys-color-vega-magma-256-23 {
  color: #120c31;
}

.chrys-color-vega-magma-256-24 {
  color: #130d33;
}

.chrys-color-vega-magma-256-25 {
  color: #140e35;
}

.chrys-color-vega-magma-256-26 {
  color: #150e38;
}

.chrys-color-vega-magma-256-27 {
  color: #170e3a;
}

.chrys-color-vega-magma-256-28 {
  color: #180f3c;
}

.chrys-color-vega-magma-256-29 {
  color: #190f3f;
}

.chrys-color-vega-magma-256-30 {
  color: #1b1041;
}

.chrys-color-vega-magma-256-31 {
  color: #1c1043;
}

.chrys-color-vega-magma-256-32 {
  color: #1d1046;
}

.chrys-color-vega-magma-256-33 {
  color: #1e1148;
}

.chrys-color-vega-magma-256-34 {
  color: #20114a;
}

.chrys-color-vega-magma-256-35 {
  color: #21114d;
}

.chrys-color-vega-magma-256-36 {
  color: #22114f;
}

.chrys-color-vega-magma-256-37 {
  color: #241152;
}

.chrys-color-vega-magma-256-38 {
  color: #251154;
}

.chrys-color-vega-magma-256-39 {
  color: #271157;
}

.chrys-color-vega-magma-256-40 {
  color: #281159;
}

.chrys-color-vega-magma-256-41 {
  color: #29115c;
}

.chrys-color-vega-magma-256-42 {
  color: #2b115e;
}

.chrys-color-vega-magma-256-43 {
  color: #2c1160;
}

.chrys-color-vega-magma-256-44 {
  color: #2e1162;
}

.chrys-color-vega-magma-256-45 {
  color: #301064;
}

.chrys-color-vega-magma-256-46 {
  color: #321066;
}

.chrys-color-vega-magma-256-47 {
  color: #331068;
}

.chrys-color-vega-magma-256-48 {
  color: #35106a;
}

.chrys-color-vega-magma-256-49 {
  color: #37106c;
}

.chrys-color-vega-magma-256-50 {
  color: #390f6d;
}

.chrys-color-vega-magma-256-51 {
  color: #3a0f6f;
}

.chrys-color-vega-magma-256-52 {
  color: #3c0f71;
}

.chrys-color-vega-magma-256-53 {
  color: #3e0f72;
}

.chrys-color-vega-magma-256-54 {
  color: #400f73;
}

.chrys-color-vega-magma-256-55 {
  color: #410f74;
}

.chrys-color-vega-magma-256-56 {
  color: #431075;
}

.chrys-color-vega-magma-256-57 {
  color: #451076;
}

.chrys-color-vega-magma-256-58 {
  color: #471077;
}

.chrys-color-vega-magma-256-59 {
  color: #481078;
}

.chrys-color-vega-magma-256-60 {
  color: #4a1079;
}

.chrys-color-vega-magma-256-61 {
  color: #4c117a;
}

.chrys-color-vega-magma-256-62 {
  color: #4d117a;
}

.chrys-color-vega-magma-256-63 {
  color: #4f127b;
}

.chrys-color-vega-magma-256-64 {
  color: #50127b;
}

.chrys-color-vega-magma-256-65 {
  color: #52137c;
}

.chrys-color-vega-magma-256-66 {
  color: #53147d;
}

.chrys-color-vega-magma-256-67 {
  color: #55147d;
}

.chrys-color-vega-magma-256-68 {
  color: #56157e;
}

.chrys-color-vega-magma-256-69 {
  color: #58157e;
}

.chrys-color-vega-magma-256-70 {
  color: #59167e;
}

.chrys-color-vega-magma-256-71 {
  color: #5b167f;
}

.chrys-color-vega-magma-256-72 {
  color: #5d177f;
}

.chrys-color-vega-magma-256-73 {
  color: #5e187f;
}

.chrys-color-vega-magma-256-74 {
  color: #60187f;
}

.chrys-color-vega-magma-256-75 {
  color: #621980;
}

.chrys-color-vega-magma-256-76 {
  color: #631980;
}

.chrys-color-vega-magma-256-77 {
  color: #651a80;
}

.chrys-color-vega-magma-256-78 {
  color: #661b80;
}

.chrys-color-vega-magma-256-79 {
  color: #681b80;
}

.chrys-color-vega-magma-256-80 {
  color: #691c80;
}

.chrys-color-vega-magma-256-81 {
  color: #6b1c80;
}

.chrys-color-vega-magma-256-82 {
  color: #6c1d81;
}

.chrys-color-vega-magma-256-83 {
  color: #6e1d81;
}

.chrys-color-vega-magma-256-84 {
  color: #6f1e81;
}

.chrys-color-vega-magma-256-85 {
  color: #711f81;
}

.chrys-color-vega-magma-256-86 {
  color: #731f81;
}

.chrys-color-vega-magma-256-87 {
  color: #742081;
}

.chrys-color-vega-magma-256-88 {
  color: #762081;
}

.chrys-color-vega-magma-256-89 {
  color: #772181;
}

.chrys-color-vega-magma-256-90 {
  color: #792282;
}

.chrys-color-vega-magma-256-91 {
  color: #7a2282;
}

.chrys-color-vega-magma-256-92 {
  color: #7c2382;
}

.chrys-color-vega-magma-256-93 {
  color: #7d2382;
}

.chrys-color-vega-magma-256-94 {
  color: #7f2482;
}

.chrys-color-vega-magma-256-95 {
  color: #802482;
}

.chrys-color-vega-magma-256-96 {
  color: #822582;
}

.chrys-color-vega-magma-256-97 {
  color: #832682;
}

.chrys-color-vega-magma-256-98 {
  color: #852682;
}

.chrys-color-vega-magma-256-99 {
  color: #862781;
}

.chrys-color-vega-magma-256-100 {
  color: #882781;
}

.chrys-color-vega-magma-256-101 {
  color: #892881;
}

.chrys-color-vega-magma-256-102 {
  color: #8b2981;
}

.chrys-color-vega-magma-256-103 {
  color: #8c2981;
}

.chrys-color-vega-magma-256-104 {
  color: #8e2a81;
}

.chrys-color-vega-magma-256-105 {
  color: #902a81;
}

.chrys-color-vega-magma-256-106 {
  color: #912b81;
}

.chrys-color-vega-magma-256-107 {
  color: #932b81;
}

.chrys-color-vega-magma-256-108 {
  color: #942c80;
}

.chrys-color-vega-magma-256-109 {
  color: #962d80;
}

.chrys-color-vega-magma-256-110 {
  color: #982d80;
}

.chrys-color-vega-magma-256-111 {
  color: #992e80;
}

.chrys-color-vega-magma-256-112 {
  color: #9b2e80;
}

.chrys-color-vega-magma-256-113 {
  color: #9d2f7f;
}

.chrys-color-vega-magma-256-114 {
  color: #9e2f7f;
}

.chrys-color-vega-magma-256-115 {
  color: #a0307f;
}

.chrys-color-vega-magma-256-116 {
  color: #a2307e;
}

.chrys-color-vega-magma-256-117 {
  color: #a3317e;
}

.chrys-color-vega-magma-256-118 {
  color: #a5317e;
}

.chrys-color-vega-magma-256-119 {
  color: #a6327d;
}

.chrys-color-vega-magma-256-120 {
  color: #a8327d;
}

.chrys-color-vega-magma-256-121 {
  color: #aa337d;
}

.chrys-color-vega-magma-256-122 {
  color: #ab337c;
}

.chrys-color-vega-magma-256-123 {
  color: #ad347c;
}

.chrys-color-vega-magma-256-124 {
  color: #af347c;
}

.chrys-color-vega-magma-256-125 {
  color: #b0357b;
}

.chrys-color-vega-magma-256-126 {
  color: #b2367b;
}

.chrys-color-vega-magma-256-127 {
  color: #b4367b;
}

.chrys-color-vega-magma-256-128 {
  color: #b5377a;
}

.chrys-color-vega-magma-256-129 {
  color: #b7377a;
}

.chrys-color-vega-magma-256-130 {
  color: #b83879;
}

.chrys-color-vega-magma-256-131 {
  color: #ba3879;
}

.chrys-color-vega-magma-256-132 {
  color: #bc3978;
}

.chrys-color-vega-magma-256-133 {
  color: #bd3a77;
}

.chrys-color-vega-magma-256-134 {
  color: #bf3a77;
}

.chrys-color-vega-magma-256-135 {
  color: #c13b76;
}

.chrys-color-vega-magma-256-136 {
  color: #c23b76;
}

.chrys-color-vega-magma-256-137 {
  color: #c43c75;
}

.chrys-color-vega-magma-256-138 {
  color: #c53d74;
}

.chrys-color-vega-magma-256-139 {
  color: #c73d74;
}

.chrys-color-vega-magma-256-140 {
  color: #c83e73;
}

.chrys-color-vega-magma-256-141 {
  color: #ca3f72;
}

.chrys-color-vega-magma-256-142 {
  color: #cb3f72;
}

.chrys-color-vega-magma-256-143 {
  color: #cd4071;
}

.chrys-color-vega-magma-256-144 {
  color: #cf4170;
}

.chrys-color-vega-magma-256-145 {
  color: #d0426f;
}

.chrys-color-vega-magma-256-146 {
  color: #d2426f;
}

.chrys-color-vega-magma-256-147 {
  color: #d3436e;
}

.chrys-color-vega-magma-256-148 {
  color: #d5446d;
}

.chrys-color-vega-magma-256-149 {
  color: #d6456c;
}

.chrys-color-vega-magma-256-150 {
  color: #d8466b;
}

.chrys-color-vega-magma-256-151 {
  color: #d9466b;
}

.chrys-color-vega-magma-256-152 {
  color: #db476a;
}

.chrys-color-vega-magma-256-153 {
  color: #dc4869;
}

.chrys-color-vega-magma-256-154 {
  color: #de4968;
}

.chrys-color-vega-magma-256-155 {
  color: #df4a67;
}

.chrys-color-vega-magma-256-156 {
  color: #e04b67;
}

.chrys-color-vega-magma-256-157 {
  color: #e24d66;
}

.chrys-color-vega-magma-256-158 {
  color: #e34e65;
}

.chrys-color-vega-magma-256-159 {
  color: #e44f65;
}

.chrys-color-vega-magma-256-160 {
  color: #e55064;
}

.chrys-color-vega-magma-256-161 {
  color: #e75263;
}

.chrys-color-vega-magma-256-162 {
  color: #e85363;
}

.chrys-color-vega-magma-256-163 {
  color: #e95462;
}

.chrys-color-vega-magma-256-164 {
  color: #ea5661;
}

.chrys-color-vega-magma-256-165 {
  color: #eb5761;
}

.chrys-color-vega-magma-256-166 {
  color: #ec5960;
}

.chrys-color-vega-magma-256-167 {
  color: #ed5a60;
}

.chrys-color-vega-magma-256-168 {
  color: #ee5b5f;
}

.chrys-color-vega-magma-256-169 {
  color: #ef5d5e;
}

.chrys-color-vega-magma-256-170 {
  color: #f05e5e;
}

.chrys-color-vega-magma-256-171 {
  color: #f1605d;
}

.chrys-color-vega-magma-256-172 {
  color: #f1615d;
}

.chrys-color-vega-magma-256-173 {
  color: #f2635d;
}

.chrys-color-vega-magma-256-174 {
  color: #f3655d;
}

.chrys-color-vega-magma-256-175 {
  color: #f4665d;
}

.chrys-color-vega-magma-256-176 {
  color: #f4685c;
}

.chrys-color-vega-magma-256-177 {
  color: #f56a5c;
}

.chrys-color-vega-magma-256-178 {
  color: #f66c5c;
}

.chrys-color-vega-magma-256-179 {
  color: #f66d5c;
}

.chrys-color-vega-magma-256-180 {
  color: #f76f5c;
}

.chrys-color-vega-magma-256-181 {
  color: #f7715c;
}

.chrys-color-vega-magma-256-182 {
  color: #f8735c;
}

.chrys-color-vega-magma-256-183 {
  color: #f8755d;
}

.chrys-color-vega-magma-256-184 {
  color: #f8775d;
}

.chrys-color-vega-magma-256-185 {
  color: #f9795d;
}

.chrys-color-vega-magma-256-186 {
  color: #f97a5d;
}

.chrys-color-vega-magma-256-187 {
  color: #f97c5e;
}

.chrys-color-vega-magma-256-188 {
  color: #fa7e5e;
}

.chrys-color-vega-magma-256-189 {
  color: #fa805e;
}

.chrys-color-vega-magma-256-190 {
  color: #fa825f;
}

.chrys-color-vega-magma-256-191 {
  color: #fb8460;
}

.chrys-color-vega-magma-256-192 {
  color: #fb8661;
}

.chrys-color-vega-magma-256-193 {
  color: #fb8762;
}

.chrys-color-vega-magma-256-194 {
  color: #fb8963;
}

.chrys-color-vega-magma-256-195 {
  color: #fc8b63;
}

.chrys-color-vega-magma-256-196 {
  color: #fc8d64;
}

.chrys-color-vega-magma-256-197 {
  color: #fc8f65;
}

.chrys-color-vega-magma-256-198 {
  color: #fc9166;
}

.chrys-color-vega-magma-256-199 {
  color: #fc9367;
}

.chrys-color-vega-magma-256-200 {
  color: #fd9568;
}

.chrys-color-vega-magma-256-201 {
  color: #fd9669;
}

.chrys-color-vega-magma-256-202 {
  color: #fd986a;
}

.chrys-color-vega-magma-256-203 {
  color: #fd9a6b;
}

.chrys-color-vega-magma-256-204 {
  color: #fe9c6c;
}

.chrys-color-vega-magma-256-205 {
  color: #fe9e6c;
}

.chrys-color-vega-magma-256-206 {
  color: #fea06e;
}

.chrys-color-vega-magma-256-207 {
  color: #fea26f;
}

.chrys-color-vega-magma-256-208 {
  color: #fea370;
}

.chrys-color-vega-magma-256-209 {
  color: #fea571;
}

.chrys-color-vega-magma-256-210 {
  color: #fea773;
}

.chrys-color-vega-magma-256-211 {
  color: #fea974;
}

.chrys-color-vega-magma-256-212 {
  color: #feab75;
}

.chrys-color-vega-magma-256-213 {
  color: #fead77;
}

.chrys-color-vega-magma-256-214 {
  color: #feaf78;
}

.chrys-color-vega-magma-256-215 {
  color: #feb179;
}

.chrys-color-vega-magma-256-216 {
  color: #feb27b;
}

.chrys-color-vega-magma-256-217 {
  color: #feb47c;
}

.chrys-color-vega-magma-256-218 {
  color: #feb67d;
}

.chrys-color-vega-magma-256-219 {
  color: #feb87f;
}

.chrys-color-vega-magma-256-220 {
  color: #feba80;
}

.chrys-color-vega-magma-256-221 {
  color: #febc82;
}

.chrys-color-vega-magma-256-222 {
  color: #febe83;
}

.chrys-color-vega-magma-256-223 {
  color: #febf84;
}

.chrys-color-vega-magma-256-224 {
  color: #fec186;
}

.chrys-color-vega-magma-256-225 {
  color: #fec387;
}

.chrys-color-vega-magma-256-226 {
  color: #fec589;
}

.chrys-color-vega-magma-256-227 {
  color: #fec68a;
}

.chrys-color-vega-magma-256-228 {
  color: #fec88c;
}

.chrys-color-vega-magma-256-229 {
  color: #feca8e;
}

.chrys-color-vega-magma-256-230 {
  color: #fecc8f;
}

.chrys-color-vega-magma-256-231 {
  color: #fecd91;
}

.chrys-color-vega-magma-256-232 {
  color: #fecf92;
}

.chrys-color-vega-magma-256-233 {
  color: #fed194;
}

.chrys-color-vega-magma-256-234 {
  color: #fed396;
}

.chrys-color-vega-magma-256-235 {
  color: #fed597;
}

.chrys-color-vega-magma-256-236 {
  color: #fdd799;
}

.chrys-color-vega-magma-256-237 {
  color: #fdd99b;
}

.chrys-color-vega-magma-256-238 {
  color: #fddb9d;
}

.chrys-color-vega-magma-256-239 {
  color: #fddc9e;
}

.chrys-color-vega-magma-256-240 {
  color: #fddea0;
}

.chrys-color-vega-magma-256-241 {
  color: #fde0a2;
}

.chrys-color-vega-magma-256-242 {
  color: #fde2a4;
}

.chrys-color-vega-magma-256-243 {
  color: #fde3a5;
}

.chrys-color-vega-magma-256-244 {
  color: #fde5a7;
}

.chrys-color-vega-magma-256-245 {
  color: #fce7a9;
}

.chrys-color-vega-magma-256-246 {
  color: #fce9ab;
}

.chrys-color-vega-magma-256-247 {
  color: #fceaac;
}

.chrys-color-vega-magma-256-248 {
  color: #fcecae;
}

.chrys-color-vega-magma-256-249 {
  color: #fceeb0;
}

.chrys-color-vega-magma-256-250 {
  color: #fcf0b2;
}

.chrys-color-vega-magma-256-251 {
  color: #fcf2b4;
}

.chrys-color-vega-magma-256-252 {
  color: #fcf4b6;
}

.chrys-color-vega-magma-256-253 {
  color: #fcf6b8;
}

.chrys-color-vega-magma-256-254 {
  color: #fcf7b9;
}

.chrys-color-vega-magma-256-255 {
  color: #fcf9bb;
}

.chrys-color-vega-magma-256-256 {
  color: #fcfbbd;
}