@import 'src/css/variables';

$name: 'bokeh-orange-red';
$map: map-get($chrys-palettes, $name);
$sizes: map-keys($map);

@each $size in $sizes {
  $colors: map-get($map, $size);
  $index: 0;

  @each $color in $colors {
    $index: $index + 1;

    .chrys-background-color-#{$name}-#{$size}-#{$index} {
      background-color: $color;
    }
  }
}
