.chrys-color-bokeh-green-blue-3-1 {
  color: #43a2ca;
}

.chrys-color-bokeh-green-blue-3-2 {
  color: #a8ddb5;
}

.chrys-color-bokeh-green-blue-3-3 {
  color: #e0f3db;
}

.chrys-color-bokeh-green-blue-4-1 {
  color: #2b8cbe;
}

.chrys-color-bokeh-green-blue-4-2 {
  color: #7bccc4;
}

.chrys-color-bokeh-green-blue-4-3 {
  color: #bae4bc;
}

.chrys-color-bokeh-green-blue-4-4 {
  color: #f0f9e8;
}

.chrys-color-bokeh-green-blue-5-1 {
  color: #0868ac;
}

.chrys-color-bokeh-green-blue-5-2 {
  color: #43a2ca;
}

.chrys-color-bokeh-green-blue-5-3 {
  color: #7bccc4;
}

.chrys-color-bokeh-green-blue-5-4 {
  color: #bae4bc;
}

.chrys-color-bokeh-green-blue-5-5 {
  color: #f0f9e8;
}

.chrys-color-bokeh-green-blue-6-1 {
  color: #0868ac;
}

.chrys-color-bokeh-green-blue-6-2 {
  color: #43a2ca;
}

.chrys-color-bokeh-green-blue-6-3 {
  color: #7bccc4;
}

.chrys-color-bokeh-green-blue-6-4 {
  color: #a8ddb5;
}

.chrys-color-bokeh-green-blue-6-5 {
  color: #ccebc5;
}

.chrys-color-bokeh-green-blue-6-6 {
  color: #f0f9e8;
}

.chrys-color-bokeh-green-blue-7-1 {
  color: #08589e;
}

.chrys-color-bokeh-green-blue-7-2 {
  color: #2b8cbe;
}

.chrys-color-bokeh-green-blue-7-3 {
  color: #4eb3d3;
}

.chrys-color-bokeh-green-blue-7-4 {
  color: #7bccc4;
}

.chrys-color-bokeh-green-blue-7-5 {
  color: #a8ddb5;
}

.chrys-color-bokeh-green-blue-7-6 {
  color: #ccebc5;
}

.chrys-color-bokeh-green-blue-7-7 {
  color: #f0f9e8;
}

.chrys-color-bokeh-green-blue-8-1 {
  color: #08589e;
}

.chrys-color-bokeh-green-blue-8-2 {
  color: #2b8cbe;
}

.chrys-color-bokeh-green-blue-8-3 {
  color: #4eb3d3;
}

.chrys-color-bokeh-green-blue-8-4 {
  color: #7bccc4;
}

.chrys-color-bokeh-green-blue-8-5 {
  color: #a8ddb5;
}

.chrys-color-bokeh-green-blue-8-6 {
  color: #ccebc5;
}

.chrys-color-bokeh-green-blue-8-7 {
  color: #e0f3db;
}

.chrys-color-bokeh-green-blue-8-8 {
  color: #f7fcf0;
}

.chrys-color-bokeh-green-blue-9-1 {
  color: #084081;
}

.chrys-color-bokeh-green-blue-9-2 {
  color: #0868ac;
}

.chrys-color-bokeh-green-blue-9-3 {
  color: #2b8cbe;
}

.chrys-color-bokeh-green-blue-9-4 {
  color: #4eb3d3;
}

.chrys-color-bokeh-green-blue-9-5 {
  color: #7bccc4;
}

.chrys-color-bokeh-green-blue-9-6 {
  color: #a8ddb5;
}

.chrys-color-bokeh-green-blue-9-7 {
  color: #ccebc5;
}

.chrys-color-bokeh-green-blue-9-8 {
  color: #e0f3db;
}

.chrys-color-bokeh-green-blue-9-9 {
  color: #f7fcf0;
}