.chrys-color-bokeh-spectral-3-1 {
  color: #99d594;
}

.chrys-color-bokeh-spectral-3-2 {
  color: #ffffbf;
}

.chrys-color-bokeh-spectral-3-3 {
  color: #fc8d59;
}

.chrys-color-bokeh-spectral-4-1 {
  color: #2b83ba;
}

.chrys-color-bokeh-spectral-4-2 {
  color: #abdda4;
}

.chrys-color-bokeh-spectral-4-3 {
  color: #fdae61;
}

.chrys-color-bokeh-spectral-4-4 {
  color: #d7191c;
}

.chrys-color-bokeh-spectral-5-1 {
  color: #2b83ba;
}

.chrys-color-bokeh-spectral-5-2 {
  color: #abdda4;
}

.chrys-color-bokeh-spectral-5-3 {
  color: #ffffbf;
}

.chrys-color-bokeh-spectral-5-4 {
  color: #fdae61;
}

.chrys-color-bokeh-spectral-5-5 {
  color: #d7191c;
}

.chrys-color-bokeh-spectral-6-1 {
  color: #3288bd;
}

.chrys-color-bokeh-spectral-6-2 {
  color: #99d594;
}

.chrys-color-bokeh-spectral-6-3 {
  color: #e6f598;
}

.chrys-color-bokeh-spectral-6-4 {
  color: #fee08b;
}

.chrys-color-bokeh-spectral-6-5 {
  color: #fc8d59;
}

.chrys-color-bokeh-spectral-6-6 {
  color: #d53e4f;
}

.chrys-color-bokeh-spectral-7-1 {
  color: #3288bd;
}

.chrys-color-bokeh-spectral-7-2 {
  color: #99d594;
}

.chrys-color-bokeh-spectral-7-3 {
  color: #e6f598;
}

.chrys-color-bokeh-spectral-7-4 {
  color: #ffffbf;
}

.chrys-color-bokeh-spectral-7-5 {
  color: #fee08b;
}

.chrys-color-bokeh-spectral-7-6 {
  color: #fc8d59;
}

.chrys-color-bokeh-spectral-7-7 {
  color: #d53e4f;
}

.chrys-color-bokeh-spectral-8-1 {
  color: #3288bd;
}

.chrys-color-bokeh-spectral-8-2 {
  color: #66c2a5;
}

.chrys-color-bokeh-spectral-8-3 {
  color: #abdda4;
}

.chrys-color-bokeh-spectral-8-4 {
  color: #e6f598;
}

.chrys-color-bokeh-spectral-8-5 {
  color: #fee08b;
}

.chrys-color-bokeh-spectral-8-6 {
  color: #fdae61;
}

.chrys-color-bokeh-spectral-8-7 {
  color: #f46d43;
}

.chrys-color-bokeh-spectral-8-8 {
  color: #d53e4f;
}

.chrys-color-bokeh-spectral-9-1 {
  color: #3288bd;
}

.chrys-color-bokeh-spectral-9-2 {
  color: #66c2a5;
}

.chrys-color-bokeh-spectral-9-3 {
  color: #abdda4;
}

.chrys-color-bokeh-spectral-9-4 {
  color: #e6f598;
}

.chrys-color-bokeh-spectral-9-5 {
  color: #ffffbf;
}

.chrys-color-bokeh-spectral-9-6 {
  color: #fee08b;
}

.chrys-color-bokeh-spectral-9-7 {
  color: #fdae61;
}

.chrys-color-bokeh-spectral-9-8 {
  color: #f46d43;
}

.chrys-color-bokeh-spectral-9-9 {
  color: #d53e4f;
}

.chrys-color-bokeh-spectral-10-1 {
  color: #5e4fa2;
}

.chrys-color-bokeh-spectral-10-2 {
  color: #3288bd;
}

.chrys-color-bokeh-spectral-10-3 {
  color: #66c2a5;
}

.chrys-color-bokeh-spectral-10-4 {
  color: #abdda4;
}

.chrys-color-bokeh-spectral-10-5 {
  color: #e6f598;
}

.chrys-color-bokeh-spectral-10-6 {
  color: #fee08b;
}

.chrys-color-bokeh-spectral-10-7 {
  color: #fdae61;
}

.chrys-color-bokeh-spectral-10-8 {
  color: #f46d43;
}

.chrys-color-bokeh-spectral-10-9 {
  color: #d53e4f;
}

.chrys-color-bokeh-spectral-10-10 {
  color: #9e0142;
}

.chrys-color-bokeh-spectral-11-1 {
  color: #5e4fa2;
}

.chrys-color-bokeh-spectral-11-2 {
  color: #3288bd;
}

.chrys-color-bokeh-spectral-11-3 {
  color: #66c2a5;
}

.chrys-color-bokeh-spectral-11-4 {
  color: #abdda4;
}

.chrys-color-bokeh-spectral-11-5 {
  color: #e6f598;
}

.chrys-color-bokeh-spectral-11-6 {
  color: #ffffbf;
}

.chrys-color-bokeh-spectral-11-7 {
  color: #fee08b;
}

.chrys-color-bokeh-spectral-11-8 {
  color: #fdae61;
}

.chrys-color-bokeh-spectral-11-9 {
  color: #f46d43;
}

.chrys-color-bokeh-spectral-11-10 {
  color: #d53e4f;
}

.chrys-color-bokeh-spectral-11-11 {
  color: #9e0142;
}