.chrys-color-bokeh-accent-3-1 {
  color: #7fc97f;
}

.chrys-color-bokeh-accent-3-2 {
  color: #beaed4;
}

.chrys-color-bokeh-accent-3-3 {
  color: #fdc086;
}

.chrys-color-bokeh-accent-4-1 {
  color: #7fc97f;
}

.chrys-color-bokeh-accent-4-2 {
  color: #beaed4;
}

.chrys-color-bokeh-accent-4-3 {
  color: #fdc086;
}

.chrys-color-bokeh-accent-4-4 {
  color: #ffff99;
}

.chrys-color-bokeh-accent-5-1 {
  color: #7fc97f;
}

.chrys-color-bokeh-accent-5-2 {
  color: #beaed4;
}

.chrys-color-bokeh-accent-5-3 {
  color: #fdc086;
}

.chrys-color-bokeh-accent-5-4 {
  color: #ffff99;
}

.chrys-color-bokeh-accent-5-5 {
  color: #386cb0;
}

.chrys-color-bokeh-accent-6-1 {
  color: #7fc97f;
}

.chrys-color-bokeh-accent-6-2 {
  color: #beaed4;
}

.chrys-color-bokeh-accent-6-3 {
  color: #fdc086;
}

.chrys-color-bokeh-accent-6-4 {
  color: #ffff99;
}

.chrys-color-bokeh-accent-6-5 {
  color: #386cb0;
}

.chrys-color-bokeh-accent-6-6 {
  color: #f0027f;
}

.chrys-color-bokeh-accent-7-1 {
  color: #7fc97f;
}

.chrys-color-bokeh-accent-7-2 {
  color: #beaed4;
}

.chrys-color-bokeh-accent-7-3 {
  color: #fdc086;
}

.chrys-color-bokeh-accent-7-4 {
  color: #ffff99;
}

.chrys-color-bokeh-accent-7-5 {
  color: #386cb0;
}

.chrys-color-bokeh-accent-7-6 {
  color: #f0027f;
}

.chrys-color-bokeh-accent-7-7 {
  color: #bf5b17;
}

.chrys-color-bokeh-accent-8-1 {
  color: #7fc97f;
}

.chrys-color-bokeh-accent-8-2 {
  color: #beaed4;
}

.chrys-color-bokeh-accent-8-3 {
  color: #fdc086;
}

.chrys-color-bokeh-accent-8-4 {
  color: #ffff99;
}

.chrys-color-bokeh-accent-8-5 {
  color: #386cb0;
}

.chrys-color-bokeh-accent-8-6 {
  color: #f0027f;
}

.chrys-color-bokeh-accent-8-7 {
  color: #bf5b17;
}

.chrys-color-bokeh-accent-8-8 {
  color: #666666;
}