.chrys-color-vega-greys-1-1 {
  color: #888888;
}

.chrys-color-vega-greys-2-1 {
  color: #aaaaaa;
}

.chrys-color-vega-greys-2-2 {
  color: #686868;
}

.chrys-color-vega-greys-3-1 {
  color: #bbbbbb;
}

.chrys-color-vega-greys-3-2 {
  color: #888888;
}

.chrys-color-vega-greys-3-3 {
  color: #585858;
}

.chrys-color-vega-greys-4-1 {
  color: #c4c4c4;
}

.chrys-color-vega-greys-4-2 {
  color: #9d9d9d;
}

.chrys-color-vega-greys-4-3 {
  color: #757575;
}

.chrys-color-vega-greys-4-4 {
  color: #4d4d4d;
}

.chrys-color-vega-greys-5-1 {
  color: #c9c9c9;
}

.chrys-color-vega-greys-5-2 {
  color: #aaaaaa;
}

.chrys-color-vega-greys-5-3 {
  color: #888888;
}

.chrys-color-vega-greys-5-4 {
  color: #686868;
}

.chrys-color-vega-greys-5-5 {
  color: #454545;
}

.chrys-color-vega-greys-6-1 {
  color: #cdcdcd;
}

.chrys-color-vega-greys-6-2 {
  color: #b4b4b4;
}

.chrys-color-vega-greys-6-3 {
  color: #979797;
}

.chrys-color-vega-greys-6-4 {
  color: #7a7a7a;
}

.chrys-color-vega-greys-6-5 {
  color: #5f5f5f;
}

.chrys-color-vega-greys-6-6 {
  color: #3f3f3f;
}

.chrys-color-vega-greys-7-1 {
  color: #d0d0d0;
}

.chrys-color-vega-greys-7-2 {
  color: #bbbbbb;
}

.chrys-color-vega-greys-7-3 {
  color: #a2a2a2;
}

.chrys-color-vega-greys-7-4 {
  color: #888888;
}

.chrys-color-vega-greys-7-5 {
  color: #707070;
}

.chrys-color-vega-greys-7-6 {
  color: #585858;
}

.chrys-color-vega-greys-7-7 {
  color: #3b3b3b;
}

.chrys-color-vega-greys-8-1 {
  color: #d2d2d2;
}

.chrys-color-vega-greys-8-2 {
  color: #c0c0c0;
}

.chrys-color-vega-greys-8-3 {
  color: #aaaaaa;
}

.chrys-color-vega-greys-8-4 {
  color: #949494;
}

.chrys-color-vega-greys-8-5 {
  color: #7d7d7d;
}

.chrys-color-vega-greys-8-6 {
  color: #686868;
}

.chrys-color-vega-greys-8-7 {
  color: #525252;
}

.chrys-color-vega-greys-8-8 {
  color: #383838;
}

.chrys-color-vega-greys-9-1 {
  color: #d4d4d4;
}

.chrys-color-vega-greys-9-2 {
  color: #c4c4c4;
}

.chrys-color-vega-greys-9-3 {
  color: #b1b1b1;
}

.chrys-color-vega-greys-9-4 {
  color: #9d9d9d;
}

.chrys-color-vega-greys-9-5 {
  color: #888888;
}

.chrys-color-vega-greys-9-6 {
  color: #757575;
}

.chrys-color-vega-greys-9-7 {
  color: #626262;
}

.chrys-color-vega-greys-9-8 {
  color: #4d4d4d;
}

.chrys-color-vega-greys-9-9 {
  color: #353535;
}