.chrys-color-vega-light-grey-teal-1-1 {
  color: #85b2be;
}

.chrys-color-vega-light-grey-teal-2-1 {
  color: #b7c2c7;
}

.chrys-color-vega-light-grey-teal-2-2 {
  color: #22a6c3;
}

.chrys-color-vega-light-grey-teal-3-1 {
  color: #c4cbcf;
}

.chrys-color-vega-light-grey-teal-3-2 {
  color: #85b2be;
}

.chrys-color-vega-light-grey-teal-3-3 {
  color: #2299c2;
}

.chrys-color-vega-light-grey-teal-4-1 {
  color: #cbd1d4;
}

.chrys-color-vega-light-grey-teal-4-2 {
  color: #adbac0;
}

.chrys-color-vega-light-grey-teal-4-3 {
  color: #4aacc1;
}

.chrys-color-vega-light-grey-teal-4-4 {
  color: #2192c0;
}

.chrys-color-vega-light-grey-teal-5-1 {
  color: #cfd5d8;
}

.chrys-color-vega-light-grey-teal-5-2 {
  color: #b7c2c7;
}

.chrys-color-vega-light-grey-teal-5-3 {
  color: #85b2be;
}

.chrys-color-vega-light-grey-teal-5-4 {
  color: #22a6c3;
}

.chrys-color-vega-light-grey-teal-5-5 {
  color: #218dc0;
}

.chrys-color-vega-light-grey-teal-6-1 {
  color: #d2d8da;
}

.chrys-color-vega-light-grey-teal-6-2 {
  color: #bec7cc;
}

.chrys-color-vega-light-grey-teal-6-3 {
  color: #a8b6be;
}

.chrys-color-vega-light-grey-teal-6-4 {
  color: #5bafc0;
}

.chrys-color-vega-light-grey-teal-6-5 {
  color: #229fc2;
}

.chrys-color-vega-light-grey-teal-6-6 {
  color: #208abf;
}

.chrys-color-vega-light-grey-teal-7-1 {
  color: #d4dadc;
}

.chrys-color-vega-light-grey-teal-7-2 {
  color: #c4cbcf;
}

.chrys-color-vega-light-grey-teal-7-3 {
  color: #b1bdc3;
}

.chrys-color-vega-light-grey-teal-7-4 {
  color: #85b2be;
}

.chrys-color-vega-light-grey-teal-7-5 {
  color: #3baac2;
}

.chrys-color-vega-light-grey-teal-7-6 {
  color: #2299c2;
}

.chrys-color-vega-light-grey-teal-7-7 {
  color: #1f87be;
}

.chrys-color-vega-light-grey-teal-8-1 {
  color: #d6dcdd;
}

.chrys-color-vega-light-grey-teal-8-2 {
  color: #c8ced2;
}

.chrys-color-vega-light-grey-teal-8-3 {
  color: #b7c2c7;
}

.chrys-color-vega-light-grey-teal-8-4 {
  color: #a6b4bc;
}

.chrys-color-vega-light-grey-teal-8-5 {
  color: #64b0bf;
}

.chrys-color-vega-light-grey-teal-8-6 {
  color: #22a6c3;
}

.chrys-color-vega-light-grey-teal-8-7 {
  color: #2295c1;
}

.chrys-color-vega-light-grey-teal-8-8 {
  color: #1f85be;
}

.chrys-color-vega-light-grey-teal-9-1 {
  color: #d7ddde;
}

.chrys-color-vega-light-grey-teal-9-2 {
  color: #cbd1d4;
}

.chrys-color-vega-light-grey-teal-9-3 {
  color: #bcc6ca;
}

.chrys-color-vega-light-grey-teal-9-4 {
  color: #adbac0;
}

.chrys-color-vega-light-grey-teal-9-5 {
  color: #85b2be;
}

.chrys-color-vega-light-grey-teal-9-6 {
  color: #4aacc1;
}

.chrys-color-vega-light-grey-teal-9-7 {
  color: #22a1c2;
}

.chrys-color-vega-light-grey-teal-9-8 {
  color: #2192c0;
}

.chrys-color-vega-light-grey-teal-9-9 {
  color: #1e84be;
}