/*
Default style.
 */

/* Default for all widgets */
QWidget {
    font-size: 50px;
}

QLabel#title_label {
    color: blue;
}

QLabel#description_label {
    color: rgb(0, 0, 50);
}

QPushButton#pass_button {
    color : green;
    /*background-color : gray;*/
}

QPushButton#fail_button {
    color : red;
    /*background-color : green;*/
}
