.chrys-background-color-bokeh-orange-red-3-1 {
  background-color: #e34a33;
}

.chrys-background-color-bokeh-orange-red-3-2 {
  background-color: #fdbb84;
}

.chrys-background-color-bokeh-orange-red-3-3 {
  background-color: #fee8c8;
}

.chrys-background-color-bokeh-orange-red-4-1 {
  background-color: #d7301f;
}

.chrys-background-color-bokeh-orange-red-4-2 {
  background-color: #fc8d59;
}

.chrys-background-color-bokeh-orange-red-4-3 {
  background-color: #fdcc8a;
}

.chrys-background-color-bokeh-orange-red-4-4 {
  background-color: #fef0d9;
}

.chrys-background-color-bokeh-orange-red-5-1 {
  background-color: #b30000;
}

.chrys-background-color-bokeh-orange-red-5-2 {
  background-color: #e34a33;
}

.chrys-background-color-bokeh-orange-red-5-3 {
  background-color: #fc8d59;
}

.chrys-background-color-bokeh-orange-red-5-4 {
  background-color: #fdcc8a;
}

.chrys-background-color-bokeh-orange-red-5-5 {
  background-color: #fef0d9;
}

.chrys-background-color-bokeh-orange-red-6-1 {
  background-color: #b30000;
}

.chrys-background-color-bokeh-orange-red-6-2 {
  background-color: #e34a33;
}

.chrys-background-color-bokeh-orange-red-6-3 {
  background-color: #fc8d59;
}

.chrys-background-color-bokeh-orange-red-6-4 {
  background-color: #fdbb84;
}

.chrys-background-color-bokeh-orange-red-6-5 {
  background-color: #fdd49e;
}

.chrys-background-color-bokeh-orange-red-6-6 {
  background-color: #fef0d9;
}

.chrys-background-color-bokeh-orange-red-7-1 {
  background-color: #990000;
}

.chrys-background-color-bokeh-orange-red-7-2 {
  background-color: #d7301f;
}

.chrys-background-color-bokeh-orange-red-7-3 {
  background-color: #ef6548;
}

.chrys-background-color-bokeh-orange-red-7-4 {
  background-color: #fc8d59;
}

.chrys-background-color-bokeh-orange-red-7-5 {
  background-color: #fdbb84;
}

.chrys-background-color-bokeh-orange-red-7-6 {
  background-color: #fdd49e;
}

.chrys-background-color-bokeh-orange-red-7-7 {
  background-color: #fef0d9;
}

.chrys-background-color-bokeh-orange-red-8-1 {
  background-color: #990000;
}

.chrys-background-color-bokeh-orange-red-8-2 {
  background-color: #d7301f;
}

.chrys-background-color-bokeh-orange-red-8-3 {
  background-color: #ef6548;
}

.chrys-background-color-bokeh-orange-red-8-4 {
  background-color: #fc8d59;
}

.chrys-background-color-bokeh-orange-red-8-5 {
  background-color: #fdbb84;
}

.chrys-background-color-bokeh-orange-red-8-6 {
  background-color: #fdd49e;
}

.chrys-background-color-bokeh-orange-red-8-7 {
  background-color: #fee8c8;
}

.chrys-background-color-bokeh-orange-red-8-8 {
  background-color: #fff7ec;
}

.chrys-background-color-bokeh-orange-red-9-1 {
  background-color: #7f0000;
}

.chrys-background-color-bokeh-orange-red-9-2 {
  background-color: #b30000;
}

.chrys-background-color-bokeh-orange-red-9-3 {
  background-color: #d7301f;
}

.chrys-background-color-bokeh-orange-red-9-4 {
  background-color: #ef6548;
}

.chrys-background-color-bokeh-orange-red-9-5 {
  background-color: #fc8d59;
}

.chrys-background-color-bokeh-orange-red-9-6 {
  background-color: #fdbb84;
}

.chrys-background-color-bokeh-orange-red-9-7 {
  background-color: #fdd49e;
}

.chrys-background-color-bokeh-orange-red-9-8 {
  background-color: #fee8c8;
}

.chrys-background-color-bokeh-orange-red-9-9 {
  background-color: #fff7ec;
}