.chrys-background-color-bokeh-greens-3-1 {
  background-color: #31a354;
}

.chrys-background-color-bokeh-greens-3-2 {
  background-color: #a1d99b;
}

.chrys-background-color-bokeh-greens-3-3 {
  background-color: #e5f5e0;
}

.chrys-background-color-bokeh-greens-4-1 {
  background-color: #238b45;
}

.chrys-background-color-bokeh-greens-4-2 {
  background-color: #74c476;
}

.chrys-background-color-bokeh-greens-4-3 {
  background-color: #bae4b3;
}

.chrys-background-color-bokeh-greens-4-4 {
  background-color: #edf8e9;
}

.chrys-background-color-bokeh-greens-5-1 {
  background-color: #006d2c;
}

.chrys-background-color-bokeh-greens-5-2 {
  background-color: #31a354;
}

.chrys-background-color-bokeh-greens-5-3 {
  background-color: #74c476;
}

.chrys-background-color-bokeh-greens-5-4 {
  background-color: #bae4b3;
}

.chrys-background-color-bokeh-greens-5-5 {
  background-color: #edf8e9;
}

.chrys-background-color-bokeh-greens-6-1 {
  background-color: #006d2c;
}

.chrys-background-color-bokeh-greens-6-2 {
  background-color: #31a354;
}

.chrys-background-color-bokeh-greens-6-3 {
  background-color: #74c476;
}

.chrys-background-color-bokeh-greens-6-4 {
  background-color: #a1d99b;
}

.chrys-background-color-bokeh-greens-6-5 {
  background-color: #c7e9c0;
}

.chrys-background-color-bokeh-greens-6-6 {
  background-color: #edf8e9;
}

.chrys-background-color-bokeh-greens-7-1 {
  background-color: #005a32;
}

.chrys-background-color-bokeh-greens-7-2 {
  background-color: #238b45;
}

.chrys-background-color-bokeh-greens-7-3 {
  background-color: #41ab5d;
}

.chrys-background-color-bokeh-greens-7-4 {
  background-color: #74c476;
}

.chrys-background-color-bokeh-greens-7-5 {
  background-color: #a1d99b;
}

.chrys-background-color-bokeh-greens-7-6 {
  background-color: #c7e9c0;
}

.chrys-background-color-bokeh-greens-7-7 {
  background-color: #edf8e9;
}

.chrys-background-color-bokeh-greens-8-1 {
  background-color: #005a32;
}

.chrys-background-color-bokeh-greens-8-2 {
  background-color: #238b45;
}

.chrys-background-color-bokeh-greens-8-3 {
  background-color: #41ab5d;
}

.chrys-background-color-bokeh-greens-8-4 {
  background-color: #74c476;
}

.chrys-background-color-bokeh-greens-8-5 {
  background-color: #a1d99b;
}

.chrys-background-color-bokeh-greens-8-6 {
  background-color: #c7e9c0;
}

.chrys-background-color-bokeh-greens-8-7 {
  background-color: #e5f5e0;
}

.chrys-background-color-bokeh-greens-8-8 {
  background-color: #f7fcf5;
}

.chrys-background-color-bokeh-greens-9-1 {
  background-color: #00441b;
}

.chrys-background-color-bokeh-greens-9-2 {
  background-color: #006d2c;
}

.chrys-background-color-bokeh-greens-9-3 {
  background-color: #238b45;
}

.chrys-background-color-bokeh-greens-9-4 {
  background-color: #41ab5d;
}

.chrys-background-color-bokeh-greens-9-5 {
  background-color: #74c476;
}

.chrys-background-color-bokeh-greens-9-6 {
  background-color: #a1d99b;
}

.chrys-background-color-bokeh-greens-9-7 {
  background-color: #c7e9c0;
}

.chrys-background-color-bokeh-greens-9-8 {
  background-color: #e5f5e0;
}

.chrys-background-color-bokeh-greens-9-9 {
  background-color: #f7fcf5;
}