.chrys-color-bokeh-yellow-orange-brown-3-1 {
  color: #d95f0e;
}

.chrys-color-bokeh-yellow-orange-brown-3-2 {
  color: #fec44f;
}

.chrys-color-bokeh-yellow-orange-brown-3-3 {
  color: #fff7bc;
}

.chrys-color-bokeh-yellow-orange-brown-4-1 {
  color: #cc4c02;
}

.chrys-color-bokeh-yellow-orange-brown-4-2 {
  color: #fe9929;
}

.chrys-color-bokeh-yellow-orange-brown-4-3 {
  color: #fed98e;
}

.chrys-color-bokeh-yellow-orange-brown-4-4 {
  color: #ffffd4;
}

.chrys-color-bokeh-yellow-orange-brown-5-1 {
  color: #993404;
}

.chrys-color-bokeh-yellow-orange-brown-5-2 {
  color: #d95f0e;
}

.chrys-color-bokeh-yellow-orange-brown-5-3 {
  color: #fe9929;
}

.chrys-color-bokeh-yellow-orange-brown-5-4 {
  color: #fed98e;
}

.chrys-color-bokeh-yellow-orange-brown-5-5 {
  color: #ffffd4;
}

.chrys-color-bokeh-yellow-orange-brown-6-1 {
  color: #993404;
}

.chrys-color-bokeh-yellow-orange-brown-6-2 {
  color: #d95f0e;
}

.chrys-color-bokeh-yellow-orange-brown-6-3 {
  color: #fe9929;
}

.chrys-color-bokeh-yellow-orange-brown-6-4 {
  color: #fec44f;
}

.chrys-color-bokeh-yellow-orange-brown-6-5 {
  color: #fee391;
}

.chrys-color-bokeh-yellow-orange-brown-6-6 {
  color: #ffffd4;
}

.chrys-color-bokeh-yellow-orange-brown-7-1 {
  color: #8c2d04;
}

.chrys-color-bokeh-yellow-orange-brown-7-2 {
  color: #cc4c02;
}

.chrys-color-bokeh-yellow-orange-brown-7-3 {
  color: #ec7014;
}

.chrys-color-bokeh-yellow-orange-brown-7-4 {
  color: #fe9929;
}

.chrys-color-bokeh-yellow-orange-brown-7-5 {
  color: #fec44f;
}

.chrys-color-bokeh-yellow-orange-brown-7-6 {
  color: #fee391;
}

.chrys-color-bokeh-yellow-orange-brown-7-7 {
  color: #ffffd4;
}

.chrys-color-bokeh-yellow-orange-brown-8-1 {
  color: #8c2d04;
}

.chrys-color-bokeh-yellow-orange-brown-8-2 {
  color: #cc4c02;
}

.chrys-color-bokeh-yellow-orange-brown-8-3 {
  color: #ec7014;
}

.chrys-color-bokeh-yellow-orange-brown-8-4 {
  color: #fe9929;
}

.chrys-color-bokeh-yellow-orange-brown-8-5 {
  color: #fec44f;
}

.chrys-color-bokeh-yellow-orange-brown-8-6 {
  color: #fee391;
}

.chrys-color-bokeh-yellow-orange-brown-8-7 {
  color: #fff7bc;
}

.chrys-color-bokeh-yellow-orange-brown-8-8 {
  color: #ffffe5;
}

.chrys-color-bokeh-yellow-orange-brown-9-1 {
  color: #662506;
}

.chrys-color-bokeh-yellow-orange-brown-9-2 {
  color: #993404;
}

.chrys-color-bokeh-yellow-orange-brown-9-3 {
  color: #cc4c02;
}

.chrys-color-bokeh-yellow-orange-brown-9-4 {
  color: #ec7014;
}

.chrys-color-bokeh-yellow-orange-brown-9-5 {
  color: #fe9929;
}

.chrys-color-bokeh-yellow-orange-brown-9-6 {
  color: #fec44f;
}

.chrys-color-bokeh-yellow-orange-brown-9-7 {
  color: #fee391;
}

.chrys-color-bokeh-yellow-orange-brown-9-8 {
  color: #fff7bc;
}

.chrys-color-bokeh-yellow-orange-brown-9-9 {
  color: #ffffe5;
}