.chrys-color-bokeh-blue-purple-3-1 {
  color: #8856a7;
}

.chrys-color-bokeh-blue-purple-3-2 {
  color: #9ebcda;
}

.chrys-color-bokeh-blue-purple-3-3 {
  color: #e0ecf4;
}

.chrys-color-bokeh-blue-purple-4-1 {
  color: #88419d;
}

.chrys-color-bokeh-blue-purple-4-2 {
  color: #8c96c6;
}

.chrys-color-bokeh-blue-purple-4-3 {
  color: #b3cde3;
}

.chrys-color-bokeh-blue-purple-4-4 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-purple-5-1 {
  color: #810f7c;
}

.chrys-color-bokeh-blue-purple-5-2 {
  color: #8856a7;
}

.chrys-color-bokeh-blue-purple-5-3 {
  color: #8c96c6;
}

.chrys-color-bokeh-blue-purple-5-4 {
  color: #b3cde3;
}

.chrys-color-bokeh-blue-purple-5-5 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-purple-6-1 {
  color: #810f7c;
}

.chrys-color-bokeh-blue-purple-6-2 {
  color: #8856a7;
}

.chrys-color-bokeh-blue-purple-6-3 {
  color: #8c96c6;
}

.chrys-color-bokeh-blue-purple-6-4 {
  color: #9ebcda;
}

.chrys-color-bokeh-blue-purple-6-5 {
  color: #bfd3e6;
}

.chrys-color-bokeh-blue-purple-6-6 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-purple-7-1 {
  color: #6e016b;
}

.chrys-color-bokeh-blue-purple-7-2 {
  color: #88419d;
}

.chrys-color-bokeh-blue-purple-7-3 {
  color: #8c6bb1;
}

.chrys-color-bokeh-blue-purple-7-4 {
  color: #8c96c6;
}

.chrys-color-bokeh-blue-purple-7-5 {
  color: #9ebcda;
}

.chrys-color-bokeh-blue-purple-7-6 {
  color: #bfd3e6;
}

.chrys-color-bokeh-blue-purple-7-7 {
  color: #edf8fb;
}

.chrys-color-bokeh-blue-purple-8-1 {
  color: #6e016b;
}

.chrys-color-bokeh-blue-purple-8-2 {
  color: #88419d;
}

.chrys-color-bokeh-blue-purple-8-3 {
  color: #8c6bb1;
}

.chrys-color-bokeh-blue-purple-8-4 {
  color: #8c96c6;
}

.chrys-color-bokeh-blue-purple-8-5 {
  color: #9ebcda;
}

.chrys-color-bokeh-blue-purple-8-6 {
  color: #bfd3e6;
}

.chrys-color-bokeh-blue-purple-8-7 {
  color: #e0ecf4;
}

.chrys-color-bokeh-blue-purple-8-8 {
  color: #f7fcfd;
}

.chrys-color-bokeh-blue-purple-9-1 {
  color: #4d004b;
}

.chrys-color-bokeh-blue-purple-9-2 {
  color: #810f7c;
}

.chrys-color-bokeh-blue-purple-9-3 {
  color: #88419d;
}

.chrys-color-bokeh-blue-purple-9-4 {
  color: #8c6bb1;
}

.chrys-color-bokeh-blue-purple-9-5 {
  color: #8c96c6;
}

.chrys-color-bokeh-blue-purple-9-6 {
  color: #9ebcda;
}

.chrys-color-bokeh-blue-purple-9-7 {
  color: #bfd3e6;
}

.chrys-color-bokeh-blue-purple-9-8 {
  color: #e0ecf4;
}

.chrys-color-bokeh-blue-purple-9-9 {
  color: #f7fcfd;
}