.chrys-color-bokeh-red-blue-3-1 {
  color: #67a9cf;
}

.chrys-color-bokeh-red-blue-3-2 {
  color: #f7f7f7;
}

.chrys-color-bokeh-red-blue-3-3 {
  color: #ef8a62;
}

.chrys-color-bokeh-red-blue-4-1 {
  color: #0571b0;
}

.chrys-color-bokeh-red-blue-4-2 {
  color: #92c5de;
}

.chrys-color-bokeh-red-blue-4-3 {
  color: #f4a582;
}

.chrys-color-bokeh-red-blue-4-4 {
  color: #ca0020;
}

.chrys-color-bokeh-red-blue-5-1 {
  color: #0571b0;
}

.chrys-color-bokeh-red-blue-5-2 {
  color: #92c5de;
}

.chrys-color-bokeh-red-blue-5-3 {
  color: #f7f7f7;
}

.chrys-color-bokeh-red-blue-5-4 {
  color: #f4a582;
}

.chrys-color-bokeh-red-blue-5-5 {
  color: #ca0020;
}

.chrys-color-bokeh-red-blue-6-1 {
  color: #2166ac;
}

.chrys-color-bokeh-red-blue-6-2 {
  color: #67a9cf;
}

.chrys-color-bokeh-red-blue-6-3 {
  color: #d1e5f0;
}

.chrys-color-bokeh-red-blue-6-4 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-blue-6-5 {
  color: #ef8a62;
}

.chrys-color-bokeh-red-blue-6-6 {
  color: #b2182b;
}

.chrys-color-bokeh-red-blue-7-1 {
  color: #2166ac;
}

.chrys-color-bokeh-red-blue-7-2 {
  color: #67a9cf;
}

.chrys-color-bokeh-red-blue-7-3 {
  color: #d1e5f0;
}

.chrys-color-bokeh-red-blue-7-4 {
  color: #f7f7f7;
}

.chrys-color-bokeh-red-blue-7-5 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-blue-7-6 {
  color: #ef8a62;
}

.chrys-color-bokeh-red-blue-7-7 {
  color: #b2182b;
}

.chrys-color-bokeh-red-blue-8-1 {
  color: #2166ac;
}

.chrys-color-bokeh-red-blue-8-2 {
  color: #4393c3;
}

.chrys-color-bokeh-red-blue-8-3 {
  color: #92c5de;
}

.chrys-color-bokeh-red-blue-8-4 {
  color: #d1e5f0;
}

.chrys-color-bokeh-red-blue-8-5 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-blue-8-6 {
  color: #f4a582;
}

.chrys-color-bokeh-red-blue-8-7 {
  color: #d6604d;
}

.chrys-color-bokeh-red-blue-8-8 {
  color: #b2182b;
}

.chrys-color-bokeh-red-blue-9-1 {
  color: #2166ac;
}

.chrys-color-bokeh-red-blue-9-2 {
  color: #4393c3;
}

.chrys-color-bokeh-red-blue-9-3 {
  color: #92c5de;
}

.chrys-color-bokeh-red-blue-9-4 {
  color: #d1e5f0;
}

.chrys-color-bokeh-red-blue-9-5 {
  color: #f7f7f7;
}

.chrys-color-bokeh-red-blue-9-6 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-blue-9-7 {
  color: #f4a582;
}

.chrys-color-bokeh-red-blue-9-8 {
  color: #d6604d;
}

.chrys-color-bokeh-red-blue-9-9 {
  color: #b2182b;
}

.chrys-color-bokeh-red-blue-10-1 {
  color: #053061;
}

.chrys-color-bokeh-red-blue-10-2 {
  color: #2166ac;
}

.chrys-color-bokeh-red-blue-10-3 {
  color: #4393c3;
}

.chrys-color-bokeh-red-blue-10-4 {
  color: #92c5de;
}

.chrys-color-bokeh-red-blue-10-5 {
  color: #d1e5f0;
}

.chrys-color-bokeh-red-blue-10-6 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-blue-10-7 {
  color: #f4a582;
}

.chrys-color-bokeh-red-blue-10-8 {
  color: #d6604d;
}

.chrys-color-bokeh-red-blue-10-9 {
  color: #b2182b;
}

.chrys-color-bokeh-red-blue-10-10 {
  color: #67001f;
}

.chrys-color-bokeh-red-blue-11-1 {
  color: #053061;
}

.chrys-color-bokeh-red-blue-11-2 {
  color: #2166ac;
}

.chrys-color-bokeh-red-blue-11-3 {
  color: #4393c3;
}

.chrys-color-bokeh-red-blue-11-4 {
  color: #92c5de;
}

.chrys-color-bokeh-red-blue-11-5 {
  color: #d1e5f0;
}

.chrys-color-bokeh-red-blue-11-6 {
  color: #f7f7f7;
}

.chrys-color-bokeh-red-blue-11-7 {
  color: #fddbc7;
}

.chrys-color-bokeh-red-blue-11-8 {
  color: #f4a582;
}

.chrys-color-bokeh-red-blue-11-9 {
  color: #d6604d;
}

.chrys-color-bokeh-red-blue-11-10 {
  color: #b2182b;
}

.chrys-color-bokeh-red-blue-11-11 {
  color: #67001f;
}