.chrys-color-bokeh-purple-green-3-1 {
  color: #7fbf7b;
}

.chrys-color-bokeh-purple-green-3-2 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-green-3-3 {
  color: #af8dc3;
}

.chrys-color-bokeh-purple-green-4-1 {
  color: #008837;
}

.chrys-color-bokeh-purple-green-4-2 {
  color: #a6dba0;
}

.chrys-color-bokeh-purple-green-4-3 {
  color: #c2a5cf;
}

.chrys-color-bokeh-purple-green-4-4 {
  color: #7b3294;
}

.chrys-color-bokeh-purple-green-5-1 {
  color: #008837;
}

.chrys-color-bokeh-purple-green-5-2 {
  color: #a6dba0;
}

.chrys-color-bokeh-purple-green-5-3 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-green-5-4 {
  color: #c2a5cf;
}

.chrys-color-bokeh-purple-green-5-5 {
  color: #7b3294;
}

.chrys-color-bokeh-purple-green-6-1 {
  color: #1b7837;
}

.chrys-color-bokeh-purple-green-6-2 {
  color: #7fbf7b;
}

.chrys-color-bokeh-purple-green-6-3 {
  color: #d9f0d3;
}

.chrys-color-bokeh-purple-green-6-4 {
  color: #e7d4e8;
}

.chrys-color-bokeh-purple-green-6-5 {
  color: #af8dc3;
}

.chrys-color-bokeh-purple-green-6-6 {
  color: #762a83;
}

.chrys-color-bokeh-purple-green-7-1 {
  color: #1b7837;
}

.chrys-color-bokeh-purple-green-7-2 {
  color: #7fbf7b;
}

.chrys-color-bokeh-purple-green-7-3 {
  color: #d9f0d3;
}

.chrys-color-bokeh-purple-green-7-4 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-green-7-5 {
  color: #e7d4e8;
}

.chrys-color-bokeh-purple-green-7-6 {
  color: #af8dc3;
}

.chrys-color-bokeh-purple-green-7-7 {
  color: #762a83;
}

.chrys-color-bokeh-purple-green-8-1 {
  color: #1b7837;
}

.chrys-color-bokeh-purple-green-8-2 {
  color: #5aae61;
}

.chrys-color-bokeh-purple-green-8-3 {
  color: #a6dba0;
}

.chrys-color-bokeh-purple-green-8-4 {
  color: #d9f0d3;
}

.chrys-color-bokeh-purple-green-8-5 {
  color: #e7d4e8;
}

.chrys-color-bokeh-purple-green-8-6 {
  color: #c2a5cf;
}

.chrys-color-bokeh-purple-green-8-7 {
  color: #9970ab;
}

.chrys-color-bokeh-purple-green-8-8 {
  color: #762a83;
}

.chrys-color-bokeh-purple-green-9-1 {
  color: #1b7837;
}

.chrys-color-bokeh-purple-green-9-2 {
  color: #5aae61;
}

.chrys-color-bokeh-purple-green-9-3 {
  color: #a6dba0;
}

.chrys-color-bokeh-purple-green-9-4 {
  color: #d9f0d3;
}

.chrys-color-bokeh-purple-green-9-5 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-green-9-6 {
  color: #e7d4e8;
}

.chrys-color-bokeh-purple-green-9-7 {
  color: #c2a5cf;
}

.chrys-color-bokeh-purple-green-9-8 {
  color: #9970ab;
}

.chrys-color-bokeh-purple-green-9-9 {
  color: #762a83;
}

.chrys-color-bokeh-purple-green-10-1 {
  color: #00441b;
}

.chrys-color-bokeh-purple-green-10-2 {
  color: #1b7837;
}

.chrys-color-bokeh-purple-green-10-3 {
  color: #5aae61;
}

.chrys-color-bokeh-purple-green-10-4 {
  color: #a6dba0;
}

.chrys-color-bokeh-purple-green-10-5 {
  color: #d9f0d3;
}

.chrys-color-bokeh-purple-green-10-6 {
  color: #e7d4e8;
}

.chrys-color-bokeh-purple-green-10-7 {
  color: #c2a5cf;
}

.chrys-color-bokeh-purple-green-10-8 {
  color: #9970ab;
}

.chrys-color-bokeh-purple-green-10-9 {
  color: #762a83;
}

.chrys-color-bokeh-purple-green-10-10 {
  color: #40004b;
}

.chrys-color-bokeh-purple-green-11-1 {
  color: #00441b;
}

.chrys-color-bokeh-purple-green-11-2 {
  color: #1b7837;
}

.chrys-color-bokeh-purple-green-11-3 {
  color: #5aae61;
}

.chrys-color-bokeh-purple-green-11-4 {
  color: #a6dba0;
}

.chrys-color-bokeh-purple-green-11-5 {
  color: #d9f0d3;
}

.chrys-color-bokeh-purple-green-11-6 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-green-11-7 {
  color: #e7d4e8;
}

.chrys-color-bokeh-purple-green-11-8 {
  color: #c2a5cf;
}

.chrys-color-bokeh-purple-green-11-9 {
  color: #9970ab;
}

.chrys-color-bokeh-purple-green-11-10 {
  color: #762a83;
}

.chrys-color-bokeh-purple-green-11-11 {
  color: #40004b;
}