.chrys-color-vega-blue-purple-1-1 {
  color: #8d85be;
}

.chrys-color-vega-blue-purple-2-1 {
  color: #97a9d0;
}

.chrys-color-vega-blue-purple-2-2 {
  color: #8a5daa;
}

.chrys-color-vega-blue-purple-3-1 {
  color: #a1b9d9;
}

.chrys-color-vega-blue-purple-3-2 {
  color: #8d85be;
}

.chrys-color-vega-blue-purple-3-3 {
  color: #8949a0;
}

.chrys-color-vega-blue-purple-4-1 {
  color: #a8c2dd;
}

.chrys-color-vega-blue-purple-4-2 {
  color: #919cc9;
}

.chrys-color-vega-blue-purple-4-3 {
  color: #8b6db2;
}

.chrys-color-vega-blue-purple-4-4 {
  color: #873c99;
}

.chrys-color-vega-blue-purple-5-1 {
  color: #aec7df;
}

.chrys-color-vega-blue-purple-5-2 {
  color: #97a9d0;
}

.chrys-color-vega-blue-purple-5-3 {
  color: #8d85be;
}

.chrys-color-vega-blue-purple-5-4 {
  color: #8a5daa;
}

.chrys-color-vega-blue-purple-5-5 {
  color: #853393;
}

.chrys-color-vega-blue-purple-6-1 {
  color: #b2cae1;
}

.chrys-color-vega-blue-purple-6-2 {
  color: #9cb3d5;
}

.chrys-color-vega-blue-purple-6-3 {
  color: #9095c6;
}

.chrys-color-vega-blue-purple-6-4 {
  color: #8c74b5;
}

.chrys-color-vega-blue-purple-6-5 {
  color: #8a51a4;
}

.chrys-color-vega-blue-purple-6-6 {
  color: #842d8f;
}

.chrys-color-vega-blue-purple-7-1 {
  color: #b6cde2;
}

.chrys-color-vega-blue-purple-7-2 {
  color: #a1b9d9;
}

.chrys-color-vega-blue-purple-7-3 {
  color: #93a1cc;
}

.chrys-color-vega-blue-purple-7-4 {
  color: #8d85be;
}

.chrys-color-vega-blue-purple-7-5 {
  color: #8b67af;
}

.chrys-color-vega-blue-purple-7-6 {
  color: #8949a0;
}

.chrys-color-vega-blue-purple-7-7 {
  color: #83298c;
}

.chrys-color-vega-blue-purple-8-1 {
  color: #b8cee3;
}

.chrys-color-vega-blue-purple-8-2 {
  color: #a5bedb;
}

.chrys-color-vega-blue-purple-8-3 {
  color: #97a9d0;
}

.chrys-color-vega-blue-purple-8-4 {
  color: #8f92c4;
}

.chrys-color-vega-blue-purple-8-5 {
  color: #8c78b7;
}

.chrys-color-vega-blue-purple-8-6 {
  color: #8a5daa;
}

.chrys-color-vega-blue-purple-8-7 {
  color: #88429c;
}

.chrys-color-vega-blue-purple-8-8 {
  color: #832589;
}

.chrys-color-vega-blue-purple-9-1 {
  color: #bad0e4;
}

.chrys-color-vega-blue-purple-9-2 {
  color: #a8c2dd;
}

.chrys-color-vega-blue-purple-9-3 {
  color: #9ab0d4;
}

.chrys-color-vega-blue-purple-9-4 {
  color: #919cc9;
}

.chrys-color-vega-blue-purple-9-5 {
  color: #8d85be;
}

.chrys-color-vega-blue-purple-9-6 {
  color: #8b6db2;
}

.chrys-color-vega-blue-purple-9-7 {
  color: #8a55a6;
}

.chrys-color-vega-blue-purple-9-8 {
  color: #873c99;
}

.chrys-color-vega-blue-purple-9-9 {
  color: #822287;
}