.chrys-color-vega-teal-blues-1-1 {
  color: #45a2b9;
}

.chrys-color-vega-teal-blues-2-1 {
  color: #6eb8c5;
}

.chrys-color-vega-teal-blues-2-2 {
  color: #3589a9;
}

.chrys-color-vega-teal-blues-3-1 {
  color: #81c3cb;
}

.chrys-color-vega-teal-blues-3-2 {
  color: #45a2b9;
}

.chrys-color-vega-teal-blues-3-3 {
  color: #347da0;
}

.chrys-color-vega-teal-blues-4-1 {
  color: #8cc9cd;
}

.chrys-color-vega-teal-blues-4-2 {
  color: #5fb0c0;
}

.chrys-color-vega-teal-blues-4-3 {
  color: #3993b0;
}

.chrys-color-vega-teal-blues-4-4 {
  color: #32759b;
}

.chrys-color-vega-teal-blues-5-1 {
  color: #94cecf;
}

.chrys-color-vega-teal-blues-5-2 {
  color: #6eb8c5;
}

.chrys-color-vega-teal-blues-5-3 {
  color: #45a2b9;
}

.chrys-color-vega-teal-blues-5-4 {
  color: #3589a9;
}

.chrys-color-vega-teal-blues-5-5 {
  color: #317097;
}

.chrys-color-vega-teal-blues-6-1 {
  color: #99d1d0;
}

.chrys-color-vega-teal-blues-6-2 {
  color: #79bec8;
}

.chrys-color-vega-teal-blues-6-3 {
  color: #57acbe;
}

.chrys-color-vega-teal-blues-6-4 {
  color: #3c97b3;
}

.chrys-color-vega-teal-blues-6-5 {
  color: #3582a4;
}

.chrys-color-vega-teal-blues-6-6 {
  color: #316d95;
}

.chrys-color-vega-teal-blues-7-1 {
  color: #9dd3d1;
}

.chrys-color-vega-teal-blues-7-2 {
  color: #81c3cb;
}

.chrys-color-vega-teal-blues-7-3 {
  color: #65b3c2;
}

.chrys-color-vega-teal-blues-7-4 {
  color: #45a2b9;
}

.chrys-color-vega-teal-blues-7-5 {
  color: #368fae;
}

.chrys-color-vega-teal-blues-7-6 {
  color: #347da0;
}

.chrys-color-vega-teal-blues-7-7 {
  color: #306a93;
}

.chrys-color-vega-teal-blues-8-1 {
  color: #a0d5d2;
}

.chrys-color-vega-teal-blues-8-2 {
  color: #87c7cc;
}

.chrys-color-vega-teal-blues-8-3 {
  color: #6eb8c5;
}

.chrys-color-vega-teal-blues-8-4 {
  color: #53aabd;
}

.chrys-color-vega-teal-blues-8-5 {
  color: #3e9ab4;
}

.chrys-color-vega-teal-blues-8-6 {
  color: #3589a9;
}

.chrys-color-vega-teal-blues-8-7 {
  color: #33799d;
}

.chrys-color-vega-teal-blues-8-8 {
  color: #306891;
}

.chrys-color-vega-teal-blues-9-1 {
  color: #a3d6d2;
}

.chrys-color-vega-teal-blues-9-2 {
  color: #8cc9cd;
}

.chrys-color-vega-teal-blues-9-3 {
  color: #76bdc7;
}

.chrys-color-vega-teal-blues-9-4 {
  color: #5fb0c0;
}

.chrys-color-vega-teal-blues-9-5 {
  color: #45a2b9;
}

.chrys-color-vega-teal-blues-9-6 {
  color: #3993b0;
}

.chrys-color-vega-teal-blues-9-7 {
  color: #3584a6;
}

.chrys-color-vega-teal-blues-9-8 {
  color: #32759b;
}

.chrys-color-vega-teal-blues-9-9 {
  color: #2f6790;
}