.chrys-color-vega-yellow-green-blue-1-1 {
  color: #45b4c2;
}

.chrys-color-vega-yellow-green-blue-2-1 {
  color: #86d0bb;
}

.chrys-color-vega-yellow-green-blue-2-2 {
  color: #258bbb;
}

.chrys-color-vega-yellow-green-blue-3-1 {
  color: #a9ddb7;
}

.chrys-color-vega-yellow-green-blue-3-2 {
  color: #45b4c2;
}

.chrys-color-vega-yellow-green-blue-3-3 {
  color: #2173b1;
}

.chrys-color-vega-yellow-green-blue-4-1 {
  color: #bde5b5;
}

.chrys-color-vega-yellow-green-blue-4-2 {
  color: #69c5be;
}

.chrys-color-vega-yellow-green-blue-4-3 {
  color: #2c9ec0;
}

.chrys-color-vega-yellow-green-blue-4-4 {
  color: #2163aa;
}

.chrys-color-vega-yellow-green-blue-5-1 {
  color: #c7e9b5;
}

.chrys-color-vega-yellow-green-blue-5-2 {
  color: #86d0bb;
}

.chrys-color-vega-yellow-green-blue-5-3 {
  color: #45b4c2;
}

.chrys-color-vega-yellow-green-blue-5-4 {
  color: #258bbb;
}

.chrys-color-vega-yellow-green-blue-5-5 {
  color: #225aa5;
}

.chrys-color-vega-yellow-green-blue-6-1 {
  color: #ceecb4;
}

.chrys-color-vega-yellow-green-blue-6-2 {
  color: #9ad7b8;
}

.chrys-color-vega-yellow-green-blue-6-3 {
  color: #5fc0bf;
}

.chrys-color-vega-yellow-green-blue-6-4 {
  color: #33a4c1;
}

.chrys-color-vega-yellow-green-blue-6-5 {
  color: #217eb6;
}

.chrys-color-vega-yellow-green-blue-6-6 {
  color: #2253a2;
}

.chrys-color-vega-yellow-green-blue-7-1 {
  color: #d4eeb4;
}

.chrys-color-vega-yellow-green-blue-7-2 {
  color: #a9ddb7;
}

.chrys-color-vega-yellow-green-blue-7-3 {
  color: #74c9bd;
}

.chrys-color-vega-yellow-green-blue-7-4 {
  color: #45b4c2;
}

.chrys-color-vega-yellow-green-blue-7-5 {
  color: #2997be;
}

.chrys-color-vega-yellow-green-blue-7-6 {
  color: #2173b1;
}

.chrys-color-vega-yellow-green-blue-7-7 {
  color: #234ea0;
}

.chrys-color-vega-yellow-green-blue-8-1 {
  color: #d8f0b4;
}

.chrys-color-vega-yellow-green-blue-8-2 {
  color: #b4e1b6;
}

.chrys-color-vega-yellow-green-blue-8-3 {
  color: #86d0bb;
}

.chrys-color-vega-yellow-green-blue-8-4 {
  color: #59bdc0;
}

.chrys-color-vega-yellow-green-blue-8-5 {
  color: #37a8c1;
}

.chrys-color-vega-yellow-green-blue-8-6 {
  color: #258bbb;
}

.chrys-color-vega-yellow-green-blue-8-7 {
  color: #216aad;
}

.chrys-color-vega-yellow-green-blue-8-8 {
  color: #234a9e;
}

.chrys-color-vega-yellow-green-blue-9-1 {
  color: #dbf1b4;
}

.chrys-color-vega-yellow-green-blue-9-2 {
  color: #bde5b5;
}

.chrys-color-vega-yellow-green-blue-9-3 {
  color: #94d5b9;
}

.chrys-color-vega-yellow-green-blue-9-4 {
  color: #69c5be;
}

.chrys-color-vega-yellow-green-blue-9-5 {
  color: #45b4c2;
}

.chrys-color-vega-yellow-green-blue-9-6 {
  color: #2c9ec0;
}

.chrys-color-vega-yellow-green-blue-9-7 {
  color: #2182b8;
}

.chrys-color-vega-yellow-green-blue-9-8 {
  color: #2163aa;
}

.chrys-color-vega-yellow-green-blue-9-9 {
  color: #23479c;
}