.chrys-color-vega-brown-blue-green-1-1 {
  color: #eef1ea;
}

.chrys-color-vega-brown-blue-green-2-1 {
  color: #e8d19e;
}

.chrys-color-vega-brown-blue-green-2-2 {
  color: #a2d9d1;
}

.chrys-color-vega-brown-blue-green-3-1 {
  color: #d5ae69;
}

.chrys-color-vega-brown-blue-green-3-2 {
  color: #eef1ea;
}

.chrys-color-vega-brown-blue-green-3-3 {
  color: #6ebcb3;
}

.chrys-color-vega-brown-blue-green-4-1 {
  color: #c79548;
}

.chrys-color-vega-brown-blue-green-4-2 {
  color: #f3e6c6;
}

.chrys-color-vega-brown-blue-green-4-3 {
  color: #c9e9e4;
}

.chrys-color-vega-brown-blue-green-4-4 {
  color: #4da79e;
}

.chrys-color-vega-brown-blue-green-5-1 {
  color: #ba8539;
}

.chrys-color-vega-brown-blue-green-5-2 {
  color: #e8d19e;
}

.chrys-color-vega-brown-blue-green-5-3 {
  color: #eef1ea;
}

.chrys-color-vega-brown-blue-green-5-4 {
  color: #a2d9d1;
}

.chrys-color-vega-brown-blue-green-5-5 {
  color: #3b988f;
}

.chrys-color-vega-brown-blue-green-6-1 {
  color: #b17a2e;
}

.chrys-color-vega-brown-blue-green-6-2 {
  color: #dfc081;
}

.chrys-color-vega-brown-blue-green-6-3 {
  color: #f2e9d0;
}

.chrys-color-vega-brown-blue-green-6-4 {
  color: #d4ebe6;
}

.chrys-color-vega-brown-blue-green-6-5 {
  color: #85cbc1;
}

.chrys-color-vega-brown-blue-green-6-6 {
  color: #2f8d85;
}

.chrys-color-vega-brown-blue-green-7-1 {
  color: #aa7126;
}

.chrys-color-vega-brown-blue-green-7-2 {
  color: #d5ae69;
}

.chrys-color-vega-brown-blue-green-7-3 {
  color: #efdeb7;
}

.chrys-color-vega-brown-blue-green-7-4 {
  color: #eef1ea;
}

.chrys-color-vega-brown-blue-green-7-5 {
  color: #bae3dd;
}

.chrys-color-vega-brown-blue-green-7-6 {
  color: #6ebcb3;
}

.chrys-color-vega-brown-blue-green-7-7 {
  color: #25857d;
}

.chrys-color-vega-brown-blue-green-8-1 {
  color: #a46a1f;
}

.chrys-color-vega-brown-blue-green-8-2 {
  color: #cda057;
}

.chrys-color-vega-brown-blue-green-8-3 {
  color: #e8d19e;
}

.chrys-color-vega-brown-blue-green-8-4 {
  color: #f1ebd6;
}

.chrys-color-vega-brown-blue-green-8-5 {
  color: #d9ede7;
}

.chrys-color-vega-brown-blue-green-8-6 {
  color: #a2d9d1;
}

.chrys-color-vega-brown-blue-green-8-7 {
  color: #5bb0a7;
}

.chrys-color-vega-brown-blue-green-8-8 {
  color: #1e7f77;
}

.chrys-color-vega-brown-blue-green-9-1 {
  color: #a0651a;
}

.chrys-color-vega-brown-blue-green-9-2 {
  color: #c79548;
}

.chrys-color-vega-brown-blue-green-9-3 {
  color: #e3c78a;
}

.chrys-color-vega-brown-blue-green-9-4 {
  color: #f3e6c6;
}

.chrys-color-vega-brown-blue-green-9-5 {
  color: #eef1ea;
}

.chrys-color-vega-brown-blue-green-9-6 {
  color: #c9e9e4;
}

.chrys-color-vega-brown-blue-green-9-7 {
  color: #8ed1c7;
}

.chrys-color-vega-brown-blue-green-9-8 {
  color: #4da79e;
}

.chrys-color-vega-brown-blue-green-9-9 {
  color: #187a72;
}