.chrys-color-vega-teals-1-1 {
  color: #4da5a4;
}

.chrys-color-vega-teals-2-1 {
  color: #6eb8b7;
}

.chrys-color-vega-teals-2-2 {
  color: #2f9090;
}

.chrys-color-vega-teals-3-1 {
  color: #80c3c2;
}

.chrys-color-vega-teals-3-2 {
  color: #4da5a4;
}

.chrys-color-vega-teals-3-3 {
  color: #258586;
}

.chrys-color-vega-teals-4-1 {
  color: #8ac9c9;
}

.chrys-color-vega-teals-4-2 {
  color: #61b0af;
}

.chrys-color-vega-teals-4-3 {
  color: #379998;
}

.chrys-color-vega-teals-4-4 {
  color: #1e7f7f;
}

.chrys-color-vega-teals-5-1 {
  color: #92cdcd;
}

.chrys-color-vega-teals-5-2 {
  color: #6eb8b7;
}

.chrys-color-vega-teals-5-3 {
  color: #4da5a4;
}

.chrys-color-vega-teals-5-4 {
  color: #2f9090;
}

.chrys-color-vega-teals-5-5 {
  color: #1a7b7b;
}

.chrys-color-vega-teals-6-1 {
  color: #98cfd0;
}

.chrys-color-vega-teals-6-2 {
  color: #78bebd;
}

.chrys-color-vega-teals-6-3 {
  color: #5badac;
}

.chrys-color-vega-teals-6-4 {
  color: #3d9c9b;
}

.chrys-color-vega-teals-6-5 {
  color: #29898a;
}

.chrys-color-vega-teals-6-6 {
  color: #177878;
}

.chrys-color-vega-teals-7-1 {
  color: #9cd1d2;
}

.chrys-color-vega-teals-7-2 {
  color: #80c3c2;
}

.chrys-color-vega-teals-7-3 {
  color: #66b3b2;
}

.chrys-color-vega-teals-7-4 {
  color: #4da5a4;
}

.chrys-color-vega-teals-7-5 {
  color: #349695;
}

.chrys-color-vega-teals-7-6 {
  color: #258586;
}

.chrys-color-vega-teals-7-7 {
  color: #157576;
}

.chrys-color-vega-teals-8-1 {
  color: #9fd3d4;
}

.chrys-color-vega-teals-8-2 {
  color: #85c6c6;
}

.chrys-color-vega-teals-8-3 {
  color: #6eb8b7;
}

.chrys-color-vega-teals-8-4 {
  color: #58abaa;
}

.chrys-color-vega-teals-8-5 {
  color: #419e9d;
}

.chrys-color-vega-teals-8-6 {
  color: #2f9090;
}

.chrys-color-vega-teals-8-7 {
  color: #218282;
}

.chrys-color-vega-teals-8-8 {
  color: #137374;
}

.chrys-color-vega-teals-9-1 {
  color: #a2d4d5;
}

.chrys-color-vega-teals-9-2 {
  color: #8ac9c9;
}

.chrys-color-vega-teals-9-3 {
  color: #75bcbb;
}

.chrys-color-vega-teals-9-4 {
  color: #61b0af;
}

.chrys-color-vega-teals-9-5 {
  color: #4da5a4;
}

.chrys-color-vega-teals-9-6 {
  color: #379998;
}

.chrys-color-vega-teals-9-7 {
  color: #2b8b8c;
}

.chrys-color-vega-teals-9-8 {
  color: #1e7f7f;
}

.chrys-color-vega-teals-9-9 {
  color: #127273;
}