.chrys-color-bokeh-dark-2-3-1 {
  color: #1b9e77;
}

.chrys-color-bokeh-dark-2-3-2 {
  color: #d95f02;
}

.chrys-color-bokeh-dark-2-3-3 {
  color: #7570b3;
}

.chrys-color-bokeh-dark-2-4-1 {
  color: #1b9e77;
}

.chrys-color-bokeh-dark-2-4-2 {
  color: #d95f02;
}

.chrys-color-bokeh-dark-2-4-3 {
  color: #7570b3;
}

.chrys-color-bokeh-dark-2-4-4 {
  color: #e7298a;
}

.chrys-color-bokeh-dark-2-5-1 {
  color: #1b9e77;
}

.chrys-color-bokeh-dark-2-5-2 {
  color: #d95f02;
}

.chrys-color-bokeh-dark-2-5-3 {
  color: #7570b3;
}

.chrys-color-bokeh-dark-2-5-4 {
  color: #e7298a;
}

.chrys-color-bokeh-dark-2-5-5 {
  color: #66a61e;
}

.chrys-color-bokeh-dark-2-6-1 {
  color: #1b9e77;
}

.chrys-color-bokeh-dark-2-6-2 {
  color: #d95f02;
}

.chrys-color-bokeh-dark-2-6-3 {
  color: #7570b3;
}

.chrys-color-bokeh-dark-2-6-4 {
  color: #e7298a;
}

.chrys-color-bokeh-dark-2-6-5 {
  color: #66a61e;
}

.chrys-color-bokeh-dark-2-6-6 {
  color: #e6ab02;
}

.chrys-color-bokeh-dark-2-7-1 {
  color: #1b9e77;
}

.chrys-color-bokeh-dark-2-7-2 {
  color: #d95f02;
}

.chrys-color-bokeh-dark-2-7-3 {
  color: #7570b3;
}

.chrys-color-bokeh-dark-2-7-4 {
  color: #e7298a;
}

.chrys-color-bokeh-dark-2-7-5 {
  color: #66a61e;
}

.chrys-color-bokeh-dark-2-7-6 {
  color: #e6ab02;
}

.chrys-color-bokeh-dark-2-7-7 {
  color: #a6761d;
}

.chrys-color-bokeh-dark-2-8-1 {
  color: #1b9e77;
}

.chrys-color-bokeh-dark-2-8-2 {
  color: #d95f02;
}

.chrys-color-bokeh-dark-2-8-3 {
  color: #7570b3;
}

.chrys-color-bokeh-dark-2-8-4 {
  color: #e7298a;
}

.chrys-color-bokeh-dark-2-8-5 {
  color: #66a61e;
}

.chrys-color-bokeh-dark-2-8-6 {
  color: #e6ab02;
}

.chrys-color-bokeh-dark-2-8-7 {
  color: #a6761d;
}

.chrys-color-bokeh-dark-2-8-8 {
  color: #666666;
}