.chrys-color-bokeh-purple-red-3-1 {
  color: #dd1c77;
}

.chrys-color-bokeh-purple-red-3-2 {
  color: #c994c7;
}

.chrys-color-bokeh-purple-red-3-3 {
  color: #e7e1ef;
}

.chrys-color-bokeh-purple-red-4-1 {
  color: #ce1256;
}

.chrys-color-bokeh-purple-red-4-2 {
  color: #df65b0;
}

.chrys-color-bokeh-purple-red-4-3 {
  color: #d7b5d8;
}

.chrys-color-bokeh-purple-red-4-4 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-red-5-1 {
  color: #980043;
}

.chrys-color-bokeh-purple-red-5-2 {
  color: #dd1c77;
}

.chrys-color-bokeh-purple-red-5-3 {
  color: #df65b0;
}

.chrys-color-bokeh-purple-red-5-4 {
  color: #d7b5d8;
}

.chrys-color-bokeh-purple-red-5-5 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-red-6-1 {
  color: #980043;
}

.chrys-color-bokeh-purple-red-6-2 {
  color: #dd1c77;
}

.chrys-color-bokeh-purple-red-6-3 {
  color: #df65b0;
}

.chrys-color-bokeh-purple-red-6-4 {
  color: #c994c7;
}

.chrys-color-bokeh-purple-red-6-5 {
  color: #d4b9da;
}

.chrys-color-bokeh-purple-red-6-6 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-red-7-1 {
  color: #91003f;
}

.chrys-color-bokeh-purple-red-7-2 {
  color: #ce1256;
}

.chrys-color-bokeh-purple-red-7-3 {
  color: #e7298a;
}

.chrys-color-bokeh-purple-red-7-4 {
  color: #df65b0;
}

.chrys-color-bokeh-purple-red-7-5 {
  color: #c994c7;
}

.chrys-color-bokeh-purple-red-7-6 {
  color: #d4b9da;
}

.chrys-color-bokeh-purple-red-7-7 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-red-8-1 {
  color: #91003f;
}

.chrys-color-bokeh-purple-red-8-2 {
  color: #ce1256;
}

.chrys-color-bokeh-purple-red-8-3 {
  color: #e7298a;
}

.chrys-color-bokeh-purple-red-8-4 {
  color: #df65b0;
}

.chrys-color-bokeh-purple-red-8-5 {
  color: #c994c7;
}

.chrys-color-bokeh-purple-red-8-6 {
  color: #d4b9da;
}

.chrys-color-bokeh-purple-red-8-7 {
  color: #e7e1ef;
}

.chrys-color-bokeh-purple-red-8-8 {
  color: #f7f4f9;
}

.chrys-color-bokeh-purple-red-9-1 {
  color: #67001f;
}

.chrys-color-bokeh-purple-red-9-2 {
  color: #980043;
}

.chrys-color-bokeh-purple-red-9-3 {
  color: #ce1256;
}

.chrys-color-bokeh-purple-red-9-4 {
  color: #e7298a;
}

.chrys-color-bokeh-purple-red-9-5 {
  color: #df65b0;
}

.chrys-color-bokeh-purple-red-9-6 {
  color: #c994c7;
}

.chrys-color-bokeh-purple-red-9-7 {
  color: #d4b9da;
}

.chrys-color-bokeh-purple-red-9-8 {
  color: #e7e1ef;
}

.chrys-color-bokeh-purple-red-9-9 {
  color: #f7f4f9;
}