.chrys-color-vega-dark-blue-1-1 {
  color: #039ac7;
}

.chrys-color-vega-dark-blue-2-1 {
  color: #0074af;
}

.chrys-color-vega-dark-blue-2-2 {
  color: #25c0dd;
}

.chrys-color-vega-dark-blue-3-1 {
  color: #14629a;
}

.chrys-color-vega-dark-blue-3-2 {
  color: #039ac7;
}

.chrys-color-vega-dark-blue-3-3 {
  color: #33d4e9;
}

.chrys-color-vega-dark-blue-4-1 {
  color: #1e588a;
}

.chrys-color-vega-dark-blue-4-2 {
  color: #0082b9;
}

.chrys-color-vega-dark-blue-4-3 {
  color: #12b1d4;
}

.chrys-color-vega-dark-blue-4-4 {
  color: #3ddff0;
}

.chrys-color-vega-dark-blue-5-1 {
  color: #24517e;
}

.chrys-color-vega-dark-blue-5-2 {
  color: #0074af;
}

.chrys-color-vega-dark-blue-5-3 {
  color: #039ac7;
}

.chrys-color-vega-dark-blue-5-4 {
  color: #25c0dd;
}

.chrys-color-vega-dark-blue-5-5 {
  color: #44e7f4;
}

.chrys-color-vega-dark-blue-6-1 {
  color: #284c74;
}

.chrys-color-vega-dark-blue-6-2 {
  color: #0b6aa3;
}

.chrys-color-vega-dark-blue-6-3 {
  color: #0089bd;
}

.chrys-color-vega-dark-blue-6-4 {
  color: #0aabd0;
}

.chrys-color-vega-dark-blue-6-5 {
  color: #2dcbe4;
}

.chrys-color-vega-dark-blue-6-6 {
  color: #49ecf6;
}

.chrys-color-vega-dark-blue-7-1 {
  color: #2b496d;
}

.chrys-color-vega-dark-blue-7-2 {
  color: #14629a;
}

.chrys-color-vega-dark-blue-7-3 {
  color: #007db5;
}

.chrys-color-vega-dark-blue-7-4 {
  color: #039ac7;
}

.chrys-color-vega-dark-blue-7-5 {
  color: #19b7d7;
}

.chrys-color-vega-dark-blue-7-6 {
  color: #33d4e9;
}

.chrys-color-vega-dark-blue-7-7 {
  color: #4df0f8;
}

.chrys-color-vega-dark-blue-8-1 {
  color: #2d4668;
}

.chrys-color-vega-dark-blue-8-2 {
  color: #1a5c93;
}

.chrys-color-vega-dark-blue-8-3 {
  color: #0074af;
}

.chrys-color-vega-dark-blue-8-4 {
  color: #008cbf;
}

.chrys-color-vega-dark-blue-8-5 {
  color: #05a7ce;
}

.chrys-color-vega-dark-blue-8-6 {
  color: #25c0dd;
}

.chrys-color-vega-dark-blue-8-7 {
  color: #38daed;
}

.chrys-color-vega-dark-blue-8-8 {
  color: #50f3fa;
}

.chrys-color-vega-dark-blue-9-1 {
  color: #2e4463;
}

.chrys-color-vega-dark-blue-9-2 {
  color: #1e588a;
}

.chrys-color-vega-dark-blue-9-3 {
  color: #086da7;
}

.chrys-color-vega-dark-blue-9-4 {
  color: #0082b9;
}

.chrys-color-vega-dark-blue-9-5 {
  color: #039ac7;
}

.chrys-color-vega-dark-blue-9-6 {
  color: #12b1d4;
}

.chrys-color-vega-dark-blue-9-7 {
  color: #2bc8e2;
}

.chrys-color-vega-dark-blue-9-8 {
  color: #3ddff0;
}

.chrys-color-vega-dark-blue-9-9 {
  color: #61f4fb;
}