.chrys-color-vega-yellow-orange-brown-1-1 {
  color: #f68921;
}

.chrys-color-vega-yellow-orange-brown-2-1 {
  color: #fdaf3f;
}

.chrys-color-vega-yellow-orange-brown-2-2 {
  color: #e0650e;
}

.chrys-color-vega-yellow-orange-brown-3-1 {
  color: #fec255;
}

.chrys-color-vega-yellow-orange-brown-3-2 {
  color: #f68921;
}

.chrys-color-vega-yellow-orange-brown-3-3 {
  color: #d05508;
}

.chrys-color-vega-yellow-orange-brown-4-1 {
  color: #fecc63;
}

.chrys-color-vega-yellow-orange-brown-4-2 {
  color: #fca031;
}

.chrys-color-vega-yellow-orange-brown-4-3 {
  color: #eb7215;
}

.chrys-color-vega-yellow-orange-brown-4-4 {
  color: #c54c05;
}

.chrys-color-vega-yellow-orange-brown-5-1 {
  color: #fed26e;
}

.chrys-color-vega-yellow-orange-brown-5-2 {
  color: #fdaf3f;
}

.chrys-color-vega-yellow-orange-brown-5-3 {
  color: #f68921;
}

.chrys-color-vega-yellow-orange-brown-5-4 {
  color: #e0650e;
}

.chrys-color-vega-yellow-orange-brown-5-5 {
  color: #bc4704;
}

.chrys-color-vega-yellow-orange-brown-6-1 {
  color: #fed676;
}

.chrys-color-vega-yellow-orange-brown-6-2 {
  color: #feba4a;
}

.chrys-color-vega-yellow-orange-brown-6-3 {
  color: #fa992c;
}

.chrys-color-vega-yellow-orange-brown-6-4 {
  color: #ee7918;
}

.chrys-color-vega-yellow-orange-brown-6-5 {
  color: #d85b0a;
}

.chrys-color-vega-yellow-orange-brown-6-6 {
  color: #b64304;
}

.chrys-color-vega-yellow-orange-brown-7-1 {
  color: #fed97c;
}

.chrys-color-vega-yellow-orange-brown-7-2 {
  color: #fec255;
}

.chrys-color-vega-yellow-orange-brown-7-3 {
  color: #fda636;
}

.chrys-color-vega-yellow-orange-brown-7-4 {
  color: #f68921;
}

.chrys-color-vega-yellow-orange-brown-7-5 {
  color: #e76d13;
}

.chrys-color-vega-yellow-orange-brown-7-6 {
  color: #d05508;
}

.chrys-color-vega-yellow-orange-brown-7-7 {
  color: #b24104;
}

.chrys-color-vega-yellow-orange-brown-8-1 {
  color: #fedb80;
}

.chrys-color-vega-yellow-orange-brown-8-2 {
  color: #fec75d;
}

.chrys-color-vega-yellow-orange-brown-8-3 {
  color: #fdaf3f;
}

.chrys-color-vega-yellow-orange-brown-8-4 {
  color: #f9962a;
}

.chrys-color-vega-yellow-orange-brown-8-5 {
  color: #f07c1a;
}

.chrys-color-vega-yellow-orange-brown-8-6 {
  color: #e0650e;
}

.chrys-color-vega-yellow-orange-brown-8-7 {
  color: #ca5006;
}

.chrys-color-vega-yellow-orange-brown-8-8 {
  color: #ae3f03;
}

.chrys-color-vega-yellow-orange-brown-9-1 {
  color: #fedd84;
}

.chrys-color-vega-yellow-orange-brown-9-2 {
  color: #fecc63;
}

.chrys-color-vega-yellow-orange-brown-9-3 {
  color: #feb746;
}

.chrys-color-vega-yellow-orange-brown-9-4 {
  color: #fca031;
}

.chrys-color-vega-yellow-orange-brown-9-5 {
  color: #f68921;
}

.chrys-color-vega-yellow-orange-brown-9-6 {
  color: #eb7215;
}

.chrys-color-vega-yellow-orange-brown-9-7 {
  color: #db5e0b;
}

.chrys-color-vega-yellow-orange-brown-9-8 {
  color: #c54c05;
}

.chrys-color-vega-yellow-orange-brown-9-9 {
  color: #ab3d03;
}