.chrys-color-vega-dark-multi-1-1 {
  color: #29a869;
}

.chrys-color-vega-dark-multi-2-1 {
  color: #197d8c;
}

.chrys-color-vega-dark-multi-2-2 {
  color: #95ce3f;
}

.chrys-color-vega-dark-multi-3-1 {
  color: #1c688a;
}

.chrys-color-vega-dark-multi-3-2 {
  color: #29a869;
}

.chrys-color-vega-dark-multi-3-3 {
  color: #cadb20;
}

.chrys-color-vega-dark-multi-4-1 {
  color: #1e5b88;
}

.chrys-color-vega-dark-multi-4-2 {
  color: #1f8e7e;
}

.chrys-color-vega-dark-multi-4-3 {
  color: #6abf50;
}

.chrys-color-vega-dark-multi-4-4 {
  color: #eae30d;
}

.chrys-color-vega-dark-multi-5-1 {
  color: #1f5287;
}

.chrys-color-vega-dark-multi-5-2 {
  color: #197d8c;
}

.chrys-color-vega-dark-multi-5-3 {
  color: #29a869;
}

.chrys-color-vega-dark-multi-5-4 {
  color: #95ce3f;
}

.chrys-color-vega-dark-multi-5-5 {
  color: #ffe800;
}

.chrys-color-vega-dark-multi-6-1 {
  color: #224e7c;
}

.chrys-color-vega-dark-multi-6-2 {
  color: #1b718b;
}

.chrys-color-vega-dark-multi-6-3 {
  color: #229678;
}

.chrys-color-vega-dark-multi-6-4 {
  color: #57b857;
}

.chrys-color-vega-dark-multi-6-5 {
  color: #b3d52d;
}

.chrys-color-vega-dark-multi-6-6 {
  color: #ffeb24;
}

.chrys-color-vega-dark-multi-7-1 {
  color: #254b73;
}

.chrys-color-vega-dark-multi-7-2 {
  color: #1c688a;
}

.chrys-color-vega-dark-multi-7-3 {
  color: #1d8883;
}

.chrys-color-vega-dark-multi-7-4 {
  color: #29a869;
}

.chrys-color-vega-dark-multi-7-5 {
  color: #7ac54a;
}

.chrys-color-vega-dark-multi-7-6 {
  color: #cadb20;
}

.chrys-color-vega-dark-multi-7-7 {
  color: #ffee40;
}

.chrys-color-vega-dark-multi-8-1 {
  color: #27496c;
}

.chrys-color-vega-dark-multi-8-2 {
  color: #1d6089;
}

.chrys-color-vega-dark-multi-8-3 {
  color: #197d8c;
}

.chrys-color-vega-dark-multi-8-4 {
  color: #249a75;
}

.chrys-color-vega-dark-multi-8-5 {
  color: #4db55b;
}

.chrys-color-vega-dark-multi-8-6 {
  color: #95ce3f;
}

.chrys-color-vega-dark-multi-8-7 {
  color: #dcdf15;
}

.chrys-color-vega-dark-multi-8-8 {
  color: #fff055;
}

.chrys-color-vega-dark-multi-9-1 {
  color: #294767;
}

.chrys-color-vega-dark-multi-9-2 {
  color: #1e5b88;
}

.chrys-color-vega-dark-multi-9-3 {
  color: #1a748b;
}

.chrys-color-vega-dark-multi-9-4 {
  color: #1f8e7e;
}

.chrys-color-vega-dark-multi-9-5 {
  color: #29a869;
}

.chrys-color-vega-dark-multi-9-6 {
  color: #6abf50;
}

.chrys-color-vega-dark-multi-9-7 {
  color: #aad332;
}

.chrys-color-vega-dark-multi-9-8 {
  color: #eae30d;
}

.chrys-color-vega-dark-multi-9-9 {
  color: #fff166;
}