@charset "utf-8";

$white: #ffffff;

$sidebar-width: 260px;    // width of left-sidebar (Default: 260px)
$toc-width: 260px;        // width of right-sidebar (Default: 260px)
$main-width: 920px;       // max-width of center-column (main-area)

$col2-bp: $sidebar-width + $main-width;
$col3-bp: $sidebar-width + $main-width + $toc-width + 40px;

* {
  box-sizing: border-box;
}

:root {
  --theme-color: #0071bc;
  --theme-font: -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Segoe UI",
    "BIZ UDPGothic",
    'Meiryo',
    "Hiragino Kaku Gothic ProN",
    sans-serif;
  --monospace-font: 'consolas',
    'Courier New',
    Courier,
    monospace;
  --base-font-size: 1rem;
  --font-size: 0.9rem;
  --line-height: 1.625;
  --paragraph-width: 720px;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--theme-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  overflow-y: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--theme-color);

  &:hover {
    text-decoration-line: underline;
  }
}

blockquote {
  margin: 0;
  padding: 1rem;
  background: #f0f0f0;
  border-left: 3px solid #ddd;

  p.attribution {
    text-align: right;
  }
}

span.linenos {
  margin-right: 0.5rem;
  user-select: none;
}

p,
pre,
blockquote,
div.highlight {
  max-width: var(--paragraph-width);
  font-size: 0.9rem;
  // c.f. Check pygments.css for div.highlight default style
}

img {
  max-width: 100%;
}

dl {
  dt {
    font-weight: bold;
  }
}

ul,
ol {
  margin: 1rem 1rem 1rem 0;
  padding-left: 1rem;

  li>p:first-child {
    margin: 0;
  }

  ul,ol {
    margin: 0;
  }
}

li::marker {
  font-size: .8em;
}

h1 {
  font-size: 1.8rem;
  margin-top: 1em;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1em;
}

h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  margin-top: 1em;
}

pre {
  font-family: var(--monospace-font);
  padding: .5rem;
  border-radius: 3px;
  background-color: #eee;
  overflow-x: auto;
}

code {
  font-family: var(--monospace-font);
}

table {
  margin-top: 1rem;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    padding: .25rem .5rem;
    background: var(--theme-color);
    color: white;
    border: solid 1px #ccc;

    p {
      margin: 0;
    }
  }

  td {
    padding: 0 .5rem;
    border: solid 1px #ccc;
  }
}

code.docutils {
  font-size: .9em;
  padding: 0.125em 0.25em;
  border-radius: 5px;
  background-color: #f0f0f0;
}

a.headerlink {
  visibility: inherit;
  user-select: none;
  color: transparent;
  text-decoration: none;
  margin-left: 0.2em;
  transition: .1s;

  &:hover {
    color: var(--theme-color);
  }
}

h1,h2,h3,h4,h5,h6 {
  &:hover {
    a.headerlink {
      color: var(--theme-color);
    }
  }
}





.admonition {
  $admonition-color: #0095d9;
  background-color: rgba($admonition-color, 0.1);
  border: 1px solid $admonition-color;
  padding: 0;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  max-width: var(--paragraph-width);

  &>.admonition-title {
    background-color: $admonition-color;
    color: $white;
    font-size: 90%;
    letter-spacing: 0.5px;
    padding: 0.125rem 0.5rem;
  }

  &>p {
    margin: 0;
    padding: 0.5rem;
  }

  &.attention,
  &.caution,
  &.warning {
    $warning-color: #f08300;
    background-color: rgba($warning-color, 0.1);
    border: 1px solid $warning-color;

    &>.admonition-title {
      background-color: $warning-color;
    }
  }

  &.danger,
  &.error {
    $warning-color: #e60033;
    background-color: rgba($warning-color, 0.1);
    border: 1px solid $warning-color;

    &>.admonition-title {
      background-color: $warning-color;
    }
  }

  &.hint,
  &.important,
  &.tip {
    $warning-color: #3eb370;
    background-color: rgba($warning-color, 0.1);
    border: 1px solid $warning-color;

    &>.admonition-title {
      background-color: $warning-color;
    }
  }

  &.todo {
    $warning-color: #ddd;
    background-color: rgba($warning-color, 0.1);
    border: 1px solid $warning-color;

    &>.admonition-title {
      background-color: $warning-color;
    }
  }
}