@use "core" as *;

#root {
  display: flex;
}


#main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid #ccc;
  position: relative;
  height: 100vh;

  // this is a workaroud for sticky-header to not to disappear
  // https://stackoverflow.com/questions/46655386/when-css-position-sticky-stops-sticking
  // 
  // update2: this style was disabled due to causing div.related-page rendered outside
  // of the client view
  // 
  // height: auto; 

  transition: .05s;
  transition-property: margin-left;
}

@media screen and (max-width: 900px) {
  #main-container {
    max-width: 100%;
  }
}

#main-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

#main-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: $main-width;
}

#mobile-header {
  display: flex;
  align-items: center;
  max-width: 100vw;
  min-height: 3rem;
  background-color: white;
  display: none;
  
  label {
    cursor: pointer;
  }

  i.icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: .25rem;
  
    svg {
      color: var(--theme-color);
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .header-menu-btn {
    display: none;
  }

  .header-title {
    display: none;
  }
}

// width smaller than...
@media screen and (max-width: 900px) {
  #mobile-header {
    display: inherit;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ccc;

    text-align: center;

    .header-menu-btn {
      display: inherit;
    }

    .header-title {
      flex-grow: 1;
      text-align: center;
      display: inline-block;
    }
  }
}

#main-body {
  flex-grow: 1;
  padding: 1rem 2rem 1rem 2rem;
  
  // note: this style do not work in all browsers.
  height: fit-content;
  overflow-y: visible;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 900px) {
    max-width: calc(100vw - #{$sidebar-width} - 10px);
  }
  @media screen and (max-width: 900px) {
    // for mobile users, make reduce horizontal padding.
    // also increase padding-bottom to avoid navigation get hidden by the 
    // navigation bar. this is a workaround solution.
    padding: 0 .5rem 3rem .5rem;
  }
}

.related-pages {

  padding: 2rem 0;
  display: flex;
  justify-content: space-between;

  .spacer {
    flex-grow: 1;
  }

  a.prev-page,
  a.next-page {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #343131;
  }

  a.next-page {
    text-align: right;
    justify-content: flex-end;
  }

  .page-info {
    font-size: .875rem;
    line-height: 1.2em;

    .title {
      color: var(--theme-color);
    }
  }

  svg.related-icon {
    width: 2rem;
    height: 1rem;

    @at-root a.prev-page {

      svg {
        transform: rotate(180deg);
      }
    }
  }
}

#toc-column {
  width: 260px;
  flex-shrink: 0;
  flex-grow: 0;
  height: calc(100vh - 3rem);
  position: sticky;
  top: 3rem;
  border-left: 1px solid #ccc;
  overflow-y: auto;
}

#page-toc {
  padding: 0 1rem;

  > ul > li {
    > a{
      display: none;
    }
    > ul {
      padding-left: 0;
    }
  } 
}

@media screen and (max-width: 1500px) {
  #toc-column {
   display: none; 
  } 
}