@media print {

  body {
    margin: 1cm 1cm 1cm 1cm;
  }

  a.headerlink {
    display: none !important;
  }


  #sidebar-container {
    display: none !important;
  }

  #main-container {
    border: none !important;
    // to print properly, overflow-visible is important
    // otherwise the text will not printed
    overflow: visible !important;
  }

  #mobile-header {
    display: none !important;
  }

  #main-wrapper {
    // cancel height 100vh to print whole document
    height: auto !important;
    overflow-y: visible !important;

    pre {
      border: 1px solid black;
    }
  }

  .related-pages {
    display: none;
  }

  #toc-column {
    display: none !important;
  }

  

}