#sidebar-container {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  width: 260px;
  padding-left: 10px;
  flex-shrink: 0;
  background-color: white;

  min-height: 100vh;
  height: 100vh;

  transition: .05s;
  transition-property: transform;

  &.show {
    display: initial;
    transform: translateX(0px);
  }

  &.hide {
    display: none;
    transform: translateY(-260px);
  }

  @media screen and (min-width: 1180px) {
    margin-left: calc((100vw - 1180px) / 2.0);
  }
  @media screen and (min-width: 1500px) {
    margin-left: calc((100vw - 1500px) / 2.0);
  }
}

div.toctree-wrapper>ul,
ul.simple {
  margin-top: 0;
}



@media screen and (min-width: 1180px) {

  // centerize the page if the window is wide enough
  #sidebar-container {
    margin-left: calc((100vw - 1180px) / 2.0);
  }
}

@media screen and (min-width: 1500px) {

  // centerize the page if the window is wide enough
  #sidebar-container {
    margin-left: calc((100vw - 1500px) / 2.0);
  }
}

#sidebar-head {

}



#sidebar-body {
  flex-grow: 1;
  overflow-y: scroll;
}



.toc-tree {
  font-size: .8rem;
  margin-bottom: 2em;

  p.caption {
    margin: 0;
    margin-top: 1em;
    font-weight: bold;
  }

  // this rule is applied for all ul's in #sidebar
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    ul {
      padding-left: 1em;
    }
  }


  li {
    position: relative;
    font-weight: normal;
    color: #333;
  }

  li.current {
    font-weight: bold;
    color: var(--theme-color);
  }

  li a {
    display: block;
    line-height: 2em;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--theme-color);
    }
  }
}




#sidebar-navtree {

  // invisible input to store checked state
  li input {
    display: none;
  }


  li label {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    width: 2em;
    cursor: pointer;

    &:hover {
      background-color: #f8f8f8;
    }
  }

  li i.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  li svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }

  .toctree {
    display: flex;
  }
}

label.toctree-checkbox {
  position: absolute;
  display: none;
}

// expand or collapse checkbox
input.toctree-checkbox {
  & {
    +label+ul {
      display: none
    }

    +label {
      transform: rotate(0deg)
    }
  }

  &:checked {
    +label+ul {
      display: inherit;
    }

    +label {
      transform: rotate(90deg)
    }
  }
}

input#sidebar-visibility-checkbox {
  display: none;

  @media screen and (max-width: 900px) {
    & {
      +#sidebar-container {
        transform: translateX(-260px);
      }

      +#sidebar-container+#main-container {
        margin-left: -260px;
      }
    }

    &:checked {
      +#sidebar-container {
        display: inherit;
        transform: translateY(0);
      }

      +#sidebar-container+#main-container {
        margin-left: 0;
      }
    }
  }
}

#sidebar-brand {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;

  a {
    color: #333;
  }
}

.sidebar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: contain;

  height: 150px;
  padding: .5rem;

  > img {
    max-height: 100%;
  }
}

.sidebar-brand-text {
  font-size: 1.5rem;
}

#sidebar-search {
  margin: .5rem 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;


  i.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: #888;

    svg {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

.sidebar-search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &:hover,
  &:focus-within {
    // background: yellow
  }
}

.sidebar-search {
  flex-grow: 1;
  border: none;
  padding: 0.5rem .25rem;
  width: 100%;
  color: #333;
  background: transparent;

  &:focus {
    outline: none;
  }

  // &::placeholder {
  //   font-size: var(--sidebar-search-input-font-size);
  // }
}

#searchbox {
  padding: 0.5rem 1rem 0;
  margin: 0;
  text-align: center;
}