.chrys-color-bokeh-purple-blue-3-1 {
  color: #2b8cbe;
}

.chrys-color-bokeh-purple-blue-3-2 {
  color: #a6bddb;
}

.chrys-color-bokeh-purple-blue-3-3 {
  color: #ece7f2;
}

.chrys-color-bokeh-purple-blue-4-1 {
  color: #0570b0;
}

.chrys-color-bokeh-purple-blue-4-2 {
  color: #74a9cf;
}

.chrys-color-bokeh-purple-blue-4-3 {
  color: #bdc9e1;
}

.chrys-color-bokeh-purple-blue-4-4 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-blue-5-1 {
  color: #045a8d;
}

.chrys-color-bokeh-purple-blue-5-2 {
  color: #2b8cbe;
}

.chrys-color-bokeh-purple-blue-5-3 {
  color: #74a9cf;
}

.chrys-color-bokeh-purple-blue-5-4 {
  color: #bdc9e1;
}

.chrys-color-bokeh-purple-blue-5-5 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-blue-6-1 {
  color: #045a8d;
}

.chrys-color-bokeh-purple-blue-6-2 {
  color: #2b8cbe;
}

.chrys-color-bokeh-purple-blue-6-3 {
  color: #74a9cf;
}

.chrys-color-bokeh-purple-blue-6-4 {
  color: #a6bddb;
}

.chrys-color-bokeh-purple-blue-6-5 {
  color: #d0d1e6;
}

.chrys-color-bokeh-purple-blue-6-6 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-blue-7-1 {
  color: #034e7b;
}

.chrys-color-bokeh-purple-blue-7-2 {
  color: #0570b0;
}

.chrys-color-bokeh-purple-blue-7-3 {
  color: #3690c0;
}

.chrys-color-bokeh-purple-blue-7-4 {
  color: #74a9cf;
}

.chrys-color-bokeh-purple-blue-7-5 {
  color: #a6bddb;
}

.chrys-color-bokeh-purple-blue-7-6 {
  color: #d0d1e6;
}

.chrys-color-bokeh-purple-blue-7-7 {
  color: #f1eef6;
}

.chrys-color-bokeh-purple-blue-8-1 {
  color: #034e7b;
}

.chrys-color-bokeh-purple-blue-8-2 {
  color: #0570b0;
}

.chrys-color-bokeh-purple-blue-8-3 {
  color: #3690c0;
}

.chrys-color-bokeh-purple-blue-8-4 {
  color: #74a9cf;
}

.chrys-color-bokeh-purple-blue-8-5 {
  color: #a6bddb;
}

.chrys-color-bokeh-purple-blue-8-6 {
  color: #d0d1e6;
}

.chrys-color-bokeh-purple-blue-8-7 {
  color: #ece7f2;
}

.chrys-color-bokeh-purple-blue-8-8 {
  color: #fff7fb;
}

.chrys-color-bokeh-purple-blue-9-1 {
  color: #023858;
}

.chrys-color-bokeh-purple-blue-9-2 {
  color: #045a8d;
}

.chrys-color-bokeh-purple-blue-9-3 {
  color: #0570b0;
}

.chrys-color-bokeh-purple-blue-9-4 {
  color: #3690c0;
}

.chrys-color-bokeh-purple-blue-9-5 {
  color: #74a9cf;
}

.chrys-color-bokeh-purple-blue-9-6 {
  color: #a6bddb;
}

.chrys-color-bokeh-purple-blue-9-7 {
  color: #d0d1e6;
}

.chrys-color-bokeh-purple-blue-9-8 {
  color: #ece7f2;
}

.chrys-color-bokeh-purple-blue-9-9 {
  color: #fff7fb;
}