.chrys-color-bokeh-purple-orange-3-1 {
  color: #998ec3;
}

.chrys-color-bokeh-purple-orange-3-2 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-orange-3-3 {
  color: #f1a340;
}

.chrys-color-bokeh-purple-orange-4-1 {
  color: #5e3c99;
}

.chrys-color-bokeh-purple-orange-4-2 {
  color: #b2abd2;
}

.chrys-color-bokeh-purple-orange-4-3 {
  color: #fdb863;
}

.chrys-color-bokeh-purple-orange-4-4 {
  color: #e66101;
}

.chrys-color-bokeh-purple-orange-5-1 {
  color: #5e3c99;
}

.chrys-color-bokeh-purple-orange-5-2 {
  color: #b2abd2;
}

.chrys-color-bokeh-purple-orange-5-3 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-orange-5-4 {
  color: #fdb863;
}

.chrys-color-bokeh-purple-orange-5-5 {
  color: #e66101;
}

.chrys-color-bokeh-purple-orange-6-1 {
  color: #542788;
}

.chrys-color-bokeh-purple-orange-6-2 {
  color: #998ec3;
}

.chrys-color-bokeh-purple-orange-6-3 {
  color: #d8daeb;
}

.chrys-color-bokeh-purple-orange-6-4 {
  color: #fee0b6;
}

.chrys-color-bokeh-purple-orange-6-5 {
  color: #f1a340;
}

.chrys-color-bokeh-purple-orange-6-6 {
  color: #b35806;
}

.chrys-color-bokeh-purple-orange-7-1 {
  color: #542788;
}

.chrys-color-bokeh-purple-orange-7-2 {
  color: #998ec3;
}

.chrys-color-bokeh-purple-orange-7-3 {
  color: #d8daeb;
}

.chrys-color-bokeh-purple-orange-7-4 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-orange-7-5 {
  color: #fee0b6;
}

.chrys-color-bokeh-purple-orange-7-6 {
  color: #f1a340;
}

.chrys-color-bokeh-purple-orange-7-7 {
  color: #b35806;
}

.chrys-color-bokeh-purple-orange-8-1 {
  color: #542788;
}

.chrys-color-bokeh-purple-orange-8-2 {
  color: #8073ac;
}

.chrys-color-bokeh-purple-orange-8-3 {
  color: #b2abd2;
}

.chrys-color-bokeh-purple-orange-8-4 {
  color: #d8daeb;
}

.chrys-color-bokeh-purple-orange-8-5 {
  color: #fee0b6;
}

.chrys-color-bokeh-purple-orange-8-6 {
  color: #fdb863;
}

.chrys-color-bokeh-purple-orange-8-7 {
  color: #e08214;
}

.chrys-color-bokeh-purple-orange-8-8 {
  color: #b35806;
}

.chrys-color-bokeh-purple-orange-9-1 {
  color: #542788;
}

.chrys-color-bokeh-purple-orange-9-2 {
  color: #8073ac;
}

.chrys-color-bokeh-purple-orange-9-3 {
  color: #b2abd2;
}

.chrys-color-bokeh-purple-orange-9-4 {
  color: #d8daeb;
}

.chrys-color-bokeh-purple-orange-9-5 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-orange-9-6 {
  color: #fee0b6;
}

.chrys-color-bokeh-purple-orange-9-7 {
  color: #fdb863;
}

.chrys-color-bokeh-purple-orange-9-8 {
  color: #e08214;
}

.chrys-color-bokeh-purple-orange-9-9 {
  color: #b35806;
}

.chrys-color-bokeh-purple-orange-10-1 {
  color: #2d004b;
}

.chrys-color-bokeh-purple-orange-10-2 {
  color: #542788;
}

.chrys-color-bokeh-purple-orange-10-3 {
  color: #8073ac;
}

.chrys-color-bokeh-purple-orange-10-4 {
  color: #b2abd2;
}

.chrys-color-bokeh-purple-orange-10-5 {
  color: #d8daeb;
}

.chrys-color-bokeh-purple-orange-10-6 {
  color: #fee0b6;
}

.chrys-color-bokeh-purple-orange-10-7 {
  color: #fdb863;
}

.chrys-color-bokeh-purple-orange-10-8 {
  color: #e08214;
}

.chrys-color-bokeh-purple-orange-10-9 {
  color: #b35806;
}

.chrys-color-bokeh-purple-orange-10-10 {
  color: #7f3b08;
}

.chrys-color-bokeh-purple-orange-11-1 {
  color: #2d004b;
}

.chrys-color-bokeh-purple-orange-11-2 {
  color: #542788;
}

.chrys-color-bokeh-purple-orange-11-3 {
  color: #8073ac;
}

.chrys-color-bokeh-purple-orange-11-4 {
  color: #b2abd2;
}

.chrys-color-bokeh-purple-orange-11-5 {
  color: #d8daeb;
}

.chrys-color-bokeh-purple-orange-11-6 {
  color: #f7f7f7;
}

.chrys-color-bokeh-purple-orange-11-7 {
  color: #fee0b6;
}

.chrys-color-bokeh-purple-orange-11-8 {
  color: #fdb863;
}

.chrys-color-bokeh-purple-orange-11-9 {
  color: #e08214;
}

.chrys-color-bokeh-purple-orange-11-10 {
  color: #b35806;
}

.chrys-color-bokeh-purple-orange-11-11 {
  color: #7f3b08;
}