.chrys-color-bokeh-oranges-3-1 {
  color: #e6550d;
}

.chrys-color-bokeh-oranges-3-2 {
  color: #fdae6b;
}

.chrys-color-bokeh-oranges-3-3 {
  color: #fee6ce;
}

.chrys-color-bokeh-oranges-4-1 {
  color: #d94701;
}

.chrys-color-bokeh-oranges-4-2 {
  color: #fd8d3c;
}

.chrys-color-bokeh-oranges-4-3 {
  color: #fdbe85;
}

.chrys-color-bokeh-oranges-4-4 {
  color: #feedde;
}

.chrys-color-bokeh-oranges-5-1 {
  color: #a63603;
}

.chrys-color-bokeh-oranges-5-2 {
  color: #e6550d;
}

.chrys-color-bokeh-oranges-5-3 {
  color: #fd8d3c;
}

.chrys-color-bokeh-oranges-5-4 {
  color: #fdbe85;
}

.chrys-color-bokeh-oranges-5-5 {
  color: #feedde;
}

.chrys-color-bokeh-oranges-6-1 {
  color: #a63603;
}

.chrys-color-bokeh-oranges-6-2 {
  color: #e6550d;
}

.chrys-color-bokeh-oranges-6-3 {
  color: #fd8d3c;
}

.chrys-color-bokeh-oranges-6-4 {
  color: #fdae6b;
}

.chrys-color-bokeh-oranges-6-5 {
  color: #fdd0a2;
}

.chrys-color-bokeh-oranges-6-6 {
  color: #feedde;
}

.chrys-color-bokeh-oranges-7-1 {
  color: #8c2d04;
}

.chrys-color-bokeh-oranges-7-2 {
  color: #d94801;
}

.chrys-color-bokeh-oranges-7-3 {
  color: #f16913;
}

.chrys-color-bokeh-oranges-7-4 {
  color: #fd8d3c;
}

.chrys-color-bokeh-oranges-7-5 {
  color: #fdae6b;
}

.chrys-color-bokeh-oranges-7-6 {
  color: #fdd0a2;
}

.chrys-color-bokeh-oranges-7-7 {
  color: #feedde;
}

.chrys-color-bokeh-oranges-8-1 {
  color: #8c2d04;
}

.chrys-color-bokeh-oranges-8-2 {
  color: #d94801;
}

.chrys-color-bokeh-oranges-8-3 {
  color: #f16913;
}

.chrys-color-bokeh-oranges-8-4 {
  color: #fd8d3c;
}

.chrys-color-bokeh-oranges-8-5 {
  color: #fdae6b;
}

.chrys-color-bokeh-oranges-8-6 {
  color: #fdd0a2;
}

.chrys-color-bokeh-oranges-8-7 {
  color: #fee6ce;
}

.chrys-color-bokeh-oranges-8-8 {
  color: #fff5eb;
}

.chrys-color-bokeh-oranges-9-1 {
  color: #7f2704;
}

.chrys-color-bokeh-oranges-9-2 {
  color: #a63603;
}

.chrys-color-bokeh-oranges-9-3 {
  color: #d94801;
}

.chrys-color-bokeh-oranges-9-4 {
  color: #f16913;
}

.chrys-color-bokeh-oranges-9-5 {
  color: #fd8d3c;
}

.chrys-color-bokeh-oranges-9-6 {
  color: #fdae6b;
}

.chrys-color-bokeh-oranges-9-7 {
  color: #fdd0a2;
}

.chrys-color-bokeh-oranges-9-8 {
  color: #fee6ce;
}

.chrys-color-bokeh-oranges-9-9 {
  color: #fff5eb;
}