.chrys-color-vega-red-yellow-green-1-1 {
  color: #f9f7ae;
}

.chrys-color-vega-red-yellow-green-2-1 {
  color: #fdbc71;
}

.chrys-color-vega-red-yellow-green-2-2 {
  color: #b5df79;
}

.chrys-color-vega-red-yellow-green-3-1 {
  color: #f78d53;
}

.chrys-color-vega-red-yellow-green-3-2 {
  color: #f9f7ae;
}

.chrys-color-vega-red-yellow-green-3-3 {
  color: #84ca68;
}

.chrys-color-vega-red-yellow-green-4-1 {
  color: #f16e43;
}

.chrys-color-vega-red-yellow-green-4-2 {
  color: #fedd8d;
}

.chrys-color-vega-red-yellow-green-4-3 {
  color: #d7ee8e;
}

.chrys-color-vega-red-yellow-green-4-4 {
  color: #64bc61;
}

.chrys-color-vega-red-yellow-green-5-1 {
  color: #e75a3b;
}

.chrys-color-vega-red-yellow-green-5-2 {
  color: #fdbc71;
}

.chrys-color-vega-red-yellow-green-5-3 {
  color: #f9f7ae;
}

.chrys-color-vega-red-yellow-green-5-4 {
  color: #b5df79;
}

.chrys-color-vega-red-yellow-green-5-5 {
  color: #4eaf5b;
}

.chrys-color-vega-red-yellow-green-6-1 {
  color: #e04c36;
}

.chrys-color-vega-red-yellow-green-6-2 {
  color: #faa35e;
}

.chrys-color-vega-red-yellow-green-6-3 {
  color: #fde496;
}

.chrys-color-vega-red-yellow-green-6-4 {
  color: #e1f197;
}

.chrys-color-vega-red-yellow-green-6-5 {
  color: #9bd46c;
}

.chrys-color-vega-red-yellow-green-6-6 {
  color: #3ea657;
}

.chrys-color-vega-red-yellow-green-7-1 {
  color: #db4132;
}

.chrys-color-vega-red-yellow-green-7-2 {
  color: #f78d53;
}

.chrys-color-vega-red-yellow-green-7-3 {
  color: #fed183;
}

.chrys-color-vega-red-yellow-green-7-4 {
  color: #f9f7ae;
}

.chrys-color-vega-red-yellow-green-7-5 {
  color: #cae986;
}

.chrys-color-vega-red-yellow-green-7-6 {
  color: #84ca68;
}

.chrys-color-vega-red-yellow-green-7-7 {
  color: #33a054;
}

.chrys-color-vega-red-yellow-green-8-1 {
  color: #d7392f;
}

.chrys-color-vega-red-yellow-green-8-2 {
  color: #f37c4a;
}

.chrys-color-vega-red-yellow-green-8-3 {
  color: #fdbc71;
}

.chrys-color-vega-red-yellow-green-8-4 {
  color: #fce99c;
}

.chrys-color-vega-red-yellow-green-8-5 {
  color: #e6f29c;
}

.chrys-color-vega-red-yellow-green-8-6 {
  color: #b5df79;
}

.chrys-color-vega-red-yellow-green-8-7 {
  color: #72c264;
}

.chrys-color-vega-red-yellow-green-8-8 {
  color: #299a51;
}

.chrys-color-vega-red-yellow-green-9-1 {
  color: #d4322c;
}

.chrys-color-vega-red-yellow-green-9-2 {
  color: #f16e43;
}

.chrys-color-vega-red-yellow-green-9-3 {
  color: #fcac63;
}

.chrys-color-vega-red-yellow-green-9-4 {
  color: #fedd8d;
}

.chrys-color-vega-red-yellow-green-9-5 {
  color: #f9f7ae;
}

.chrys-color-vega-red-yellow-green-9-6 {
  color: #d7ee8e;
}

.chrys-color-vega-red-yellow-green-9-7 {
  color: #a4d86e;
}

.chrys-color-vega-red-yellow-green-9-8 {
  color: #64bc61;
}

.chrys-color-vega-red-yellow-green-9-9 {
  color: #22964f;
}